[2015-11-13 12:45] tpmccauley commented on #824
https://cms-docdb.cern.ch/cgi-bin/DocDB/ShowDocument?docid=12752

[2015-11-13 13:01] katilp commented on #824
OK, great! @pherterich What else you need to create the records? These are the event display records similar to those for the 2010 release (like http://opendata.cern.ch/record/610)

[2015-11-13 13:21] pherterich commented on #824
Well, @tpmccauley could create them himself, I don't think @tiborsimko has a preference for integration (Tibor, can you provide some free record numbers?). It should be fine to copy most things from last year, just update the year and check if the text is still valid etc. Will you also upload a new code? Then we should create that record, too, so you can link to the right one. I put this on our to

[2015-11-13 13:40] pherterich commented on #820
@tiborsimko we ran out of sensible fields, so we suggest a local note field. After consulting the Invenio MARC bible, we'd go for 593$a generator $b Global Tag. If it's fine to conflict with the other Invenio MARC, 938 analog to 538 would be nicer, I leave the decision to you. Other suggestions are welcome, too, obviously.

[2015-11-13 13:48] tpmccauley commented on #824
@pherterich I wasn't what to do with  '<controlfield tag="001"></controlfield>' so left it empty. I created a separate file for the new files.

[2015-11-13 13:54] pherterich commented on #824
Great, I guess @tiborsimko can do that upon upload/merging of the PR.

[2015-11-14 10:57] RaoOfPhysics opened #826 "Migration to "opendata.cern"?"
Title says it all. See https://nic.cern/registration-policy/

[2015-11-15 09:07] RaoOfPhysics opened #827 "RFC: Adding Altmetric badge to datasets"
Thoughts about adding https://www.altmetric.com/ badges to our datasets?

Pinging @TimSmithCH, @suenjedt, @pherterich, @tiborsimko.

[2015-11-16 07:42] salmele commented on #827
[Similar questions have been raised for other services in the suite of the lab recently, this comment comes from those threads - mostly in e-mails somewhere]

Which is the use case this would serve?
How would this exactly make the service better and more attuned to what the experiments need?

The two questions above are especially in the context of a relatively low re-use (as in citations/year) an

[2015-11-16 09:08] suenjedt opened #829 "Zero bias data - update the Issues & Limitations"
To underline that these datasets are not considered useful (based on recent validation).
Nice wording needed within the "Issues and Limitations" part

[2015-11-16 09:37] tiborsimko commented on #820
Notes from live discussion: (can be spit away into separate tickets)
- data: create new collection "CMS Simulated Datasets" for MC
- data: create record template automatically
- UI: create yearly tabs (2010, 2011) for:
  - CMS splash page boxes for datasets/tools/instructions http://opendatadev.cern.ch/collection/CMS
  - CMS VM pages http://opendatadev.cern.ch/VM
  - CMS VM: besides tabs 2010, 201

[2015-11-16 09:42] tiborsimko opened #830 "UI: new tabs for CMS data 2011"
- UI: create yearly tabs (2010, 2011) for:
  - CMS splash page boxes for datasets/tools/instructions http://opendatadev.cern.ch/collection/CMS
  - CMS VM pages http://opendatadev.cern.ch/VM
  - CMS VM: besides tabs 2010, 2011, there should be directly anchored links to "how to test and validate" sections, used by CMS VM
  - Getting Started yearly tabs
- UI: bookmarkable URLs for 2010 and 2011

[2015-11-16 10:28] katilp opened #832 "Trigger information for 2011"
Provide a description of the trigger to the new primary datasets. For 2010, we had something like
"Events stored in this primary dataset were selected because of presence of at least one high-energy muon in the event, or because of presence of two different types on high-energy particles, such as muon and electron" (an example from http://opendata.cern.ch/record/14)

For the 2011 datasets, I would

[2015-11-16 11:03] katilp commented on #832
Recording this page https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideLegacyGlobalHLT as useful further information.

Basic concepts in https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideLegacyGlobalHLT#Using_frozen_Run_1_or_Run_2_trig

For anyone wanting to generate new MC corresponding to 2011 public data:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideLegacyGlobalHLT#frozen_runnin

[2015-11-16 11:35] pherterich commented on #823
@katilp I found the direct links :smile: I guess we have to take the tarballs available at https://github.com/cms-sw/cmssw/releases/tag/CMSSW_5_3_30
and https://github.com/cms-sw/cmssw/releases/tag/CMSSW_4_2_8 ?

[2015-11-16 11:43] pherterich commented on #823
@sextonkennedy Regarding metadata: do you have any information you think should be connected with an entry for the software? Links to papers, pages etc., anything people need to know to understand? Also, did you decide on a license already?

[2015-11-16 12:27] pherterich commented on #812
Closing this as most of the content is shared there now.

[2015-11-16 12:27] #812 closed

[2015-11-16 14:16] RaoOfPhysics commented on #827
Hmm. That seems to imply that metrics are only important for high-visibility content. Anyway, no strong feelings about this. Happy to close the issue.

[2015-11-16 14:20] tpmccauley commented on #820
https://github.com/cms-outreach/ispy-analyzers/blob/Run2011A/Cert_160404-180252_7TeV_ReRecoNov08_Collisions11_JSON.txt

[2015-11-17 13:50] katilp opened #836 "Corrections to the glossary"
CMSSW:

- HTML special characters do not display correctly (chrome, windows10)

- Corrections to terms:

Now: Stands for CMS Software and refers to the so-called “Offline” software needed to analyse CMS data.
-->
More precisely:
... to the so-called "Offline" software needed to simulate, reconstruct and analyse CMS data and the "Online" software needed for online data selection

@sextonkennedy can

[2015-11-17 15:40] pherterich commented on #820
@katilp Maybe the validated runs should also have a license? They are not really code or data, but it's better to have it if it's easy for you to decide on one.

[2015-11-17 15:42] tiborsimko commented on #824
@pherterich Yes, I'll take care of that.

[2015-11-17 16:54] #824 closed

[2015-11-17 17:21] #443 closed

[2015-11-17 17:21] #694 closed

[2015-11-17 17:21] #702 closed

[2015-11-17 17:21] #804 closed

[2015-11-17 17:21] #454 closed

[2015-11-17 23:03] sextonkennedy commented on #836
Hi All,

Answering your questions and looking into what you have done is on my todo list, but alas another day has gone by, and I still didn’t get to it.  When the HSF packaging meeting is over tomorrow, I should have some time.

Cheers, Liz

On Nov 17, 2015, at 7:50 AM, katilp <notifications@github.com<mailto:notifications@github.com>> wrote:

CMSSW:

  *   HTML special characters do not display

[2015-11-18 08:57] tiborsimko commented on #820
The primary datasets and event display files are now loaded on DEV:

- http://opendatadev.cern.ch/search?p=Run2011A

Some observations:

- There are 20 primary datasets but only 19 event display records. @katilp @tpmccauley Is this OK?

- There are two FIXMEs in the primary datasets metadata, (1) number of events, (2) how the data was selected (which requires a link).  @pherterich @AnxhelaDani can

[2015-11-18 09:21] tiborsimko commented on #815
- [x] Validation: the link is now shown on DEV http://opendatadev.cern.ch/record/250
- [ ] Issues and limitations: I see that `556_y` is a new field that is not in our data model.  @tiborsimko can take care of that.
- [ ] :+1: for putting contextualisation scripts into a separate record and link there. @pherterich @AnxhelaDani can you take care of this?

[2015-11-18 09:46] katilp commented on #815
NB, the contextualisation script record needs a year as well (for 2010 data).
Can this be added to the title as well?
There will be another record for 2011.  Thanks!

[2015-11-18 10:05] tiborsimko commented on #633
Only rc7 is showed on DEV, so I guess this ticket can be closed.

(In theory, yes, both techniques are possible, either to delete the file or to amend the templates to display only latest version. In practice, once a file is published, we should refrain from deleting it as much as reasonably possible, otherwise the system may be percieved as not keeping up to its archiving functionality...)

[2015-11-18 11:05] tiborsimko commented on #815
All done on my side, validation and issues are now displaying properly (locally).  Passing the issue to @pherterich for the creation of contextualisation records...

[2015-11-18 12:04] tiborsimko commented on #820
Status update: new collections "CMS Simulated Datasets" and "CMS Validation Utilities" are created.
@pherterich Can you please provide MC data template so that I can generate records?

[2015-11-18 12:06] tiborsimko commented on #826
Yes, we naturally considered that.  The last time I've heard, the process for the registration of subdomains wasn't really immediately available yet though. Should recheck...

[2015-11-18 12:23] tiborsimko commented on #827
Closing the issue to the "someday" pool for housekeeping purposes.

In case we see the general public tweeting and blogging about concrete open datasets, as opposed to mentioning just the home page of the service, we can revive the issue from this pool.

BTW here is one (random) example of the badge in action on a Zenodo-hosted dataset:
- https://zenodo.org/record/33141

[2015-11-18 12:23] #827 closed

[2015-11-18 12:28] tiborsimko commented on #818
Note that the minting technology is already available in Invenio and is actively used by Zenodo. (CC @lnielsen for information)

We'd need such a facility on the CERN Open Data only when we'll be accepting dynamic submissions from the end users, sometime in the distant future.  Today's norm is to prepare records for the open data release by a background batch work...

[2015-11-18 12:35] tiborsimko commented on #5
The load-balanced architecture has been done in November 2014 and documented in `it-puppet-hostgroup-cernopendata/README.rst`.  (Using nginx, not varnish.)  The logging has been extended in December 2014.

[2015-11-18 12:35] #5 closed

[2015-11-18 12:36] #6 closed

[2015-11-18 12:37] tiborsimko commented on #6
(Keeping current architecture, but the move to Puppet can occur one day, in which case we can revive it from the "someday" closed pool.)

[2015-11-18 12:45] tiborsimko commented on #51
@pherterich The page footer email link is still not proposing the URL of the given page in the Subject, so I guess we cannot close this yet... unless the points of view have changed?  CC @RaoOfPhysics @katilp

P.S. My views were briefly summarised above at https://github.com/cernopendata/opendata.cern.ch/issues/51#issuecomment-60761649

[2015-11-18 12:47] tiborsimko commented on #30
The type is still displayed as BIN, but since it's not really affecting their usage, I agree we can close this.

[2015-11-18 12:47] #30 closed

[2015-11-18 12:51] tiborsimko commented on #687
After the applied fix:

-  https://github.com/cernopendata/opendata.cern.ch/issues/570#issuecomment-63755198

the core of the UX problem went away.  And yes, more indexing and searching improvements will come with an Invenio upgrade that will bring Elasticsearch.

[2015-11-18 12:51] #687 closed

[2015-11-18 13:57] RaoOfPhysics commented on #826
@tiborsimko: It's now available -- https://cern.service-now.com/service-portal/function.do?name=Domain-Management

[2015-11-18 13:59] RaoOfPhysics commented on #51
FWIW, I concur. :)

[2015-11-18 16:56] pherterich commented on #820
template will come tomorrow morning. Some questions for @katilp:
- is there an easy way (similar to the primary datasets) to translate the dataset names into something human readable?
- does each MC dataset have limitations, selection criteria, re-use instructions? (for validation, there's a mail already to confirm)
- are MC datasets related to a specific run? They are linked to some in DAS, e.g.

[2015-11-18 17:10] katilp commented on #820
@pherterich
* Data set names: I'm trying to find the human readable names, but I'm afraid it is not straight-forward - is the document that I sent earlier of any use in this?

* "How were these data selected" of primary datasets should become "How were these data generated" and there we should provide the generator parameters we discussed earlier with Josh (wip)

* "How can you use these data?" ca

[2015-11-18 17:15] pherterich commented on #820
@katilp thanks for the quick reply!
We will investigate the human readable names. Nothing Tibor can easily create then, that's all I need to know for now.
Year of data taking is included and I leave the title of the pile up dataset in, too. Then we can see if we link to records or some documentation there and play around with the display of things.

[2015-11-18 22:12] sextonkennedy commented on #823
Hi @pherterich, Answering your questions in reverse order...
1. We did not approve a license yet.  After much discussion within the HSF and other communities, I would like to get Apache 2 approved but to really claim that we are compliant with that we need to move some GPL'd code into a different repository.  We've started investigating that.  For now all we can say is that our software is open so

[2015-11-19 09:36] katilp opened #842 "Collection list on the search page"
The collection list in the left bar of the search page is not visible to the end (beyond the size of the page) as it does not have separate scroll bar. As the collections are now more than those that fit in the page it is an issue.
<img width="960" alt="searchcodp" src="https://cloud.githubusercontent.com/assets/5859918/11267060/5538de42-8ea9-11e5-9146-56a9657de2e5.png">

[2015-11-19 09:42] katilp opened #843 "Global tag appears as the parent data set for the event display"
In the search view and in the record view, the global tag is mistakenly in the parent dataset field
in opendatadev

[2015-11-19 09:52] pherterich commented on #843
@AnxhelaDani can you edit https://github.com/cernopendata/opendata.cern.ch/blob/master/invenio_opendata/testsuite/data/cms/cms-eventdisplay-files-Run2011A.xml and link the event display files to the correct primary datasets now that Tibor created the records?

[2015-11-20 10:15] suenjedt commented on #663
will be addressed after the next data release. Not forgotten!

[2015-11-20 10:26] tiborsimko commented on #821
Thanks, @pamfilos can take care of this from now.

[2015-11-20 13:51] tpmccauley opened #845 "Update event display to WebGL version"
The event display in stand-alone and in the previewer should be update to use ispy-webgl.

[2015-11-20 13:54] tpmccauley commented on #845
For the stand-alone display this is nearly done. See attached. Still need to load rest of geometry and fix loading of files. This one displayed in the screen shot is a local file.
<img width="1167" alt="screen shot 2015-11-20 at 1 48 01 pm" src="https://cloud.githubusercontent.com/assets/496503/11301311/040f935e-8f8e-11e5-9784-2c745d7a0002.png">

[2015-11-23 13:38] AnxhelaDani opened #847 "Add Runs to metadata"
Add to 942 field:
- [x] $r Run2010B
- [x] $r Run2011A

[2015-11-24 07:06] katilp opened #848 "Author list for the CMS 2011 release"
The author list for the 2011 release is in preparation and will be approved at the CB on the 11th Dec.

[2015-11-24 14:56] pherterich commented on #848
@jalavik do you think you can do some MARCXML magic on that again mid December?

[2015-11-24 16:42] jalavik commented on #848
@pherterich Sure! Just say the word. I assume it is about converting the authorlist XML to MARCXML, correct?

[2015-11-24 17:47] tpmccauley commented on #845
The display as previewer works now (but need to fix populating the records).
<img width="774" alt="screen shot 2015-11-24 at 5 38 47 pm" src="https://cloud.githubusercontent.com/assets/496503/11375315/7df841ba-92d2-11e5-8bf7-8ee263eda26f.png">

[2015-11-24 21:04] pherterich commented on #848
@jalavik yes, same business as last year

[2015-11-25 08:16] katilp opened #850 "CMS MC list - for comments from CMS"
This is the list of MC for release, included here for comments and corrections from CMS

* SM Inclusive (60)

/DYJetsToLL_M-10To50_TuneZ2_7TeV-pythia6/Summer11LegDR-PU_S13_START53_LV6-v1/AODSIM
/DYJetsToLL_M-50_7TeV-madgraph-pythia6-tauola/Summer11LegDR-PU_S13_START53_LV6-v1/AODSIM
/DYJetsToLL_TuneZ2_M-50_7TeV-madgraph-tauola/Summer11LegDR-PU_S13_START53_LV6-v1/AODSIM
/DYToMuMu_M-50To250_ew-BMNNP_

[2015-11-25 08:18] katilp commented on #850
@tiborsimko Can you help me with editing? Is there an easy way to make this more readable?

[2015-11-25 08:54] katilp commented on #848
@pherterich For the author list records in general, would it be possible to have a downloadable pdf or something else in the record. Looking at the record http://opendata.cern.ch/record/450, one
can only go page by page of all 50 pages, which is not very practical.

[2015-11-25 09:20] pherterich commented on #848
I'm pretty sure we can attach xml/csv/pdf files there. We can discuss the best solution with @tiborsimko next week.

[2015-11-25 09:29] salmele commented on #848
Would there be a dynamic option to update the record itself (and therefore produce on the fly updated xml/csv as we learn more ORCID IDs of the authors themselves?

[2015-11-25 09:31] salmele commented on #848
Also, once we are at that, how are we going to display the existence of an ORCID ID close to an author name in the page? We've done something discrete e.g. http://repo.scoap3.org/record/12707 with the logo close to the names where we've a ORCID ID

[2015-11-25 10:38] katilp opened #851 "Updates to http://opendata.cern.ch/VM/CMS for 2011"
Testing with the new image from Adam
/afs/cern.ch/user/m/mhuffman/public/CMS-Open-Data-1.2.0-rc1.ova

(Update: now in /afs/cern.ch/user/m/mhuffman/public/open-data/CMS-Open-Data-1.2.0-rc1.ova)

Works fine!
- in conclusion, only version (virtualbox and cmssw) and the output need to be changed
in the instructions for 2011 http://opendata.cern.ch/VM/CMS (when the proper template
is  available)

I rep

[2015-11-25 10:52] katilp opened #852 "Updates to http://opendata.cern.ch/getting-started/CMS for 2011"
Going through "Getting started instructions" in the new VM from Adam
/afs/cern.ch/user/m/mhuffman/public/CMS-Open-Data-1.2.0-rc1.ova:

Works fine!

changed the file name to be opened with root to
root://eospublic.cern.ch//eos/opendata/cms/Run2011A/ElectronHad/AOD/12Oct2013-v1/20001/001F9231-F141-E311-8F76-003048F00942.root

opened a plot for electrons and that looks OK.

- [x] Need to decide what

[2015-11-25 12:45] tpmccauley commented on #850
That's quite a list. How much of this do we want to visualize? Not all of it I hope :)

[2015-11-25 12:49] tpmccauley opened #853 "Help page update for event display"
With the new event display the help page at http://opendata.cern.ch/visualise/events/CMS will have to be updated.

[2015-11-26 16:00] pherterich commented on #823
@katilp @sextonkennedy I tried to look for CHEP papers and browsed the Twiki but more or less anywhere I clicked I ran into authorisation issues as the pages are only accessible to CMS members. Could you check for suitable material and provide us DOIs for papers to link or maybe even check with @RaoOfPhysics if this is worth a separate help page we should point to instead? Thanks!

[2015-11-27 09:13] pherterich commented on #815
@katilp with another record for 2011 (see #851 ) you mean a record for contextualisation scripts or should we always have a "double record" for each year with the VM image and the contextualisation scripts linked?

[2015-11-27 09:16] pherterich commented on #819
@katilp I leave the issue with you until you ping us for adding the validation scripts when they're ready.

[2015-11-27 09:21] pherterich commented on #642
Should be addressed with the addition of #848 and whatever we decide there

[2015-11-27 09:26] katilp commented on #815
@pherterich Yes, I mean another set of contextualization scripts. I think it is better to keep the all the records separate (i.e. two separate records for VMs of 2010 and 2011 and two separate records for their contextualization scripts). Would that be OK?

[2015-11-27 09:48] pherterich commented on #815
@katilp yes, that makes life for us way easier :-). We'll prepare something we can iterate on for Wednesday. Thanks!

[2015-11-27 10:42] pherterich commented on #815
@tiborsimko a while back we also discussed having a record for the general CERN VM? Do you think that makes sense to have and link there from the contextualisation scripts?

[2015-12-02 08:18] tiborsimko commented on #815
@pherterich We do have a particular CernVM record for 2010 http://opendatadev.cern.ch/record/250

[2015-12-02 08:28] tiborsimko commented on #848
@salmele Yes, it's possible. Currently the record metadata update process goes via source code repository, since the content is mostly "static".  (So it's possible, but somewhat less curator-friendly and more programmer-friendly.) We can also amend formats to display ORCIDs.

[2015-12-02 08:30] tiborsimko opened #861 "CMS Condition Data"
- [x] introduce new collection "CMS Condition Data"
- [x] create a record

[2015-12-02 08:37] tiborsimko commented on #819
Note: we have introduced a new collection "CMS Validation Utilities", see https://github.com/cernopendata/opendata.cern.ch/issues/820#issuecomment-156970443

- http://opendatadev.cern.ch/collection/CMS-Validation-Utilities

so I'll change the issue to reflect that we only need records to populate it.

[2015-12-02 08:41] tiborsimko commented on #850
The easiest way is to look at the records on the DEV box:

- http://opendatadev.cern.ch/search?cc=CMS-Simulated-Datasets

We should update the display format and introduce category facet for easier searching/browsing...

[2015-12-02 08:53] pherterich commented on #815
@tiborsimko that's the CMS VM, I was talking about the general CERN VM you have to apply the contextualisation scripts to to get the CMS VM. I think I even have that one in my inbox, which I can add here, then we can decide if we deploy it or not.

[2015-12-02 09:18] suenjedt opened #862 "Simulated data: change "data selected" to "data generated""
Monte Carlo

[2015-12-02 09:34] tiborsimko opened #863 "CMS: gamma to photon"
Change `gamma` to `photon` everywhere in CMS dataset descriptions.

[2015-12-02 09:35] BallzDeep commented on #861
Stop with the emails!!! I don't know wtf this is
On Dec 2, 2015 2:30 AM, "Tibor Simko" <notifications@github.com> wrote:

[2015-12-02 09:36] RaoOfPhysics opened #864 "Add page on ProductionDataSetNames"
From (internal link) https://twiki.cern.ch/twiki/bin/viewauth/CMS/ProductionDataSetNames

[2015-12-02 09:56] tiborsimko opened #865 "facets: new "year" facet and "category" facet"
Introduce new facets:
-  "year" e.g. 2010, 2011
-  "category" e.g. "SM Inclusive".

to ease the browsing.

The category facet is used for CMS Simulated Datasets for now, but we can populate category field for other collections later too.

[2015-12-02 10:01] tiborsimko commented on #865
Possible new facets:
- "keywords" (e.g. vector boson, drell-yan)
- "formats" (e.g. ig, csv, root)

[2015-12-02 10:07] pherterich commented on #865
for format, I suggest MARC 347$b. @tiborsimko should we add this info manually or is there a smart way how you can fill it automatically?

[2015-12-02 10:11] tiborsimko commented on #865
What about using `256` that we already "misuse" for other file related information?

Can be scripted for most use cases...

[2015-12-02 11:28] pherterich commented on #865
Well, if there's a proper MARC field, I prefer to use that. Also because I wouldn't know which subfield to use as f is taken for files already.

[2015-12-02 14:56] #862 closed

[2015-12-02 15:02] #863 closed

[2015-12-02 17:24] tiborsimko commented on #815
@pherterich OK, I see what you mean.  WRT general CernVM, we only have some informative description in the About page:

- http://opendata.cern.ch/about

It would be good indeed to promote it more via independent records with DOIs (for each released version).

[2015-12-03 09:11] katilp commented on #850
The following datasets (with NJet in the dataset name) should be moved to SM exclusive

/DY1JetToLL_M-10To50_TuneZ2_7TeV-madgraph/Summer11LegDR-PU_S13_START53_LV6-v1/AODSIM
/DY2Jets_M-10To50_TuneZ2_7TeV-madgraph/Summer11LegDR-PU_S13_START53_LV6-v1/AODSIM
/DY3Jets_M-10To50_TuneZ2_7TeV-madgraph/Summer11LegDR-PU_S13_START53_LV6-v1/AODSIM
/DY4Jets_M-10To50_TuneZ2_7TeV-madgraph/Summer11LegDR-PU_S13_STA

[2015-12-03 09:13] katilp commented on #850
Following datasets will not be included to the release as they are known to have some problems in the physics contents and will be replaced:

/DYToMuMu_M-50To250_ew-BMNNP_7TeV-powheg-pythia8/Summer11LegDR-PU_S13_START53_LV6-v1/AODSIM
/DYToMuMu_M-50To250_ew-BMNNP_7TeV-powheg-pythia8/Summer11LegDR-PU_S13_START53_LV6-v2/AODSIM
/DYToMuMu_M-50To250_ew-BMNNP_7TeV-powheg-pythia8/Summer11LegDR-PU_S13_STAR

[2015-12-03 09:35] pherterich opened #868 "Change release year to 2016"
As we decided to postpone the release, all the 260$c should become 2016. @tiborsimko is this scriptable for most of the records or shall @AnxhelaDani do it manually? @AnxhelaDani you can update the DataCite information accordingly already.

[2015-12-03 12:39] pherterich commented on #815
@tiborsimko do you have a suggestion on how to name this not-experiment specific collection? In the info for the contextualisation scripts, I can't find which versions of the CernVM is used and which ones we should catalogue. We should definitely talk to the CernVM team if we want to assign any DOIs just to check if it's okay with them and to make sure they can update their homepage accordingly.

[2015-12-04 09:29] RaoOfPhysics commented on #829
@tiborsimko: Which file(s) should I edit for this? Just https://github.com/cernopendata/opendata.cern.ch/blob/97f59123438e008f9419ce14b0c984e98b1f9771/invenio_opendata/testsuite/data/cms/cms-primary-datasets.xml#L14747 (Line 14747)

[2015-12-04 09:33] katilp opened #871 "Lists of validated runs not visible in http://opendatadev.cern.ch/collection/CMS-Validation-Utilities"
http://opendatadev.cern.ch/record/1001 and http://opendatadev.cern.ch/record/1000 are not visible in the renamed collection http://opendatadev.cern.ch/collection/CMS-Validation-Utilities

[2015-12-04 09:39] tiborsimko commented on #829
:+1:

[2015-12-04 09:40] RaoOfPhysics commented on #829
@katilp: How should I phrase this?

[2015-12-04 09:51] RaoOfPhysics commented on #836
@tiborsimko: Should I simply make more commits to #798?

[2015-12-04 09:56] tiborsimko commented on #836
OK, please push some more commits on top, we can take care of both updates at the same time afterwards.

[2015-12-04 10:07] #843 closed

[2015-12-04 10:16] #845 closed

[2015-12-04 11:02] RaoOfPhysics commented on #836
@katilp: I've made the changes to "CMSSW", "Particle Jet" and "Run(A/B)". I need rough definitions for:

- Monte Carlo (syn. simulated data)
- Generator
- Trigger

[2015-12-04 14:33] tpmccauley opened #874 "Event display missing CMS image in preview"
When loaded as a previewer and when an event is loaded the CMS logo is missing in the 3D view

[2015-12-04 14:36] tpmccauley opened #875 "Event display missing event information"
When loaded as a stand-alone in e.g.  http://opendatadev.cern.ch/visualise/events/CMS and when an event is loaded the event information is missing. Presumably if it was there issue #874 would be there as well.

[2015-12-07 09:49] katilp opened #876 "Generator information and dataset names for MC datasets"
The generator information for the MC datasets can be found through following step:

In DAS listing for the MC datasets, click on "parents" , in parents, click on "output-config-1"
(update here, take the full file and not just part of it)

@pamfilos Can you find a way to extract this in an automated way?

As a first approximation, this file can be directly used in the MC dataset metadata
for "How w

[2015-12-07 09:53] katilp commented on #823
@pherterich @RaoOfPhysics For the 2011, we will finally need to use 5_3_32 (which is not yet
out but can be in few days) bacause Josh has added a script to extract the event generator
information and it can be included to that release. I hope this is not a problem at this stage.

[2015-12-07 15:37] AnxhelaDani opened #877 "Collision types"
@katilp about the collision types, can we use them as keyword in `653 $a` field  or facet instead of a separate MARC field?

[2015-12-07 20:10] katilp commented on #877
I do not know much about the fields and keywords, maybe @tiborsimko can advice?

[2015-12-08 09:14] pherterich commented on #802
@tiborsimko, I just had a look at the ALICE reconstructed datasets and they are all missing field 260 $b CERN Open Data Portal, 260 $c should become 2016 when we release them and 2012 as the year of data taking should go to 264_0$c. Is this something you can do automatically once we move the data to prod or should we fix it?

[2015-12-09 09:19] tpmccauley opened #880 "Event display image on education page"
The current image here:
http://opendatadev.cern.ch/education
for the link to the event display needs to be replaced with an image from the new display

[2015-12-10 08:31] #829 closed

[2015-12-10 08:43] #875 closed

[2015-12-10 08:47] #880 closed

[2015-12-10 08:58] tiborsimko commented on #877
If we want to have collision types presented on the search results pages in the separate facet, then we must use separate MARC tag to store them.  If we put them into the keyword field, then there would be one facet called "Keywords" that would offer any value present in this field.

So this is basically a question whether it makes sense to create an independent search panel for collision types, o

[2015-12-10 09:15] tiborsimko commented on #802
@pherterich @AnxhelaDani I can do some of those easily, e.g. replacing year, but in order to add new fields here and there it may be better if you do it yourself.

[2015-12-10 09:31] tiborsimko commented on #815
The currently available non-experiment collections are:

- Author-Lists
- Data-Policies

We could create a new one e.g. "Tools", but it would seem empty... unless we put together the experimental tools there too? (ALICE-Tools, CMS-Tools, ATLAS-Tools, LHCb-Tools)  Just thinking out loud...

[2015-12-10 09:56] #868 closed

[2015-12-10 10:04] tiborsimko commented on #850
Yes, `[0-9]Jet` are well put to "SM Exclusive".

OK, I have now excluded all 13 BMNNP datasets from the MC input.  (Will be made visible on DEV in the afternoon.)

[2015-12-10 11:38] tiborsimko commented on #876
Looking at this to provide visible example...

[2015-12-11 10:02] RaoOfPhysics opened #883 "URL text case: links broken when wrong case is used"
Shouldn't the URLs be case-insensitive? Currently, for example:
- http://opendata.cern.ch/about/CMS-Physics-Objects works, but
- http://opendata.cern.ch/about/CMS-physics-objects is broken!

[2015-12-11 10:05] suenjedt commented on #883
Yes, that should not be the case. Thanks for spotting!

[2015-12-11 10:28] tiborsimko opened #884 "templates: DEV stamp"
Put a DEV stamp on the DEV server.

[2015-12-11 10:37] AdityaBhardwaj002 commented on #883
Two methods to do it but it is not recommended as it creates multiple entries for the search engine.

import re
from werkzeug.routing import Rule, RequestRedirect

class CIRule(Rule):
    def compile(self):
        Rule.compile(self)
        self._regex = re.compile(self._regex.pattern,
                                 re.UNICODE | re.IGNORECASE)

from flask import Flask

class CIFlask(Flask):

[2015-12-14 09:23] pherterich commented on #823
@katilp this is for both, MC and primary datasets? If so, @tiborsimko can you correct it for the MC datasets and @AnxhelaDani and me will do the the others manually. Thanks!

[2015-12-15 09:28] tiborsimko commented on #823
@pherterich This seems to be about creating CMS SW records. Did you think of updating the information in dataset records too?  Here is a brief overview of the current status:

- `CMSSW_5_3_12_patch1` in 2011 primary datasets
- `CMSSW_5_3_30` in 2011 event display files
- `CMSSW_5_3_16` in 2011 simulated datasets
- (... but randomly looking in DAS I see e.g. `CMSSW_5_3_23_patch1` for some simulated

[2015-12-15 10:20] pherterich commented on #823
@tiborsimko this is more or less my question: if cataloguing a different version is sufficient or if this means something has to be updated in the dataset records as well. @tpmccauley does this update change anything for your event display files? Maybe we can clarify in the meeting later.

[2015-12-15 10:23] #874 closed

[2015-12-15 10:32] #816 closed

[2015-12-15 10:32] #821 closed

[2015-12-15 10:32] #830 closed

[2015-12-15 12:16] tpmccauley commented on #823
@katilp what is the version that will be available in the VM?

[2015-12-15 12:30] katilp commented on #823
It will be 5_3_32 which can, to my understanding, be out in few days (I asked David Lange, but I had no reply yet). The necessary change for the Open data side is the script from Josh with which the LHE header can be extracted from the MC files.

[2015-12-15 13:00] tiborsimko opened #886 "templates: wrong "download index" button"
For contextualisation script record:

- http://opendatadev.cern.ch/record/249

the file download template says "Indexes" and "Download index", but these are files, not file indexes.

[2015-12-15 13:51] katilp commented on #836
Sorry for the delay...

Monte Carlo: Computational algorithms based on numerical random samplings used in simulation programs for generating the particle collisions and for simulating of particle interactions in the detector material. Often used as a synonym to simulated data.

Generator: Simulation programs used to generate the particle collision

Trigger: Algorithms to select particle collisions

[2015-12-15 14:59] katilp commented on #836
We also need the definition for Global tag (from Andreas' slides in CMS DPOA meeting
https://indico.cern.ch/event/350296/contribution/2/attachments/692095/950433/GTforDataPresAndOpenData-2014-11-03.key.pdf
Global tag: coherent collection of “Tags” used for running
Tag: record of additional data needed by reconstruction and analysis software

<img width="489" alt="globaltag" src="https://cloud.gith

[2015-12-16 10:24] RaoOfPhysics commented on #886
Related: Should it say "indices"? CC: @TimSmithCH?

[2015-12-16 12:42] TimSmithCH commented on #886
Hmmm, thats a difficult one, since both are correct... indices is more common in English than American, and more common in academic circles than non-academic. So we sit in the sector than would favour Indices normally... but not strongly!

[2015-12-16 12:51] pherterich commented on #886
I think we're also inconsistent with data being plural or singular here http://opendata.cern.ch/about (my own fault I think will update this page for the release). If we consider data being plural we also should go for the correct Latin plural and use Indices I think.

[2015-12-16 13:58] RaoOfPhysics commented on #886
@pherterich: I went in and tried to fix the "data as plural" problems. Not sure I got everything!

@TimSmithCH: OED suggests that "Indexes" is correct here:

Source: http://www.oed.com/view/Entry/94372?result=1#eid

[2016-01-05 08:23] RaoOfPhysics commented on #853
@tpmccauley: Can you please let me know what has changed so I can start with the documentation? I presume I'll have to make a whole new GIFset, but are there any other stand-out differences?

[2016-01-05 09:06] RaoOfPhysics opened #888 "Tabs for 2010/2011 data also needed for "Physics Objects""
It was missed in #830, but since there are different instructions for 2011 data, we need a separate tab under "Physics Objects" as well: http://opendatadev.cern.ch/about/CMS-Physics-Objects

The tab should reside below the header for "[List of CMS physics objects](http://opendatadev.cern.ch/about/CMS-Physics-Objects#list)".

[2016-01-05 09:09] RaoOfPhysics commented on #864
@tiborsimko: I'll need a blank page for this. Please let me know how to proceed.

@katilp: Logically, where would this page reside on the portal?

[2016-01-05 14:01] katilp commented on #864
@RaoOfPhysics I was thinking that this could reached through a link from a popup message (e.g. a question mark to be hovered over) close to all dataset names.
We should probably link it from http://opendatadev.cern.ch/about/CMS when we add a short description there about the MC datasets (under downloadable datasets).
And it could reside in http://opendatadev.cern.ch/collection/CMS-Open-Data-Instru

[2016-01-06 10:20] tpmccauley commented on #853
@RaoOfPhysics most of the interface is the same. New things worth noting:

* when an event is loaded, picking on an object in the display (e.g. clicking on a muon and seeing the information)
* when an event is loaded, clicking on a collection name in the tree view on the left (like Global Muons) and seeing the contents in the table view
* in the table view, hovering over a particular row and seein

[2016-01-06 10:46] RaoOfPhysics commented on #853
@tpmccauley: Got it. I'll have to make new animations anyway for the new look-and-feel. Thanks for flagging the highlights.

[2016-01-08 14:34] RaoOfPhysics commented on #851
- [ ] Add Validation Report

[2016-01-08 14:38] pherterich commented on #861
@AnxhelaDani and me can provide first versions of records, shall we create all three of them and you create the collection based on that. @tiborsimko ?

[2016-01-11 13:02] katilp commented on #832
Now I have the following plan for the additional trigger information:

The trigger information for each data-taking period consists of several different trigger menus
which are valid (i.e. were in use) for known run numbers
The validity range for a trigger menu is recorded in the upper part of the following pages (Under "Physics menus")
http://fwyzard.web.cern.ch/fwyzard/hlt/2010/summary
http://fw

[2016-01-12 09:08] pherterich commented on #832
Let me try to summarise this just to make sure I really understand (or figure out the parts that I don't).
First, is there a difference between these trigger menus and the list of triggers we looked at except that the menus are clearly linked to a run and the list is more abstract? If we do these trigger menus for every year, we don't do subsets for each primary dataset as we thought about on Frid

[2016-01-12 09:45] katilp commented on #832
Right, these menus contain the exact definition of the entries in the list of triggers we looked at before (and which is useful as well, but it only tells what trigger names are used in each primary dataset but does not tell what these triggers actually do). In the format in which I can easily extract them (i.e. the file Config above) all trigger definitions are included so indeed there will not b

[2016-01-12 10:11] pherterich commented on #832
Thanks, I think I understand now. I will discuss with @AnxhelaDani then and try to come up with a first record which you and @tiborsimko can then work with and iterate on in the next meetings.

[2016-01-12 14:42] AnxhelaDani commented on #877
After discussion with @pherterich and as collision types are related with collision energy, the MARC field ``` 942__ $t ``` will be used for Collision Types of Primary, Derived and MC Datasets.

[2016-01-12 19:10] katilp commented on #832
@tiborsimko The config file for trigger menus for 2011 runs are now in https://cernbox.cern.ch/index.php/s/AfsweuwAf3sA6as (zipped floder). Can you get them from there?

[2016-01-12 23:12] fwyzard commented on #832
Hi,
I think you got things right, let me just add a couple comments.

For data, the HLT menu (the python files) is the same for all datasets; in fact the HLT is run before the split into datasets, and the HLT results are used to define the datasets.
In principle, I guess we could generate "sub-menus" corresponding to each dataset, limiting the HLT menu to the list of trigger paths in each dataset.

[2016-01-13 09:21] katilp commented on #832
@fwyzard Thanks Andrea, very useful. I will have to digest the L1 information. For the link to conddb you gave, why CRATF09? Is that a list starting from CRAFT09 i.e from the start of data-taking?

[2016-01-13 10:07] fwyzard commented on #832
Hi Kati,
yes, we have used the same conditions tag since the very start, from
CRAFT09.

Ciao,
.Andrea

[2016-01-18 14:10] katilp commented on #832
@fwyzard OK, thanks. What does the string like "8bfbda71489804dceb710cf8854ffe321b6d696a" mean in the payload field of https://cms-conddb.cern.ch/browser/#list/Prod/tags/L1GtTriggerMenu_CRAFT09_hlt ? Does it have a one-to-one correspondence to one of the L1 trigger menus listed in https://twiki.cern.ch/twiki/bin/viewauth/CMS/GlobalTriggerAvailableMenus or does it also contain (refer to) some other

[2016-01-20 15:39] suenjedt commented on #884
It would be great to get this. Now that we demo from -dev sometimes, it is a little confusing without a clear signposting. Thanks!

[2016-01-24 14:14] fwyzard commented on #832
Those strings are the hashes of the payloads in conditions database.
In the case of the L1 menus, they are most likely in one-to-one
correspondence to the menus on the twiki page - though I cannot exclude
that the same menu could have been uploaded multiple times, resulting in
multiple entries for the same menu.

To test my understanding: Would the condDB table link the run range to the

Correct.

[2016-01-25 20:33] katilp commented on #848
The author list is now being prepared.
This is not the final list
[list_authors1113.txt](https://github.com/cernopendata/opendata.cern.ch/files/103882/list_authors1113.txt) but maybe you can confirm if this kind of format is OK for you?

[2016-01-25 22:07] pherterich commented on #848
@jalavik can you give it a look and a first run through the conversion script and let us know about the outcome? Thanks!

[2016-01-26 13:18] tiborsimko commented on #832
These two entries are referring to the same file `cdaq_physics_Run2011_2e33_v1.2_HLT_V5.py`.  Is this correct?  If yes, then we may need to "revise" file names, because they have to be named in a unique manner if we attach them all under the same record.

[2016-01-26 13:40] fwyzard commented on #832
Yes, they are the same HLT configuration.

What changes is the release of the CMSSW software that was used for data
taking.

.A

On 26 January 2016 at 14:18, Tibor Simko <notifications@github.com> wrote:

--
Strategy is a system of expedients.

Field Marshall Helmuth Carl Bernard Graf von Moltke

[2016-01-26 13:46] tiborsimko commented on #861
OK. I'll collect the various files from @AnxhelaDani's private repository and commit.

[2016-01-26 14:23] tpmccauley opened #892 "Help page behavior for event display"
The "NEED Help?" tab on http://opendata.cern.ch/visualise/events/CMS doesn't behave as it should. Instead of acting like a tab the content instead appears below the display.

[2016-01-26 15:58] tiborsimko commented on #861
-  reuse text from the glossary in the description
- see also https://github.com/cernopendata/opendata.cern.ch/issues/836#issuecomment-164789239

[2016-01-26 16:00] RaoOfPhysics commented on #892
@tpmccauley: It works fine at my end, btw. Firefox on OS X.

[2016-01-26 16:00] katilp commented on #861
Description for he condition data record:

Condition database includes
non-event-related information (Alignment,
Calibration, Temperature, …)
and parameters for simulation/reconstruction/analysis software

[2016-01-26 16:12] tpmccauley commented on #892
@RaoOfPhysics do both appear on the same page as in the attached?

<img width="1370" alt="screen shot 2016-01-26 at 4 10 18 pm" src="https://cloud.githubusercontent.com/assets/496503/12586253/705fd666-c447-11e5-9a44-1a5276c13db5.png">

[2016-01-26 16:28] katilp commented on #848
The final list is
[list_authors1113_complete_with_doubles.txt](https://github.com/cernopendata/opendata.cern.ch/files/105236/list_authors1113_complete_with_doubles.txt)
It has all authors, but also some doubles. The first part of the file has all authors 2011-2013 in order of countries and institutes, but then the special author list from our Higgs publication is added just to the end of file, so

[2016-01-26 16:45] tiborsimko commented on #832
As discussed with @katilp the remaining tasks are:

- [ ] create nice "table of contents" for the trigger mother record
- [ ] create individual trigger records and link them from primary datasets https://fwyzard.web.cern.ch/fwyzard/hlt/2011/dataset
- [ ] create individual trigger path records and inter-link them http://fwyzard.web.cern.ch/fwyzard/hlt/2011/summary

[2016-01-26 17:26] RaoOfPhysics commented on #892
IE?! Dear lord. :P

No, when I click the button, it shows only the help content, without the event display.

[2016-01-26 17:31] tpmccauley commented on #892
IE was what I had when testing using remote desktop.
When I tested with docker and on localhost I had to error. It shouldn't have worked since the div was in the wrong place. Do you have a screenshot of the whole page before and after the Help tab is activated?

[2016-01-27 12:24] RaoOfPhysics commented on #892
![codp_eventdisplay](https://cloud.githubusercontent.com/assets/7623019/12613329/3da33346-c4f9-11e5-8a48-24d9ba274776.gif)

[2016-01-27 12:28] tpmccauley commented on #892
@RaoOfPhysics that's the old display. On dev (with the new display) it was broken. I see that I included the wrong link. It should have been http://opendatadev.cern.ch/visualise/events/CMS (like in the screenshot I included).

[2016-01-27 14:04] #797 closed

[2016-01-27 14:04] #836 closed

[2016-01-27 14:14] #892 closed

[2016-01-27 14:30] tiborsimko commented on #861
@katilp @RaoOfPhysics We don't really have any text for "condition data" in the glossary, we have "CMS global tags" though.  Hence I'll use the description text following up @katilp's notes in the previous comment.

We can still amend it later.  (And perhaps also add the expression "condition data" to the glossary...)

[2016-01-27 15:24] #861 closed

[2016-01-27 19:35] jalavik commented on #848
@pherterich @katilp I see that this format is a bit different than the standard collaboration authorlist XML format (http://inspirehep.net/info/HepNames/tools/authors_xml/index). Any chance it is possible to provide the authorlist format, like in #402? If not, we can create a new script to convert the data if this is gonna be the way forward. Thanks!

[2016-01-27 20:34] katilp commented on #848
@jalavik We have some changes in personnel who is taking care of this in CMS and that may have caused some changes, my apologies. In any case now we the list without duplicates and special characters, and this is now hopefully a better format
[authorslist12011_2013.txt](https://github.com/cernopendata/opendata.cern.ch/files/107267/authorslist12011_2013.txt)

[2016-01-29 12:18] jalavik commented on #848
Thanks @katilp. Unfortunately, after a second look I do notice some potential issues with the format and data provided:

- the special characters are a bit funny (see Karancsi below)
- the affiliations are a bit short (unless there is a mapping somewhere?)
- the names are not structured so `lastname, firstname` conversions would be inaccurate.

See example from file:

[code]

We can convert this t

[2016-01-29 12:31] suenjedt commented on #848
Thanks @katilp. The arxiv submissions are usually handled that way and come with such an author xml file (as Jan show's it). I am not sure with whom you have been in touch for that already, apologies. those persons might be able to pull that info from the CMS databases though. Otherwise, we will try to process this here.

[2016-01-30 11:12] RaoOfPhysics commented on #892
:+1:

[2016-02-01 11:16] suenjedt opened #897 "In IE 11 the event display does not allow loading the files"
http://opendata.cern.ch/visualise/events/CMS

[2016-02-01 11:24] tpmccauley commented on #897
@suenjedt what happens instead? Does it just hang there? I just tried it and it seems to work for me (see attached).
<img width="1365" alt="screen shot 2016-02-01 at 11 21 08 am" src="https://cloud.githubusercontent.com/assets/496503/12716123/47eb6a18-c8d6-11e5-85ca-e1270e89b3a5.png">

[2016-02-01 11:28] tpmccauley commented on #897
@suenjedt In either case, it probably doesn't matter for the display in the currently-deployed version of the portal since that display has been replaced:
<img width="1365" alt="screen shot 2016-02-01 at 11 22 14 am" src="https://cloud.githubusercontent.com/assets/496503/12716256/edf3a448-c8d6-11e5-9e28-c2a6a4a8e955.png">

[2016-02-01 11:30] tpmccauley commented on #897
@suenjedt then the question is: does the new version work for you or do you have the same problem? :)

[2016-02-01 13:02] katilp commented on #897
@tpmccauley This was at S'cool lab, with the lab notebooks running on windows 8. They remained "loading" and nothing happened, and it was OK on firefox on these same laptops. We did not try the new version on those computers. I can confirm that it works on my windows 10 with MS Egde 25...

[2016-02-01 13:20] tiborsimko opened #898 "glossary: "broken" display for terms with dashes"
The glossary link display looks funny for the term "trigger" that is present in collection name "CMS-Trigger-Information": note the apparently inverted word order:

![2016-02-01-141741_2560x1440_scrot](https://cloud.githubusercontent.com/assets/517546/12718429/dbc92762-c8ee-11e5-8223-68211ebde6a9.png)

[2016-02-01 13:24] tpmccauley commented on #897
Hopefully this won't be a problem with the new version of the display, but with the older one running on IE in that environment would it be possible to get some output from the JavaScript console?

[2016-02-02 09:53] #884 closed

[2016-02-02 10:45] tiborsimko commented on #864
@katilp Will this be a separate page or a new record in the instructions collection? This will allow to create a proper blank slate for @RaoOfPhysics to complete.  Personally I don't have rights to access that wiki page, so it's hard to guess how to best proceed here.

[2016-02-02 14:06] katilp commented on #864
@tiborsimko Either (or both) will do. It is a help page explaining how the names of the simulated datasets are formed and the basic access to this page should be "more info" or "?" or similar from the simulated dataset pages, so in that sense it is a separate page. But for the sake of completeness, this page could also reside in the instructions collection.

[2016-02-02 15:10] RaoOfPhysics commented on #851
@katilp: Needs the Validation Report (when ready) and this issue is good to go.

[2016-02-02 15:29] tiborsimko commented on #832
Comments from live discussion:
- record 1700
  - High-level trigger information...
  - hide Files section
- records 2000+
  - High-level trigger path information...
  - add link to TOC record ("See the full list of ...")
- primary datasets
  - 567 $a text $w recid to link to trigger path

[2016-02-02 15:35] tiborsimko opened #901 "CMS: condition data files"
Add information about condition data files:

[code]

Add warning text that people don't have to download these, since VM does it for them.

[2016-02-02 15:49] tiborsimko opened #902 "glossary: update leading terms"
- Update leading terms in the glossary.  Example: Run, RunA, RunB, ...

- Add HLT and L1 trigger information.

[2016-02-02 15:55] tiborsimko commented on #888
It would be useful if the 2010 - 2011 tabs part stays open on the top of the page when the user scrolls down the page to reach down to physics objects.  (Ditto for other pages where we have 2010 vs 2011 tabs.)

[2016-02-02 16:20] RaoOfPhysics commented on #853
@tpmccauley: Could you please point me to where I can grab the icons used in the updated event display?

[2016-02-02 16:30] tiborsimko commented on #864
After live discussion, we'll go for the page with URL `/about/CMS-Simulated-Dataset-Names`. No need to split by years.

[2016-02-02 16:33] tpmccauley commented on #853
@RaoOfPhysics Most of them come from here http://fortawesome.github.io/Font-Awesome/icons/
with the exception of ones that don't exist there like orthographic, perspective, and the axes.

You can see here which ones are used:
https://github.com/cernopendata/opendata.cern.ch/blob/master/invenio_opendata/base/templates/visualise_events.html

To save you the trouble, they are listed here:

fa-folder-

[2016-02-02 16:43] tiborsimko commented on #820
Live discussion:
http://opendatadev.cern.ch/record/1304/export/xm
- need to add 538 "Recommended release for analysis: CMSSW_5_3_32"  (to all records)
- ditto for primary datasets
- ditto for 2010 datasets (`CMSSW_4_2_8`)

[2016-02-02 16:46] tiborsimko opened #904 "CMS: fix links for year-based search"
On `http://127.0.0.1:28080/research/CMS` page, fix links like
`http://127.0.0.1:28080/research/CMS#URL_FIXME`

[2016-02-02 16:47] RaoOfPhysics commented on #853
Excellent call using Font Awesome! :D

And thanks for the pointers.

[2016-02-02 16:50] RaoOfPhysics commented on #853
@tpmccauley: Follow-up question. Should I point directly to FA's iconset or shall I download the current versions of these icons? I think the latter makes sense (that's why they have the CDN, after all), but I'm wondering how frequently you'll update the icons in the event display…

[2016-02-02 16:50] pherterich commented on #877
If we agree on how we write it, @tiborsimko can you add the field to all of them? Options are
proton -> proton
Proton -> Proton
P -> P
anything else we haven't thought of. Smart suggestions to replace -> with something else are also welcome!

[2016-02-02 16:56] pherterich commented on #877
proton-proton it is obviously

[2016-02-02 17:00] tpmccauley commented on #853
@RaoOfPhysics FA is already included in the portal so it's probably best to include the icons directly e.g.:
`Click on <i class="fa fa-folder-open"></i> to open a file.`

[2016-02-02 17:01] RaoOfPhysics commented on #853
:+1:

Discussing this with Tibor now.

[2016-02-03 14:04] katilp opened #905 "Analysis example for 2011"
I have tested the image from
/afs/cern.ch/user/m/mhuffman/public/open-data/CMS-Open-Data-1.2.0-rc1.ova
(there is now a new image which has a larger disk and cache size,
/afs/cern.ch/user/m/mhuffman/public/open-data/CMS-Open-Data-1.2.0-rc3.ova
and this is now tested as well)

with the following recipe, which has now been updated (with all updates for 2011) in
https://github.com/katilp/pattuples2011

[2016-02-04 14:46] tiborsimko commented on #790
- [x] transfer files to EOS (@fsocher @tiborsimko)
- [ ] create descriptive records (@fsocher @tiborsimko)

[2016-02-08 12:12] katilp opened #906 "Upload VM image 2011 for testing"
@tiborsimko could you upload the vm image for 2011 data from
/afs/cern.ch/user/m/mhuffman/public/open-data/CMS-Open-Data-1.2.0-rc1.ova
to its own record under CMS tools collection

[2016-02-08 13:51] katilp commented on #832
@tiborsimko The rest of the 2011 proton-proton config files are now in https://cernbox.cern.ch/index.php/s/63Nwh93V3or4IXI
These are the file for the data which for the moment are not released.

[2016-02-08 14:17] katilp opened #907 "CMS L1 trigger information 2011:"
L1 trigger menus for 2011

Starting from run (first actual run):
- description
- HTML view

157942 (157945):
- https://twiki.cern.ch/twiki/bin/view/CMS/GlobalTriggerMenu_L1Menu_Collisions2011_v0
- https://twiki.cern.ch/twiki/pub/CMS/GlobalTriggerMenu_L1Menu_Collisions2011_v0/L1Menu_Collisions2011_v0_L1T_Scales_20101224_Imp0_0x101e.html

161205, (161205); after the run at 2.76 TeV (done with v2), t

[2016-02-10 14:20] #790 closed

[2016-02-10 14:28] #902 closed

[2016-02-10 14:31] tiborsimko commented on #907
@katilp Nope, I get consistently "access denied" and "authorisation failed".

[2016-02-10 14:48] tiborsimko commented on #906
@katilp Grabbed it.  I assume we'll create a new record?  And what about contextualisation scripts? Previously we used:

- VM image: http://opendatadev.cern.ch/record/250
- contextualisation scripts: http://opendatadev.cern.ch/record/249

CC @pherterich @AnxhelaDani

[2016-02-10 15:12] katilp commented on #907
@tiborsimko also for the second (html) set?

[2016-02-10 15:13] AnxhelaDani commented on #906
@tiborsimko  you can find the new record for VM image 2011 and the contextualisation scripts at PR (#859). Tomorrow we can check again the content with @katilp

[2016-02-11 15:30] katilp commented on #907
The html files are now in
https://cernbox.cern.ch/index.php/s/CjijpPP1nuq55GE

[2016-02-11 16:11] katilp opened #911 "2011 examples"
@tpmccauley Is https://github.com/cms-outreach/ispy-analyzers/tree/Run2011A
ready to go as an example for 2011 data (in a similar way as
http://opendatadev.cern.ch/record/550)
Where should we point for the event display code. For the 2010 record, it points to https://github.com/cms-outreach/ispy-services, now it should point to webGL area, shouldn't it?

@tiborsimko  @pherterich  Do we want to hav

[2016-02-11 16:26] pherterich commented on #911
I vote for 2 records. Otherwise the links and files get messy, non? @tiborsimko will you create it or shall @AnxhelaDani take care (once we get the OK from @tpmccauley of course)?

[2016-02-11 16:27] suenjedt commented on #911
+1

[2016-02-11 16:30] tiborsimko commented on #911
@pherterich @suenjedt Yes that's what we agreed upon live here as well...

[2016-02-11 16:35] tpmccauley commented on #911
@katilp The analyzers are ready. @verdurin issued a PR which fixed the file location in the VM and I merged it. I would go for 2 records. Also, the url to ispy-services is there as this package is also needed to make the event display files.

[2016-02-11 16:43] tiborsimko commented on #820
Live discussion:
- populate CMS SW from DAS; there are two SWs:
  -  from inside MC files `"release": "CMSSW_5_3_23_patch1"` -> "Reconstruction step release: ..."
  -  from the parent dataset -> "Generation step release: ..."
  - ditto for global tag, extract from parent dataset name

[2016-02-11 16:47] tpmccauley commented on #911
https://github.com/cms-outreach/ispy-analyzers/commit/add1b6f0126bdf3ea890f2f857fe97b021a4ee95

[2016-02-11 17:09] tiborsimko commented on #358
Moving to someday.

[2016-02-11 17:10] tiborsimko commented on #480
This issue can be closed.

[2016-02-11 17:10] #480 closed

[2016-02-11 17:11] tiborsimko commented on #582
This issue can be closed.

[2016-02-11 17:11] #582 closed

[2016-02-11 17:16] tiborsimko commented on #911
BTW @tpmccauley we noticed that the standalone event previewer is loading the old 2010 files only? Shall it load new 2011 files? http://opendatadev.cern.ch/visualise/events/CMS
(@katilp mentions that it would be useful to have both 2010 and 2011 in a "directory" like structure in the file menu...)

[2016-02-11 17:29] tpmccauley commented on #911
@tiborsimko Good point. I can add them. How much time do I have? :)

[2016-02-11 17:35] katilp commented on #911
@tpmccauley You can count in days or weeks (not in minutes or hours) :-)
We are now planning for a presentation at the WGM on the 10th of March
For the directory structure, we could add Higgs (which do not really fit under 2010 or 2011),
and a separate directory for Z and W events, maybe

[2016-02-11 17:52] tpmccauley opened #913 "2011 CMS event display files in stand-alone event display"
The event display files for 2011 should be available in the stand-alone event display currently at http://opendatadev.cern.ch/visualise/events/CMS
Probably best to have a "directory" structure with
2010/
2011/

[2016-02-11 17:53] tpmccauley commented on #911
@katilp that's what I want to hear. I will sort it out next week. I have opened a separate issue #913

[2016-02-12 10:23] #745 closed

[2016-02-12 10:25] suenjedt commented on #51
plus forum discussion

[2016-02-12 10:28] suenjedt commented on #759
link style discussed in another issue.

[2016-02-12 10:28] #759 closed

[2016-02-12 15:33] katilp opened #916 "Corrections to http://opendatadev.cern.ch/record/101"
In http://opendatadev.cern.ch/record/101
the following link is wrong:
"The expected output is a histogram file such as
http://opendata.cern.ch/visualise/histograms/CMS "
This link has nothing to do with this example.

The correct histograms were uploaded to the portal, you can find them in
https://github.com/cernopendata/opendata.cern.ch/issues/557

[2016-02-14 09:30] tiborsimko opened #917 "ATLAS: regenerate EOS file listings for ZPath 2015 datasets"
Following up the update of ATLAS ZPath 2015 dataset files on EOS done with @fsocher:

[code]

we need to regenerate file listings (indexes, sizes, 856s) and update `atlas-derived-datasets.xml` respectively.

[2016-02-15 15:11] RaoOfPhysics opened #918 "Book Chapter: Early experiences with open data at CERN"
## Summary

Contacted by Vera Lipton with following request:

- **Word Count**: 7,000–10,000
- **Due**: April/May 2016
- **Deadline 1**: 31 March 2016
- **Deadline 2**: TBD
- More info about the book: http://www.worldscientific.com/series/oibtp

---

## Proposal

Collaboratively edit the chapter on Authorea. The file can be found at https://www.authorea.com/users/8205/articles/100564/ So far, the

[2016-02-15 15:16] RaoOfPhysics commented on #918
(I also realise that I am using this issue for matters other than the core development of the portal, but I thought it's a good place for us to have this discussion.)

[2016-02-15 15:26] suenjedt opened #919 "Change ATLAS logo"
https://atlas-outreach.web.cern.ch/sites/atlas-outreach.web.cern.ch/files/ATLAS-Logo-Ref-RGB-H_0.jpg

[2016-02-15 15:41] RaoOfPhysics commented on #919
#788

[2016-02-16 09:12] TimSmithCH commented on #918
OK, please add me, I must find a way somehow! Perhaps I simply schedule "virtual me" to do it sometime... And chalk me against Motivation/Challenges/Solution

[2016-02-16 09:14] RaoOfPhysics commented on #918
@TimSmithCH: :+1: Thank you! :)

[2016-02-16 09:38] suenjedt commented on #918
Added my name. Happy with TOC. Thanks!

[2016-02-16 09:42] tpmccauley commented on #918
Thanks for this Achintya. I am fine with TOC.
On 16 Feb 2016 9:38 a.m., "Sünje" <notifications@github.com> wrote:

[2016-02-16 11:45] RaoOfPhysics commented on #918
@TimSmithCH, @suenjedt, @tpmccauley, @katilp, @pherterich: I've updated the Authorea document with the sub-chapters and have added direct links to the respective files in the OP above.

[2016-02-16 11:49] suenjedt commented on #918
I need a deadline for a first draft, apologies. End of March?

[2016-02-16 11:52] RaoOfPhysics commented on #918
@suenjedt: Let's aim for that. We can then converge on a polished version by some-time in April, I imagine.

[2016-02-16 11:53] suenjedt commented on #918
Fantastic

[2016-02-17 12:15] pherterich commented on #557
As this issue is not solved yet, @tiborsimko do you have a preferred technical solution to do this? Is there a possibility to include them in the text without it getting messy? I have the feeling a separate record for each png is a bit too much but I don't want them to get lost in the file attachments either.

[2016-02-17 13:22] tpmccauley commented on #913
I have a PR. @katilp it looks like this (where I have placed all other files under "Education"; we could call it something else or divide them another way):
<img width="624" alt="screen shot 2016-02-17 at 1 08 35 pm" src="https://cloud.githubusercontent.com/assets/496503/13110618/0f23065a-d579-11e5-851b-6879e32f1cd0.png">
<img width="610" alt="screen shot 2016-02-17 at 1 08 45 pm" src="https://clo

[2016-02-17 13:25] tpmccauley commented on #913
@katilp it also occurred to me that an expandable and collapsible table would work. I thought that the major drawback to this was that one could extend the dialog to an undesirable length if one opens all of them.

[2016-02-17 15:04] katilp commented on #913
@tpmccauley Looks good! Maybe add Higgs as a separate directory?
for the table: Anything which scales down to phone screen size is fine. However, as loading the event is the first step in any work with the event display it should be very robust.

[2016-02-19 09:19] tiborsimko commented on #918
Now that I'm back I can join as well :smile:

[2016-02-19 09:21] RaoOfPhysics commented on #918
@tiborsimko: Excellent! To which sections should I add you?

[2016-02-19 09:30] tiborsimko commented on #918
@RaoOfPhysics You know my area of expertise... Could contributed to Challenges, Solutions, where there isn't enough people yet.  More if needed (e.g. Impact with stats).

[2016-02-19 09:37] RaoOfPhysics commented on #918
@tiborsimko: :+1:

[2016-02-22 08:49] tiborsimko commented on #557
@pherterich @AnxhelaDani I'd simply attach the plots to the analysis record and display them in the Description section (or some other appropriate section) with a bit of commentary.

[2016-02-22 16:53] RaoOfPhysics commented on #853
@tiborsimko: Can you please let me know if it's fine for me to implement the Font Awesome Icons directly? You mentioned that it had been included somewhere on the portal, but you said you'd investigate before I got the green light. Thanks! :)

[2016-02-22 17:01] RaoOfPhysics commented on #852
@katilp:

Waiting for this.

[2016-02-22 17:09] katilp commented on #852
@RaoOfPhysics I'm waiting for a reply from Achim whether I could modify his 2-lepton spectrum code to be used as an example. Other solution is to re-use the 2010 example (the first step works, see #905, but the updated code needs to put properly in github, can you help me with that?) but that would require reproducing the intermediate ntuples.

[2016-02-22 17:12] RaoOfPhysics commented on #852
@katilp:

:+1:

Yup, I've seen #905 and tried to proceed but I'll probably need to sit with you and work on this. Slightly beyond my abilities to process the code. I can help bringing it to GitHub, though!

[2016-02-23 10:40] RaoOfPhysics commented on #853
(Update: Got OK from @tiborsimko to proceed.)

[2016-02-23 10:52] RaoOfPhysics opened #921 "Event Display pop-up appearing outside canvas"
See:

![codp_eventdisplay](https://cloud.githubusercontent.com/assets/7623019/13249299/d5233d76-da23-11e5-860e-f3dbb96b1ed7.gif)

[2016-02-23 11:01] katilp commented on #832
@AnxhelaDani The text to be added after the general description of how these data were selected (primary dataset, the file from @RaoOfPhysics):

The possible High Level Trigger paths in this datasets are:

(and @tiborsimko will extract you the list)

[2016-02-23 11:17] tpmccauley commented on #853
![makeitso](https://cloud.githubusercontent.com/assets/496503/13249944/0ae8febe-da1f-11e5-9bd1-b2b4a8bdac54.png)

[2016-02-23 11:22] tpmccauley commented on #921
If you scroll down the page so that the top of the display is on the top of the page where does the popup appear?

[2016-02-23 11:53] tpmccauley opened #922 "Event display progress bar"
When loading a file the progress bar color doesn't seem to show up (i.e. is white). Fix.

[2016-02-23 12:19] RaoOfPhysics commented on #921
The pop-up moves stays in place (i.e., it appears lower on the canvas if I scroll down). This is an acceptable solution! :D

[2016-02-23 12:33] tpmccauley commented on #921
@RaoOfPhysics Good to hear, but it may be a better solution to have the popup always appear in the center of the display. Thoughts? @tiborsimko?

[2016-02-23 13:55] tiborsimko commented on #820
Live notes with @katilp about `output-config-1` mining from DAS:

- dataset
  - HLT
  - RECO
- parent
  - SIM
- grandparent
  - LHE

[2016-02-23 13:59] RaoOfPhysics commented on #921
Reopening the issue for discussion.

[2016-02-23 17:29] #847 closed

[2016-02-24 06:21] katilp commented on #906
@tiborsimko The image to be uploaded is /afs/cern.ch/user/m/mhuffman/public/open-data/CMS-Open-Data-1.2.0-rc3.ova

[2016-02-26 11:12] tiborsimko commented on #919
As discussed with Steve, we can keep the titan-free square logo, as it fits better the overall site design.

See also https://github.com/cernanalysispreservation/analysis-preservation.cern.ch/issues/88

[2016-02-26 11:12] #919 closed

[2016-02-26 15:33] katilp opened #926 "New record in CMS tools collection needed for di-lepton spectrum"
We have now available a nicely commented example code to produce the famous di-muon spectrum.
Two new records needed in the CMS tools collection, with a similar structure as in http://opendatadev.cern.ch/record/550

NB, what follows is for 2010, but we will need a similar record with 2011, with only slight modifications @AnxhelaDani we can have a look together once the 2010 record is created

Titl

[2016-02-28 14:02] katilp opened #927 "New record in CMS validation utilities collection needed"
The first validation code is now available in
/afs/desy.de/user/g/geiser/public/CMS/opendata/MUO-10-004val/readme.txt

As a first trial, it can have a similar structure as the corresponding example code (#926).
We can then review and correct if needed.

The code files are available in
/afs/desy.de/user/g/geiser/public/CMS/opendata/MUO-10-004val

A clear statement is needed to explain that code in

[2016-02-29 11:03] AnxhelaDani commented on #926
@katilp I have created the draft records, please let me know when we can have a look together

[2016-03-02 09:32] katilp commented on #926
@AnxhelaDani Would you propagate it to opendatadev (@tiborsimko) so we could have a look together tomorrow?

[2016-03-03 13:56] katilp commented on #926
@AnxhelaDani You can now find the 5 files in https://cernbox.cern.ch/index.php/s/9Zoq94XAfjg7M7h

[2016-03-03 14:37] RaoOfPhysics commented on #905
https://github.com/ayrodrig/pattuples2010.git

Now available at https://github.com/katilp/pattuples2011

I believe we're still waiting for the PATtulples to be produced in Spain, after which this issue can be closed.

[2016-03-03 15:17] #913 closed

[2016-03-03 15:23] #922 closed

[2016-03-03 15:32] katilp commented on #927
@AnxhelaDani The file are now available in https://cernbox.cern.ch/index.php/s/PrIBIaLSfSUbnxb

[2016-03-03 16:07] katilp commented on #905
@AnxhelaDani Can you created the 2011 records corresponding to the records 200 and 101
http://opendatadev.cern.ch/record/101
http://opendatadev.cern.ch/record/200

For the two records above, need to add 2010 to the title (or to the description).

[2016-03-03 16:11] tiborsimko commented on #557
I'll take care of this..

[2016-03-03 16:15] tiborsimko commented on #916
Related to #557

[2016-03-03 16:20] tiborsimko commented on #877
Can we postpone this once we have some LEP data in sight?

[2016-03-04 08:21] pherterich commented on #877
Wouldn't it be easier to add it now and not show it than having to touch all the records again later? Especially as this is a job that can be scripted as it's the same for all the datasets. Sounds easier to me than having to do it later.

[2016-03-04 10:09] tiborsimko commented on #877
My thinking was the following: adding "proton-proton" information should be done globally to the past files as well, not only to the current CMS Run2011A files we are sprinting on now, hence I considered it as part of another milestone.  If we add it only to the new files, we'd have inconsistencies...

(Besides, this need will appear very naturally later when we shall have some "electron-positron"

[2016-03-04 12:42] katilp commented on #877
NB that we may have heavy ion data from the LHC (lead-lead). What do we have in the ALICE data records (or are they proton-proton as well)?

[2016-03-04 12:46] pherterich commented on #877
Well, I thought going backwards and adding it for 2010 data that is currently only like 50 records is something we can do manually and it's better to do it now than in 1-2 years. ALICE already has some pb-pb datasets on the portal (which is mentioned in their title and the description, but not tagged in any way).

[2016-03-04 13:18] katilp commented on #877
:+1:
If this delays the release, it is not a problem, we do not have a fixed date for the release.
(it will in any case delay a release, sooner or later, and the later it is done, the more it will delay :-) )

[2016-03-04 15:02] tiborsimko commented on #877
@pherterich Sure, if you edit the records, then please send a PR for this.  (Note that we have 208 records in the master branch, not only 50.)

[2016-03-07 15:19] tpmccauley commented on #921
The more I look at it the more I think that the current behavior is fine. The modal can easily be closed by clicking anywhere else on the screen. Also, the user will typically be scrolled down in order to center the display anyway. Finally, once can scroll down the page underneath an already-opened modal. This can be re-closed.

[2016-03-07 16:59] RaoOfPhysics commented on #921
I get the feeling that the pop-up is related to the event-display wrapper rather than the rest of the page, so my intuition is to expect it to appear within the confines of the event display rather than outside it.

[2016-03-08 03:52] tiborsimko commented on #921
I also think the current behaviour is acceptable.  The pop-up appears
always "within reach" for me.

Situation A, when the page starts at the top:

![2016-03-08-044515_1366x768_scrot](https://cloud.githubusercontent.com/assets/517546/13591453/0c551cae-e4e9-11e5-98d1-36eeecb33652.png)

Situation B, when the page is scrolled down:

![2016-03-08-044540_1366x768_scrot](https://cloud.githubusercontent.

[2016-03-08 06:50] RaoOfPhysics commented on #921
@tiborsimko: As I mentioned to @tpmccauley in person, I think that since the "Open" button appears not on the whole page but within the event-display canvas, the pop-up itself should limit itself to this canvas. But I have no strong feelings about it and I leave it to Tom to prioritise. :P

[2016-03-08 08:24] tpmccauley commented on #921
I think then this should be closed. If users complain we can revisit.

[2016-03-08 08:44] #921 closed

[2016-03-09 07:50] katilp commented on #905
@AnxhelaDani for the 2011 record corresponding to http://opendatadev.cern.ch/record/200:
Description stays the same
URL: https://github.com/katilp/OutreachExercise2011
How to use:
See the instructions in https://github.com/katilp/OutreachExercise2011
Use with:
... to be updated, the full datasets are in production
System details:
Use this code with the CMS Open Data VM environment
Software release

[2016-03-09 08:28] tiborsimko opened #934 "CMS: extract config files for Run2011A primary datasets from DAS"
Similarly to simulated datasets, extract generator config files for Run2011A primary datasets from DAS.

[2016-03-09 08:37] tiborsimko opened #935 "collections: CMS Configuration Files"
- [x] Introduce new collection CMS Configuration Files
- [x] Populate records with files taken from DAS.
- [x] Add pileup record and its configuration file.
- [x] Add trigger path information related configuration files.
- Later, link them to both primary and simulated datasets.

[2016-03-09 08:41] katilp commented on #935
Description text:
This collection contains the configuration files that were used in different steps of the data processing.

[2016-03-09 09:01] tiborsimko commented on #935
Title example: LHE + annotation + last part of filenames variable

[2016-03-09 09:14] katilp commented on #935
Can also add the pileup configuration in this collection and point to it from the file record
https://cmssdt.cern.ch/SDT/doxygen/CMSSW_5_3_12/doc/html/d0/d74/mix__2011__FinalDist__OOTPU__cfi_8py_source.html

[2016-03-09 10:23] AnxhelaDani commented on #905
@katilp I update the record. I have to update the record corresponding to http://opendatadev.cern.ch/record/101 as well.

[2016-03-09 16:13] tiborsimko commented on #935
@katilp Some of the configuration files (notably `7b0f1f8e4df3d63108f095f9fa57f554.configFile`) are too big to live in the description field.  I'll add them all as files then...

[2016-03-09 16:27] katilp commented on #935
OK, perfect

[2016-03-09 16:35] katilp commented on #935
Btw, we could also have the config files
https://github.com/cernopendata/opendata.cern.ch/issues/832#issuecomment-171018874
in this new configuration file collection and leave the trigger path information
(pieces from http://fwyzard.web.cern.ch/fwyzard/hlt/2011/summary) in the trigger information collection.

[2016-03-10 01:37] tiborsimko commented on #935
@katilp So far I called all the files `configFile.py`, following CouchDB, but this is not ideal. I wonder whether we can simply reuse `python_filename` from the CLI options that used to generate the file?  For example, from the following header:

[code]

we'd take `SUS-Summer11Leg-00004_1_cfg.py` as the significative configFile file name. Would that work?

[2016-03-10 01:56] tiborsimko commented on #935
Yes, indeed.  I'll call them in a similar manner, using file name in place of annotation, e.g. for `cdaq_physics_Run2011_5e32_v4.2_HLT_V8.py` the record title would be *"CMS HLT configuration file /cdaq/physics/Run2011/5e32/v4.2/HLT/V8"*. We can revise later.

[2016-03-10 09:51] RaoOfPhysics commented on #918
Reminder! :D

[2016-03-14 09:17] katilp commented on #820
@tiborsimko In the record field "How were these data generated?", together with the different steps (LHE, GEN, RECO, HLT), for those records having LHE, we can add the following:

To extract the exact LHE configuration, you can use the following script available in the CMS working environment (link to the getting started instructions)  on the CMS Open Data VM (link to the VM instructions):
dumpLHE

[2016-03-14 13:54] katilp commented on #848
@suenjedt Were the inspire and ccid fields provided by us (CMS) last time or was it something you were able to add?

[2016-03-14 13:56] pherterich commented on #848
@jalavik was that done by the script? I think so, but you might know better...

[2016-03-14 15:36] katilp commented on #848
Here is the new list from Gilles and comments:
[newauthorslist12011_2013.txt](https://github.com/cernopendata/opendata.cern.ch/files/172246/newauthorslist12011_2013.txt)

    the special characters are a bit funny (see Karancsi below
        ------------      display in unicode is working fine
    the affiliations are a bit short (unless there is a mapping somewhere?)
       ------------       i a

[2016-03-14 17:29] RaoOfPhysics commented on #918
@katilp, @pherterich, @suenjedt, @tiborsimko, @TimSmithCH, @tpmccauley: I've gone and added a brain-dump for chapters 1 and 2. Please feel free to edit as needed or simply add comments so that I can address them. It would be good if others can start putting down sentences or even fragments so that we can make some progress slowly but steadily. :D

[2016-03-15 11:02] katilp commented on #935
@tiborsimko For the config file names: the names like  SUS-Summer11Leg-00004_1_cfg.py  reflect our production system (i.e. Summer11Leg is the production round for these datasets). They are not very informative to external users, but on the other hand it does not necessarily matter as they will be connected to the appropriate record. So as a first approximation, I think it is OK. We can check on Th

[2016-03-15 11:48] #935 closed

[2016-03-15 12:01] tiborsimko commented on #832
Thanks, grabbed. Shall I upload them to the portal as well, either into public or into non-public collection, or shall we leave this for later?  In any case you may now remove the files from the box, if necessary.

[2016-03-15 12:37] katilp commented on #832
@tiborsimko Maybe the easiest solution (for the future) would be to upload them to the collection where they belong but somehow flag them invisible, if it is easy to do. There is nothing secret that needs to be hidden, though, it would be just not to confuse the users with files that do not belong to to any released data on the portal.

[2016-03-15 13:09] tiborsimko commented on #832
It happens that we use the collection concept to decide about visibility... I.e. if a record belongs to a public collection, then it's visible.  If we want it to remain hidden, then we put it into another (non-public) collection.

Yes, I understand.  On the other hand, having 12 more configuration files (among many) will probably not be seen so visible as to mislead people?  We could also add a sp

[2016-03-15 13:43] katilp commented on #832
OK, so let us just have them in the collection. In any case, I do not expect anyone to search through the config files in the collection, they will most likely get to them from the dataset record.

[2016-03-15 14:26] tpmccauley commented on #897
I would close this for the following reasons:
- It was with the older display which has since been replaced
- I was able to use the new display with IE11
- I was also able to use the older display with IE11 and was not able to replicate the problem

[2016-03-15 16:01] tiborsimko commented on #832
All done now, except for linking, which will be a separate issue once we have all datasets in.

[2016-03-15 16:01] #832 closed

[2016-03-15 16:37] tpmccauley commented on #728
@tiborsimko @pherterich

I describe the csv fields here:
https://github.com/cernopendata/opendata.cern.ch/blob/master/invenio_opendata/base/templates/visualise_histograms.html#L199

so that they show up when one hovers over the parameter button in the histogram application:
http://opendatadev.cern.ch/visualise/histograms/CMS

Is this sufficient?

[2016-03-15 17:11] tpmccauley opened #945 "Record for event display needs to be updated/replaced"
Since the new event display will replace the one in the portal described in this record
http://opendatadev.cern.ch/record/555
should this record be modified to use the information for the new display or should an entirely new record be created?

[2016-03-15 17:24] tpmccauley opened #946 "ALICE record appears in CMS open data instructions"
http://opendatadev.cern.ch/collection/CMS-Open-Data-Instructions

<img width="891" alt="screen shot 2016-03-15 at 5 24 25 pm" src="https://cloud.githubusercontent.com/assets/496503/13787189/d3cec016-ead2-11e5-8e60-51c855462539.png">

[2016-03-15 17:26] tpmccauley commented on #946
When one clicks on it ones goes to a CMS resource:
http://opendatadev.cern.ch/record/55

[2016-03-15 17:35] tpmccauley opened #947 "CMS record appears in LHCb learning resources"
http://opendatadev.cern.ch/collection/LHCb-Learning-Resources

<img width="866" alt="screen shot 2016-03-15 at 5 33 43 pm" src="https://cloud.githubusercontent.com/assets/496503/13787531/3c5e9344-ead4-11e5-8142-78c9a47626d7.png">

[2016-03-15 17:35] tpmccauley commented on #947
Like in #946 the link goes to what appears to be the correct record

[2016-03-15 18:14] tpmccauley commented on #946
It seems that there are two record with the same numbers. 55 is used for the ALICE Masterclasses record as well:

https://github.com/cernopendata/opendata.cern.ch/blob/master/invenio_opendata/testsuite/data/alice/alice-learning-resources.xml#L3

compare with:

https://github.com/cernopendata/opendata.cern.ch/blob/master/invenio_opendata/testsuite/data/cms/cms-open-data-instructions.xml#L3

[2016-03-15 18:20] tpmccauley commented on #947
56 is used by two records:

https://github.com/cernopendata/opendata.cern.ch/blob/master/invenio_opendata/testsuite/data/cms/cms-open-data-instructions.xml#L39

https://github.com/cernopendata/opendata.cern.ch/blob/master/invenio_opendata/testsuite/data/lhcb/lhcb-learning-resources.xml#L3

[2016-03-16 14:14] katilp opened #949 "Notes for the meeting 17/3"
Research page (http://opendatadev.cern.ch/research/CMS)

- ~~the 2010 and 2011 are still fixme, maybe still being updated?~~
  - *Tibor:* Already ticketised as #904

About CMS (http://opendatadev.cern.ch/about/CMS)

- ~~maybe just not updated yet, so these points may already have been adressed~~
- ~~could add a note on AODSIM in " in a format known as AOD or Analysis Object Data for collision data

[2016-03-16 14:31] RaoOfPhysics commented on #852
@katilp: Can you please let me know which version of Scientific Linux is needed for CMSSW 5.3.30?

[2016-03-16 14:34] katilp commented on #852
@RaoOfPhysics it is slc6. But we should use the version 5_3_32 in the instructions

[2016-03-16 14:36] RaoOfPhysics commented on #852
@katilp: Argh, why do I have it as `30` in my docs? Ok, will update. Thanks for the quick reply!

[2016-03-16 14:46] katilp commented on #852
@RaoOfPhysics Example output for the new version is:

16-Mar-2016 15:45:13 CET  Initiating request to open file root://eospublic.cern.ch//eos/opendata/cms/Run2011A/ElectronHad/AOD/12Oct2013-v1/20001/001F9231-F141-E311-8F76-003048F00942.root
16-Mar-2016 15:45:17 CET  Successfully opened file root://eospublic.cern.ch//eos/opendata/cms/Run2011A/ElectronHad/AOD/12Oct2013-v1/20001/001F9231-F141-E311-8F

[2016-03-16 14:50] katilp commented on #852
The previous output goes to the VM page  (I updated the comment...)

[2016-03-16 15:23] AnxhelaDani commented on #949
"How were these data selected" should have the texts from PDDefinition_edited.pdf + the list of possible HLT paths in these datasets I think @AnxhelaDani was working on that, so it may be already coming

@katilp I have updated the records with the text (see PR #925 )

I remember having discussed further text with @AnxhelaDani but I cannot find it know:

See #923

[2016-03-16 15:39] katilp commented on #852
Note also the validated runs instructions:

After, "Note also how only the validated runs are selected on lines:" should be:

import FWCore.ParameterSet.Config as cms
import FWCore.PythonUtilities.LumiList as LumiList
myLumis = LumiList.LumiList(filename='Cert_160404-180252_7TeV_ReRecoNov08_Collisions11_JSON.txt').getCMSSWString().split(',')
process.source.lumisToProcess = cms.untracked.VLuminosit

[2016-03-16 15:46] katilp commented on #852
And under "Analysing the reduced dataset"

change the github link to https://github.com/katilp/OutreachExercise2011

I have not tested the full timing so maybe change "can take several hours" to "can take time"

Change the path names 2010 -> 2011 accordingly

[2016-03-16 16:37] #820 closed

[2016-03-17 10:11] #811 closed

[2016-03-17 10:11] #888 closed

[2016-03-17 10:11] #898 closed

[2016-03-17 10:47] tiborsimko opened #951 "CMS: Validation Utilities"
Fix relation between legacy collection CMS Validated Runs and the new collection CMS Validation Utilities.

[2016-03-17 11:11] #951 closed

[2016-03-17 13:01] RaoOfPhysics commented on #851
As agreed with @katilp, we'll point to Validation Report for the 2010 VM, saying it may contain useful information and that a Validation Report for the 2011 VM will come in a few months.

[2016-03-17 13:11] RaoOfPhysics opened #953 "Add Validation Report for 2011 VM (when ready)"
See https://github.com/cernopendata/opendata.cern.ch/issues/851#issuecomment-197868957

[2016-03-17 13:35] katilp opened #954 "Link the new author list to the new records "CMS collaboration""
All new data records should link to the new author list, see  #848
Old 2010 records stay with http://opendatadev.cern.ch/record/450

[2016-03-17 13:48] RaoOfPhysics opened #955 "Links to CMS event display and histogramming tool are broken"
Quoting @katilp from #949:

- under "Data and analysis tools" the links to the event display and histograms are in format http://opendatadev.cern.ch/invenio_opendata/visualise_events and http://opendatadev.cern.ch/invenio_opendata/visualise_histo Shouldn't they be http://opendatadev.cern.ch/visualise/events/CMS and http://opendatadev.cern.ch/visualise/histograms/CMS

This is in http://opendatadev.

[2016-03-17 13:52] RaoOfPhysics commented on #905
Can close this, I believe.

[2016-03-17 13:52] #905 closed

[2016-03-17 14:25] tiborsimko opened #957 "finalise data for CMS Configuration Files"
http://opendatadev.cern.ch/record/3004

- Configuration file for FOO step for dataset GluGlu...
- (use `python_filename` for RECO and HLT)
- link via manual record IDs
- store CMS config_id in 035

[2016-03-17 14:43] tiborsimko opened #958 "finalise data for CMS Trigger Information"
http://opendatadev.cern.ch/record/2956

- Path HLT_ZeroBias (MinimumBias dataset)
- link /cdaq/physics/Run2011/5e32/v4.2/HLT/V2 (like configuration files)
- later, store information in a structured manner (first seen, run1, run2...)

[2016-03-17 18:48] katilp opened #959 "New record for intermediate pattuples 2011"
Two new records needed for 2011 version of
http://opendatadev.cern.ch/record/202 and http://opendatadev.cern.ch/record/201
Names:
Muons and electrons in PAT candidate format derived from /DoubleMu/Run2011A-12Oct2013-v1/AOD.  primary dataset
Muons and electrons in PAT candidate format derived from /DoubleElectron/Run2011A-12Oct2013-v1/AOD primary dataset
Software release: CMSSW_5_3_32

How were the

[2016-03-18 06:36] tiborsimko commented on #947
Nice catch! There seem to be a couple more records:

[code]

as you also observed in #946. I'll fix them.

[2016-03-18 06:58] #946 closed

[2016-03-18 06:58] #947 closed

[2016-03-18 07:02] tiborsimko commented on #945
I guess we could simply modify the existing record, since we don't store anything there, except for the pointer to GitHub. Could update the pointer, or even add more event display repositories there.  Otherwise a new record is also a possibility... @AnxhelaDani @pherterich @suenjedt

[2016-03-18 08:49] suenjedt commented on #848
@katilp  it occured to me during the night that you mentioned yesterday that a HEPnote will be submitted to arXiv. I presume that submission will have the same author list as the one discussed here?
If that is so, both should be following the authors xml "standard" and it would be good to double check the generation of the author xml with the "submitter" on the CMS side.
Or have I misunderstood th

[2016-03-18 08:50] tiborsimko opened #961 "formats: display title only for trigger information"
In HTML brief format, display title only for CMS Trigger Information records.

[2016-03-18 10:14] pherterich commented on #945
The new display will also run the examples from last year, non? So the old display will be not be visibly anywhere? Then I'd vote for updating the record and maybe keep the link for the older version in the record somehow just in case.

[2016-03-18 10:19] tpmccauley commented on #945
@pherterich yes, the new display works for 2010 files as well. I will update the record.

[2016-03-18 10:19] tiborsimko commented on #904
@AnxhelaDani Shall we use `964_0 $c` for these links?  If so, we'd need to have all records to have it...

[2016-03-18 10:24] tiborsimko commented on #876
... and the records were created in #938, #939, and subsequent ones.

[2016-03-18 10:24] #876 closed

[2016-03-18 10:32] pherterich commented on #666
@daslerr this is basically a versioning issue, would you like to follow up and keep an eye on it?

[2016-03-18 10:34] pherterich commented on #815
@suenjedt @daslerr this is going the way of the DOI assignment discussion you started, I'll pass this on to you.

[2016-03-18 13:08] tiborsimko commented on #897
LGTM. @suenjedt  please reopen if necessary.

[2016-03-18 13:08] #897 closed

[2016-03-18 13:10] tiborsimko commented on #728
The templates may change, so I think it's better to use the description in the record themselves, as mentioned in https://github.com/cernopendata/opendata.cern.ch/issues/728#issuecomment-71651197

Perhaps @AnxhelaDani can prepare a metadata update PR based on your template text?

[2016-03-18 14:19] #851 closed

[2016-03-18 14:19] #852 closed

[2016-03-18 14:23] #945 closed

[2016-03-18 14:36] #853 closed

[2016-03-18 18:45] katilp commented on #901
Will the files be attached to the record so that they can be downloaded if someone wants?

[2016-03-21 12:45] tiborsimko opened #965 "finalise data for CMS Simulated Datasets"
Taken from #949:
-  The order under "How were these data generated?" could be: LHE (plus dumpLHEHeader.py instructions), SIM, RECO, HLT
- As the title of the record, it would be nice to use the "nice" name from the SIM step but it is not always there and not always "nice" so we may end up using
"Simulated dataset Vector1MToZZTo4L_M-125p6_7TeV-JHUGenV3-pythia6 in AODSIM format for 2011 collision da

[2016-03-21 13:10] RaoOfPhysics opened #966 "Add "Condition Data" to Glossary"
See, for example: http://opendatadev.cern.ch/record/1800

[2016-03-21 13:49] RaoOfPhysics opened #968 "Augment Histograms help using Jupyter Notebooks"
Source: https://github.com/tpmccauley/dimuon-filter

Modification (for the R code): https://github.com/betatim/studyGroupJupyter/blob/master/IRkernel.ipynb (With some info on "Getting Started for Beginners".)

[2016-03-21 13:54] RaoOfPhysics opened #969 "Update CMS's "Getting Started" to point to Achim's di-muon examples"
- [x] For 2010 data: explicitly point to the example code
- [x] For 2011 data: point to code saying that it is optimised to run on 2010 data, but can be run on 2011 data by:
    1. Changing the CMSSW version (appropriate VM version)
    2. Changing one line of code
    3. Changing the input files, in the same file as the one in ii.

The example record should also include this caveat that the code

[2016-03-21 13:59] katilp commented on #969
- Need also to mention that one has to use the correct VM (together with i.)
- for ii. : PhysicsTools.PythonAnalysis.LumiList -> FWCore.PythonUtilities.LumiList (the 4th line of demoanalyzer_cfg.py)

[2016-03-21 14:08] #926 closed

[2016-03-21 14:12] tiborsimko commented on #926
The record is now visible on DEV:

- http://opendatadev.cern.ch/record/560

[2016-03-21 14:49] RaoOfPhysics commented on #969
For reference: http://opendatadev.cern.ch/record/560

[2016-03-22 08:44] AnxhelaDani commented on #823
@sextonkennedy @katilp have you approved a license for the CMSSW?

[2016-03-22 08:52] tiborsimko opened #971 "UI: unclickable links"
After the PR #944 was merged, the links in the page header (and elsewhere) are not clickable.  The console says things like:

[code]

[2016-03-22 08:59] #966 closed

[2016-03-22 11:07] #906 closed

[2016-03-22 12:47] #971 closed

[2016-03-22 13:19] tiborsimko commented on #958
- use capital numbers for table heading in record 1700
- amend search to use record IDs in record 1700

[2016-03-22 13:55] katilp opened #974 "Link to the wrong VM in http://opendatadev.cern.ch/VM/CMS/2011"
The link to the VM should be
http://opendatadev.cern.ch/record/252
and the link name should be "CMS VM Image, for 2011 CMS open data"
(now:  "CMS Open Data (latest)")

The link name can be changed to "CMS VM Image, for 2010 CMS open data"
in http://opendatadev.cern.ch/VM/CMS/2010 as well

[2016-03-22 14:02] #957 closed

[2016-03-22 14:55] tiborsimko opened #977 "ispy: loading files is broken"
@tpmccauley Can you please have a look at an apparently broken event file loading in the standalone event previewer?  I have just updated the DEV site with all the latest version and I get:

![2016-03-22-155246_1366x768_scrot](https://cloud.githubusercontent.com/assets/517546/13955815/65558ccc-f046-11e5-9098-7c966ae20742.png)

[2016-03-22 15:43] sextonkennedy commented on #823
A consensus is building that we should use an Apache2 license, the work that needs to be done is to make sure that externally developed software has not been imported into CMSSW, rather that it is in our external git clone area so that those products can retain their original licenses.  -Liz

[2016-03-22 17:20] tpmccauley opened #979 "ispy: jquery error in previewer"
The event file loads and one can move through the event but there seems to be an error related to jquery in the page (see screenshot) that prevents rendering:
<img width="880" alt="screen shot 2016-03-22 at 5 15 36 pm" src="https://cloud.githubusercontent.com/assets/496503/13960919/292745a4-f052-11e5-8d3e-8184b53ca894.png">

[2016-03-22 17:22] tiborsimko commented on #977
Fixed in `invenio-previewer-ispy` and deployed on DEV.

[2016-03-22 17:22] #977 closed

[2016-03-22 18:19] tpmccauley opened #980 "Stand-alone event display: extra i elements of class fa-gear"
For some reason there appear to be spurious gears (as i elements) on the page
http://opendatadev.cern.ch/visualise/events/CMS:
<img width="487" alt="screen shot 2016-03-22 at 6 16 15 pm" src="https://cloud.githubusercontent.com/assets/496503/13962788/799a378c-f05a-11e5-8cbd-3203f27a25af.png">

[2016-03-22 18:27] katilp commented on #980
Flower power? :-)

[2016-03-22 18:31] #958 closed

[2016-03-22 20:50] katilp commented on #832
The remaining configs (for heavy ion runs) are in https://cernbox.cern.ch/index.php/s/FpnvP56AxSUR9jQ

[2016-03-23 08:04] katilp commented on #848
We need a record for this (similar to http://opendatadev.cern.ch/record/450)
Then both author list records should also have the author list as pdf attached (update also to the old list)
@AnxhelaDani ?

[2016-03-23 08:22] tiborsimko opened #982 "CMS: cdaq trigger record description"
For trigger information records such as `/cdaq/physics/Run2011/5e32/v4.2/HLT/V8`, add to the description the corresponding TOC line with Run number and Software version taken from record 1700.

[2016-03-23 08:48] tiborsimko commented on #982
@katilp In addition to yesterday's files, there are a few cdaq physics versions missing:

[code]

[2016-03-23 09:01] #974 closed

[2016-03-23 09:06] katilp commented on #982
The missing cdaq/physics (4 files) are now in https://cernbox.cern.ch/index.php/s/Luk6PoPoTpddwff

[2016-03-23 09:23] katilp commented on #982
https://cernbox.cern.ch/index.php/s/cVAjgFqgCc1dXTo

[2016-03-23 09:39] pherterich commented on #848
@jalavik can you give the latest file a look and just let @AnxhelaDani know what comes out of it so she has something to start working with? Thanks!
@tiborsimko is the PDF something you can easily create or is that something we should play around with on our side?

[2016-03-23 10:19] #904 closed

[2016-03-23 10:21] suenjedt commented on #848
Thanks all!

[2016-03-23 11:07] tiborsimko commented on #965
Order for each step:
- Release:
- Conditions:
- Configuration file:
- Output dataset:

[2016-03-23 11:42] jalavik commented on #848
Here is the authorxml initial conversion from the last text file. I merged the author information from the 2010 list and updated affiliations according to new file. Authors not found in the 2010 list was added at the bottom.

Please verify that the number of authors is correct etc.

[authorlist2011_2013_marcxml.xml.zip](https://github.com/cernopendata/opendata.cern.ch/files/185875/authorlist2011_2

[2016-03-23 11:47] tpmccauley opened #993 "Font issues with stand-alone CMS event display"
In the stand-alone event display there are two different fonts, one inherited from invenio for the main application and one inherited from font-awesome for the modals. We should use just one.

[2016-03-23 13:32] tpmccauley commented on #980
I must admit to not quite understanding how this proliferated from an un-closed tag but I assume some template black magic. The problem doesn't appear anymore for me on my local install but best to check on dev.

[2016-03-23 13:40] #965 closed

[2016-03-23 13:51] AnxhelaDani commented on #848
Thank you @jalavik !

[2016-03-23 14:41] tiborsimko opened #999 "data: better linking between datasets and trigger configurations"
In #965 and earlier tickets, the trigger path records, the HLT configuration files, and the simulated datasets were linked by a background minting of CMS DAS and ConfDB.  The created linking used existing data model fields where CDATA with HTML links were stored.
This is not ideal for intelligent search on these values.

A new data model should be designed where linking between datasets, generator

[2016-03-23 16:10] katilp commented on #927
The text under "How can you use these data?" in this record can be the same as in http://opendatadev.cern.ch/record/560 (there were some modifications and clarifications done by @tiborsimko , my apologies to @AnxhelaDani that I forgot to say that)

[2016-03-23 16:21] katilp opened #1006 "Remove the statement "For the first release, no simulated Monte Carlo sets are provided""
Last sentence in the research introduction page:
http://opendatadev.cern.ch/research/CMS
and last sentence in the CMS box in
http://opendatadev.cern.ch/research

[2016-03-23 16:49] #980 closed

[2016-03-23 16:52] #993 closed

[2016-03-23 17:06] tiborsimko commented on #1006
Note that the text was amended by @RaoOfPhysics in a57573043c18db18d130887d1835b1e6d3955ad9, the QA shows the new text already, but it still needs to be changed on DEV. I'll take care of updating DEV.

[2016-03-23 17:17] tiborsimko commented on #1006
Done.

[2016-03-23 17:17] #1006 closed

[2016-03-24 07:00] katilp commented on #817
For Particle Flow algorithm (which can be added as a last paragraph, or a general note, it is a generic algorithm which gives a list of particles ) you can add a link to this note.:
"here are a few public notes on the PF, in particular PFT-09-001, which
explains the concepts.
PFT10-00N (N = 1,2,3) are related to the commissioning in 2010 but are
probably less adapted for general use."

[2016-03-24 07:40] RaoOfPhysics opened #1007 "Bug in Physics Objects page"
When I right-click on links in the "Contents" section, say the `JETMET` one (see below), the text disappears from the box and only re-appears when I hover over it or click elsewhere on the page.

![physicsobjectsbug](https://cloud.githubusercontent.com/assets/7623019/14011100/90b96458-f193-11e5-9a71-b61061fa8041.gif)

[2016-03-24 07:41] tiborsimko opened #1008 "UI: line breaks before links"
Is there a good reason why the style imposes a visual line break before HTML links?  This makes for some unpretty display e.g. in CMS trigger path records such as http://opendatadev.cern.ch/record/2965:

![2016-03-24-083615_2560x1440_scrot](https://cloud.githubusercontent.com/assets/517546/14011107/09b30230-f19c-11e5-860f-cfd2c5848d49.png)

[2016-03-24 07:46] RaoOfPhysics opened #1009 "Anchors to physics objects not retained in URL and UI bug in visuals"
1. When I'm on the [CMS Physics Objects page](http://opendatadev.cern.ch/about/CMS-Physics-Objects), clicking on the Contents buttons takes me to the relevant section but does not retain the anchor in the URL. i.e., the URL still says `http://opendatadev.cern.ch/about/CMS-Physics-Objects`. This needs to be changed so that people are shown the relevant URL: e.g. `http://opendatadev.cern.ch/about/CM

[2016-03-24 08:09] RaoOfPhysics commented on #1009
The same goes for the year-based anchors at the top of each list of physics objects (i.e. `2010` and `2011`).

[2016-03-24 08:11] RaoOfPhysics opened #1010 ""Things to Remember" not expanding in 2011 Physics Objects"
Tested on Firefox and Chromium:

![physicsobjectsbug2](https://cloud.githubusercontent.com/assets/7623019/14011619/e132982e-f197-11e5-96bb-1dd9ea2f6946.gif)

[2016-03-24 08:12] RaoOfPhysics commented on #1010
If @pamfilos or @tiborsimko tell me what code I need to change on `about_CMS_physics_objects_2011.html`, I can do so, since I'm already working on the text here. It would also be preferable so that any chances you implement don't break my work. :)

[2016-03-24 13:29] tiborsimko opened #1014 "CMS: populate HLT trigger path links in Run2011A primary datasets"
Populate primary dataset records with links to HLT trigger path records:

- take information from https://fwyzard.web.cern.ch/fwyzard/hlt/2011/dataset
- in "How were these data selected", add the possible HLT trigger paths in this dataset are
- create links to HLT trigger path records

Live manual example at  http://opendatadev.cern.ch/record/16

[2016-03-24 13:45] pamfilos commented on #1010
@RaoOfPhysics you need to update the anchors of the "Things to remember", since parts of 2010 and 2011 still have the same "id" and confuses the library

For example in 'about_CMS_physics_objects_2010.html' (lines 69-70) change "data-target" and the respective "id" to have a unique name:

[code]

to

[code]

[2016-03-24 13:51] katilp opened #1015 "Add a mention about the use of Global tag in Getting started"
We should mention the use of Global tag in Getting started.

This can be done together with #969, we need to see how to place this best in the text

"Some additional data are read from the CMS condition database when the job is running, for example, the constants for jet energy corrections. See the example in [pattuples2011] how to connect to the the condition database on cvfms.
Note that the firs

[2016-03-24 13:57] katilp opened #1017 "Mention pile-up for the simulated data"
We could mention the pile-up in "How were these data generated"
Probably a generic statement after the processing step where the pile-up events were
added would be best.

Note that this was mentioned in
https://github.com/cernopendata/opendata.cern.ch/issues/820#issuecomment-157777437
but we probably do not need a separate field for it.

[2016-03-24 14:03] #955 closed

[2016-03-24 14:03] #1008 closed

[2016-03-24 15:13] katilp opened #1018 "Year tabs for CMS validation utilities do not work"
In http://opendatadev.cern.ch/research/CMS view the year tabs under "CMS validation utilities" do not work.

Both give "Your search did not match any records. Please try again."

[2016-03-24 15:36] tiborsimko commented on #1017
We already have the pileup information in the record, living in the field 770. But we don't display it.

- [ ] check metadata model (`opendata.cfg`)
- [ ] amend display templates

[2016-03-24 17:03] RaoOfPhysics commented on #1010
As discussed on Gitter, please go ahead, @pamfilos. :) Thanks!

[2016-03-29 15:24] suenjedt commented on #918
I extended or started a few parts (i.e. chapter 1 and 3).

[2016-03-30 14:59] katilp commented on #918
Sorry for being a dummy :-( but can someone tell me in very concrete terms where should I click to edit e.g. in https://www.authorea.com/users/8205/articles/100564/master/file/05_impact.md

[2016-03-31 10:21] katilp commented on #918
Having found the superpower to edit :-)  I have now added some text in
https://www.authorea.com/users/8205/articles/100564/master/file/05_impact.md

[2016-04-04 08:50] tiborsimko commented on #934
- extract smallest and highest run number and add them to description
- amend "recommended software release for analysis" part
- extract RECO and CMSSW as for simulated datasets
- no need to crawl to parent (RAW), enough to process AOD
- related: addition of HLT trigger path links from https://github.com/cernopendata/opendata.cern.ch/issues/1014

[2016-04-04 08:57] tiborsimko opened #1023 "CMS: upload IFCA PAT tuple root files"
- Mu files wil go under `DoubleMu`
- Electron files go under `DoubleElectron`
- attach to corresponding MARC record

[2016-04-04 09:16] tiborsimko commented on #907
- create at least 7 records for 7 files
- but ideally parse HTML files and populate CMS Trigger Information with independent records similarly to HLT path information

[2016-04-04 13:46] #1014 closed

[2016-04-05 14:00] RaoOfPhysics opened #1028 ""Run" now linking to glossary even when not referring to "physics runs""
See, e.g.: http://opendatadev.cern.ch/getting-started/CMS/2010

<img width="465" alt="firefox - - screen shot 5 apr 2016 14 49 17" src="https://cloud.githubusercontent.com/assets/7623019/14284324/54a97094-fb47-11e5-8a83-ca0af080d8ab.png">

The verb "to run" should not point to the glossary in any conjugated form.

(Similar to #821. Thanks, @tiborsimko!)

[2016-04-05 14:35] #1023 closed

[2016-04-05 14:37] tpmccauley commented on #979
It looks like the script that appends #push to #wrap isn't needed since it's already in the html template:
https://github.com/cernopendata/opendata.cern.ch/blob/master/invenio_opendata/base/templates/page.html#L60

[2016-04-05 15:29] pamfilos commented on #1028
@RaoOfPhysics , @tiborsimko IMHO it is better to change the term field in the "glossary.json"

from
["Run","RunA","RunB","RunC","RunD"]
to
["Physics Run","RunA","RunB","RunC","RunD", "Run2010A","Run2010B","Run2010C","Run2010D", ...],

since after checking, almost all of the "run" terms that get glossary featured aren't on the "physics run" context and the "Run2010A","Run2010B","Run2010C","Run2010D

[2016-04-05 18:48] RaoOfPhysics commented on #1028
@pamfilos: I think you are right, it's silly to have constantly "escape" a commonly occurring word because a glossary term has a similar name. I'll take up your suggestion and change the glossary file!

[2016-04-06 10:07] #1007 closed

[2016-04-06 10:07] #1009 closed

[2016-04-06 10:07] #1010 closed

[2016-04-08 09:29] tiborsimko commented on #954
- author collaboration field 110
- introduce new subfield $w with record ID of the author record

[2016-04-08 09:36] tiborsimko commented on #979
Example where this is not working:

- http://opendatadev.cern.ch/record/632

[2016-04-08 11:43] tiborsimko commented on #779
@AnxhelaDani This issue is relevant for your PR #1024.  I'll re-run the comparison scripts and update the latest status.

[2016-04-08 11:47] tiborsimko commented on #779
Here is the tag usage overview on latest QA.  (that does not run several last commits WRT field changes, such as run period)

[code]

[2016-04-08 12:00] tiborsimko commented on #779
... and here are the tags that should be especially verified:

- 005__
- 035__9
- 035__a
- 037__a
- 041__a
- 269__a
- 269__b
- 269__c
- 300__a
- 516__u
- 516__y
- 538__u
- 567__u
- 593__a
- 593__b
- 6531_a
- 653__a
- 655_79
- 655_7a
- 6931_a
- 6931_e
- 770__a
- 770__w
- 787__u
- 787__y
- 942__r
- 964_0c

Perhaps some of them are typos and the data should be corrected, but for most of them they are

[2016-04-08 15:05] suenjedt opened #1035 "Communication/Outreach for next release"
- Release in week of April 18th?
- CERN comms [Achintya and possibly Sünje]: social media, whatelse?
- CMS article [Achintya]: among others, i.e. Achim's/CMS reproducibility example and new MC samples in release
- Symmetry [Sünje]: contact Katie, the Editor in Chief
- AMA [Achintya, Sünje]: understand who wants to join (and who does not want to), find a date (10 days after the release?; Achintya l

[2016-04-08 15:12] tiborsimko commented on #1035
We may want to include Melissa for the IT outreach.  Perhaps a  Science Node piece?

[2016-04-08 15:37] AnxhelaDani commented on #779
6931_e

According to local field in Invenio indicators should be both undefined, I'll change the 56 records to `693__ a` and `693__e`

I won't include it as we decided `964_0c` field for Run period

[2016-04-11 11:50] katilp opened #1037 "Remove Trigger information, Condition data and Configuration file collections from Education view"
They should not appear in
http://opendatadev.cern.ch/education/CMS

[2016-04-11 12:11] katilp opened #1038 "Add Issues and limitations to all config files"
We could add the following statement in all configuration files

"This file describes the exact setup for the CMS software executable, which was used in this step of data processing. It is provided only for information purposes. Whereas all necessary components (input data, condition data, software version) required to analyse the public primary datasets are provided in this portal, they are not n

[2016-04-11 12:17] RaoOfPhysics commented on #1038
@katilp, how about:

Unless I misunderstood the last clause…

[2016-04-11 12:27] katilp commented on #1038
Nice, thanks!
The point of the last clause is that we do not provide all necessary versions of condition data and software (and the various intermediate RAW, SIM, RECO.... files). I.e. in a record referring to one of these condition file we do indicate what are the necessary condition data (Global tag) and software (CMSSW)  but we do not give them:

<img width="764" alt="mc" src="https://cloud.git

[2016-04-11 12:28] RaoOfPhysics commented on #1038
Ok, so I think based on that clarification the edit I provided makes sense, right?

[2016-04-11 12:38] katilp commented on #1038
right... to avoid the impression that one could possibly reproduce this with the open data (which is not the case), I would not say "will not necessarily help reproduce", but maybe something like: are not exact versions needed to...
The "exact versions" refer then to condition data and software, which are versioned, for the input data this is not about the versions but rather the type of data...

[2016-04-11 12:58] katilp opened #1039 "Description of the /cdaq/physics/Run2011/... files"
For the maximum of clarity, for all /cdaq/physics/Run2011 files, we could have
"The configuration file used in data taking and HLT data processing step." to distinguish
between the simulated HLT for which the description
"The configuration file used in HLT data processing step." remains valid

[2016-04-11 14:06] RaoOfPhysics commented on #1038
How about:

?

[2016-04-11 15:04] katilp commented on #1038
Perfect! Thanks!

[2016-04-12 09:49] #1039 closed

[2016-04-12 09:56] tiborsimko commented on #959
Done.

[2016-04-12 09:56] #959 closed

[2016-04-12 09:56] tiborsimko commented on #961
Not necessary after the update of brief record display formatting...

[2016-04-12 09:56] #961 closed

[2016-04-12 09:59] tiborsimko commented on #927
Done.

[2016-04-12 09:59] #927 closed

[2016-04-12 10:00] tiborsimko commented on #911
Done.

[2016-04-12 10:00] #911 closed

[2016-04-12 10:05] tiborsimko commented on #871
Fixed in the meantime.

[2016-04-12 10:05] #871 closed

[2016-04-12 10:07] #850 closed

[2016-04-12 10:09] tiborsimko commented on #842
The UI works acceptably when pressing "more"; better facet UI to come via Invenio 3.

[2016-04-12 10:09] #842 closed

[2016-04-12 12:05] pamfilos commented on #979
@tpmccauley As I can see, the JS warning for "wrap" comes from the previewer module because the "jQuery" lib isn't loaded yet (will fix..but this doesn't seem to be the issue).

If you check http://opendatadev.cern.ch/record/632/preview?filename=TauPlusX.ig , the event doesn't get rendered. But when you resize the window, the canvas is rendering and then gets non-responsive till you resize again.

[2016-04-12 12:49] tiborsimko commented on #979
I see the resizing issue too, and the console says `TypeError: e is null` in `previewer_ispy.js`.

[2016-04-12 12:54] tpmccauley commented on #979
I see this as well. Hmm. I have my suspicions. Will look into it. Thanks.

[2016-04-12 14:22] tpmccauley commented on #979
I think I get the problem. Since the load file menu does not exist in the previewer a getElementById returns a null. In the stand-alone display this is not a problem. It looks like a fix in invenio-ispy-previewer. Will do so.

[2016-04-12 14:43] tpmccauley commented on #979
I also notice that I am missing the info dialogs. Will add.

[2016-04-12 14:57] katilp commented on #1017
A similar page than that requested in #864 could be created and linked from each MC record,
with the text after the HLT configuration file:
"To make these simulated data comparable with the collision data, pile-up events are added to the simulated event at the HLT step"
"pile-up events" can then link to this new information page which we can fill from a CMS twiki

[2016-04-12 15:35] tiborsimko commented on #979
Thanks, I updated DEV and the error is gone indeed :smile:

[2016-04-12 15:35] #979 closed

[2016-04-12 15:46] tpmccauley commented on #979
@tiborsimko great. Thanks. One question: the version in the previewer bundles is v21 yet the version indicated in the information dialog is v19?

https://github.com/inveniosoftware/invenio-previewer-ispy/blob/master/invenio_previewer_ispy/bundles.py#L77

https://github.com/cms-outreach/ispy-webgl/blob/0.9.4-invenio.21/js/config.js#L3

[2016-04-12 15:50] tiborsimko commented on #979
Ah, yes, I had not regenerated the `bower.json` file.  Fixed now.

[2016-04-12 16:17] #1028 closed

[2016-04-14 15:34] #779 closed

[2016-04-15 10:45] #934 closed

[2016-04-15 11:06] tiborsimko commented on #1018
Now that the run period information has been added to the records, the links work, so I'm closing this issue.  (although we may want to check whether all record have it present, otherwise they would not appear...)

[2016-04-15 11:06] #1018 closed

[2016-04-15 12:47] tiborsimko commented on #934
Comments:

- The collision data were assigned to different RAW datasets using the following _HLT configuration_. (link to record 1700)

[2016-04-15 13:59] RaoOfPhysics opened #1063 "Fix language for di-muon example's record"
The English needs a tiny bit of clean-up. Assigning to myself.

- [x] Fix language on record 560
    - [x] Also add appropriate caveats as mentioned in #969, i.e.: "The example record should also include this caveat that the code can be run on 2011 data but hasn't been optimised for it."
- [x] Fix language on record 460

[2016-04-15 14:01] tiborsimko commented on #1063
Here is how to find out where a certain record (e.g. record ID 560) is located in sources:

[code]

[2016-04-15 14:18] katilp commented on #1063
@RaoOfPhysics note that the same text appears also in http://opendatadev.cern.ch/record/460

[2016-04-15 15:01] tiborsimko commented on #1038
data-processing step

[2016-04-15 15:48] tiborsimko commented on #1038
FWIW with @katilp we reformulated the text to read:

[code]

trying to be clearer to casual random visitors...

[2016-04-15 16:02] #1038 closed

[2016-04-16 09:55] RaoOfPhysics commented on #968
@tiborsimko: Not sure I can manage this before the release, so let's defer it? Unless, @tpmccauley has the time and willingness to tackle? :P

[2016-04-18 12:54] katilp commented on #815
@suenjedt The original problem has been solved, can I close this or is there some further things to finalize in the discussion above?

[2016-04-18 12:54] tiborsimko commented on #815
I'm attaching the contextualisation scripts...

[2016-04-18 13:24] #819 closed

[2016-04-18 13:33] #815 closed

[2016-04-18 13:37] RaoOfPhysics opened #1074 "Edit About CMS page"
Under "Downloadable datasets", clarify that primary datasets also include simulated data.

[2016-04-18 14:18] #901 closed

[2016-04-18 14:38] tiborsimko commented on #557
OK, I added the two plots.  We can improve the display later, that may be for another issue...

[2016-04-18 14:42] #557 closed

[2016-04-18 14:49] #633 closed

[2016-04-18 14:53] tiborsimko commented on #949
All items were addressed in linked issues.

[2016-04-18 14:53] #949 closed

[2016-04-18 15:22] #916 closed

[2016-04-18 15:44] katilp commented on #864
@pamfilos We had already decided the name :-) see above https://github.com/cernopendata/opendata.cern.ch/issues/864#issuecomment-178673654
For the other in #1017 e.g.  `/about/CMS-Pileup-Simulation`

[2016-04-18 15:53] RaoOfPhysics commented on #864
@katilp: Indeed! :D

[2016-04-19 06:27] katilp commented on #1017
The information that should go in this page is now in https://twiki.cern.ch/twiki/bin/view/CMSPublic/PublicPileupInfo
@RaoOfPhysics can you put that information on the page that @pamfilos will create.
That would then be linked from all MC records.

[2016-04-19 07:58] RaoOfPhysics commented on #864
@pamfilos: Please don't close this issue with your commit. I will still need to add content to it. :)

[2016-04-19 11:52] AnxhelaDani commented on #954
@katilp I think you can close this issue, records are linked with the proper author list.

[2016-04-19 12:03] katilp commented on #954
OK, this is not in opendatadev yet, but is it coming?

[2016-04-20 06:31] #886 closed

[2016-04-20 07:19] tiborsimko commented on #954
@katilp Yes, the template link change was implemented in 3213e0d169827c62b2807bb1f33d5e578a50ed2f and everything has now been deployed on DEV.

[2016-04-20 07:19] #954 closed

[2016-04-20 07:49] #969 closed

[2016-04-20 07:49] #1015 closed

[2016-04-20 08:00] #1063 closed

[2016-04-20 08:11] tiborsimko commented on #1074
Please see my comment https://github.com/cernopendata/opendata.cern.ch/pull/1075#discussion_r60365574 that this could actually be somewhat confusing WRT how we name the collections...

[2016-04-20 08:21] #1037 closed

[2016-04-20 14:01] #907 closed

[2016-04-20 14:47] #1074 closed

[2016-04-20 14:49] katilp opened #1090 "Reference to the dataset names document"
Under Description in each simulated dataset.

See the description of the simulated dataset names in: About CMS simulated dataset names

[2016-04-20 15:06] #1017 closed

[2016-04-20 15:13] tiborsimko commented on #865
The search UI and facets will be addressed in Invenio 3 based overlay.

[2016-04-20 16:00] AnxhelaDani opened #1094 "records template should be updated according to the additional fields on opendata.cfg"
- `520__u` & `520__w`
- `538__u`
- `770__i`
- `786__a` & `786__w`

[2016-04-20 16:05] #1090 closed

[2016-04-21 05:39] katilp commented on #663
I think this can be closed, for me it is OK, please check and re-open if needed.

[2016-04-21 05:39] #663 closed

[2016-04-21 08:35] tiborsimko commented on #1094
It would be good to provide more details, e.g. which field should be displayed where on the detailed record page and for which collections...

[2016-04-21 09:19] AnxhelaDani commented on #1094
* `520__u` should be displayed on record 56->Validation report for CERN VM images, after the text of `520__a` - collection:CMS Open Data Instructions
* `520__w` should be displayed on both 2011 condition data records after the text of `520__a` - collection:CMS Condition Data
* According to https://github.com/cernopendata/opendata.cern.ch/issues/1017#issuecomment-208948604 the text of `770__i` shou

[2016-04-21 10:02] #982 closed

[2016-04-21 10:06] tiborsimko commented on #982
@katilp All deployed on DEV, please check:

- TOC http://opendatadev.cern.ch/record/1700
- example 1 http://opendatadev.cern.ch/record/3548
- example 2 http://opendatadev.cern.ch/record/3552

[2016-04-21 10:49] katilp commented on #982
Ok, perfect!
________________________________________
From: Tibor Simko [notifications@github.com]
Sent: 21 April 2016 12:06
To: cernopendata/opendata.cern.ch
Cc: Kati Lassila-Perini; Mention
Subject: Re: [cernopendata/opendata.cern.ch] CMS: cdaq trigger record description (#982)

@katilp<https://github.com/katilp> All deployed on DEV, please check:

  *   TOC http://opendatadev.cern.ch/record/170

[2016-04-21 14:45] RaoOfPhysics commented on #1035
@suenjedt, @tiborsimko: I forget who was supposed to take action on the Science Node piece. Was it me? :(

[2016-04-21 14:47] suenjedt commented on #1035
I thought it was Tibor. Happy to chime in though.

[2016-04-21 15:16] tiborsimko commented on #1035
@RaoOfPhysics I contacted Melissa who replied that Andrew was already in the loop with you (e.g. via your comm meeting), so I did not do anything particular afterwards...

[2016-04-21 15:27] RaoOfPhysics commented on #1035
@tiborsimko: Oh! Ok, I will write to Andrew, then.

[2016-04-21 17:00] RaoOfPhysics opened #1100 "Instructions: Add "taus" to 2011 Physics Objects"

[2016-04-21 17:12] RaoOfPhysics opened #1101 "Add News item on the 2011 CMS Open Data release"

[2016-04-21 18:34] RaoOfPhysics commented on #1100
Received the instructions, so adding this item back to #817! :D

[2016-04-21 18:34] #1100 closed

[2016-04-21 20:14] #817 closed

[2016-04-22 05:27] katilp commented on #848
@pamfilos For the pdf, margins to the top and the bottom of the pages would be needed. Thanks!

[2016-04-22 07:57] #848 closed

[2016-04-22 08:18] katilp commented on #864
@RaoOfPhysics @tiborsimko A correction: now on the page:
t’s the part of the dataset name before the second 'slash', i.e. for the dataset

/GluGluToHToZZTo4L_M-550_7TeV-minloHJJ-pythia6-tauola/Summer11LegDR-PU_S13_START53_LV6-v1/AODSIM

the dataset name is

DiPhotonBorn_Pt10to25.

Change DiPhotonBorn_Pt10to25 -> GluGluToHToZZTo4L_M-550_7TeV-minloHJJ-pythia6-tauola
otherwise this make little sense.

[2016-04-22 08:31] tiborsimko commented on #864
@RaoOfPhysics @pamfilos Would you have time to take care of this template change?  I'm busy doing final QA updates and then I'll be updating the production nodes and moving the database...

[2016-04-22 08:44] RaoOfPhysics commented on #864
@katilp: Terribly sorry, I missed the second edit. On it now.

[2016-04-22 12:22] #864 closed

[2016-04-22 12:22] #1101 closed

[2016-04-22 12:30] tpmccauley opened #1109 "File name error in stand-alone event display"
There is always something.

If one tries to load the first file from 2011A "BTau" then 404 error. The file should actually be "BTag" (record 614). Others are fine though so not catastrophic.

[2016-04-22 12:33] tiborsimko commented on #1109
@tpmccauley Can you please make a PR?

[2016-05-02 14:49] artfisica commented on #946
Dear OpenData Team,

In order to start the integration of the new ATLAS data&tools release,
I have been following the instructions in: https://github.com/cernopendata/opendata.cern.ch/blob/master/DEVELOPING.rst#detailed-installation-instructions

And everything looks fine, but at the end when the web container is running, here some of the last lines:

web_1     |  * Running on http://0.0.0.0:28080

[2016-05-02 21:39] artfisica commented on #946
Dear All,

excuse me for the self-reply but I went deeper in the docker documentation to check the status of the containers and I do find the “ opendatacernch_web” in “127.0.0.1:28080” but for some reason I cannot see it in my browser.

And also using the 192.168.99.100 of the VM as explained in: https://docs.docker.com/engine/installation/mac/#access-container-ports

                        ##

[2016-05-09 09:05] tiborsimko opened #1113 "CMS: update 2011 VM image to `CMS-Open-Data-1.2.0.ova`"
Update CMS VM 2011 image to the latest `CMS-Open-Data-1.2.0.ova` version sent by Adam.

[2016-05-09 16:20] katilp commented on #1113
Was it rc2 earlier?
________________________________________
From: Tibor Simko [notifications@github.com]
Sent: 09 May 2016 11:05
To: cernopendata/opendata.cern.ch
Subject: [cernopendata/opendata.cern.ch] CMS: update 2011 VM image to `CMS-Open-Data-1.2.0.ova` (#1113)

Update CMS VM 2011 image to the latest CMS-Open-Data-1.2.0.ova version sent by Adam.

�
You are receiving this because you are subs

[2016-05-10 09:04] tiborsimko commented on #1113
It was `rc3` earlier.  Adam has produced a new OVA using the latest CernVM release that includes the fix for that logwatch issue.  I tested the new OVA with the demo analyser example and everything seems good.

[2016-05-13 09:34] katilp opened #1116 "Correction to record 560"
Please replace the file demoanalyzer_cfg.py in http://opendata.cern.ch/record/560 with
/afs/desy.de/public/CMS/opendata/MUO-10-004demo/demoanalyzer_cfg.py

Change Demoanalyzer.cc to DemoAnalyzer.cc
(twice) in the text of the user instructions. These two changes go also to the record 460 (but not the file update).

@tiborsimko @suenjedt the original one is buggy, so should not be displayed.
Can we

[2016-05-19 07:12] suenjedt commented on #1116
Had missed this one. Given it is a replacement to get rid off a bug. It should simply be replaced, I think.

[2016-05-23 03:39] katilp commented on #1116
This is important to AMA, can it be done before?

[2016-05-23 09:16] AnxhelaDani commented on #1116
@tiborsimko I change the text on the two records, you have only to replace the file ```demoanalyzer_cfg.py```

[2016-05-26 11:42] #1113 closed

[2016-05-26 12:53] #1116 closed

[2016-06-03 18:17] suenjedt opened #1121 "Disclaimer text in config files/records: remove "doi-part" for now"
for example: http://opendata.cern.ch/record/3535

[2016-06-06 12:41] #1035 closed

[2016-06-14 06:41] AnxhelaDani opened #1122 "CMS: Update of record 460"
Update of record 460(http://opendata.cern.ch/record/460) according to detailed instructions from Achim and @katilp

[2016-06-14 06:52] AnxhelaDani opened #1123 "CMS: Create record for the validation code for 2010 Commissioning data sets, based on dimuon mass spectrum"
Create record: "Validation code for 2010 Commissioning data sets, based on
dimuon mass spectrum" according to detailed instructions from Achim

[2016-06-14 15:07] AnxhelaDani opened #1125 "CMS: Create record for the validation code of 2010 MinimumBias dataset"
Create new record: "Validation code for 2010 MinimumBias dataset, based on track and
vertex spectra" according to Achim's instructions

[2016-06-21 10:57] RaoOfPhysics opened #1127 "Copyright date in footer needs to be updated"
It currently says "2014, 2015". Can we update it to simply say "2014 &mdash; present"?

[2016-06-29 08:59] #1122 closed

[2016-06-29 08:59] #1123 closed

[2016-06-29 08:59] #1125 closed

[2016-06-29 12:45] RaoOfPhysics opened #1130 "Provide aliases for alternative spellings in URLs"
Make sure that URLs with "visualize" point to the correct pages. e.g.:

- http://opendata.cern.ch/visualize/events/CMS should point to http://opendata.cern.ch/visualise/events/CMS

[2016-06-29 12:47] RaoOfPhysics opened #1131 "Directories <–> Breadcrumbs"
Replace 404 pages under directories with appropriately listed index pages pointing to the next level in the navigation.

So, http://opendata.cern.ch/visualise/ should list all relevant pages such as "events" and "histograms", while http://opendata.cern.ch/visualise/events/ (e.g.) should point to the appropriate event-visualisation tools where available.

[2016-06-29 13:15] suenjedt opened #1132 "Correct re3data.org entry"

[2016-06-30 09:52] AnxhelaDani opened #1133 "ATLAS: Prepare templates for ATLAS records"

[2016-07-01 16:20] tiborsimko opened #1136 "CMS: remove c1.C from MinimumBias_2010 validation record"
As instructed by Achim, the `c1.C` file should be removed from the MinimumBias_2010 validation.

[2016-07-08 09:40] katilp opened #1137 "Additional information to be added for CMS MC datasets"
Need the following additional information (important for research use) for MC datasets:
- the cross section
- the filter efficiency (if a physics filter, e.g. an additional pt or eta cut was applied)
- for some generators, a "matching efficiency"
  The three numbers need to be multiplied to obtain the effective cross
  section, and the effective luminosity can then be calculated using this
  and t

[2016-07-12 10:28] katilp opened #1138 "Luminosity calculation for CMS primary datasets"
Need to add the instructions (somewhere) on how to compute the luminosity for primary datasets.
These instructions are available in CMS-internal pages
https://twiki.cern.ch/twiki/bin/view/CMS/TWikiLUM (general information about the luminosity group)
and https://twiki.cern.ch/twiki/bin/viewauth/CMS/LumiCalc (quite good instructions on how to use the tool for Run 1 data)
Achim will have a look and w

[2016-07-21 12:27] katilp opened #1139 "Add records for 2011 csv's to the portal"
we would need records for the files from
https://github.com/tpmccauley/cmsopendata-jupyter/tree/master/data
on the portal.
@tpmccauley Is that Ok?
That would be 8 records similar in structure to http://opendata.cern.ch/record/301
but maybe without json and ig ?

[2016-07-21 14:25] tpmccauley commented on #1139
@katilp in-principle I suppose yes. However, I wouldn't consider these files as final and therefore "freeze-able". When finished I was planning on adding event display files as well.

[2016-07-22 09:44] tiborsimko commented on #1139
@tpmccauley Assigning this issue to you, please reply back when the files are final...

[2016-07-26 08:06] AnxhelaDani commented on #1132
Update is done.

[2016-07-26 08:06] #1132 closed

[2016-07-26 09:44] AnxhelaDani opened #1140 "ATLAS: Create and add Data Samples records"

[2016-07-26 14:02] AnxhelaDani opened #1142 "ATLAS: Create MC Samples records"

[2016-07-26 16:45] AnxhelaDani opened #1144 "ATLAS:Create software record"
* Create record: ATLAS Software for 2016 open data release

[2016-07-26 16:53] AnxhelaDani opened #1146 "ATLAS:Create VM records"

[2016-07-27 16:11] AnxhelaDani opened #1148 "ATLAS: Create all samples record"

[2016-07-28 14:27] tiborsimko opened #1151 "collection: ATLAS Simulated Datasets"
Create new collection ATLAS Simulated Datasets.

[2016-07-28 15:49] #1151 closed

[2016-07-28 15:59] tiborsimko commented on #1133
I guess this issue can be closed now that we have real records...

[2016-07-28 15:59] #1133 closed

[2016-07-28 16:01] tiborsimko commented on #1140
I'll now populate EOS information...

[2016-07-28 16:01] tiborsimko commented on #1146
I'll now populate EOS information...

[2016-07-28 16:02] tiborsimko commented on #1148
I'll now populate EOS information...

[2016-07-28 16:02] tiborsimko commented on #1142
I'll now populate EOS information...

[2016-07-29 00:11] #1140 closed

[2016-07-29 00:47] #1148 closed

[2016-07-29 01:16] #1146 closed

[2016-07-29 02:14] #1142 closed

[2016-07-29 07:18] tiborsimko commented on #1137
Indeed, the web site is not accessible to me.  @RaoOfPhysics can you please have a look?

[2016-07-29 07:20] tiborsimko commented on #1138
Indeed, I get access denied.  @RaoOfPhysics can you please have a look and advise on creating either a template page or a documentation record?

[2016-07-29 08:01] tiborsimko commented on #1144
I'll prepare the addition of v1.0 file on EOS, so taking the issue.

[2016-07-29 08:30] #1144 closed

[2016-07-29 09:27] suenjedt opened #1172 "Lessons learnt from HST"
- better entry point for teachers (they often don't care which experiment it is - they just want to find resources for "them"): needs to be reflected in improved IA
- needs guidance within education
- indicate which level the materials are intended for (High School, Higher Education, Seniority level, Physics teaching level)
- how should we host the materials the teacher provided (and will provide?

[2016-07-29 09:47] katilp commented on #1138
We can wait to see how the luminosity calculation goes with the 2011 examples. For the 2011-jets example, Matias is using a script pixelLumiCalc.py which is described in the twiki page linked above (pdf of that page attached here)

[CMS_LumiCalc.pdf](https://github.com/cernopendata/opendata.cern.ch/files/390243/CMS_LumiCalc.pdf)

[2016-07-29 12:01] katilp commented on #1137
@tiborsimko we probably need to extract these numbers from McM with a script. Maybe when I get an example script to get them for one dataset, you can help me with a script to get them for all list?

[2016-08-05 13:04] AnxhelaDani opened #1179 "Update of opendata.cfg"
* Addition of `786__a` & `786__w`  (related record) to the data model.

Then, as @tiborsimko  mentioned we should amend templates (see #1094)

[2016-08-05 14:01] AnxhelaDani opened #1181 "ATLAS: amend ATLAS Derived Datasets records"
For better search and disambiguation purposes:
- Correction of text in `110__ $a` and `520__ $a`
- Correction of `6931_` field to `693__` according to https://github.com/cernopendata/opendata.cern.ch/issues/779#issuecomment-207483375
- Addition of `264_0 $c`, `960__ $c` , `964_0 $c` and `980__ $a`

[2016-08-09 19:30] katilp opened #1183 "Updates to the trigger descriptions of the 2010 datasets"
Following updates to the 2010 datasets (these texts should replace the current text under "How were these data selected?":
## ZeroBias dataset:  (http://opendata.cern.ch/record/13)

Since the actual ZeroBias triggers were moved to the MinimumBias dataset,
the remaining events do not contain useful information and this sample
should not be used.
## MinimumBias dataset: (http://opendata.cern.ch/reco

[2016-08-18 13:56] AnxhelaDani opened #1185 "ALICE: Update of reconstructed data records"
* Update reconstructed data records with more information

[2016-08-19 11:59] suenjedt commented on #68
Not relevant anymore

[2016-08-19 11:59] #68 closed

[2016-08-19 12:26] suenjedt opened #1187 "Open Data on Invenio 3"
- first prototype available by @jirikuncar
- approach for next steps: detangle design, collections/content management and Invenio modules so that development/updates on any of the three can be done without inconvenience for the others.
- start with the "raw" Invenio 3, add specifications for design overlay and IA, collections, and anything specific that might be needed (i.e. Tom's visuals)
- impor

[2016-08-19 14:20] RaoOfPhysics commented on #68
Is the closing related to #1187?

[2016-08-19 14:23] suenjedt commented on #68
Yes. It is outdated. Priority is to move to Invenio3 now. WIth the new design/IA is there, we can decide how to help users to find what they are looking for and use the data/tools.

[2016-08-19 14:54] jirikuncar commented on #1187
**Packages**
- `cernopendata` - minimal auto-generated overlay from `inveniomanage instance create`
- `cernopendata-theme` - package providing Jinja2 templates, Icons, etc.
- `cernopendata-experiments` - endpoints, templates and additional resources, ...
- `cernopendata-<foo>` ...

We can keep `opendata.cern.ch` as our meta-package with e.g. git subdirectories to all our used packages.

[2016-09-05 15:41] katilp opened #1188 "2012 datasets - initial considerations"
Notes for  CMS 2012 data:

Collision data:
`dataset=/*/*2012*22Jan2013*/AOD` (total of 1.1 PB out of which 510 TB Parked - see https://cds.cern.ch/record/1480607/files/DP2012_022.pdf and also https://profmattstrassler.com/articles-and-posts/lhcposts/triggering-advances-in-2012/data-parking-at-cms/ :smiley:  )
A: from the start to May 6: 45 TB (including 2 TB Parked)
B: from May 12 to June 18: 230

[2016-09-07 08:34] katilp commented on #1188
Include Parked data to the release

[2016-09-07 14:24] RaoOfPhysics commented on #1188
@katilp: I'm probably missing something, but I thought I should confirm anyway that you mean 0.5 TB for the second TBD and not 0.5 PB.

[2016-09-07 14:59] katilp commented on #1188
@RaoOfPhysics: good point, thanks; I mean 0.5 PB

[2016-09-12 13:45] katilp commented on #1188
Recapitulating numbers for the resource request:

Data:
2012 data taking was divided in four runs: RunA, RunB, RunC and RunD with a total of 1.1 PB out of which a part will be released in 2017. The released data will be at maximum 831 TB - in case of releasing RunC + RunD - at minimum 477 TB - if only RunD is released , other combinations are possible, and to be defined considering the best possib

[2016-09-23 13:50] katilp commented on #1188
Storage space for 2 PB OK for 2017, so we can proceed 😃

[2016-09-23 16:18] katilp opened #1189 "CMS 2012 collision data - physics menus"
Extract the physics menus from the CMS confdb data base for 2012 data taking as indicated in
http://fwyzard.web.cern.ch/fwyzard/hlt/2012/summary :
Similar procedure as in #832
Then make sure that all CMSSW version have tags
- Physics menus

CMSSW_5_2_3_patch1_ONLINE        /cdaq/physics/Run2012/5e33/v4.4/HLT/V5                                        (runs 190456 - 190465)
CMSSW_5_2_3_patch1_ONLINE

[2016-09-26 10:18] katilp commented on #1137
Update after a discussio with Luca Perrozzi:
For 2011, 2012 these numbers are not necessarily in mcm
However, they can be found in http://cms.cern.ch/iCMS/prep/requestmanagement?campid=Summer11
(CMS internal: gives a list of all datasets in Summer11 production campaign with the necessary numbers

![prep](https://cloud.githubusercontent.com/assets/5859918/18830831/ce379480-83e2-11e6-92c8-7f9457c904

[2016-09-26 13:29] katilp commented on #1137
The file containing the cross-section values, filter efficiencies and matching efficiencies (in html) is now in
https://cernbox.cern.ch/index.php/s/GB0GDd4KkfNFCfb

As it has the full Summer11 MC production campaign, it has much more entries (3503) than we have on the portal and therefore it contains entries which we do not have.

However, for the public 2011 MC, I hope that there is 1-to-1 corres

[2016-09-26 13:33] RaoOfPhysics commented on #1137
@tiborsimko: Sorry I missed this:

It's indeed internal. Apologies about the delay in confirming.

[2016-09-26 14:03] katilp commented on #1137
For the 2012 release, a similar listing resulting from
http://cms.cern.ch/iCMS/prep/requestmanagement?campid=Summer12_DR53X

is in https://cernbox.cern.ch/index.php/s/XxZ8NiTxH3i6Rks

[2016-09-28 07:58] katilp commented on #1137
A note for the numbers to be extracted:

- cross-section
- filter efficiency
- matching efficiency

are to be multiplied to obtain the correct effective cross section.
In PREP (i.e. for samples of 2011 and 2012) the "filter efficiency" is the product of filter efficiency and match efficiency (which appear as separate entries in McM i.e. for samples of 2015 and beyond).
I suggest that we should add

[2016-09-28 11:45] katilp commented on #1188
Listing of
https://cmsweb.cern.ch/das/request?view=plain&limit=3000&instance=prod%2Fglobal&input=dataset%3D%2F*%2F*Summer12_DR53X*V19*%2FAODSIM

[Summer12_DR53X-PU_S10_START52_V19_listing.pdf](https://github.com/cernopendata/opendata.cern.ch/files/497911/Summer12_DR53X-PU_S10_START52_V19_listing.pdf)

[2016-09-28 13:59] suenjedt commented on #1187
An update from meeting with @katilp:
CMS is preparing for the next big data release (see for example #1188). This needs to be taken into consideration for the timing of the migration and planning of CODP3. Storage is available from Jan 2017 on.
@daslerr we need to consider this in particular for the data model questions (MARC/JSON). Current thinking is to finalize data model now and do data releas

[2016-09-30 08:33] tiborsimko commented on #1187
There will be indeed four distinct "work packages":
- COD3 data model
- COD3 UX/UI
- COD3 overlay
- CMS Run2012 data release

plus devops tasks, plus old data migration tasks. These could be tackled in parallel.

Here is our July 2016 roadmap for COD3, slightly updated regarding born-after UX/UI sprint:

- https://github.com/cernopendata/opendata.cern.ch/wiki/Roadmap

[2016-10-03 12:00] Kjili opened #1190 "docs: dead links in contribution guide"
The [CONTRIBUTING.rst](https://github.com/cernopendata/opendata.cern.ch/blob/master/CONTRIBUTING.rst) contains some dead links:
- http://inveniosoftware.org/wiki/Tools/Git/Workflow#R2.Remarksoncommitlogmessages should be https://invenio.readthedocs.io/en/latest/technology/git.html#r2-remarks-on-commit-log-messages
- http://inveniosoftware.org/wiki/Tools/Git/Workflow#R1.Remarksoncommithistory shoul

[2016-10-04 21:20] tiborsimko commented on #1190
@Kjili Indeed, the guide was not updated since a while... Please send a PR if you are at it. Thanks!

[2016-10-07 14:49] katilp opened #1191 "Create records for the 2011 jet validation example"
Create records for the jet validation example.
It is done in two steps

Step 1: https://github.com/cms-opendata-validation/2011-jet-inclusivecrosssection-ntupleproduction

Step 2: https://github.com/cms-opendata-validation

@tiborsimko should we have this is two records (in a similar way as the di/four lepton ntuple and analysis step currently) or should we start to anticipate something more "anal

[2016-10-07 14:54] katilp opened #1192 "Create record for derived data for 2011 jet validation step"
FIles from /afs/cern.ch/user/m/mhaapale/work/public/Jet-Tuples-Summer2016
need to uploaded to a record (similar to http://opendata.cern.ch/record/230)
@tamshai can provide the metadata details.
It will refer to the new sw records (in #1191)

[2016-10-07 15:17] Kjili commented on #1190
Sorry, I missed the email, #1193 is out now (and commit message is fixed).

[2016-10-12 10:36] katilp commented on #1188
For the Run periods to be released, a good choice could be RunB + RunC.
It would amount to 584 TB, and include most of the data that were included in the Higgs discovery analysis. To be discussed with the CMS physics coordination.

[2016-10-12 10:58] katilp commented on #1188
The release date will be decided together with the CMS physics coordination making sure that all CMS 8 TeV key analyses will have been published before.

[2016-10-14 08:15] #1179 closed

[2016-10-14 08:15] #1181 closed

[2016-10-14 08:15] #1185 closed

[2016-10-14 12:14] #823 closed

[2016-10-17 14:21] AnxhelaDani commented on #802
- [ ] Add missing fields & update records with more information [see https://github.com/cernopendata/opendata.cern.ch/pull/1186]

- [ ] Activate DOIs in DataCite

[2016-10-17 14:21] #802 closed

[2016-10-19 19:53] katilp opened #1196 "CMS instructions: add a missing step"
We should have a step 4 under Option A in http://opendata.cern.ch/getting-started/CMS
- download the list of validated runs from http://opendata.cern.ch/record/1001 and change the file name on line goodJSON = ...

[2016-10-20 08:12] RaoOfPhysics commented on #1196
On it.

[2016-10-20 08:13] RaoOfPhysics commented on #1196
@tiborsimko: Should I work with the same files as before or are things going to be restructured soon?

[2016-10-20 13:08] #918 closed

[2016-10-20 13:46] RaoOfPhysics opened #1198 "Discrepancy in "CMS Learning Resources""
- http://opendata.cern.ch/collection/CMS-Learning-Resources
- http://opendata.cern.ch/search?cc=CMS-Learning-Resources

Both show different items. The former is missing http://opendata.cern.ch/record/59 while the latter is missing http://opendata.cern.ch/record/50.

[2016-10-24 12:08] RaoOfPhysics opened #1199 "Help records (57 and 58) for CMS visualisation tools are broken"
- http://opendata.cern.ch/record/57
- http://opendata.cern.ch/record/58

Both from http://opendata.cern.ch/search?ln=en&p=mccauley+collection%3ACMS-Open-Data-Instructions&action_search=

Originally reported by @adavidzh.

[2016-10-24 12:34] adavidzh commented on #1199
For the record, both link above are giving me a 500:
[code]

[2016-11-01 11:32] katilp opened #1200 "CMS Collection view: Fix the wrong behaviour of the collection pages"
http://opendata.cern.ch/search?p=Run2010B%20collection%3ACMS-Primary-Datasets
shows "Showing records 1 to 10 out of 14 results."
Clicking on page 2 (down right) gives
http://opendata.cern.ch/search?p=Run2010B+collection%3ACMS-Primary-Datasets&jrec=11
with only 3 entries visible but saying "Showing records 11 to 14 out of 14 results."
Can the behaviour be fixed so that clicking on page 2 would brin

[2016-11-04 07:11] katilp opened #1201 "CMS: Complete high-level trigger information for 2010 primary datasets"
Provide complete HLT information for 2010 primary datasets

- [x] Add the trigger table (run number - sw - configuration) as http://opendata.cern.ch/record/1700 from the top part of http://fwyzard.web.cern.ch/fwyzard/hlt/2010/summary @tiborsimko ?
- [x] Extract the corresponding trigger config files on the table above from confdb @katilp
- [x] find out if the sw source for the corresponding sw ver

[2016-11-09 13:51] katilp commented on #1201
The 2010 HLT configs are now in https://cernbox.cern.ch/index.php/s/Ql2vRQsCP22va6S

[2016-11-09 14:45] katilp commented on #1189
Provide complete HLT information for 2012 primary datasets (as in #1201)

- [ ] Add the trigger table (run number - sw - configuration) as http://opendata.cern.ch/record/1700 from the top part of http://fwyzard.web.cern.ch/fwyzard/hlt/2012/summary @tiborsimko ?
- [ ] Extract the corresponding trigger config files on the table above from confdb @katilp
- [ ] make sure that the sw source for the cor

[2016-11-09 16:50] katilp commented on #1189
The HLT trigger config files are in https://cernbox.cern.ch/index.php/s/LZHXV3lcg7s5OUS

[2016-11-10 16:50] katilp commented on #1201
Shahzad can make the old release available via https://github.com/cms-obsolete/cmssw repository

[2016-11-21 09:30] katilp opened #1202 "CMS: add a raw data sample"
CMS CB approved releasing (order of) 1M events in RAW format from Minimum bias dataset

- [x] Choose a set of files (a block in DAS?) to release
   - parent data for http://opendata.cern.ch/record/24
   - size of 1M events
   - has enough events passing validation (not mandatory for known use-cases of these data but maybe useful for others)
- [x] Check whether the sample could be reconstructed wit

[2016-12-02 08:36] katilp commented on #1138
Working on the luminosity issue, two options
- use pixelLumiCalc.py (as above 1138#issuecomment-236139738) and find out what needs to be added for it to work on Open Data VM (used in Run1 analyses)
- use bril and check if it works in Open Data VM (new for Run2 analyses, should work for Run1 as well.

Prefer the brilsw option to avoid two different luminosity tools for Run1 and Run2.

Further detai

[2016-12-02 09:04] Kjili opened #1203 "Scientific research with CERN Open Data - a list of challenges named by Achim Geiser"
**1. Knowledge about the possibility of open data analysis, and being convinced that this possibility is actually practically feasible with reasonable effort.**

For the first, it is up to the collaborations and open data to keep advertising this possibility. This involves providing data suitable for research (the ESA page can be viewed as an example in the right direction for making data accessib

[2016-12-02 09:23] katilp opened #1204 "CMS: L1 trigger information records not found"
I can't find the L1 trigger information records on the portal. From
https://github.com/cernopendata/opendata.cern.ch/blob/6b13253597fc5f40454b64b5ba03ec1499861006/invenio_opendata/testsuite/data/cms/cms-l1-trigger-information-Run2011A.xml
I could guess that they should be records 3700 and on, but they do not exist.
Can't find them with search either.

[2016-12-02 09:27] katilp commented on #1138
Note the information about trigger scales in http://cms-service-lumi.web.cern.ch/cms-service-lumi/brilwsdoc.html#triggerrules

- HLT_prescales can be found for specific run number ranges in trigger configurations  in http://opendata.cern.ch/record/1700 (open the file and search for prescales).
- Cannot check if the L1 prescales can be found, the L1 records cannot be found ( #1204)

[2016-12-05 17:31] katilp commented on #1183
The dataset records have not been updated with these descriptions so the issue is reopened.

[2016-12-06 10:00] tiborsimko commented on #1187
I fully agree that it'll be good to split at least the "-data" package apart, containing all the fixtures. (Currently these dominate the repository.) I'm less sure about introducing experiment-specific templates, perhaps it's enough to have them live inside the main repository, or introduce one global "-pages" for all kinds of static pages?  (We'll see better depending on how the new IA might chan

[2016-12-06 14:42] RaoOfPhysics opened #1205 "Include “View Code” button/text on embedded tools"
For example, http://opendata.cern.ch/visualise/events/CMS would include a button linking to http://opendata.cern.ch/record/555 with additional links to http://opendata.cern.ch/record/551 and http://opendata.cern.ch/record/550

[2016-12-06 15:46] tiborsimko opened #1206 "CMS: record 3700 on PROD"
Records 3700+ (L1 trigger related) seem to be missing on PROD.  (They are on DEV.)

[2016-12-06 16:01] tiborsimko commented on #1206
Closing as dupe of #1204.

[2016-12-06 16:01] #1206 closed

[2016-12-08 09:52] katilp commented on #1138
We have agreed with the CMS lumi group that they will provide a simple ascii file with run numbers, lumi sections and luminosity for each lumi section. This will be a record on the portal.
We should an additional collection "CMS Luminosity information", and it will contain a record for each year.

It seems that we need to have a collection of collections including many of the existing collections

[2016-12-08 10:32] katilp opened #1208 "Design considerations for the CMS reserch page"
Recording discussion with Achim:
In the current http://opendata.cern.ch/research/CMS
we could have more purpose-oriented "boxes" like currently for VMs and Getting Started (top right).
(NB: The title for the VM box should be "Installing VM)
We could add there a new box "Physics use-cases" directing to a new template page (Achim can provide first draft of the contents early 2017)

@tiborsimko could

[2016-12-12 11:48] ArtemisLav commented on #1137
For the 2011 MC records, we could just add a new field (for example, 944 is not specified in the MARC21 documentation, so it should be empty), which could be called "effective cross section" and have 3 subfields:
- 944 $c (cross-section)
- 944 $f (filter efficiency)
- 944 $m (matching efficiency)

For 2012, we will have the new schemas, so we can adjust it or change it completely.

I'm not sure ho

[2016-12-12 12:38] ArtemisLav commented on #1183
I checked the 2010 primary datasets .xml and all the changes have already been incorporated there (see Anxhela's commits).

@tiborsimko , is there anything else to be done here or can these records be updated?

[2016-12-15 15:35] tiborsimko commented on #1204
Whoops! Fixed.

- http://opendata.cern.ch/record/3700
- etc

[2016-12-15 15:35] #1204 closed

[2016-12-15 15:49] tiborsimko commented on #1208
@katilp Yes, using either wiki or issue body might be enough for start. Does Achim have a GitHub account already, so that we could add him to the organisation and grant him rights?

[2016-12-15 16:03] tiborsimko commented on #1198
(1) Regarding the static page http://opendata.cern.ch/collection/CMS-Learning-Resources, we have static template https://github.com/cernopendata/opendata.cern.ch/blob/production/invenio_opendata/base/templates/helpers/text/cms_learning_resources.html which contains 6 records only.

@RaoOfPhysics Perhaps you want to edit this template to add the missing bits? Do we have a screenshot?

(2) Regarding

[2016-12-15 16:08] tiborsimko commented on #1183
@ArtemisLav Yes, the changes were merged, but not deployed yet. I'll take care of this.

[2016-12-16 09:40] tiborsimko opened #1212 "ALICE LHC10c_pp_ESD_129829"
Looks like LHC10c_pp_ESD_129829 should be LHC10c_pp_ESD_129029.

See https://github.com/cernopendata/opendata.cern.ch/issues/772#issuecomment-130220432

This prevents data update.

[2016-12-16 09:47] RaoOfPhysics opened #1214 "Add record/59 to CMS Learning Resources"
http://opendata.cern.ch/record/59 to be added to http://opendata.cern.ch/collection/CMS-Learning-Resources

Instructions, paraphrased from @tiborsimko's comment:

[2016-12-16 09:48] #1190 closed

[2016-12-16 09:48] #1196 closed

[2016-12-16 09:48] #1212 closed

[2016-12-16 09:50] RaoOfPhysics commented on #1198
Will do! See #1214

My feeling is that it's mis-categorised. I think record/50 should belong under CMS-Learning-Resources as it doesn't explicitly deal with the Open Data released on the portal, does it? Unless there's a derived dataset it refers to? @katilp, can you comment?

Technically, I guess many of the learning resources would qualify as "Open Data Instructions", but we need to give more me

[2016-12-16 10:41] tiborsimko commented on #1183
The changes are now fully dpeloyed after fixing some ALICE issues. However, the display of records seems broken, for example:

- http://opendata.cern.ch/record/14

I''l fit it.

[2016-12-16 11:57] #1183 closed

[2016-12-16 13:59] #1136 closed

[2016-12-16 14:29] #1199 closed

[2016-12-16 15:34] daslerr opened #1218 "UI: Proposed updated navigation flow"
I've taken into account the HST feedback (#1172) and the helpful list of challenges from Achim (#1203), as well as what we discussed in the meeting on 6 December, and I've come up with a proposal for an updated flow through the site. (See image below.) Thoughts and comments are appreciated.

Caveat 1: This assumes the use of experiment-specific landing pages, which will aggregate content from othe

[2016-12-16 19:25] katilp commented on #1198
record/50 should be under CMS-Learning-Resources. It does refer to many derived datasets (http://opendata.cern.ch/record/203 and 204-211 for the MC). These were datasets that were released earlier than the first big release in 2014, and in that sense somewhat special. These records could be mentioned in record/50 for sake of consistency.

record/50 should not be classified "Open Data Instructions"

[2016-12-16 23:34] RaoOfPhysics commented on #1198
@katilp: This was my feeling, thank you for clarifying! :)

[2016-12-19 10:56] #1198 closed

[2016-12-20 13:49] tiborsimko commented on #1094
(example record for issue number two: 1802)

[2016-12-20 14:40] tiborsimko commented on #1094
(example record for issue number four: 1326)

[2016-12-21 13:43] tiborsimko commented on #1094
(example record for issue number five: 3800)

[2016-12-21 14:10] tiborsimko commented on #1094
Closed by PR #1220.

[2016-12-21 14:10] #1094 closed

[2016-12-21 15:33] #917 closed

[2016-12-21 15:58] daslerr commented on #1208
By use cases, do we mean guidance for researchers on how to use Open Data materials? Or something else?

[2017-01-11 08:13] katilp commented on #1208
More detailed suggestions from Achim:

[webpageheader.txt](https://github.com/cernopendata/opendata.cern.ch/files/698264/webpageheader.txt)

[2017-01-17 09:37] daslerr commented on #1208
Thanks, @katilp and Achim. These examples will be very useful.

I think these examples would mesh quite nicely with the flow proposed in #1218. They've also made me realize that I didn't include any paths between examples and experimental landing pages in that flow, so I'll update it. If you have a moment to take a look at that issue and comment, that would be most appreciated.

[2017-01-17 09:42] daslerr commented on #1218
Suggestions for research-related examples are in #1208.
Flow should be updated to show paths between various possibilities and experimental landing pages.

[2017-01-17 09:53] katilp commented on #1218
@daslerr I do not see the top level division to Education and Research here, I hope we still keep it in the navigation flow. Or is it under "Possibilities"? Would the content in  #1208 go in "data recipes" there as well?

[2017-01-18 12:48] daslerr commented on #1218
That's correct. This flow removes the top-level education vs. research division. The hope is that guiding people based on what they want to do will have a largely similar effect without creating two information silos.

Yes, I would think the content in #1208 would fit under something like data recipes or examples. We can decide on the precise words we might want to use to describe those. But the o

[2017-01-18 13:09] katilp commented on #1218
OK, thanks! But we would then have a clear top-level entry with explicit different options, instead?
I do not see that very clearly in the graph above: I see the first-level boxes, but for example for the VMs, they are just tools to access the data so they have no value alone (only after having chosen what you want to do, i.e. what experiment data you will be looking at).

For the top-level, my im

[2017-01-26 09:10] katilp commented on #1202
A block from run 160957 with a good amount of lumi sections in the json file (http://opendata.cern.ch/record/1001/files/Cert_160404-180252_7TeV_ReRecoNov08_Collisions11_JSON.txt : "160957": [[1, 953]])
block=/MinimumBias/Run2011A-v1/RAW#1ae245ba-5350-11e0-8d1d-00151755cb60

[2017-02-01 07:16] katilp opened #1222 "CMS: bug in downloading the files from records"
Download of xml files in records gives an error page because the browser interprets them instead of just downloading.
Example BuildFile.xml in http://opendata.cern.ch/record/560
Possible solutions:
- change download behaviour (@tiborsimko is this possible and would it be independent of user's browser settings?)
- add instructions to use wget http://opendata.cern.ch/record/560/files/BuildFile.xml

[2017-02-01 12:23] RaoOfPhysics opened #1223 "Disable glossary within iSpy"
As pointed out in an e-mail to opendata-support, the tooltip for the glossary terms appears on the [iSpy page](http://opendata.cern.ch/visualise/events/CMS) as well, with a slight error:

![latex-in-tooltip-not-evaluated](https://cloud.githubusercontent.com/assets/7623019/22506580/843e75d4-e881-11e6-87e5-a13749548535.png)

It might be best to disable the glossary entries for iSpy itself, while lea

[2017-02-01 12:28] RaoOfPhysics opened #1224 "LaTeX formatting broken"
See http://opendata.cern.ch/glossary for example -- the LaTeX terms (like `$\mu$`) are not rendered correctly. I thought this was fixed a while back, no?

See also #1223 -- maybe that will be obsolete once this issue is fixed?

[2017-02-01 16:51] RaoOfPhysics commented on #1222
I can confirm that the problem manifests in Firefox and Chromium on macOS.

[2017-02-09 15:06] katilp opened #1225 "CMSSW record does not link to the SW source"
http://opendata.cern.ch/record/221

should link to the sw source repository in https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

http://opendata.cern.ch/record/220

should link to https://github.com/cms-sw/cmssw/tree/CMSSW_4_2_X

[2017-02-09 17:02] tiborsimko opened #1226 "ATLAS: update links and banner"
As per discussion with Arturos:

- [ ] update all ATLAS open data link to point to `opendata.atlas.cern`
- [ ] update banner to something like:

[code]

[2017-02-09 22:49] artfisica opened #1227 "Files in record 341 not found. Cannot download files"
Dear developers,

Thanks as usual for all the help.
We would like to call your attention about some problems to download files in:
http://opendata.cern.ch/record/341

None of the files are reachable, we are getting **502 Bad Gateway** in all of them.

Cheers,
Arturo

[2017-02-10 09:57] artfisica commented on #1227
Good day,

After Tibor's intervention (Thanks!) the problem is now that we are getting an error of the kind: **404 Not Found** when try to download.

Cheers,
Arturo

[2017-02-10 10:49] tiborsimko commented on #1227
@artfisica Thanks for reporting! The system should be back to normal now after a permission check and a cache cleanup. Please reopen if you see some other problem.

[2017-02-10 10:49] #1227 closed

[2017-02-10 12:03] daslerr commented on #1218
Here is an updated version of the navigation flow. This preserves the research vs. education distinction in some ways, because users could still choose to navigate by examples aimed at particular groups, and it brings the collections (e.g. the experiment-specific collections) to the front. I've attached a PDF mockup of what this might look like in practice.

![opendata-navigationflow-v2](https://c

[2017-02-13 16:49] daslerr opened #1228 "UI: Mockups"
Based on our recent discussions, I've updated the mockup for the homepage.
- The examples and information stuff has been moved higher on the page to give more emphasis to user stories.
- The list of datasets has been removed, since users typically will get to those via the VMs and not directly.

![opendata-mockup-home-v3](https://cloud.githubusercontent.com/assets/3181623/22892837/2ae8d24e-f214-11

[2017-02-13 17:01] daslerr commented on #1218
After our productive meeting on Friday, it seems the most recent navigation concept was generally accepted, and our discussion now revolves around how this will actually look in practice. So I will close this. I've started a new thread for mockups (#1228) so that portion of the conversation can continue.

[2017-02-13 17:01] #1218 closed

[2017-02-13 19:14] katilp commented on #1228
Very nice! I'll add below comments and suggestions from Achim

[2017-02-13 19:17] katilp commented on #1228
Comments received from Achim

[2017-02-16 12:37] daslerr commented on #1228
Thanks for the feedback! The comment in the original post talking about removing the list of datasets is referring to a previous mockup version shown in the meeting on Friday that had a highlight list of individual datasets for users to choose from (and not the data collections section). Kati pointed out that users were extremely unlikely to need direct access to the datasets in that way, so that

[2017-02-16 13:28] katilp commented on #1202
Confirmation from Marco Musich (on the cms-PPD-conveners-AlCaDB list) to the question whether FT_53_LV5_AN1 (already available from cvfms) can be used for re-reco check of RAW instead of FT_R_53_LV5:

[2017-02-17 09:56] katilp opened #1229 "CMS: MC categorization for 2012"
Separating this from #1188

The MC to be included:
GT: START53_V19: The legacy campaign for the 2012 MC (called Summer12DR53X) (757.6 TB)

In that campaign there were also some additional special production (mostly run-dependent) using other GTs:

START53_V19F: BPH run-dependent DIGI-RECO in 5.3. (162.8 TB)
START53_V19E : digi-reco in 5.3 with specific Muon alignement for EXO (1.3 TB)
START53_V7N

[2017-02-19 22:03] artfisica commented on #1226
Dear All,

I just would like to mention that if the first chance can be done (update the domain) this will be really useful. Because CERN OpenData is the first result in Google and others, the people is moving to the old one.
For the banner we can wait.

Thanks one more time!
Arturo

[2017-02-21 07:05] katilp opened #1230 "Education: material from HST 2016 to be added in the portal"
The material created by the High-School Teacher programme working group  5 (open data) should be uploaded to the portal

The original files are in
https://drive.google.com/drive/folders/0B3PRHl4_4xpmZU53a2NHOTg0QjQ
but now here for your convenience:

Overview:
[Work Group 5- Open Data.pdf](https://github.com/cernopendata/opendata.cern.ch/files/789321/Work.Group.5-.Open.Data.pdf)

[1_Classroom acti

[2017-02-27 16:31] katilp opened #1231 "CMS: Testing MC production on Open Data VM"
The available MC collection cannot cover all possible use-cases, which depend on users' interest and the subject of study. Therefore we are studying the possibility of generating MC samples on 2011 Open Data VM with

- the CMSSW release corresponding to the collision data (CMSSW_5_3_32)
- the available Global Tag (START53_LV6)

If successful, we can try to repeat this for 2010 Open Data VM.

First

[2017-02-28 10:30] tiborsimko commented on #1229
@katilp Here are the results if I run the previous MC Run2011categorisation rules on the MC Run2012 data:

- http://simko.home.cern.ch/simko/tmp/opendata.cern.ch-issue-1229.html

There are probably too much "SM Inclusive" cases, which was the default fallback category when the previous rules didn't apply... We can see and adjust IRL together.

[2017-02-28 10:36] katilp commented on #1229
Excellent, thanks! It looks very good, the outsiders in the SM inclusive category look easily recognizable (most likely what we call "exotica" or Beyond Standard Model). I'll check with the physics conveners.

[2017-03-01 16:28] katilp commented on #1229
Note (for myself): the datasets, which have been requested by different PAGs can be found in PREP (for run1 and McM for run2).
e.g. datasets requested by EXO (-> BSM) in Summer12_DR53X production campaign:
http://cms.cern.ch/iCMS/prep/requestmanagement?status=any&pwg=EXO&campid=Summer12_DR53X&dsn=

![prepview](https://cloud.githubusercontent.com/assets/5859918/23469640/6ed06390-fea4-11e6-8701-d4f7

[2017-03-01 18:01] katilp commented on #1137
The pdf file of the 2011 listing (see above for html https://github.com/cernopendata/opendata.cern.ch/issues/1137#issuecomment-249569559)
[PREP - Request Management 2011 xc.pdf](https://github.com/cernopendata/opendata.cern.ch/files/811610/PREP.-.Request.Management.2011.xc.pdf)

[2017-03-02 15:24] artfisica commented on #1226
Hi! :)

[2017-03-07 14:32] katilp commented on #1229
After a discussion with Josh:

Agreed to change the catergory BSM Higgs just to BSM
new keywords for BMS

- ADD*
- CIT*
- QBH*
- *prime*
- GMSB*
- AToZh
- GluGluToA
- Graviton*
- *Gravitino*
- *HTohh*
- *MSSM*
- QDQD*
- QDTo*
- QUTo*
- *SMS*
- *SUSY*
- AxiTo*
- Branon*
- Bstar*
- DMZ*
- DarkMatter*
- HeavyGluon*
- *Hplus*
- LQTo*
- Majorana*
- QStar*
- Radion*
- Seesaw*
- THmTTo*
- THpTTo*
- TTChi

[2017-03-10 15:24] RaoOfPhysics opened #1232 "Licence for CMSSW still unclear"
- The two CMSSW records on CODP mention the licence as being `Apache License, Version 2.0`:
    - http://opendata.cern.ch/record/221
    - http://opendata.cern.ch/record/220
- However, the CMSSW repo on GitHub does not have a valid `LICENSE` file for the whole project: https://github.com/cms-sw/cmssw
    - Although, some sub-directories and files seem to be accompanied by licences: https://github.

[2017-03-10 18:55] davidlange6 commented on #1232
and indeed, the context of that discussion was about analysis code examples and less about CMSSW as a whole.

As I mentioned at the time, in addition to the code license questions (which are still not solved), there are additional issues if you really mean to license a VM with libraries of  CMSSW+external dependences.

[2017-03-10 20:13] katilp commented on #1232
@davidlange6 : @RaoOfPhysics refers here to a proposal that was discussed and approved at the CB meeting, independently from the Open Data, and to my understanding it is intended to CMSSW as a whole

https://indico.cern.ch/event/143964/ (CMS internal)
https://indico.cern.ch/event/143964/contributions/1378788/attachments/133233/189074/LicensingCB77.pdf (CMS internal)
(In the minutes: "8. The CB app

[2017-03-11 08:33] davidlange6 commented on #1232
Right-  thats for the code (and while proposed and discussed, the implementation of the specifics has unfortunately not been completed as I said)

[2017-03-11 08:34] davidlange6 commented on #1232
In any case, "CMSSW as a whole" means different things to different people. Its good to be more specific.

[2017-03-13 08:22] RaoOfPhysics commented on #1232
@davidlange6: Thanks for joining the discussion! :)

Indeed, this issue was triggered by the fact that as part of the open-data efforts, we have also been pointing to the relevant versions of CMSSW from the CERN Open Data Portal (records `220` and `221`, as indicated in the OP). There, we erroneously state that the licence is Apache. Should we therefore simply remove reference of a licence or do w

[2017-03-13 08:36] davidlange6 commented on #1232
again, what is CMSSW and a "version of CMSSW" precisely?

[2017-03-13 08:42] katilp commented on #1232
@davidlange6 In my simple-minded view: for the versions we recommend with the open data,
CMSSW is the code that can be found in the repositories:
https://github.com/cms-sw/cmssw/tree/CMSSW_4_2_X
https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X

[2017-03-13 09:23] davidlange6 commented on #1232
so you mean code in the CMSSW repository. There (afaik) we intend (and desire) to have an apache-like license but have not gotten there yet.

[2017-03-13 12:21] katilp commented on #1138
For 2011-2012 Run1 (but not for 2010) we can use brilcalc to produce a table:
on lxplus
[code]
produces a table starting with

[code]

Check that we have the run numbers for primary datasets available so that users can sum this

[2017-03-13 12:34] katilp commented on #1138
The luminosity summary file for 2011:
[lumi.txt](https://github.com/cernopendata/opendata.cern.ch/files/838158/lumi.txt)

[2017-03-13 16:00] katilp commented on #1138
Asked Dan Marlow about the 2010 luminosity

[2017-03-14 10:44] katilp commented on #1202
First initial confirmation for the re-reco step.

Workflow:

[2017-03-15 17:31] katilp commented on #1138
Possible references for 2010 certified luminosity:
https://indico.cern.ch/event/123705/contributions/1337348/attachments/72293/103639/azzolini-PVT-March2011-ApprovedPlot.pdf (CMS internal)

Table 6.14 in
https://inspirehep.net/record/897920/files/CERN-THESIS-2010-210.pdf
summing the three numbers for Muon triggers: 31.79 pb-1

[2017-03-15 22:15] artfisica opened #1233 "ATLAS request for next sections and collections into the Education part"
Dear experts,

**Here the PDF with the proposal and requests for ATLAS educational resources into the CERN OpenData portal.**
[ATLAS_collections_proposal_in_CERN_OpenData_website.pdf](http://opendata.atlas.cern/DataAndTools/ATLAS_collections_proposal_in_CERN_OpenData_website.pdf)

Thanks!
Susan and Arturo

[2017-03-15 22:18] artfisica commented on #1233
This is the PDF file with discussed at CERN.
@atlas-outreach-data-tools

[2017-03-16 13:50] katilp commented on #1230
Now also available as under Instructions in https://indico.cern.ch/event/615875/

[2017-03-21 14:37] katilp commented on #1138
Luminosity by lumi section for 2010 obtained by lumicalc (recovered from Mikko Voutilainen):
https://cernbox.cern.ch/index.php/s/Eu4li5jKn78YIEt

[2017-03-22 16:28] katilp opened #1234 "FAQ items"
Here is an initial list of frequently asked questions:

The root password for CMS Open Data VM is "password"

In some versions of VirtualBox, the CMS Open Data VM does not open correctly. This has happened for example for VirtulBox 5.0.32, but for example 5.1.8 is OK.

xml files do not download correctly by clicking on "Download" e.g. http://opendata.cern.ch/record/560/files/BuildFile.xml
in recor

[2017-03-22 17:53] daslerr commented on #1233
Hi Arturo. Thanks for the PDF.

From what I can tell, several of the proposed collections would be empty. Is that right? Are you planning a major data release soon? Or is this just prepping for the future?

Open Data isn't really set up right now for subcollections. As part of the planned overhaul, one of the ideas we're playing with is having the ability to tag the datasets so that we can display

[2017-03-23 04:40] artfisica commented on #1233
Dear @daslerr, @sefeg, @suenjedt, thank you very much to all of you for the reaction and feedback.
I would be happy to chat at CERN when you can/want :)
I am in a conference right now, but from next Monday, any moment will be fine for me.
About your question: yes, some collections will be empty (for the moment) but the content of those are already on production. Other content like data, well, it w

[2017-03-27 16:16] sefeg commented on #1233
Dear @artfisica,
As I am not sure that I selected the right mail address writing to you last week, I wanted to check back with you here.
I would be very happy to meet you this week, to discuss your proposal and to get feedback on our concept of the revised CERN Open Data portal.
Maybe you could [send me](https://phonebook.cern.ch/phonebook/#personDetails/?id=700401) a meeting invite (anytime this

[2017-03-27 20:36] artfisica commented on #1233
Dear @sefeg ,

You found the right email :)
Sorry for the delay, I just landed today on Geneva.
So, please lest meet this Thursday. Maybe 14hrs is fine for you?

I reply your email as well, so we can continue there.

Cheers and thanks,
Arturo

[2017-03-28 13:16] artfisica commented on #1233
I found you @cheatham1!

Thanks again @sefeg, really great update will come with this new system.

Cheers,
@artfisica

[2017-03-28 13:26] sefeg commented on #1233
Thank you both for the positive feedback and the productive discussions.

[2017-04-03 12:27] katilp commented on #1138
Reference document for the 2010 luminosity calculation
https://cds.cern.ch/record/1279145

[2017-04-05 07:09] katilp commented on #1138
The 2010 luminosity values have now been added to the lumi DB, and we can now use the brilcalc tool also for the integrated luminosity for 2010 data.

The first RunB run in the JSON file of validated runs http://opendata.cern.ch/record/1000 is 146428. Removing others results in
[RunB2010_JSON.txt](https://github.com/cernopendata/opendata.cern.ch/files/895383/RunB2010_JSON.txt)
and the correspondin

[2017-04-06 08:35] katilp commented on #1138
A possible conclusion of this issue:

Additional information to be added to
http://opendata.cern.ch/record/1000 and
http://opendata.cern.ch/record/1001

1) Add a new field "Issues & Limitations" with the following text:

- record 1000: "This list covers all data taking in 2010. The public data (RunB) is part of this list, between run numbers 146428 and 149294"
- record 1001: "The list covers all d

[2017-04-06 08:59] artfisica commented on #1226
Hi!

The banner is not working today,
http://opendata.cern.ch/education/ATLAS

I would like to kindly ask that if this modification is not possible, to **please remove the banner completely.**
This is giving me a lot of troubles, excuse me again.

Thanks,
Arturo

[2017-04-10 15:59] tiborsimko commented on #1228
@daslerr @sefeg It would be good to enlarge the focus of the "new IA" thougths on the whole web site, i.e. not to focus solely on the story-driven home page, but also discuss the future of the current news, glossary, help, collection, etc pages. Can you please prepare a set of new IA wireframe proposals for all those various pages and/or proposals where to move the information they currently conta

[2017-04-13 11:56] ArtemisLav opened #1236 "Create new records for the Open Data LHCb Project"
- New collection under /research/LHCb
- Three new records for: (i) data files, (ii) documentation & (iii) notebook

[2017-05-03 17:09] tiborsimko commented on #1229
@katilp Thanks, here are the latest results with some more information about datasets:

- http://simko.home.cern.ch/simko/tmp/opendata.cern.ch-issue-1229.html

[2017-05-03 18:49] katilp opened #1238 "Add instructions on how to get active triggers and prescales"
Add instructions on how to get active triggers and trigger prescales:

Tentatively:

My understanding is that triggers are not changed between lumisections, only between runs. From 2011 data on, the trigger configurations (the files themselves are admittedly not very user-friendly reading) are recorded on the portal in http://opendata.cern.ch/record/1700 and there are no changes in between.
Once y

[2017-05-04 20:55] katilp commented on #1138
Luminosity by lumisection in csv
brilcalc lumi --byls -i RunB2010_JSON.txt -o checklumils.csv

Brilcalc also gives online changes for trigger prescales:

[lxplus059.cern.ch]~/scratch1/CMSSW_5_3_32 $brilcalc trg --prescale -r 173243
+--------+-------+----------+
| run    | cmsls | prescidx |
+--------+-------+----------+
| 173243 | 1     | 5        |
| 173243 | 14    | 4        |
+--------+-------+

[2017-05-16 01:05] katilp opened #1239 "CMS getting started: add an explicit mention of different VM's under option A"
Change http://opendata.cern.ch/getting-started/CMS under Option A:

change: Not -> Note in:

"Before you proceed: Not that this example is tailored to the CMS data from 2010. In order to run the same analysis on 2011 data, you need to make the following adjustments to the workflow:"

Relace the first item:
"Make sure you're using the appropriate CERN Virtual Machine image for analysing the data fr

[2017-05-19 07:02] katilp commented on #1222
@tiborsimko Can this be closed?

[2017-05-19 12:53] daslerr commented on #1228
We've taken into account everyone's feedback so far, and we've added some additional pages. Here is a link to a prototype where most stuff is clickable:

https://invenio.mybalsamiq.com/projects/cernopendatatopbarnavigation/prototype/Home%20page?key=8c2506d3f4eb78c78449a1bee0e5bb2288588016

One important thing that isn't shown in this prototype is the means by which collaboration representatives wo

[2017-05-22 08:37] RaoOfPhysics commented on #1222
@katilp: I think so. Firefox prompts me to download the file, while Chromium downloads it directly. Closing the issue.

[2017-05-22 08:37] #1222 closed

[2017-05-22 08:55] katilp commented on #1139
@tpmccauley It would be nice to have the files, in particular those in https://github.com/cmsopendata-finland/kurssimateriaali/tree/master/Teoriaa-ja-harjoituksia/data asap on the portal
You probably have them elsewhere as well.
For the content, the important thing is that the columns are briefly described - we can probably accommodate other versions in the same records if need arises

[2017-05-22 10:45] tpmccauley commented on #1139
I have some new csv files (from 2011 with different selections) and more jupyter code which I haven't put in github (yet). I would consider these more "final". How about this week I update the notebooks in github along with the new csv files and we see if the information there is enough to create a sufficiently detailed record for the portal?
@tiborsimko what is new (if anything) about adding a re

[2017-05-22 10:55] katilp commented on #1139
OK, sounds great! Can also you give the link to the new code to @prikkila as he is looking at it now for a university exercise.

[2017-05-23 13:47] tiborsimko commented on #1230
Note: attach also Word sources from the Drive.

[2017-05-23 13:57] tiborsimko commented on #1137
Refarding efficiencies, there are also corresponding errors, for example:

[code]

Do we want to store those separately?

[2017-05-23 14:01] tiborsimko commented on #1137
Here are various values for 2012 MC datasets:

- Match efficiency error: 0.000141
- Match efficiency error: 0.000173
- Match efficiency error: 0.0001
- Match efficiency error: 0.001755
- Match efficiency error: 0.001
- Match efficiency error: 0.0025
- Match efficiency error: 0.002
- Match efficiency error: 0.005
- Match efficiency error: 0.015
- Match efficiency error: 0.01
- Match efficiency erro

[2017-05-24 09:49] katilp commented on #1138
The instructions above have been updated with the list of prescales (brilcalc trg -- prescale) for 2011 (run numbers 160 - 183126). The corresponding list for 2011 (run numbers 190389 - 211812) is in [prescale2012.txt](https://github.com/cernopendata/opendata.cern.ch/files/1025084/prescale2012.txt)

The detailed luminosity by lumi section is obtained with
brilcalc lumi --byls -i Cert_160404-180252

[2017-05-24 20:45] katilp commented on #1121
@suenjedt @tiborsimko Can this be closed?

[2017-05-24 20:50] katilp commented on #728
@tiborsimko @ArtemisLav  @tpmccauley I've added this to fast lane, I think should be quite easy to implement (i.e. add the description to the record). If not, feel free to change

[2017-05-24 20:52] katilp commented on #666
Is this being followed / done?

[2017-05-25 12:57] tiborsimko opened #1242 "OPERA: create basic MARCXML records"
Create MARCXML records for the forthcoming first data release.

There will be two datasets, Electronic Detectors (ED) and Emulsion (ECC).

[2017-05-25 12:58] tiborsimko opened #1243 "OPERA: attach CSV files"
After OPERA dataset records are created (#1242), the CSV data files from Sergey should be attached to the records.

[2017-05-25 13:00] tiborsimko opened #1244 "fixtures: new OPERA collections"
Create two(?) new OPERA collections. Tentative names:

- OPERA Electronic Detector Datasets
- OPERA Emulsion Detector Datasets

To be confirmed with Sergey and Giovanni.

[2017-05-25 13:02] tiborsimko opened #1245 "templates: new experiment (OPERA)"
Introduce new experiment OPERA under Education navigation tree.

Add OPERA logo to the footer.

[2017-05-25 13:03] tiborsimko opened #1246 "templates: new OPERA event display"
Create new standalone OPERA event display page.

Integrate it under "Visualise events" navigation tree.

Beware of CMS event display vs OPERA event display.

[2017-05-25 13:05] tiborsimko opened #1247 "previewer: new OPERA event display"
Integrate Sergey's OPERA event display previewer into Invenio.

Beware of Bower, RequireJS, AMD.

[2017-05-25 13:06] tiborsimko opened #1248 "news: OPERA data release"
Prepare text announcing the OPERA open data release with Giovanni.

Plug it into the News section.

[2017-05-26 08:04] tiborsimko commented on #1243
@dmitr25 Please see the following record about CVS column description: (see "Dataset Semantics")

- http://opendata.cern.ch/record/328

[2017-05-26 08:12] tiborsimko opened #1249 "OPERA: release previewer on Bower"
Release previewer on https://bower.io/

[2017-05-26 08:13] tiborsimko commented on #1249
(You can follow ispy-webgl example of @tpmccauley.)

[2017-05-26 08:16] tiborsimko commented on #1247
Create new `invenio_previewer_demobbed".

@dmitr25 what would be a good final name for demobbed?

[2017-05-26 08:16] katilp commented on #1201
@tiborsimko It would be very useful to have the trigger table for 2010 (the 1st point in the list). The files are already extracted and available (see https://github.com/cernopendata/opendata.cern.ch/issues/1201#issuecomment-259419047)
Labeled this fast lane, let me know if doable.

[2017-05-26 08:23] tiborsimko commented on #1243
Example from CMS:

[code]

[2017-05-29 12:09] katilp opened #1250 "CMS: 2012 data transfer"
#Starting the data transfer of 2012 data

Collision data (557.6 TB)

RunB collision data: /*/*2012B-22Jan2013*/AOD 218.9 TB request done + completed  + moved
https://cmsweb.cern.ch/phedex/prod/Request::View?request=1013354

RunC collision data: dataset=/*/*2012C-22Jan2013*/AOD 338.7 TB excluding LP_* request done + completed + moved
https://cmsweb.cern.ch/phedex/prod/Request::View?request=1026086

[2017-05-29 14:13] #1244 closed

[2017-05-29 14:51] #1245 closed

[2017-05-29 16:41] tiborsimko commented on #1243
@dmitr25 I have tried to attach your files locally on my laptop, but the organisation of having 2 records with 6533 attached CSV files does not really work that well... Moreover it would be hard for people to cross-link ED and ECC events, such as get all data for 12337026514 regardless of whether it is ED and ECC, if that kind of use case may be of interest.

Can we talk about the record-vs-files

[2017-05-29 18:15] dmitr25 commented on #1243
@tiborsimko Yes, we can discuss this (may be via Skype?) on Tuesday morning. Is 10am OK for you? My skype account is s_dmitrievsky. As for me, more than 1-2 files per event is too many. :) I would also prefer to have a bit more complicated format for each file and to combine, for example, TT, RPC, and DT hits. Just let me know!

[2017-05-30 07:34] tiborsimko commented on #1243
@dmitr25 I'm busy at 10am but I'll let you know via email. Skype is OK.

[2017-05-30 09:31] tiborsimko opened #1254 "OPERA: add author record"
Add a record listing all OPERA collaboration authors.

Plug this record to the OPERA dataset records.

This is similar to how the CMS collaboration authors are done.

[2017-05-30 09:34] tiborsimko opened #1255 "OPERA: enrich record skeletons"
Add DOI.

Add experiment (693).

Add other usual fields that have been left out in the first template.

[2017-05-30 13:23] dmitr25 commented on #1243
@tiborsimko Here is the final version of the ED and ECC data collections for 818 OPERA events.
[OpenDataCollections_818Events.zip](https://github.com/cernopendata/opendata.cern.ch/files/1038442/OpenDataCollections_818Events.zip)

[2017-05-30 15:15] tiborsimko commented on #1254
TBD author list from http://operaweb.lngs.infn.it/IMG/pdf/OPERA-composition-1-1-13.pdf ?

[2017-06-01 10:16] tiborsimko opened #1258 "OPERA: two new collections for events"
Create two new collections for separated OPERA ED and ECC events.

[2017-06-01 10:18] tiborsimko opened #1259 "OPERA: create 818 event records"
Create ~818 event records with corresponding CSV files. (see #1243)

[2017-06-06 09:40] katilp commented on #1139
@tpmccauley Any news on this? It would be really useful to have them on portal for different training courses (e.g. HST and all). I'm adding fast lane but remove if you think you need more time

[2017-06-06 09:57] tpmccauley commented on #1139
Will have it this week. Sorry for delay.

[2017-06-06 15:12] ArtemisLav opened #1260 "templates: update OPERA experiment description"
Update the current experiment description to display the new text received:

[2017-06-08 03:44] katilp opened #1262 "CMS: list of validated run for 2012 release"
Find out the correct list of validated run for the 2012 release.

It will be a new record similar to http://opendata.cern.ch/record/1001 (with updates similar to https://github.com/cernopendata/opendata.cern.ch/issues/1138#issuecomment-292106419)

[2017-06-08 04:45] katilp opened #1263 "CMS: Global tag and the corresponding condition data for 2012 release"
- [x] Verify if the Global Tag to be used for analysis of 2012 collision data is different from FT_53_LV5_AN1 (i.e. that for the 2011 data) and the one for 2012 MC different from START53_LVA1

https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideFrontierConditions#Winter13_2012_A_B_C_D_datasets_r : FT53_V21A_AN6 and START53_V27 Waiting for a  confirmation from Giovanni Franzoni.

- [x] Ask for sq

[2017-06-08 07:26] katilp commented on #1234
After the Windows update in June 2017, Virtualbox will not start. The problem has been fixed by the VirtualBox team and downloading the most recent version (5.1.22) from https://www.virtualbox.org/wiki/Downloads solves the problem.

[2017-06-08 13:53] tiborsimko commented on #1230
@ArtemisLav We are discussing with @katilp that creating one record for all of these would be sufficient.

[2017-06-08 14:05] tiborsimko commented on #1138
Note: add "preliminary information" warning in the list of validated runs.

[2017-06-08 14:18] tiborsimko commented on #1138
Note: just discussed with @katilp that the luminosity information records could be separated out and put into new collection "CMS Luminosity Information".... with attached summary tables and perhaps also the  prescale file.

[2017-06-09 06:17] katilp opened #1264 "CMS: typo in the documentation of http://opendata.cern.ch/record/101 and 234"
In records
http://opendata.cern.ch/record/101 and http://opendata.cern.ch/record/234
there is a typo in the documentation:

Under "Data selection" in lines
Distance between the electron z-vertex and the interaction z-vertex < 0.02 cm;
Distance between the muon z-vertex and the interaction z-vertex < 0.02 cm;
the value should be 0.2 cm (for both of these lines)

[2017-06-09 13:55] tiborsimko opened #1265 "fixtures: new collection CMS Luminosity Information"
Create new collection "CMS Luminosity Information". Stems from #1138.

[2017-06-09 14:29] #1258 closed

[2017-06-09 15:18] #1265 closed

[2017-06-12 09:32] tiborsimko commented on #1264
@katilp What about the transverse impact parameter, it's once 0.04cm and once 0.02cm, is that OK? (I'm wondering since I only saw 0.02cm in Dmytro's message.)

[2017-06-12 09:38] katilp commented on #1264
@tiborsimko The values are different for electrons and muons and for them the text corresponds to the values in the example code, i.e. it is OK as it is now. Thanks for checking!

[2017-06-12 09:43] tiborsimko commented on #728
@ArtemisLav Can you please create the corresponding MARC tags `505 $t $g`?

[2017-06-12 09:52] katilp commented on #728
@tpmccauley What about the csv files with px, py and pz and such? Or are all the csv file currently on the portal with pt, eta and phi (i.e. without momentum components separately)? Thanks!

[2017-06-12 11:10] tiborsimko commented on #1223
This is just one manifestation of MathJax not being enabled on the COD pages.  LaTeX is not rendered in other pages, too.  Hence I'm closing this issue as a subset of #1224.

[2017-06-12 11:10] #1223 closed

[2017-06-12 11:29] #1225 closed

[2017-06-12 11:29] #1264 closed

[2017-06-12 11:30] #1239 closed

[2017-06-12 11:45] tiborsimko commented on #1214
@katilp While working on this issue, I noticed that the EGI FedCloud site at IFCA is not responding at the original URL http://cmsopendata.ifca.es/. Can you please check with the IFCA people?

[2017-06-12 13:15] tiborsimko commented on #728
@ArtemisLav Here is an overview of all the CMS CSV file headers:

[code]

[2017-06-12 13:20] tiborsimko commented on #1230
Example:

[code]

[2017-06-12 13:37] ArtemisLav commented on #728
@tpmccauley yes, that is the field (e.g. see here http://opendata.cern.ch/record/554/export/xm). Will you be taking care of that or should we?

[2017-06-12 13:58] tpmccauley commented on #728
@ArtemisLav I'm not sure I have the time to do it for the already-included csv files but can do it for the new ones I am preparing.

[2017-06-12 14:10] ArtemisLav commented on #728
@tpmccauley that would be great, thanks, and in the meantime, I can do the ones we already have.

[2017-06-12 14:10] artfisica commented on #1226
Dear All,

Just to let you know that I made some simple changes and the picture (logo) is back to the banner. I added an extra layer while we update the links in the banner.

Thanks as usual :)
Cheers,
Arturo

[2017-06-12 14:29] RaoOfPhysics commented on #1214
It has gone down in the past as well. :(

[2017-06-12 14:32] ArtemisLav commented on #1230
@katilp are those the final file names or is there a possibility of "prettier" ones?

[2017-06-12 14:43] katilp commented on #1214
I've contacted the IFCA people for this

[2017-06-12 15:45] tiborsimko commented on #1214
When the IFCA site is up, we should take a screenshot and update the template accordingly.

(But I merged anyway in the meantime with the masterclass picture.)

[2017-06-13 09:56] tpmccauley commented on #728
@ArtemisLav I will document the new csv files today. That information can be used for the older ones.

[2017-06-13 15:12] katilp commented on #1214
From IFCA side, the service is being migrated to a new version as there were a lot of problems. They will update us when done.

[2017-06-14 12:15] tiborsimko commented on #1138
@katilp Can you please check http://opendata.cern.ch/collection/CMS-Luminosity-Information and let me know any quick-fixes to make for the lumi information, in case it comes up this afternoon

[2017-06-14 12:24] #1214 closed

[2017-06-14 12:28] tiborsimko commented on #1138
CMS Validated Runs records are also updated regarding the run range limitations:

- http://opendata.cern.ch/record/1000
- http://opendata.cern.ch/record/1001

but we don't particularly link to the luminosity information:

- http://opendata.cern.ch/record/1050
- http://opendata.cern.ch/record/1051

Please let me know in this issue if we should interlink them in some nice way, or whether this is OK

[2017-06-14 13:26] tiborsimko commented on #1138
BTW @ArtemisLav you can assign DOIs for the two new luminosity records and add any standard fields I may have omitted, e.g. I noticed I should have probably put 2010 in the field 264 in the record 1050...

[2017-06-14 14:14] katilp commented on #1138
@tiborsimko Looks OK. For readability, it would be good to have separated in paragraphs.
In 1051, Please add  "HLT trigger" so that it becomes "find the HLT trigger prescale factors for different run ranges"...

and add a mention that the detailed list is for the validated runs i.e. "detailed list of luminosity by lumi section in 2011lumibyls.csv for the list of validated runs and lumi sections (h

[2017-06-14 14:21] ArtemisLav commented on #1138
@tiborsimko done; let me know when it is live, so that I can mint the DOIs.

[2017-06-15 06:51] katilp commented on #1188
NB: no DoubleMu in 22Jan2013 reprocessing, checking this with Higgs POG, Muon PAG and PPD. Earlier reprocessing available:
RunB: https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D%2FDoubleMu%2F*2012B*%2FAOD
RunC:   https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D%2FDoubleMu%2F*2012C*%2FAOD

[2017-06-15 15:39] ArtemisLav commented on #1230
@katilp could you please provide me with a title, description and any other metadata you would like added to the record? Also, is there a specific run period for this?

[2017-06-16 07:45] tiborsimko commented on #1138
@ArtemisLav Deployed in PROD, you can register those two DOIs.

[2017-06-16 08:02] tiborsimko commented on #1138
@katilp All done.

[2017-06-16 08:03] #1138 closed

[2017-06-16 12:26] #1260 closed

[2017-06-16 16:32] #1242 closed

[2017-06-16 16:32] #1243 closed

[2017-06-16 16:32] #1254 closed

[2017-06-16 16:32] #1255 closed

[2017-06-18 01:08] #1259 closed

[2017-06-19 12:30] katilp opened #1286 "Update to the record 1050"
http://opendata.cern.ch/record/1050 can be updated with the following

"The detailed list of luminosity by lumi section is in 2010lumibyls.csv for the list of validated runs and lumi sections."

- 2010lumibyls.csv is in https://cernbox.cern.ch/index.php/s/UrgyCkOt80OyAdO and should be uploaded to the record.
- "the list of validated runs and lumi sections" in the text above should like to http://o

[2017-06-19 15:00] katilp commented on #1262
Confirmed that this is the correct file

/afs/cern.ch/cms/CAF/CMSCOMM/COMM_DQM/certification/Collisions12/8TeV/Reprocessing/Cert_190456-208686_8TeV_22Jan2013ReReco_Collisions12_JSON.txt
https://hypernews.cern.ch/HyperNews/CMS/get/physics-validation/2065.html

/afs/cern.ch/cms/CAF/CMSCOMM/COMM_DQM/certification/Collisions12/8TeV/Reprocessing/Cert_190456-208686_8TeV_22Jan2013ReReco_Collisions12_JSON

[2017-06-19 15:20] katilp commented on #1262
A new record similar to http://opendata.cern.ch/record/1001 can now be built for 2012.

Under "How can you use these data?":  change the file name to Cert_190456-208686_8TeV_22Jan2013ReReco_Collisions12_JSON.txt
Under "Issues & Limitations": "The list covers all p-p data taking in 2012. The public data (RunB and RunC) are part of this list, between run numbers 193833 - 196531 for RunB and 198022-

[2017-06-19 16:24] katilp commented on #1230
Title: Worksheets and instructions for schools prepared during the High School Teacher Programme 2016
Description: During the High School Teacher Programme in 2016 at CERN, a working group prepared worksheets and instructions on the use of open data in schools. Different aspects of open data were addressed: visualisation of single events, data analysis in spreadsheets and data analysis in python o

[2017-06-20 14:42] RaoOfPhysics commented on #1230
On it.

[2017-06-21 11:05] tiborsimko opened #1288 "OPERA: joint collection for events"
Merge two collections OPERA-Electronic-Detector-Events and OPERA-Emulsion-Detector-Events into one OPERA-Detector-Events.

[2017-06-27 09:06] katilp commented on #1230
@RaoOfPhysics Comments, corrections to the text?

[2017-06-28 12:07] katilp commented on #1139
@tiborsimko Will these be on the portal for next week's HST? Thanks!

[2017-07-04 15:42] katilp commented on #1202
List of RAW files for checking the transfer

/store/data/Run2011A/MinimumBias/RAW/v1/000/160/957/00CD8D3F-8053-E011-9C1F-001D09F290CE.root
/store/data/Run2011A/MinimumBias/RAW/v1/000/160/957/02FD18E5-7753-E011-B91D-000423D9A2AE.root
/store/data/Run2011A/MinimumBias/RAW/v1/000/160/957/0E402934-7E53-E011-868E-0030487CD77E.root
/store/data/Run2011A/MinimumBias/RAW/v1/000/160/957/107A864F-6053-E011-8C

[2017-07-04 15:44] tiborsimko commented on #1202
@katilp The CMS upload area is missing one file `12796C93-4E53-E011-A888-001D09F2841C.root`.

[2017-07-05 12:21] tiborsimko commented on #1230
@katilp Deployed as http://opendata.cern.ch/record/72

@ArtemisLav Shall we have a DOI for this?

@ArtemisLav @katilp Regarding authorship, isn't it rather some individual people and not the whole "CMS Collaboration"?

[2017-07-05 12:23] ArtemisLav commented on #1230
@tiborsimko I asked @katilp about the DOI and she said it's not needed now

[2017-07-05 12:49] tiborsimko commented on #1139
@katilp Deployed as http://opendata.cern.ch/record/545

[2017-07-05 13:18] #1139 closed

[2017-07-05 13:18] #1230 closed

[2017-07-06 14:13] katilp opened #1292 "Notes from HST 2017"
Collecting here remarks from HST Open data WG:
- teachers would expect that lowercase/uppercase would not matter in URL
- add a file type as a search key (i.e csv, ig, root, AOD, AODSIM)
- http://opendata.cern.ch/record/72 does not appear under Learning resources

[2017-07-10 07:17] katilp opened #1293 "Cannot find record 545 in search"
I cannot find the new record
http://opendata.cern.ch/record/545
(e.g..cernopendata.ch/search?ln=en&p=SingleElectron&action_search= or with any other search string from the record name)
in search and it does not appear in the list of derived datasets for 2011
http://opendata.cern.ch/search?p=Run2011A%20collection%3ACMS-Derived-Datasets

[2017-07-10 07:34] tiborsimko commented on #1293
@katilp Should be fixed now, for example:

- http://opendata.cern.ch/search?p=Datasets+derived+from+the+Run2011A+SingleElectron+SingleMu+DoubleElectron+DoubleMu+primary+datasets

[2017-07-10 07:34] #1293 closed

[2017-07-17 15:02] suenjedt commented on #175
I am closing this as it comes "automatically" with the new OD on Invenio 3.

[2017-07-17 15:02] #175 closed

[2017-07-17 15:04] suenjedt commented on #203
@tiborsimko can I close this or do you want to keep it?

[2017-07-17 15:08] suenjedt commented on #249
I am closing this for now. With the redesign I don't see this as a priority right now. If we reconsider options, we can reopen, of course.

[2017-07-17 15:08] #249 closed

[2017-07-17 15:12] suenjedt commented on #304
@tiborsimko @hjhsalo  is this part of the template sprint (bibtex export) anyway?

[2017-07-17 15:14] suenjedt commented on #51
I am closing this as @daslerr and @sefeg make sure that the feedback mechanisms on the new Invenio 3 prod system will become more prominent. I don't think anyone of us has the resources to implement a Forum this year anyway. If you have strong objections, please reopen.