[2017-12-08 08:46] jblomer commented on #2045
@katilp

The opendata-desktop-settings stay the same.  For the CernVM script, this should be the new content

[code]

[2017-12-08 08:55] katilp commented on #2045
@jblomer thanks! For the description text (in the comment above), is it OK?

I've only updated the ova file version but I think http://cernvm.cern.ch/releases/testing/ucernvm-prod.2.5-2.cernvm.x86_64.hdd needs to updated as well?

[2017-12-08 08:58] jblomer commented on #2045
Ah, yes.  This should be http://cernvm.cern.ch/releases/production/cernvm3-micro-2.8-6.hdd

[2017-12-08 09:02] katilp commented on #2045
OK, thanks, updated.

[2017-12-08 09:11] tiborsimko opened #2053 "installation: uwsgi"
We currently use Flask development server to serve the COD3 application:

[code]

which is OK for development.

Let us use `uwsgi` to serve the COD3 application for production.

Pay attention to the number of processes vs threads, e.g. try 2 processes with 2 threads each, and let's optimise the number after siege tests.

Pay attention to selecting a proper protocol, e.g. use `uwsgi_pass` in `nginx

[2017-12-08 09:18] paris737 commented on #2053
Sent from Yahoo Mail for iPhone

On Friday, December 8, 2017, 1:11 AM, Tibor Simko <notifications@github.com> wrote:

We currently use Flask development server to serve the COD3 application:
$ grep -A 3 ^web docker-compose.yml
web:
  restart: "always"
  build: .
  command: "cernopendata run -h 0.0.0.0"
which is OK for development.

Let us use uwsgi to serve the COD3 application for production.

Pa

[2017-12-08 09:20] tiborsimko opened #2054 "elasticsearch: fast dump and load"
Investigate fast dump and load options for Elasticsearch indices.

A use case scenario: we create a COD3 instance, load all records, and take a snapshot of the Elasticsearch instance indices, and launch the site. In case we loose the Elasticsearch cluster for a reason or another, we would like to quickly restore Elasticsearch indexes without having to repopulate the COD3 records from scratch again

[2017-12-08 09:39] atrisovic commented on #1888
@katilp we are thinking if  `/docs/cms-dataset-names` is a good url location for the article, maybe it should be `/docs/cms-simulated-dataset-names`. what do you think?

it should appear in the search once the article (document) is there

[2017-12-08 09:42] katilp commented on #1888
@atrisovic better `cms-simulated-dataset-names`  indeed, as it is only about MC

[2017-12-08 09:48] katilp commented on #1592
Closed as implemented

[2017-12-08 09:48] #1592 closed

[2017-12-08 09:53] katilp commented on #1548
Closed as implemented

[2017-12-08 09:53] #1548 closed

[2017-12-08 09:54] #1327 closed

[2017-12-08 09:59] katilp commented on #1959
Closing as superseded by #2044

[2017-12-08 09:59] #1959 closed

[2017-12-08 10:26] katilp opened #2057 "CMS: update the link to the simulated dataset names in MC records"
In all  CMS simulated dataset records (http://opendata-dev.web.cern.ch/search?page=1&size=20&q=&subtype=Simulated&experiment=CMS)

update in "description" of "abstract":

`<p>See the description of the simulated dataset names in: <a href=\"/about/CMS-Simulated-Dataset-Names\">About CMS simulated dataset names</a>.</p>
`
to

`<p>See the description of the simulated dataset names in: <a href=\"/docs

[2017-12-08 10:29] ioannistsanaktsidis commented on #2048
@tiborsimko this is happening because of this field
[code]
should we remove parent dataset when type == IsChildOf ?

[2017-12-08 11:40] atrisovic commented on #1920
I don't agree with this one... the word `event` is appearing already `31 029` times in COD and it's part of the common terminology (even across the experiments)

[2017-12-08 12:30] RaoOfPhysics commented on #1920
But the target group for the event displays are not experimentalists… The term means something completely different for those who are most likely to visit the visualisers.

[2017-12-08 13:03] tiborsimko opened #2058 "global: hide OPERA"
Hide OPERA records from fixture loading.

Hide OPERA event previewer.

Hide OPERA from the home page experiment links, the page header menus, etc.

We'll enable back later in January.

[2017-12-08 13:57] #1547 closed

[2017-12-08 17:25] katilp opened #2061 "CMS: prettify and add some items to FAQ (/docs/cms-guide-to-troubleshooting)"
Unify the formatting and add /update some items to /docs/cms-guide-to-troubleshooting
Add sections such as VM, File access, CMSSW, Download

[2017-12-08 21:08] katilp opened #2063 "CMS: Updates to research guide"
Updates to http://opendata-dev.web.cern.ch/docs/cms-guide-to-research-use-of-cms-open-data (to be done when the previous updates are merged):

- [x] add a mention of 2012 data and MC, a new subtitle "Exploring the 2012 datasets" or combine with 2011?

- [x] at the end, add a link to "in our page related to known errors" (/docs/cms-guide-to-troubleshooting)

- [x] make the questions bold-face as in

[2017-12-09 23:38] #2053 closed

[2017-12-09 23:43] tiborsimko opened #2064 "files: check download of some files"
As observed in https://github.com/cernopendata/opendata.cern.ch/pull/2055#issuecomment-350335270, some file download works, some does not.

- this works: http://0.0.0.0/record/613/files/ZeroBias.ig
- this gives exception: http://0.0.0.0/record/7120/files/SingleMu_Run2012B_0.ig

@ioannistsanaktsidis This is without doubt also why the embedded previewer worked for some records and why it did not wor

[2017-12-10 00:05] tiborsimko opened #2066 "templates: file download warning box"
The file download warning box seems to have disappeared.

Let us bring it back, as it is important do warn the users that they don't have to download big files if they use VM for analysing.

See #1437 and #1451.

[2017-12-10 00:55] tiborsimko commented on #1121
We still have the DOI part in the disclaimer, so cannot be closed yet... However we may mint DOI for everything in the future, so we can revisit this later.

[2017-12-10 01:01] tiborsimko commented on #1224
Status on COD3:

- math works on record pages, e.g. http://0.0.0.0/record/328
- math works on glossary terms, e.g. http://0.0.0.0/glossary/muon
- glossary is disabled on event previewer (#1223)
- math is not rendered on glossary "search" page http://0.0.0.0/glossary?page=1&size=20

[2017-12-10 01:04] #2061 closed

[2017-12-10 01:46] tiborsimko commented on #2039
If we update only the metadata, then we would not cover the original scenario described above. It is possible that the record metadata has changed, or the file information such as some file size has changed, or some new files were added... We need to have an easy way to update records in all these scenarios.

[2017-12-10 02:05] tiborsimko commented on #1963
@ArtemisLav @katilp The 2011 file is copied as 2012. However please note that it says "2011" on the first page... so it is probably just a question of time when this will confuse somebody...  (seeing 2011 in a 2012 file).

[2017-12-10 02:14] #1963 closed

[2017-12-10 02:34] tiborsimko opened #2068 "templates: author list records"
Prettify display of author list records.  Example recid 453.

- use a nice non-random order: first by institute, then within each institute alphabeticaly by names;

- offer download of attached PDF file that was present on COD2 but is missing on COD3;

- unify underlined style of page headers.

(see also PR #2067 that quick-fixed a display traceback)

[2017-12-10 02:54] #1263 closed

[2017-12-10 02:59] #1928 closed

[2017-12-10 03:11] tiborsimko commented on #2048
@katilp The wrong parent information comes from COD2, I noticed we had it there wronly already... and I agree that since we don't host it and/or link to it, we don't need to show it.

I'd propose to simply delete this information from the metadata for both collision and simulated datasets, and keep it only for derived datasets when we host the parent...

[2017-12-10 05:11] katilp commented on #2048
For collision data the information is correct, it is not relevant in the context of the portal, but eventually useful for DP. Would it be possible to delete it from MC and keep it for collision data but not show it?

[2017-12-10 05:29] katilp commented on #2052
In addition, replace the attached zipped file with the download from
https://github.com/cms-opendata-analyses/DimuonSpectrum2011/tree/v1.0.1

[2017-12-10 10:01] tiborsimko commented on #406
The search pagination is fixed in COD3.

[2017-12-10 10:01] #406 closed

[2017-12-10 10:22] tiborsimko commented on #2048
It would not be practical to introduce a special exception for collision data, but we could perhaps have  this generic rule:

"For `isChildOf` type of relations, show the related dataset if and only if we also host the related dataset as well; i.e. if we have the record ID in the relations link."

[2017-12-10 10:33] katilp commented on #2048
True, this would work.
Note however that for the MC datasets this is just wrong, the dataset claims that it is the child of itself so `isChildOf` field should be removed from them

[2017-12-10 16:01] katilp opened #2069 "CMS: Update lists to show properly on the portal"
The lists with `-` do not show properly (although OK on github) , they have to be with `*`

[2017-12-10 18:39] katilp opened #2071 "CMS: change "last tested VirtualBox version" to 5.2.2"
In Install VM pages, change the last tested VirtualBox version to 5.2.2

[2017-12-10 20:43] katilp commented on #1969
Closed in #2047

[2017-12-10 20:43] #1969 closed

[2017-12-10 23:47] RaoOfPhysics commented on #2069
They appear fine… Can you show a screenshot?

[2017-12-11 07:15] katilp commented on #2069
Sorry, no I can't, I'm just changing the md (I have no local installation) but based docs already on the portal, this should fix the formatting

[2017-12-11 08:07] tiborsimko opened #2072 "templates: check all links"
Check all COD2 links whether they are well alive on COD3 and whether they return something reasonable. This should have been already addressed, but we've seen some recurse, so let's double check all redirections once more.

Rules of thumb:

(1) If we clearly know where to redirect and the target page is a single page,
then we should always redirect there.

- good example: `/about/xxx` -> `/docs/yy

[2017-12-11 08:49] tiborsimko commented on #2022
![3625_001](https://user-images.githubusercontent.com/517546/33822621-81443440-de58-11e7-9d10-fc48d0d274ad.png)

[2017-12-11 09:26] RaoOfPhysics commented on #2069
I meant which docs on the portal do you see issues with. :) The latest version looks fine to me.

[2017-12-11 09:29] katilp commented on #2069
OK, it was:

![mdportal](https://user-images.githubusercontent.com/5859918/33824259-1822bea4-de5e-11e7-8c94-39da52271d7b.PNG)
![mdgithub](https://user-images.githubusercontent.com/5859918/33824260-1ae314a4-de5e-11e7-9463-3fd389cbd9bb.PNG)

but now it should be fixed

[2017-12-11 09:36] RaoOfPhysics commented on #2069
Ah, I see. OK, so this should be taken care of at the backend. It's probably not interpreting the line breaks correctly. I don't know if changing `-` to `*` will work. @tiborsimko, @pamfilos?

[2017-12-11 09:39] katilp commented on #2069
Yes, it is working, I did some experimental observations yesterday 😃 :
the `*`s are working fine in About CMS Open Data

[2017-12-11 10:15] #2063 closed

[2017-12-11 10:15] #2069 closed

[2017-12-11 10:35] ioannistsanaktsidis commented on #2066
@tiborsimko  I can't replicate the problem. I am trying with /record/35 and the box appears when I click the download button.

[2017-12-11 10:37] diegodelemos commented on #2023
DEV, PROD and QA are using DBoD and ES2 with `emptyDir` for persistence. Hence, they are ready to be populated.

[2017-12-11 10:51] katilp commented on #1877
Close as implemented

[2017-12-11 10:51] #1877 closed

[2017-12-11 10:53] #2058 closed

[2017-12-11 12:14] tpmccauley commented on #1441
It seems that html is ok since paragraph text gets wrapped in p tags.
However don't know how to include assets from bundles like aframe js.
@tiborsimko?

On 30 Nov 2017 16:56, "Achintya Rao" <notifications@github.com> wrote:

@tpmccauley <https://github.com/tpmccauley>: I think .md pages can
generally include HTML code, but not sure what translator we're using here.
Can you try on a local instance

[2017-12-11 12:39] ioannistsanaktsidis commented on #2064
Some files are missing the ```sha1:...``` property in the fixtures thats why download is failing.

[2017-12-11 13:49] #2064 closed

[2017-12-11 13:51] atrisovic commented on #2072
- [ ] http://opendata-dev.web.cern.ch/
- [ ] http://opendata-dev.web.cern.ch/<string:exp>/getstarted
- [ ] http://opendata-dev.web.cern.ch/VM
- [ ] http://opendata-dev.web.cern.ch/VM/<exp>/validation/report
- [ ] http://opendata-dev.web.cern.ch/VM/<string:exp>
- [ ] http://opendata-dev.web.cern.ch/VM/<string:exp>/<string:year>
- [ ] http://opendata-dev.web.cern.ch/about
- [ ] http://opendata-dev.w

[2017-12-11 15:36] katilp opened #2083 "CMS: corrections to record 560"
In:

http://opendata-dev.web.cern.ch/record/560 (and maybe others), "Use with"  shows with double entry:
![usewith](https://user-images.githubusercontent.com/5859918/33838684-7f5856d8-de90-11e7-8777-0ec8bafd51d6.PNG)

This is due to:

[code]

url can be removed and the description should be updated as follows:

[code]

[2017-12-11 16:26] katilp opened #2084 "Feedback main page"
Feedback for the main page from Achim:

- in general there seem to be no pictures - intentional?
- for 'beginners', I find the text information on the "2nd screen" much more useful than the one on the "first screen", and the 'stories' that some people were so fond of only come on the "third screen", although they are supposed to tease the general public -> invert the order of the screens?
- the 'm

[2017-12-11 16:33] RaoOfPhysics opened #2085 "templates: Hyphenate "high-school" when used as adjective"
For http://opendata-dev.web.cern.ch/docs/cms-summer-student-report-2017

Copy final text from here? http://cylindricalonion.web.cern.ch/blog/201708/summer-open-data

[2017-12-11 17:01] katilp commented on #1966
@ArtemisLav I have updates for this, I'll add them here. In case you want them separate, let me know

[2017-12-11 17:07] tpmccauley commented on #1410
I will have H to 4l candidate events ready sometime today (2 more to find). They will be ones that pass the selections in the analysis example. I will paste a json file for the record similar to http://opendata-dev.web.cern.ch/record/300

[2017-12-11 17:07] tpmccauley commented on #1410
{
    "files": [
        {
            "checksum": "",
            "uri": "Hto4l_Run2012.ig",
            "size":
        },
        {
            "checksum": "",
            "uri": "Hto4l_Run2012.csv",
            "size":
        }
    ],
    "accelerator": "CERN-LHC",
    "abstract": {
        "description": "This document contains Higgs candidate events (with an invariant mass between 120-130 G

[2017-12-11 21:45] #2068 closed

[2017-12-11 21:50] tiborsimko commented on #2066
As discussed IRL, I tried with a file of ~600MB, for which COD2 was giving a warning box, while the limit is set hight for COD3:

[code]

Let us reduce the limit to ~200 MB to be on the safer side.

(and perhaps let's put the number in a config variable)

[2017-12-11 22:24] #2001 closed

[2017-12-11 22:51] #1471 closed

[2017-12-11 22:56] tiborsimko opened #2087 "search: Elasticsearch 5 warnings"
Since moving to Elasticsearch 5, one can see Elasticsearch warnings like:

[code]

during both index time and search time.

[2017-12-11 23:05] #2025 closed

[2017-12-11 23:11] tiborsimko opened #2088 "templates: centralise spinning wheel"
When search takes some time, the spinning sheel loading bar icons appears at the very top-left corner, where users hardly notice it.

Improve the spinning wheel position, e.g. centralise it on the page.

[2017-12-11 23:17] tiborsimko opened #2089 "search: Found NNN results"
Since the move to Elasticsearch 5, we have lost the "Found 3995 results" message on the search results pages.

Let's introduce it back.

[2017-12-11 23:19] tiborsimko opened #2090 "search: Sort by selection box"
Since the move to Elasticsearch 5, we have lost the "Sort by" selection box where users could have chosen the sorting type by best match, by A-Z title, etc.  Let's introduce it back.

[2017-12-11 23:25] tiborsimko opened #2091 "search: centralise search box position"
The search is located in the page header bar, which is good, but it looks tiny, which is geographically far from the center of the page where the user attention is (filter by, sort by).

Let's centralise the search box position on the search results pages, either keeping it in the header and making it bigger, or moving it under the header in a centralised position and above the Sort-by and DIsplay

[2017-12-11 23:30] tiborsimko commented on #2039
@ioannistsanaktsidis Yes, that would be perfect, since we always do a full "replace" operation, and never a partial "update".

[2017-12-11 23:31] tiborsimko commented on #2041
Closed as per https://github.com/cernopendata/opendata.cern.ch/issues/2023#issuecomment-350685976.

[2017-12-11 23:31] #2041 closed

[2017-12-11 23:34] tiborsimko commented on #2023
The complete loading is now OK since the change of asset loading strategy in #2075 and #1826. Moreover, all instances were converted to better DB and ES storage options.

[2017-12-11 23:34] #2023 closed

[2017-12-11 23:39] tiborsimko commented on #1313
Refactoring into `docs` happened.

Leaving this open to cross-check completeness and the field usage with `record` type.

[2017-12-11 23:42] tiborsimko commented on #534
@tpmccauley @RaoOfPhysics Are we OK here?  The visibility of h4l may be achieved by featuring an article...

[2017-12-11 23:43] tiborsimko commented on #449
Done.

[2017-12-11 23:43] #449 closed

[2017-12-11 23:43] tiborsimko commented on #373
Done in COD3.

[2017-12-11 23:43] #373 closed

[2017-12-11 23:44] tiborsimko commented on #304
See also #1324.

[2017-12-11 23:52] tiborsimko opened #2092 "files: move more CMS 2012 MC datasets"
More CMS datasets are ready to be moved:

[code]

[2017-12-12 00:04] tiborsimko opened #2093 "files: create rich index files"
For every index file in TXT, create rich index file in JSON. Example content:

[code]

@tiborsimko to create and attach JSON files on EOS for each concerned record. (PR #2075)
@pamfilos to take these files from `/record/NNN/files/XXX.json` and use them in the file pagination box on the detailed record pages.

Stemmed from  #1826.

[2017-12-12 00:25] tiborsimko commented on #2048
@hjhsalo @ioannistsanaktsidis The PR #2094 takes care of the wrong record metadata; can you please take care of amending the record page display as mentioned in https://github.com/cernopendata/opendata.cern.ch/issues/2048#issuecomment-350538338 when you have time?

[2017-12-12 00:27] tiborsimko commented on #2005
COD3 is now converted to Elasticsearch 5 by default, using regular repository.

[2017-12-12 01:35] tpmccauley commented on #534
I can address this first thing tomorrow morning

On 11 Dec 2017 23:42, "Tibor Simko" <notifications@github.com> wrote:

[2017-12-12 07:52] tiborsimko commented on #2092
Done.

[2017-12-12 08:36] katilp commented on #1966
@ArtemisLav @tiborsimko The file can now be taken as follows

The logic goes that there are 4 levels of possible complexity for  doing this analysis.

1. look at the final plots only
2. reproduce the final plots from root files (provided)
3. run on a limited number of events
4. run the full analysis

The instructions and files are in

/afs/desy.de/user/g/geiser/public/CMS/opendata/Higgsexample

Th

[2017-12-12 09:01] katilp opened #2095 "CMS: Add record for intermediate root file for the Higgs example"
The files to be attached are 23 root files from /afs/desy.de/user/g/geiser/public/CMS/opendata/Higgsexample/rootfiles

Copy-pasted and modified from an existing derived dataset record:

[code]

[2017-12-12 09:03] tiborsimko opened #2096 "fixtures: insert/replace mode for docs"
it would be useful to have a quick way to update docs on running PROD instance.

Currently nothing much is possible:

[code]

Ideally we'd like to be able to update docs in a similar way as records:

[code]

@ioannistsanaktsidis When time permits, can you please introduce the `-f` option and the `--mode` option with insert/replace possibilities for docs fixtures as well?

We have `docid`'s and `sl

[2017-12-12 09:16] sefeg commented on #1755
Closing as feedback is addressed (resolved or active in other issues)

[2017-12-12 09:16] #1755 closed

[2017-12-12 11:05] RaoOfPhysics commented on #449
@tiborsimko: I'm guessing all `opendata.cern.ch` links will re-direct to `opendata.web.cern.ch`, correct? Thanks for this!

[2017-12-12 11:08] ArtemisLav commented on #2052
@tiborsimko this just needs the files now and it should be good to go

[2017-12-12 11:32] katilp commented on #2052
@tiborsimko just a small update in github instructions, please update the zip from the new version:
https://github.com/cms-opendata-analyses/DimuonSpectrum2011/tree/v1.0.2

[2017-12-12 13:45] tpmccauley commented on #1410
The event display file is here:
https://cms-docdb.cern.ch/cgi-bin/PublicDocDB/RetrieveFile?docid=13424&filename=H4l_Run2012_0.ig&version=2

[2017-12-12 13:47] ArtemisLav commented on #1299
This has been fixed for COD3, so I'm closing.

[2017-12-12 14:24] katilp opened #2101 "CMS: check jupyter notebooks for csv file upload"
Check the notebooks that are linked to the portal for eventual file name changes (empty spaces or not), see #1299

[2017-12-12 14:55] suenjedt commented on #2084
- Adding that fonts on 2nd and 3rd screen need to be much bigger,
- need to reduce white space further and
- prettify links on 2nd screen (possible that a bigger font size already does half of the job).
- the arrows to bring you from 2nd to 3rd screen does not work yet

[2017-12-12 15:19] ArtemisLav commented on #2045
@katilp Would it be more convenient if we moved task `Replace the subheader for "usage" "How can you use these data?" with "How can you use this?"` to another ticket along with the similar template tasks from https://github.com/cernopendata/opendata.cern.ch/issues/2044#issue-280037574, so that they can be tackled more easily together? Everything record-related in these two issues is being dealt wi

[2017-12-12 15:22] tiborsimko commented on #2093
Progress:
- [ ] CMS 2010 collision data
- [ ] CMS 2011 collision data
- [ ] CMS 2011 raw data
- [ ] CMS 2011 simulated data
- [ ] CMS 2012 collision data
- [ ] CMS 2021 simulated data

[2017-12-12 15:27] katilp commented on #2045
@ArtemisLav Fine with me, do as it is most convenient

[2017-12-12 15:44] katilp commented on #1299
@ArtemisLav  Something has went wrong there in the new record, now there are two file with same name Dimuon.csv, should be Dimuon_SingleMu.csv (for the smaller) and Dimuon_DoubleMu.csv (for the larger)

[2017-12-12 15:54] ArtemisLav commented on #1299
The record is fine; I think the issue is that they have the same name in EOS. If you look at the path, it is clear which file is which:
`root://eospublic.cern.ch//eos/opendata/cms/Run2011A/SingleMu/CSV/12Oct2013-v1/Dimuon.csv`
`root://eospublic.cern.ch//eos/opendata/cms/Run2011A/DoubleMu/CSV/12Oct2013-v1/Dimuon.csv`

On the UI however, it's not obvious, you're right, it looks as though they are th

[2017-12-12 15:55] ArtemisLav opened #2103 "Fix subtitles for CMS VM and contextualization script records"
I am centralising here some tasks from #2044 and #2045 that can be worked on together:

For contextualization script records 249, 251 and 253:

- [ ] How can you use these data? -> How to use?

For VM records 252 and 250:

- [ ] How were these data selected? -> How was this built?

- [ ] How were these data validated? -> How to validate?

- [ ] How can you use these data? -> How to use?

[2017-12-12 15:56] ArtemisLav commented on #2045
@katilp OK, done: https://github.com/cernopendata/opendata.cern.ch/issues/2103

[2017-12-12 15:59] katilp commented on #2103
Good to have them together here 👍
Indeed, "How to use?" is fine in 249 as well . Note that same applies also for 251 and for the new record #2045

[2017-12-12 16:03] ArtemisLav commented on #2103
OK, I updated my comment.

[2017-12-12 17:37] RaoOfPhysics commented on #2084
Is the landing page responsive? It breaks quite badly when one shrinks the browser window.

[2017-12-12 17:42] #1728 closed

[2017-12-12 21:37] katilp opened #2105 "Search turns records to docs in condensed view for Documentation"
In http://opendata-dev.web.cern.ch/search?page=1&size=20&q=&type=Documentation&experiment=CMS items appear properly either as ../record/... or as .../doc/..
e.g. 5th item in the list is http://opendata-dev.web.cern.ch/record/5101

When Condensed view is selected
http://opendata-dev.web.cern.ch/search?page=1&size=20&q=&type=Documentation&experiment=CMS&display=condensed
all items turn to .../docs/.

[2017-12-12 22:19] katilp opened #2106 "Corrections and updates to the condition data records"
The condition data records

- [ ] 2010 collision data (http://opendata-dev.web.cern.ch/record/1800) does not show any attached files

- [x] 2011 collision data (http://opendata-dev.web.cern.ch/record/1801) and 2011 simulated data (http://opendata-dev.web.cern.ch/record/1802) show only the file index with the path to the files, should the files be shown as well?

- [ ] 2012 collision data (http://o

[2017-12-13 05:23] #2052 closed

[2017-12-13 05:59] tiborsimko commented on #1966
@katilp Regarding files, which repository name would you like to use?  I'm referring to repository names like `2011-doubleelectron-doublemu-mueg-ttbar`.  Would be good to use the "final name" when attaching files on EOS.

[2017-12-13 08:14] suenjedt commented on #2084
Yes, of course it is. Can you specify? Note that there are some fixes pending for this.

[2017-12-13 08:56] sefeg commented on #2084
Two more observations (QA):
- Selecting a search example on the landing page that maps to a facet element (e.g. energy:7TeV) does not select the corresponding facet entry on the search result page
- News & Updates shows three of the articles twice

[2017-12-13 09:52] RaoOfPhysics commented on #2084
@suenjedt:

Not at the moment, because I cannot access the website. :P

[2017-12-13 09:56] #2105 closed

[2017-12-13 10:18] tiborsimko commented on #2090
Fixed by recent docker-related commits.

[2017-12-13 10:18] #2090 closed

[2017-12-13 11:03] tiborsimko commented on #2089
Fixed by recent docker-related commits.

[2017-12-13 11:03] #2089 closed

[2017-12-13 11:50] tiborsimko opened #2111 "search: UI inconsistencies"
Following up the merge of PR #2107, there are some remaining UI inconsistencies on the search pages.

**1.** The page navigator is deep blue, which is visually the same colour as the experiment label tag. We should distinguish them. FWIW I like the page navigator being deep blue, because it is the same colour as the page header... so thinking "site navigation!" logically group them together for us

[2017-12-13 12:28] ioannistsanaktsidis commented on #1131
Closing as discussed that we are going to completely remove breadcrumbs. @annatrz  is taking care now.

[2017-12-13 12:31] RaoOfPhysics commented on #1131
Sorry, but I'm not sure removing breadcrumbs is the best idea here. There's clearly a hierarchy of information (and, indeed, of pages), e.g.: Visualise &rarr; Events &rarr; CMS.

[2017-12-13 12:41] katilp commented on #2084
Achim reports that he could not find "return home" in any of the portal pages.
To me it was intuitive, but this is maybe not the case for all.

[2017-12-13 13:16] RaoOfPhysics commented on #1131
@daslerr, @sefeg: Would you have some time to discuss the UI/UX aspects of this sometime tomorrow? Thanks!

[2017-12-13 13:53] tiborsimko commented on #1131
There were basically two options, either to complete the breadcrumbs, or to remove them. We have briefly discussed pros/cons, and since only a handful of pages use hierarchy, it seemed OK to remove them. But I fully understand that if the thumbnails are gone, the navigation will be harder in today's search-oriented page if people will happen to land on some sub-page... A related observation made b

[2017-12-13 14:04] sefeg commented on #1131
I agree that we can always revisit the discussion. As any discussion / implementation / testing requires considerable time, I think it is best if we consider this after the release. I think that for the moment we should stick with what has been decided. Possible enhancements can always be done afterwards. We could possibly meet next week @RaoOfPhysics ? (@daslerr @tiborsimko )

[2017-12-13 14:06] RaoOfPhysics commented on #1131
@sefeg: OK for next week.

[2017-12-13 14:24] ioannistsanaktsidis commented on #2087
@tiborsimko  I am not  sure that we can get rid of the warnings without updating our elasticsearch version/packages. I will check a bit more.

[2017-12-13 14:29] hjhsalo opened #2113 "elasticsearch: fix reindexing of records"
Stemmed from #2054
(Option B)

Currectly `cernopendata index reindex -t recid -t docid -t datasetid -t softid -t termid && cernopendata index run` doesn't work correctly, because of issues related to mappings and to concurrent request to Elasticsearch (Celery concurrency).

Fix reindexing and investigate best strategy (concurrency vs timeout) to achieve good / fast enough throughput of reindexing

[2017-12-13 15:24] katilp opened #2114 "CMS: corrections to Install VM"
In http://opendata-qa.web.cern.ch/docs/cms-virtual-machine-2011 there is a confusion between numbers in the index at  the beginning and actual steps. Step 2 should refer to test and validate (we refer to step 2 in many instructions). Change it in the titles. The same for http://opendata-qa.web.cern.ch/docs/cms-virtual-machine-2010

![vm2011](https://user-images.githubusercontent.com/5859918/339463

[2017-12-13 15:41] #1966 closed

[2017-12-13 15:41] #2095 closed

[2017-12-13 16:17] tiborsimko opened #2115 "templates: hide more OPERA pages"
As a follow up to #2058, OPERA still appears on http://0.0.0.0/visualise/events.

It would be good to remove it.

... and, for extra safety, it would be good to return empty page for all OPERA view endpoints.

... and, for additional cosmetic beauty, it would be perhaps good to hide the OPERA logo from the footer.

[2017-12-13 16:33] tiborsimko opened #2116 "system: improve site responsiveness when Elasticsearch is down"
COD3 should behave nicely when the Elasticsearch service is down. (orthogonal to our nice aggressive front-end caching that would help here)

Here are some findings:

- search page http://0.0.0.0/search replies without user-apparent failures, giving empty page: good!

- detailed record page http://0.0.0.0/record/1 works well, as expected; good!

- event display page http://0.0.0.0/visualise/events

[2017-12-13 16:35] tiborsimko opened #2117 "nginx: nicer error pages"
Introduce nicer nginx error pages.

Here's the current default look:

![502](https://user-images.githubusercontent.com/517546/33950168-00de8618-e02c-11e7-8426-1f09252f40b5.png)

[2017-12-13 16:49] tiborsimko opened #2119 "system: improve site responsiveness when PostgreSQL service is down"
COD3 should behave nicely when PostgreSQL service is down. (regardless of our aggressive caching)

Here are some findings:

- home page http://0.0.0.0/ replies well, giving usual response: good!

- search page http://0.0.0.0/search replies well, giving usual results: good!

- detailed record page http://0.0.0.0/record/1 fails with "502 Bad Gateway"; bad

[code]

The behaviour is good overall, but

[2017-12-13 17:36] katilp opened #2122 "CMS 2010 validation report missing (record 56)"
I cannot find http://opendata-dev.web.cern.ch/record/56

We had it in http://opendata.cern.ch/VM/CMS/validation/report earlier

[2017-12-13 17:45] katilp opened #2124 "CMS: small fixes to the condition data guide"
In http://opendata-dev.web.cern.ch/docs/cms-guide-for-condition-database
- Therefore simple --> Therefore, simple
- "However, the access to" --> "However, access to"
- "of such analysis are" --> "of such analyses are"

[2017-12-13 17:50] tiborsimko opened #2126 "nginx: larger cache parameters"
Enlarge nginx cache parameters. Based on a live check, it looks like we can reasonably go up to ~10 GB size for an emptyDir-hosted storage.

[2017-12-13 17:55] tiborsimko opened #2127 "nginx: log files"
Currently, the web traffic is logged aggregated in our OpenShift instance, with hard-to-get custom access.  This will improve within a month or so.

In th meantime, we can introduce nginx logs going to a file in a directory that would be hosted on emptyDir volume, and we'll be rsyncing the content periodically to a permanent storage.  This will provide an easy log access in addition to the above-m

[2017-12-13 18:00] tiborsimko opened #2128 "nginx: scaling and pod anti-affinity"
We should introduce at least three nginx pods.  They should be configured with proper anti-affinity so that they would be hosted on different nodes.  This will make sure that our ngixn pods won't compete for the same emptyDir space on the same node, as it were.

https://docs.openshift.com/container-platform/3.6/admin_guide/scheduling/pod_affinity.html

[2017-12-13 18:16] tiborsimko opened #2129 "nginx: propagate configuration on OpenShift"
nginx currently does not use cache on our OpenShift deployment. The latest docker-based setup changes (and more are to come!) should be propagated to OpenShift-based setup configurations.

Check via:
[code]

[2017-12-13 18:50] tiborsimko opened #2130 "system: add files service"
Add a new `files` service that will be basically identical to the `web` service in that it will serve COD3 application.

Amend `nginx` proxy rules to send all `*/files/*` requests to the `files` service with a sufficiently low number of maximum simultaneous connections.

This will ensure that even if some users will start long-taking download jobs (via `files` service), the rest of the COD3 site w

[2017-12-13 20:02] katilp opened #2131 "CMS: some fixes to general instruction flow"
Feedback from Achim

In http://opendata-dev.web.cern.ch/docs/cms-guide-for-research

- [x] Under "Exploring the 2011-2012 datasets":
   "2011 CMS primary datasets" appears duplicate (the second should be
    changed to 2012)

- [x] The instructions on "I want to find out which 2011 dataset ..."
   should be udpated to include the 2011/12 Higgs example.

http://opendata-dev.web.cern.ch/docs/cms-vir

[2017-12-14 02:26] #2124 closed

[2017-12-14 02:41] #2114 closed

[2017-12-14 02:51] #2083 closed

[2017-12-14 03:00] #2066 closed

[2017-12-14 03:16] #534 closed

[2017-12-14 07:32] katilp opened #2132 "CMS: attach files to record 5001"
http://opendata-dev.web.cern.ch/record/5001 should have the following files attached:

/afs/desy.de/user/g/geiser/public/CMS/opendata/MUO-10-004demo_2011/DemoAnalyzer.cc
/afs/desy.de/user/g/geiser/public/CMS/opendata/MUO-10-004demo_2011/demoanalyzer_cfg.py
/afs/desy.de/user/g/geiser/public/CMS/opendata/MUO-10-004demo_2011/Mudemo.root
https://github.com/cms-opendata-analyses/DimuonSpectrum2011/blob

[2017-12-14 08:19] katilp commented on #1299
@tiborsimko Could you have a look? The files must appear with different names in this record. I would need this in order to test the new education material, this may break the instructions and I have to know the names in order to correct them in the notebooks

[2017-12-14 08:20] katilp commented on #2101
Needs first action on #1299

[2017-12-14 08:23] katilp commented on #1299
Changes needed for example in the online notebook which is linked to the CMS release announcement, so this is critical...

[2017-12-14 08:30] tiborsimko commented on #2087
@ioannistsanaktsidis It is OK to upgrade dependecies provided that we properly pin everything in `requirements-production.txt`. For example @hjhsalo started on fixing indexing in #2113
 which ay also need to upgrade dependencies... I'm simply concerned that this should not cascade out too much e.g. we may need to amend local forks that @pamfilos needed to amend regrding XRootD and file keys... so

[2017-12-14 08:46] katilp commented on #2101
Changes will be needed in

- [ ] https://github.com/cms-opendata-education/cms-online-notebooks-for-binder/blob/master/quick-start-to-CMS-open-data.ipynb

- [ ] https://github.com/cms-opendata-education/cms-jupyter-materials-english has csv's locally. The naming is different than on the portal, add a note about it and about http://opendata-dev.web.cern.ch/record/545

- [ ] idem for https://github.

[2017-12-14 08:49] katilp commented on #2057
Closing as implemented (redirected)

[2017-12-14 08:49] #2057 closed

[2017-12-14 09:16] diegodelemos commented on #2129
done on DEV, QA and PROD

[2017-12-14 09:16] #2129 closed

[2017-12-14 10:24] katilp opened #2133 "CMS: final updates to record 5001"
- In point 2., change
   "You can also use other primary datasets containing muons from 2011 or
    2012."
   to
   "You can also use other primary datasets containing muons from 2011 or
    2012 as listed under `Use With' above."
- The bullet on the download of the JSON files is missing,
   insert between points 2. and 3. (3rd bullet in readme.txt from
   /afs/desy.de/user/g/geiser/public/CMS/ope

[2017-12-14 10:57] katilp opened #2136 "CMS: fix links in install VM"
Update wrongly formatted links in http://ohttp://opendata-dev.web.cern.ch/docs/cms-virtual-machine-2010 http://opendata-dev.web.cern.ch/docs/cms-virtual-machine-2010

[2017-12-14 11:11] #2044 closed

[2017-12-14 11:11] #2045 closed

[2017-12-14 12:04] katilp opened #2139 "xml file download behaviour"
The download behaviour has changed back to the problematic one, i.e. download gives error for CMS BuildFile.xml because they are not proper xml (if no proper output is chosen by the user, I guess this is browser specific).

It was solved for CODP2 see
http://opendata.cern.ch/record/461
but has come back CODP3 see
http://opendata-dev.web.cern.ch/record/461

There a 5 files with xml  (easy to find n

[2017-12-14 13:35] katilp opened #2142 "CMS: final updates to 5500"
In Description:
- last sentence: ",which can also be obtained from corresponding
(separate) tutorials" might be obsolete since you have kindly inserted the
generic ROOT link. Or add the link to the ROOT tutorials from level 2 also
here?

- ROOT/Root/root in different places.

In Notes:

- 2nd paragraph): change "roughly equivalent to the public set"
to "roughly equivalent to the public sets"

How

[2017-12-14 15:06] #1890 closed

[2017-12-14 15:29] #2113 closed

[2017-12-14 15:39] katilp commented on #2142
For Root/root/ROOT, using ROOT when it appears alone as program, using root when it appear as "adjective" i.e. root file, root macro, root prompt

[2017-12-14 15:40] #2136 closed

[2017-12-14 16:13] tiborsimko opened #2149 "search: traceback in Title A-Z sort"
Sort by "Title A-Z" is giving traceback:

Example URL:

- http://0.0.0.0/search?page=1&size=20&q=&sort=title

Example traceback:

[code]

I recalll it was working well in the past, so this may be connected to ES2 -> ES5 move.

[2017-12-14 16:45] #2039 closed

[2017-12-14 16:47] katilp commented on #2084
Clicking on Glossary in the middle part of the main page or in the "About" menu gives
![glossary](https://user-images.githubusercontent.com/5859918/34003848-adbbcb78-e0f6-11e7-8a0c-d0a7bf648dc2.PNG)

[2017-12-14 16:58] tiborsimko opened #2150 "fixtures: insert/replace scenario with files"
PR  #2046 imrproved the behaviour of insert, replace, insert-or-replace mode to load records with or without files. It addressed well the main use cases behind #2039.

However, one corner case issue remains with respect to deleting previously uploaded files:

[code]

The detailed record page shows well that there are no files attached anymore, but the file download URL still serves the file conten

[2017-12-14 17:14] #2092 closed

[2017-12-14 17:17] tiborsimko opened #2151 "records: CMS MC 2012 datasets"
Add CMS MC 2012 datasets based on #1188.

Add corresponding RECO and HLT configuration files.

[2017-12-14 17:18] #2133 closed

[2017-12-14 17:44] #2142 closed

[2017-12-14 18:02] #2115 closed

[2017-12-14 18:20] #1295 closed

[2017-12-14 18:23] katilp commented on #1782
Can we close this? The original issues has been addressed.

[2017-12-14 20:29] katilp opened #2153 "CMS: final final corrections for 5500"
- level 2: first bullet: replace the whole sentence
"Otherwise follow the instructions of the 2nd item of level 3 in order to
install the VirtualBox and the CMS Open Data VM and run ROOT there (the
validation step with the Demo example might be skipped)"
by
"Otherwise, follow the instructions in <a href=\"/docs/cms-virtual-machine-2011\">CMS 2011 Virtual Machines: How to install</a> up to the comm

[2017-12-14 20:52] katilp opened #2154 "CMS: add a file list to record 5501 for easier download"
http://opendata-dev.web.cern.ch/record/5501
Add file list from

/afs/desy.de/user/g/geiser/public/CMS/opendata/Higgsexample/rootfiles/rootfilelist.txt
containing the root files needed for 5500 example (they are not all).

and update:

"usage": {
        "description": "These datasets are provided as part of the Higgs-to-four-lepton analysis example using 2011-2012 data. You can download all root f

[2017-12-15 00:31] tiborsimko commented on #2154
@ArtemisLav Here's the file information:

[code]

@katilp Note that the file content contains URLs to DEV:

[code]

We'd better change this to thePROD URL when we release...

[2017-12-15 00:39] #2153 closed

[2017-12-15 07:51] #2132 closed

[2017-12-15 09:32] tiborsimko commented on #2122
Indeed, it does not seem to have been ported.

The page content was living in QA under:

- `invenio_opendata/base/templates/helpers/text/cms_validation_report.html`

@atrisovic Can you please look at making a docs record with an appropriate Markdown?

[2017-12-15 09:33] atrisovic commented on #2122
yup 👍

[2017-12-15 09:37] tiborsimko commented on #2122
For the slug, something like `/docs/cms-vm-validation-2010` might be nice perhaps... And we should put redirection from `/vm/cms/validation/report`.

[2017-12-15 09:53] #2154 closed

[2017-12-15 10:13] tiborsimko commented on #1299
Files renamed on EOS, PR coming..

[2017-12-15 10:20] #1299 closed

[2017-12-15 10:33] RaoOfPhysics commented on #1920
Any thoughts on this prior to launch?

[2017-12-15 11:42] suenjedt opened #2161 "Our own "about" page with broken format"
See http://opendata-dev.web.cern.ch/docs/about

and note that Invenio paragraph needs updating!

<img width="895" alt="screen shot 2017-12-15 at 12 41 03 pm" src="https://user-images.githubusercontent.com/7300319/34040721-417474de-e195-11e7-88b3-2be618e83c17.png">

[2017-12-15 11:49] suenjedt commented on #2161
@sefeg can you take a look at the invenio paragraph to update this with material from http://invenio-software.org/? thanks

[2017-12-15 11:58] #2130 closed

[2017-12-15 13:24] sefeg commented on #2161
Sure! I changed / enhanced the text with wording from the Invenio page:

Invenio is a digital library framework that allows to run your own digital library, institutional repository, multimedia archive, or research data repository on the web. The technology offered by the software covers all aspects of digital library management, from document ingestion through classification, indexing, and curati

[2017-12-15 13:26] sefeg commented on #2161
@atrisovic Could you please fix the formatting in the CernVM section and replace the text in the Invenio section with my proposed text above? Thank you

[2017-12-15 13:38] diegodelemos commented on #2128
Done. Deployed on PROD, QA and DEV

[2017-12-15 13:38] #2128 closed

[2017-12-15 13:42] atrisovic commented on #2161
yup 👍

[2017-12-15 13:52] katilp commented on #2071
Closed in #2070

[2017-12-15 13:52] #2071 closed

[2017-12-15 14:03] ioannistsanaktsidis commented on #2091
Closing as already addressed by @annatrz .

[2017-12-15 14:03] #2091 closed

[2017-12-15 14:30] #2149 closed

[2017-12-15 14:51] tiborsimko opened #2166 "templates: file pagination to stay within web application service"
The addition of special `web-files` service (#2130) isolated file downloads to a dedicated micro-service which  improved the system responsiveness in case file download would not be possible due to a backend system failure or in case of huge file download clogging the service.

However, there remains one endpoint used for file pagination.  If a user hits `/record/6005` detailed record page for a r

[2017-12-15 14:52] atrisovic commented on #2161
what do you think we change the first sentence to: `Invenio is a library management software that allows to run your own digital library, institutional repository, multimedia archive, or research data repository on the web.` rather then having `digital library` two times in the sentence ?

[2017-12-15 14:56] sefeg commented on #2161
Fully agree!
I commented the PR...I think the Impressum part needs to be separated from the blob of text?

[2017-12-15 15:04] atrisovic commented on #2161
yeah that is fixed now. there was a `<div>` that was messing the formating ;)

[2017-12-15 15:25] suenjedt commented on #2161
Thanks!

[2017-12-15 15:33] #2161 closed

[2017-12-15 15:51] katilp commented on #2101
Done

[2017-12-15 15:51] #2101 closed

[2017-12-15 16:01] #2111 closed

[2017-12-15 16:15] katilp opened #2169 "CMS: small fixes in the instructions"
http://opendata-dev.web.cern.ch/docs/cms-guide-for-research

- [x] In  "Exploring the 2011-12 datasets":
"I want to find out which 2011 dataset and/or analysis/validation
example is most useful ..." ->
"I want to find out which 2011 or 2012 dataset and/or analysis/validation
example is most useful ..."

- [x] under I want to find out which 2010 dataset and/or analysis/validation example is most us

[2017-12-15 16:17] #2122 closed

[2017-12-15 16:20] katilp opened #2171 "CMS: in VM records error link shows twice: "title" -> "description"?"
In http://opendata-dev.web.cern.ch/record/252

"note": {
        "description": "For known issues and limitations see",
        "links": [
            {
                "url": "/VM/CMS/2011#issue",
                "title": "CMS Virtual Machines - Known Issues and Limitations"
            }
        ]
    },

shows the link twice, should "title" be "description" (as for the other links)?

Same for h

[2017-12-15 16:27] #1885 closed

[2017-12-15 17:32] katilp commented on #2131
Closing as remaining items in #2103 and #2171

[2017-12-15 17:32] #2131 closed

[2017-12-16 18:51] tiborsimko commented on #2161
"Invenio is a library management software" sounds weird... that are so many dfferent things that are called "libraries".   I'll make a PR about this later...

[2017-12-16 21:49] katilp opened #2174 "CMS: remove the zip file from record 5001"
The gitub zip DimuonSpectrum2011-1.0.3.tar.gz should be removed from record 5001
http://opendata-dev.web.cern.ch/record/5001

[2017-12-16 21:54] #2116 closed

[2017-12-16 22:49] #2085 closed

[2017-12-16 23:06] tiborsimko commented on #2171
This is a display problem.  The metadata looks OK to me:

[code]

This means that in the Note nox, the description should be printed, followed by one link only, the title of the link should be "CMS Virtual.....", and the link should point to "/VM/...".

@ioannistsanaktsidis @pamfilos Can you please look at updating detailed record templates?

[2017-12-16 23:21] tiborsimko commented on #2103
Basically, for all records of Environment type, the deailed record page should not print the default text, but the alternative text. We already have an exception for "Software" records in `cernopendata/templates/cernopendata_records_ui/records/record_detail.html`. @ioannistsanaktsidis @pamfilos Can you please add a new exception for "Environments" records?

[2017-12-17 07:42] katilp commented on #2084
Further observations (by Achim from a tester):

[2017-12-17 08:22] katilp opened #2177 "CMS: feedback for the histogram visualizer"
Feedback from Achim's tester to histogram visualizer:

[2017-12-17 09:53] tpmccauley commented on #2177
Point taken. One can see information on the parameters when hovering over the button but we should really label the x axis. Will make a PR.

[2017-12-17 09:58] #1463 closed

[2017-12-17 09:59] #2174 closed

[2017-12-17 12:14] tiborsimko commented on #2084
Such as "Get Started" link could be put right at the end of the leading text, giving:

    Explore more than 1 petabyte
        of open data from particle physics!  _(Get started!)_

That would be a minimal change in this release rush that could already answer the concern.

The "get started" link would just lead to the `#lva` page.

[2017-12-17 13:12] katilp opened #2181 "CMS: event display, additional Higgs candidates?"
Will the additional Higgs event displays show up under HiggsCandidates in the event display?
Please close if already taken care of...

[2017-12-17 13:16] katilp opened #2182 "CMS: check event display worksheets"
Chekc material in https://github.com/cms-opendata-education/cms-event-display-materials-multiple-languages/ for the change of location of HiggsCandidates in the events display

[2017-12-17 13:49] tiborsimko opened #2183 "templates: unnecessary call to preview facility"
There seem to be an unnecessary call to preview facility for records with rich indexes:

[code]

The preview should be called only for event display files.  We should not need to call it for any other record.

@pamfilos Can you please have a look?

[2017-12-17 14:17] katilp opened #2184 "CMS: Update to 5501"
http://opendata.web.cern.ch/record/5501 still shows wrong.

The updated file (without dev) is here
[rootfilelist.txt](https://github.com/cernopendata/opendata.cern.ch/files/1565720/rootfilelist.txt)

[2017-12-17 14:30] katilp commented on #2048
This is now addressed for the new collision data records but not for the old ones:
http://opendata-dev.web.cern.ch/record/6029 (no parent dataset shown)
http://opendata-dev.web.cern.ch/record/16 (parent dataset shown after CERN-LHC)

[2017-12-17 14:44] katilp commented on #2182
Checked the repo, no direct dependencies, closing

[2017-12-17 14:44] #2182 closed

[2017-12-17 14:46] #2169 closed

[2017-12-17 15:46] #2184 closed

[2017-12-17 16:10] katilp opened #2186 "CMS: small fix in formatting for the troubleshooting guide"
Change the level of subtitle File download

[2017-12-17 16:57] suenjedt opened #2188 "all links broken: http://opendata-dev.web.cern.ch/docs/atlas-higgs-machine-learning-challenge"

[2017-12-17 17:00] #2186 closed

[2017-12-17 18:00] atrisovic opened #2189 "Remove link in /record/252"
<img width="420" alt="screen shot 2017-12-17 at 18 51 00" src="https://user-images.githubusercontent.com/13986265/34082339-6f64e108-e35c-11e7-8894-c2f7cc9571a3.png">

I think that the last row in the image shouldn't be displayed.

the page: http://opendata-dev.web.cern.ch/record/252

[2017-12-17 18:08] atrisovic commented on #2188
These are the links, we'll have to see what to replace them with :s

http://www.atlas.ch/news/2014/are-you-up-for-higgs-challenge.html
http://www.atlas.ch/news/2013/higgs-into-fermions.html
http://atlas.ch/news/2014/machine-learning-wins-the-higgs-challenge.html

[2017-12-17 18:12] katilp commented on #2189
Right, this is being addressed in  #2171

[2017-12-17 18:17] atrisovic commented on #2189
ok great, I'll close this one then :)

[2017-12-17 18:17] #2189 closed

[2017-12-17 19:03] katilp opened #2191 "Unnecessary and broken Preview link in (some) software and data records"
A preview link has appeared in some software records, it should be removed, see:

![preview](https://user-images.githubusercontent.com/5859918/34082758-90c42ab8-e364-11e7-9ba9-48e7eee86371.JPG)

or
http://opendata-dev.web.cern.ch/record/5001
http://opendata-dev.web.cern.ch/record/5500
http://opendata-dev.web.cern.ch/record/6006
http://opendata-dev.web.cern.ch/record/7735

[2017-12-17 20:09] #2188 closed

[2017-12-17 21:23] tiborsimko commented on #2191
See also https://github.com/cernopendata/opendata.cern.ch/issues/2183

[2017-12-18 03:45] #2096 closed

[2017-12-18 03:47] #2183 closed

[2017-12-18 03:47] #2191 closed

[2017-12-18 03:50] tiborsimko commented on #1826
Fixed by the removal of individual asset files, making the upload fast, and by amending the detailed record page view to offer a "List files" functionality working with rich JSON files.

[2017-12-18 03:50] #1826 closed

[2017-12-18 09:04] sefeg commented on #2084
One more observation (and simple fix):

Loading the landing page, I do not fully see the arrows on the top part of the page (see images)
![image](https://user-images.githubusercontent.com/25487025/34097687-33cb6eb8-e3da-11e7-9cc4-d7b5ee1381b2.png)

![image](https://user-images.githubusercontent.com/25487025/34097705-4116f0c4-e3da-11e7-9276-8f1f4d0af504.png)

Moving them up a bit should solve the p

[2017-12-18 09:52] pamfilos commented on #2166
Closing as fixed with #2108

[2017-12-18 09:52] #2166 closed

[2017-12-18 10:24] sefeg commented on #2084
Here, I list all the comments / suggestions in this issue and indicate the status (as I see it). Please feel free to edit the list.

- [x] in general there seem to be no pictures - intentional? **(yes)**
- [x] for 'beginners', I find the text information on the "2nd screen" much more useful than the one on the "first screen", and the 'stories' that some people were so fond of only come on the "thi

[2017-12-18 10:30] #2177 closed

[2017-12-18 11:34] tiborsimko opened #2197 "templates: update some homepage links"
The home page uses collection links like:

- used link: `/collection/atlas`
- expands to: `http://0.0.0.0/search?page=1&size=20&experiment=ATLAS`

but we don't want to advertise the concept of collections anymore.  We should replace them by the final destination.

Another example is:

- used link: `/datasets`
- expands to: `http://0.0.0.0/search?page=1&size=20&type=Dataset`

that could be replaced

[2017-12-18 12:17] #2171 closed

[2017-12-18 13:37] ioannistsanaktsidis commented on #2054
@tiborsimko  I think this one considered as done due to @hjhsalo PR about reindexing all records ?

[2017-12-18 13:40] tiborsimko commented on #2126
See also cases like:

[code]

[2017-12-18 13:50] ioannistsanaktsidis commented on #1920
We can revisit this after the release as it might require some effort to change it everywhere. Moving to someday.

[2017-12-18 13:55] ioannistsanaktsidis commented on #2139
@katilp I cannot reproduce the problem :( I am downloading the file both from COD2 and COD3 and I get exactly the same  output.
[code]
Am I missing sth ?

[2017-12-18 14:05] katilp commented on #2139
Ok, thanks for checking, I suspect then that it is due to my broswer settings

[2017-12-18 14:08] #2103 closed

[2017-12-18 14:08] #2197 closed

[2017-12-18 14:15] ioannistsanaktsidis commented on #2139
Ok, perfect! I am closing then the issue as it seems resolved. In case it happens again we can reopen it :) Thanks!

[2017-12-18 14:15] #2139 closed

[2017-12-18 14:48] ArtemisLav commented on #2106
@katilp in 1803 there is a "FIXME" in the abstract. Can I replace it with something?

[2017-12-18 14:53] tiborsimko opened #2199 "nginx: disable DELETE/PUT"
Disable DELETE and PUT requests to the web app service, and possibly also POST requests.

[2017-12-18 14:56] #2151 closed

[2017-12-18 15:46] atrisovic commented on #2072
Many of these links are broken (eg `/resources` and `/research`). Should we have new views for them?

[2017-12-18 15:48] ioannistsanaktsidis commented on #2072
hmmm I don't know what happen with them. ```/resources /research``` used to work .

[2017-12-18 16:06] #2087 closed

[2017-12-18 17:50] ArtemisLav commented on #2106
@katilp 👍
This PR takes care of the updates to the metadata, so what is left is the file-related tasks.

[2017-12-18 19:28] katilp opened #2203 "CMS: MC datasets without GEN"
89 MC AODSIM datasets without GEN grandparent (see also http://simko.home.cern.ch/simko/tmp/cod3-mc.txt  or
[cod3-mc.txt](https://github.com/cernopendata/opendata.cern.ch/files/1747071/cod3-mc.txt)
)

22.02.2018 updated with some links:

- /BBH_HToTauTau_M_125_TuneZ2star_8TeV_pythia6_tauola/Summer12_DR53X-PU_S10_START53_V19-v1/AODSIM parent GEN-SIM status=DELETED, (https://cmsweb.cern.ch/das/reque

[2017-12-18 20:06] katilp commented on #2203
Summary so far: if a dataset has been deleted, it still has the metadata in (including the config file - with generator parameters - used to produce this dataset and the configs for the following step), but the information of its parent is lost

[2017-12-19 03:44] tiborsimko commented on #2199
.. without which:

[code]

The traceback should be fixed anyway on the COD3 application side....

[2017-12-19 04:16] tiborsimko opened #2207 "ui: order and selection of news on the home page"
**1.** The order of news items on the home page:

- http://opendata.web.cern.ch/#news

is currently not chronological:

- 2017-12-18 Welcome to our updated portal
- 2017-11-15 Improving educational content with high-school teachers: A field report from our summer students
- 2017-12-01 The Future of Particle Physics is "Open"

If this is news in it literal sense, then we should rather order them ch

[2017-12-19 04:35] tiborsimko commented on #2127
While locally with docker compose the logs are redirected by default:

[code]

on OpenShift we already have logging in an emptyDir-friendly space:

[code]

Investigate using live monitoring tools such as `ngxtop` (which require `python` though in the container).

[2017-12-19 07:32] tiborsimko commented on #2072
`/research` redirects well to a long query:

- http://opendata-dev.web.cern.ch/search?page=1&size=20&collections=CMS-Primary-Datasets&collections=CMS-Simulated-Datasets&collections=CMS-Derived-Datasets&collections=CMS-Tools&collections=CMS-Validation-Utilities&collections=CMS-Learning-Resources&collections=CMS-Simulated-Datasets&collections=CMS-Open-Data-Instructions&collections=CMS-Trigger-Inform

[2017-12-19 07:34] tiborsimko commented on #2054
Yes, we can close this one since we have Option B in place.

However we should still deploy `worker` on OpenShift to be able to reindex records... I'll create a new issue for that. CC @diegodelemos

[2017-12-19 07:34] #2054 closed

[2017-12-19 07:35] tiborsimko opened #2208 "openshift: worker service"
Create `worker` service in order to be able to reindex records.

(stems from https://github.com/cernopendata/opendata.cern.ch/issues/2054#issuecomment-352662684)

[2017-12-19 07:36] tiborsimko opened #2209 "lb: new redirections"
- Create new redirections from old LB servers to the new OpenShift site.
  - [ ] PROD
  - [x] QA
  - [ ] DEV

- Recall to amend DNS after the release rush when it can propagate more freely)

[2017-12-19 08:27] #2126 closed

[2017-12-19 08:27] #2199 closed

[2017-12-19 10:00] ioannistsanaktsidis commented on #2084
Closing as already addressed in @pamfilos PR.

[2017-12-19 10:00] #2084 closed

[2017-12-19 10:48] tiborsimko commented on #2088
@annatrz Is there still a spinning wheel? 😄

[2017-12-19 10:53] tpmccauley commented on #2181
https://github.com/cernopendata/opendata.cern.ch/issues/1410

[2017-12-19 10:56] tpmccauley opened #2211 "File name in CMS event display undefined"
<img width="866" alt="screen shot 2017-12-19 at 10 55 02 am" src="https://user-images.githubusercontent.com/496503/34153782-2c605806-e4ab-11e7-96eb-4457006b6d6d.png">

[2017-12-19 11:49] annatrz commented on #2088
No, it's hidden now, there is just loading bar on the top of page (bit thicker).

With spinning wheel it didn't look good in the middle of the page, especially when user clicking on facet wasnt at the top of the page (loading bar and spinning wheel not visible then at all, or when make them sticky, didnt look good, as covering part of search page)..

If anybody has suggestions how to make it look

[2017-12-19 14:37] #2127 closed

[2017-12-19 14:40] RaoOfPhysics commented on #2207
I'm preparing the news item! Not sure I want to comment on the H4l analysis –– I leave this to @katilp!

[2017-12-19 15:50] diegodelemos commented on #2026
Setup:
* 3 nginx with cache turned on
* 1 web node
* 1 web-files node

<img width="810" alt="screen shot 2017-12-19 at 4 44 29 pm" src="https://user-images.githubusercontent.com/9035606/34165215-f4e0cde4-e4db-11e7-9190-e634bfe3ea91.png">

[code]
@tiborsimko

[2017-12-19 15:57] katilp commented on #2207
We have not planned any separate news item for the h4l analysis, so not in this time scale. It is very nicely featured in the main CMS release announcement, though.

[2017-12-19 18:10] diegodelemos commented on #2026
Same setup but using two `locust` slaves on OpenStack (`BadStatusLine` errors are gone with more request, so most probably it was caused because of running out of file descriptors)

<img width="807" alt="screen shot 2017-12-19 at 7 03 26 pm" src="https://user-images.githubusercontent.com/9035606/34171648-618c761a-e4ef-11e7-946f-0f99cc14afdf.png">

[code]

[2017-12-19 18:25] diegodelemos commented on #2026
<img width="811" alt="screen shot 2017-12-19 at 7 20 10 pm" src="https://user-images.githubusercontent.com/9035606/34172256-b956e400-e4f1-11e7-93f0-f21541e5cf6f.png">

[code]

Nginx memory and CPU usage (1 instance, the rest have similar values):

<img width="1045" alt="screen shot 2017-12-19 at 7 23 55 pm" src="https://user-images.githubusercontent.com/9035606/34172420-4d7a3bfa-e4f2-11e7-921e-366

[2017-12-20 09:35] #2088 closed

[2017-12-20 10:01] ArtemisLav commented on #1569
Done.

[2017-12-20 10:01] #1569 closed

[2017-12-20 10:01] ArtemisLav commented on #1568
Done.

[2017-12-20 10:01] #1568 closed

[2017-12-20 13:10] tiborsimko opened #2227 "docs: move news to individual docs"
Split big `news.json` file and create individual docs articles.

Introduce slugs identical to the one used in COD3 production for now.

[2017-12-20 13:18] RaoOfPhysics opened #2228 "templates: Update announcement of CMS 2012 release"
- [x] Fix markdown:
    - [x] Superscript is broken
    - [x] Em dashes are broken
- [x] Add full text of final CMS announcement

[2017-12-20 13:38] diegodelemos commented on #2208
`reindex` tested without worker and it works, closing since it is not needed.

[2017-12-20 13:38] #2208 closed

[2017-12-20 13:39] #2026 closed

[2017-12-20 13:51] tiborsimko opened #2232 "fixtures: check replace mode and DOIs"
If the site contains records, and one adds/removes persistent identifiers, we may get into troubles with the `--replace` mode behaviour depending on the absence/presence of PID in the incoming JSON file.

If the DOI was not present in the record, and one adds it to the incoming JSON file, then things seem to work well.  Since this is the most common use case, we should be good.

If the DOI was pre

[2017-12-20 14:19] #2228 closed

[2017-12-20 17:18] #2040 closed

[2017-12-20 18:27] tiborsimko opened #2235 "home page: optimise loading on Firefox"
The reload of the home page shows very visible lags, especially on Firefox.  We should optimise the loading order... CC @ioannistsanaktsidis @pamfilos

Here's the behaviour I'm seeing with Chromium:

![home-ch-opt](https://user-images.githubusercontent.com/517546/34222388-b4d5e26c-e5bb-11e7-8b23-c955b96d195a.gif)

Here's the behaviour I'm seeing with Firefox:

![home-ff-opt](https://user-images.gi

[2017-12-20 18:53] RaoOfPhysics opened #2237 "UI: provide contextual information in <title>"
It would be nice if information about the page one is on were to be displayed in the `<title>` tag, so one has context when looking at multiple tabs. At the moment, all pages only say "CERN Open Data Portal" [OT: should the "p" be lower case?]:

<img width="1072" alt="firefox - - screen shot 20 dec 2017 at 19 47 34" src="https://user-images.githubusercontent.com/7623019/34223241-defe99aa-e5be-11e7

[2017-12-20 19:09] RaoOfPhysics opened #2238 "UI: make buttons in records clickable"
Because of how the HTML is set up, one can only click the text within navigation buttons in records &mdash; clicking the button boxes themselves does nothing:

![clickablebuttons](https://user-images.githubusercontent.com/7623019/34223991-91f039ae-e5c1-11e7-85a7-2b7920b66a3c.gif)

[2017-12-20 19:59] katilp commented on #2237
👍 True, would be helpful also in navigating back through the page history, now they all look the same.

[2017-12-20 21:18] katilp commented on #2238
👍 I have observed the same - or actually I only observed that clicking did not always change the page as I would have expected. Thanks @RaoOfPhysics for the explanation!

[2017-12-21 09:54] tiborsimko commented on #1732
Three articles selected, completed, and deployed. Closing the issue.

[2017-12-21 09:54] #1732 closed

[2017-12-21 09:55] tiborsimko commented on #1333
Cannot launch with our our HTTPS on central PaaS platform...

[2017-12-21 10:31] tiborsimko commented on #2207
Closed by #2207 and #2223.

[2017-12-21 10:31] #2207 closed

[2017-12-22 09:58] #2227 closed

[2018-01-05 16:27] cbourjau opened #2241 "Download link to actual data not obvious"
I have been trying to download some ALICE data. The datasets point to json files[1] which only specify relative paths to the files. But I have not been able to find the absolute path to them. Maybe I'm missing something obvious. If not, I think that the actual location of the data should be trivial to find.

[1] http://opendata.cern.ch/record/1102

[2018-01-07 19:30] RaoOfPhysics commented on #2241
Hi @cbourjau. Thanks for flagging this and sorry about the problems getting to the datasets. Most of us at CERN are on break over the annual winter closure of the lab, but we'll be back from tomorrow. I hope some of our ALICE experts can jump in then and help you get access to the data. I think we may need to update the instructions on our portal.

[2018-01-08 11:47] katilp opened #2242 "Only first page of file index files shows in records"
E.g. in
http://opendata.cern.ch/record/6004
only first 5 file index list files is shown, next button does not bring to anywhere (no matter if I click on the box or on the text/number - see also #2238)

[2018-01-08 14:38] tiborsimko opened #2244 "installation: harmonise service names"
Currently-used container names in our docker setup are:

- wdb
- web
- worker
- web-files
- postgresql
- redis
- elasticsearch
- elasticsearch-proxy
- rabbitmq
- nginx
- static

This has some drawbacks, e.g. the notion of "web" is wider than the sole application node, e.g. sometimes we use technology-based names ("nginx", "redis") and sometimes function-based names ("proxy", "cache").

We can stan

[2018-01-08 14:43] tiborsimko opened #2245 "OPERA: unhide in `master`"
Unhide OPERA records in `master` branch following up the reorganisation of `master <-> qa <-> production` branches.

See the two PRs where it was hidden:

- https://github.com/cernopendata/opendata.cern.ch/issues/2058
- https://github.com/cernopendata/opendata.cern.ch/issues/2115

[2018-01-08 17:51] RaoOfPhysics opened #2246 "RFC: Remove markdown from issue and PR templates?"
As you can see (meta image below), the markdown doesn't work well since the issue text itself is not rendered unless you hit "Preview":

<img width="1144" alt="portal-issue" src="https://user-images.githubusercontent.com/7623019/34684214-aa89e842-f4a4-11e7-944d-759c5474fda2.png">

Change to raw text as follows?

And remove the backticks, of course. :)

[2018-01-09 06:35] katilp commented on #2242
NB, this is somewhat urgent as currently with this bug no one can download/access all files (i.e we claim more than 500 TB of new collision data but only give access to part of it)

[2018-01-09 14:17] tiborsimko commented on #2241
@cbourjau Indeed, it seems we are not publishing the full URLs for ALICE records on the new CERN Open Data portal pages. We'll fix this.

The files themselves are hosted on EOSPUBLIC, so for example for a file such as `/eos/opendata/alice/2010/LHC10h/000139038/ESD/3349/AliESDs.root`, one can use EOSPUBLIC HTTP gateway:

- `https://eospublichttp.cern.ch/eos/opendata/alice/...`

or download it via X

[2018-01-09 14:21] tiborsimko opened #2247 "docs: add instructions on programmatic file download"
Add instructions presenting REST API and telling users about persistent URLs and how to best download files via (1) canonical record URLs, (2) via EOSPUBLIC HTTP gateway, and (3) via XRootD protocol.

[2018-01-09 19:02] katilp commented on #2241
@tiborsimko NB, this is true for the CMS records as well. The direct file list is not there, only the indexes (e.g. http://opendata.cern.ch/record/5)

[2018-01-09 23:45] cbourjau commented on #1333
I am hitting an issue downloading ALICE files [1] through the HTTP gateway. The problem is that the library I'm using does not allow to bypass invalid certificates. Will the issue discussed here also add valid certificates for the data downloads?
Cheers!

[1] https://eospublichttp05.cern.ch/eos/opendata/alice/2010/LHC10h/000139038/ESD/0003/AliESDs.root

[2018-01-10 06:00] katilp opened #2248 "CMS: SIM configs for 2012 MC"
Check if all SIM config files have the generator parameter module starting with "process.generation ="

In case of some 2012 MC, the SIM config file was extracted from the parent dataset of AODSIM and not from the grand parent, and it was in an expanded form:
- example: http://opendata.cern.ch/record/11191/files/f4b3da317b12375f344f06bf28b7ab9d.configFile.py

and not in with process.load etc
-  ex

[2018-01-10 06:23] katilp opened #2249 "CMS: LHE configs/instructions for 2012 MC"
Complete the provenance information (i.e. the configs of the data processing steps) for 2012 MC.
- Example of a complete provenance information for 2011: http://opendata.cern.ch/record/1330 (configs for LHE, SIM, HLT, RECO stesp extracted from DAS)

- [x] Check with MC experts that all MC files which have Pythia6HadronizerFilter as the generator process in the SIM config i.e.
`process.generator =

[2018-01-10 06:29] katilp opened #2250 "CMS: Link http://opendata.cern.ch/docs/cms-getting-started does not work"
- [x]  Redirect `http://opendata.cern.ch/docs/cms-getting-started` to `http://opendata.cern.ch/docs/cms-getting-started-2011`

- [x]  Redirect `http://opendata.cern.ch/VM/CMS` to `http://opendata.cern.ch/docs/cms-virtual-machine-2011`

---------

 replace link http://opendata.cern.ch/docs/cms-getting-started with http://opendata.cern.ch/docs/cms-getting-started-2010 (see also #2250 for another sim

[2018-01-10 07:42] katilp opened #2251 "CMS: link http://opendata.cern.ch/docs/cms-guide-to-the-cms-condition-database"
The link http://opendata.cern.ch/docs/cms-guide-to-the-cms-condition-database
in http://opendata.cern.ch/docs/cms-getting-started-2011 does not work.

Should be: http://opendata.cern.ch/docs/cms-guide-for-condition-database

[2018-01-10 07:49] katilp commented on #2251
@tiborsimko Can you have a look? In the production branch https://github.com/cernopendata/opendata.cern.ch/blob/production/cernopendata/modules/fixtures/data/docs/cms-getting-started-2011/cms-getting-started-2011.md, this is already correct:

`See detailed instructions for the use of condition data for different data-taking years in [the guide to the CMS condition database](/docs/cms-guide-for-con

[2018-01-10 07:54] katilp commented on #2251
The fix was done in https://github.com/cernopendata/opendata.cern.ch/pull/2236

[2018-01-10 12:55] tiborsimko opened #2252 "records: proper file serialisation"
There are indeed several cases of records having "directly attached files" and records having "files attached indirectly via file indexes". They behave differently, which is not ideal. We should clean the situation so that you would be able to access any known file using the same set of REST API procedures.

See also #2241 and #2247.

[2018-01-12 16:11] suenjedt opened #2254 "To do: make OPERA content available on -dev"
To facilitate internal discussions and approval of forthcoming release.

[2018-01-14 18:17] katilp opened #2255 "CMS: 2010 VM downloaded from record 250 corrupted?"
If downloaded from http://opendata.cern.ch/record/250
the VM record for 2010 does not open(*) in VirtualBox.

Jakob pointed out that the size of the file is smaller than expected, so it could be corrupt.
The versions downloaded previously continue working.

Any possible reasons for changes in this file?

(*) Error:

[2018-01-15 09:02] #2242 closed

[2018-01-15 13:32] katilp commented on #2255
NB: the original is in
http://cernvm.cern.ch/releases/CMS-OpenData-1.0.0-rc7.ova
and loads without problems.

[2018-01-15 16:55] tiborsimko commented on #2255
Indeed, the file was corrupted.  Fixed.

[2018-01-15 17:12] #2255 closed

[2018-01-16 07:06] katilp commented on #2249
From https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuidePythia6Interface#Example_10_How_to_Process_Extern (and  cms-pag-conveners-generators )

`source = cms.Source("LHESource"`

indicates that an external generator is in use, but this is for the LHE step config itself.

The input to SIM for LHE cases is
# Input source
[code]
while in other cases

`source = cms.Source("EmptySource")`

[2018-01-16 09:03] katilp opened #2257 "CMS: 2010 collision data records, rcommended release for analysis is wrong, links wrong"
In all 2010 collision data records:

http://opendata.cern.ch/search?page=1&size=20&type=Dataset&subtype=Collision&experiment=CMS&year=2010

- [x] the recommended release for analysis is wrong. Should be CMSSW_4_2_8 as in the instructions

[2018-01-16 09:10] tiborsimko commented on #2254
Duplicate of #2245.

[2018-01-16 09:10] #2254 closed

[2018-01-16 09:14] tiborsimko opened #2258 "installation: xrootd 4.8.0"
We have file download problems with xrootd 4.8.0.

Example:

[code]

xrootd 4.7.1 works fine, so we can quick-fix by pinning it while we investigate the upgrade...

[2018-01-16 09:23] katilp opened #2259 "CMS: 2011-2012 collision data records, links wrong"
The link redirection does not work (see also #2250. #2257). Please:

In all 2011 collision data records

http://opendata.cern.ch/search?page=1&size=20&type=Dataset&subtype=Collision&experiment=CMS&year=2011

- [x] replace opendata.cern.ch/VM/CMS#2011 with http://opendata.cern.ch/docs/cms-virtual-machine-2011

- [x] replace opendata.cern.ch/getting-started/CMS#2011 with http://opendata.cern.ch/docs

[2018-01-16 09:44] katilp opened #2260 "CMS: record 234, wrong links"
In http://opendata.cern.ch/record/234:

- [ ] Under URLs: replace https://github.com/katilp/OutreachExercise2011  with https://github.com/cms-opendata-analyses/OutreachExercise2011/tree/v.1.1.1

- [ ] Under How can you use this? replace https://github.com/katilp/OutreachExercise2011/blob/master/README.md with https://github.com/cms-opendata-analyses/OutreachExercise2011/blob/master/README.md

[2018-01-16 10:23] katilp opened #2261 "CMS: validation records 460, 461, 461 update link"
In the following validation records, under "How can you use this?" update the github repository link:

- [ ] in http://opendata.cern.ch/record/460 update github link https://github.com/cms-opendata-validation/2010-mu-mumonitor-dimuon/tree/v.1.0.0 to https://github.com/cms-opendata-validation/2010-mu-mumonitor-dimuon/tree/v.1.0.1

- [ ] in http://opendata.cern.ch/record/461 update https://github.co

[2018-01-16 11:01] katilp opened #2263 "CMS: update disclaimer to explicitly cover item on/linked from the portal"
In http://opendata.cern.ch/docs/about-cms
under Disclaimer, update

- [x] "Neither CMS nor CERN endorse any works, scientific or otherwise, produced using these data." to  "Neither CMS nor CERN endorses any works, scientific or otherwise, produced using these data, even if available on, or linked from, this portal.

- [x] "If you are interested in more, please contact nearest CMS university/instit

[2018-01-19 16:47] katilp opened #2265 "CMS: update troubleshooting guide with information about restricted internet connections"
If the internet connection from the user's side is restricted, it may be that some ports and IPs need to be whitelisted so that VM installs properly (download from cvmfs)

The list may change in time, so it is probably best to describe the problem in
http://opendata.cern.ch/docs/cms-guide-troubleshooting
under "Virtual machine"
and ask users to contact opendata-support.

In Jan 2018, the VM instal

[2018-01-23 14:51] katilp commented on #1549
Testing the condition data reading with CMS-2010-OpenData-v4 (check with Jakob that this is the most recent wrt those mentioned in #1298)
- 2010 example from https://github.com/ayrodrig/pattuples2010 with
[code]
and

[code]

Start 14:41 (VM time).
with
cvmfs2                 4096000    914977   3181024  23%

[2018-01-23 14:58] katilp commented on #1549
NB the CMS shell of the VM has 1 hour time difference to the normal shell 😕

[2018-01-23 15:38] katilp commented on #1549
Testing with https://cernbox.cern.ch/index.php/s/L8nXVBYoLXwqbbJ (CMS 2010 OpenData CernVM 4 v3)

As above,
but starts with 15:36 (NB in the case above, tried reading with direct process.GlobalTag.globaltag = 'GR_R_42_V25::All' without ln's first - killed in a similar way- , may explain the difference in cache occupation)
cvmfs2                     4096000  613195   3482806  15%

[2018-01-23 15:39] #2245 closed

[2018-01-23 15:52] katilp commented on #1549
Instruction summary to reproduce the problem (in the CMS shell of the VM):
cmsrel CMSSW_4_2_8
cd CMSSW_4_2_8/src
cmsenv
git clone https://github.com/ayrodrig/pattuples2010.git
cd pattuples2010
ln -sf /cvmfs/cms-opendata-conddb.cern.ch/FT_R_42_V10A FT_R_42_V10A
ln -sf /cvmfs/cms-opendata-conddb.cern.ch/FT_R_42_V10A.db FT_R_42_V10A.db

Check if /cvmfs/cms-opendata-conddb.ch is visible if needed
ls /

[2018-01-23 17:49] katilp commented on #1549
Increase the memory to 2 GB. Problem solved. However, even with condition data in the cache, the jobs takes long to start. Check if it depends on time/place.

[2018-01-25 07:51] katilp opened #2267 "Search: double entries in search"
It looks to me that all entries in search are shown double.
E.g. http://opendata.cern.ch/search?page=1&size=20&q=&experiment=CMS&subtype=Framework&type=Dataset&type=Software&year=2010

This happens in any search.

[2018-01-25 08:06] katilp commented on #1298
Reading the condition data OK, example runs when VM memory increased to 2 GB, see #1549

[2018-01-25 08:11] katilp commented on #1298
@jblomer : I observed the following while testing:

- the CMS shell of the VM has 1 hour time difference to the normal shell 😕
- in the CMS shell:
[code]
but it works fine.

Is the version CMS-2010-OpenData-v4 in http://cernvm.cern.ch/releases the latest?

[2018-01-25 08:44] katilp commented on #1549
Final testing with
- [ ] reading condition data from frontier (no ln's, no mod's to config file
- [ ] reading condition data from cvmfs

[2018-01-25 13:43] tiborsimko commented on #2267
Thanks, some entries were indeed doubled... The problem should be fixed now.

[2018-01-25 13:43] #2267 closed

[2018-01-26 09:14] katilp commented on #1250
Continue the MC transfer

SM systematics: 65753 files, 183.2 TB bytes in total
https://cmsweb.cern.ch/phedex/prod/Request::View?request=1202479

[2018-01-26 10:59] jblomer commented on #1298
Hi Kati,

yes, CMS-2010-OpenData-v4 is the latest.

The warning is harmless (actually I think the fact that singularity warns is a bit exaggerated).  It essentially says that the target directory is missing certain special files that would tell singularity which command it should run after spawning the container.  But we tell it anyway to run /bin/bash through the singularity invocation.  So nothi

[2018-01-26 12:07] katilp opened #2268 "CMS: event display, events do not load"
Event loading is not working in http://opendata.cern.ch/visualise/events/cms:

When clicking on dataset from the file menu on the pop-up window, text "Loading events" displays but nothing happens.

(Chrome and firefox on Windows 10)

[2018-01-26 12:23] tiborsimko commented on #2268
There was a general trouble with EOS file connectivity.  The problem is fixed now.

[2018-01-26 12:23] #2268 closed

[2018-01-26 13:51] katilp commented on #1550
Concern also

- [ ] http://opendata.cern.ch/docs/cms-guide-for-condition-database:
    - 3rd paragraph: remove "For 2011-2012 CMS Open Data, "
    - add a section for 2010 collision data

[2018-01-26 15:14] jblomer commented on #1298
[Here is an updated image](http://cernvm.cern.ch/releases/CMS-2010-OpenData-v5.ova) with

- Timezone problem fixed; /etc/localtime from the host now provides the information for /etc/localtime in the gues
- Increased cvmfs cache from 4G to 10G as in the 2011/12 image

The image corresponds to the [latest changes in the context](https://github.com/cernvm/public-contexts/blob/master/cms-opendata.con

[2018-01-26 15:21] katilp commented on #1298
@jblomer : Great, thanks a lot!!

[2018-01-30 14:35] tiborsimko opened #2269 "redirection: http://opendata.cern.ch/VM/CMS/validation/report"
Redirection for the following URL:

- http://opendata.cern.ch/VM/CMS/validation/report

(that is used in some records) does not work.

[2018-01-30 14:47] tiborsimko opened #2270 "records: split Configurations into RECO/HLT/LHE/SIM..."
"Configurations" should be split into RECO, HLT, LHE, SIM... to ease the navigation in facet value list.

[2018-01-30 15:03] tiborsimko commented on #2249
For each MC dataset, let's return the first ROOT file, which can be suitable for reading the LHE header information.

[2018-01-30 15:20] tiborsimko commented on #2249
... and use it for running `dumpLHEHeader.py input=file:somefile.root output=testout.lhe` commands in the CMS VM 2011.

[2018-01-30 15:21] tiborsimko commented on #2249
.. and check `mgproccard` and `MGRunCard` blocks in the LHE header.  (note that the latter might be unnecesserily repeated in the file)

[2018-01-31 07:08] #2022 closed

[2018-01-31 07:18] tiborsimko opened #2271 "sprint: COD3-Consolidation kick-off"
# COD3-Consolidation sprint kick-off

### Dates

2018-01-30 kick-off
2017-02-09 closure

### People

@annatrz @atrisovic @hjhsalo @ioannistsanaktsidis @pamfilos @tiborsimko

### Goals

- Consolidate COD3 release (nicer file serialisation and downloads, new CMS record updates, better search hints).
- Consolidate COD3 devops (DNS, monitoring, alerts, fork packages, error log mining).
- Improve recor

[2018-01-31 07:20] tiborsimko commented on #1324
schema.org for Google dataset search: https://research.googleblog.com/2017/01/facilitating-discovery-of-public.html

[2018-01-31 10:34] suenjedt commented on #1324
Some additional info from FREYA/Datacite:
- Examples from FREYA partners (that do the LD part too):
PANGAEA: https://doi.pangaea.de/10.1594/PANGAEA.58279 -> get the source and search for the <script type="application/ld+json"> element. Its content is http://schema.org/Dataset JSON-LD.
EBI: http://bioschemas.org/specifications/index.html

- list of repositories already using schema.org https://gith

[2018-01-31 15:13] tiborsimko commented on #1324
Let's go then for:

- schema.org with JSON-LD

This is exactly what Zenodo did.

[2018-01-31 17:21] katilp opened #2272 "CMS: pileup sample for 2011 and 2012 MC generation"
Transfer of /MinBias_TuneZ2_7TeV-pythia6/Summer11Leg-START53_LV4-v1/GEN-SIM

 https://cmsweb.cern.ch/phedex/prod/Request::View?request=1205370

This is the pileup sample to be used for MC generation for 2011 data

[2018-02-01 09:41] tiborsimko opened #2273 "records: add schema.org serialiser"
Introduce schema.org serialiser that outputs in JSON-LD.  (Stemmed from #1324.)

We can start with simple mappings (Datasets, Software) and leave harder mappings (configuration files? Other?) for later.

See also:

- cernopendata's `DataCiteSerializer`
- `zenodo/modules/records/serializers/schemaorg.py`

[2018-02-01 09:44] tiborsimko opened #2274 "sitemap: add sitemap"
Introduce sitemap to ease record discovery.  (Stemmed from #1324.)

See also:

- `Flask-Sitemap`
- `zenodo/modules/sitemap`

Since we don't have much dynamic uploads, rather planned releases, we could even pre-generate the sitemap files during image build time, without having to have the worker node do this "live" regularly.

[2018-02-01 09:45] tiborsimko commented on #1324
Closing the RFC.

[2018-02-01 09:45] #1324 closed

[2018-02-01 09:52] tiborsimko opened #2275 "records: inject JSON-LD"
Once we have schema.org serialiser (#2273), enrich detailed record pages by injecting JSON-LD with it there.

Consider (1) injecting full content directly to `/record/NNN` page body vs (2) injecting only reference to other URL exposing JSON-LD such as `/record/NNN/export/FFF`.

Start with simple metadata author/title/type etc for the first prototype, but think of the later use case about how to de

[2018-02-01 10:57] tiborsimko commented on #2252
Here are some more musings.

### 1. Simple records

Example: record ID 5001.

Currently, when somebody hits `/api/records/5001`, they see information about buckets:

[code]

and later down:

[code]

Since we only host open files that are all reachable on EOS, I think we don't really need to expose the concept of buckets.  That would complicate things for the end users. Hence proposing:

- **Task O

[2018-02-02 09:36] tiborsimko commented on #2252
### 2. Records with index files

Example: record ID 6034.

The complexity is that the record stores only "index files", i.e. pointers to files that has file locations.

Example of an index file:

- http://opendata.cern.ch/record/6034/files/CMS_Run2012C_HTMHTParked_AOD_22Jan2013-v1_20000_file_index.txt

Current situation: `/api/records/6034` shows:

[code]

We can clean this as in the first use cas

[2018-02-02 09:55] tiborsimko commented on #1472
We can try to automatise this together with the task of parsing MC names to extract processes and final state particles...

[2018-02-02 09:56] tiborsimko commented on #785
This has been addressed in the release of COD3.

[2018-02-02 09:56] #785 closed

[2018-02-02 10:01] tiborsimko opened #2276 "search: nice error messages"
The search pages should give nicer feedback to the users if something goes wrong, for example if the user used unclosed backquotes/quotes/doublequotes in the query string.

Example query: backquote-somestring-doublequote

Current behaviour: blank page, as it were

Expected behaviour: nicely formatted error message. page.

[2018-02-02 15:46] atrisovic commented on #2269
Here is one `/record/56`

what should it be replaced with?

[2018-02-05 08:33] tiborsimko opened #2278 "logs: mine typical errors"
Mine error logs for typical errors (e.g. 404 page not found) that may have been introduced as part of the COD2 to COD3 upgrade.

Generate issues to fix them.

[2018-02-05 08:35] tiborsimko opened #2279 "proxy: the old /eos/... redirect"
Investigate putting back the old `/eos/...` redirect for HTTP downloads.

This would alleviate downloading files from old CMS 2010 data virtual machine that cannot speak directly to EOSPUBLIC due to old SLC operating system and HTTPS SSLv3 protocol deprecation.

[2018-02-05 08:38] tiborsimko opened #2280 "system: uptime robot"
Improve monitoring of COD3 functionality (home page, search page, download small text file) by introducing an alert system such as Uptime Robot.

[2018-02-05 08:40] tiborsimko opened #2281 "system: live access logs"
Introduce easier live access monitoring aggregating statistics throughout all proxy components, such as Piwik.

[2018-02-05 08:40] #2271 closed

[2018-02-05 13:12] tiborsimko commented on #2269
`/docs/cms-vm-validation-2010` I guess.  Note that we already have the redirection in place:

[code]

but it fails because of:

[code]

Would be good to fix this in the code rather than to change the link in the record, since those old URLs could be used outside by people.

[2018-02-05 13:38] tiborsimko commented on #2241
- [ ] alice-analysis-modules.json
- [ ] alice-derived-datasets.json
- [ ] alice-learning-resources.json
- [ ] alice-reconstructed-data.json
- [ ] alice-vm-image.json

[2018-02-05 17:20] #2260 closed

[2018-02-05 17:20] #2261 closed

[2018-02-05 17:20] #2279 closed

[2018-02-06 09:24] tiborsimko opened #2287 "system: live error logs"
Introduce easier live error event monitoring, such as Sentry.

[2018-02-06 14:44] atrisovic commented on #2257
@katilp This means that `CMSSW_4_2_1_patch1` should be replaced with `CMSSW_4_2_8` ?

[2018-02-06 14:50] katilp commented on #2257
@atrisovic Yes, that's correct!

[2018-02-06 15:22] katilp commented on #1229
Possible search key words for BSM MC datasets: sample name

- Dark matter: DM*, DarkMatter
- Leptoquark: LQ*
- BSM Higgs:
- Graviton:
-

[2018-02-06 15:47] atrisovic commented on #2270
I don't understand what configurations? (records don't have configurations)

[2018-02-06 16:25] atrisovic commented on #1917
Suppressed by `docs`.

[2018-02-06 16:25] #1917 closed

[2018-02-06 16:38] katilp commented on #2270
@atrisovic
http://opendata.cern.ch/search?page=1&size=20&type=Supplementaries&subtype=Configuration&experiment=CMS

[2018-02-06 17:22] #2241 closed

[2018-02-06 21:56] nurnuha commented on #1298
Dear all,

What does this message means? Does it harmless, no? I tried to run job in CMS-2010-OpenData-v4 and this message pop-up before the job run. I don't think I have seen it before so I'm not sure what mistake I have made. However, the job finish as usual.

180206 21:50:29 001 crypto_X509CreateProxy: EEC certificate cannot be opened (file: /home/cms-opendata/.globus/usercert.pem)

[2018-02-07 07:38] katilp commented on #1298
HI Rishika, thanks for reporting! Is this in "CMS shell" or the other shell and when does it come? Is it after cmsRun command? Could you give the output/command just before?
I believe it is harmless and a leftover or something (it refers to grid certificates, but they are not needed on open data), but it would be good to check. I do not remember having seen such message but I may not have noticed.

[2018-02-07 08:40] nurnuha commented on #1298
Hi Kati,

This happen in CMS shell and the first message comes out after cmsRun command.

I'm not sure if it is related but this message appeared only in my DESY laptop. I did the same thing in my personal laptop and the message doesn't appear.

Another thing that I want to report is, after a thorough checked, my job got killed started from 500k events on both laptop. I follow the same way as you

[2018-02-07 09:26] nurnuha commented on #1298
I have shut down and switch on both of my laptop and directly start again the VM without doing other things. The same message appeared in my DESY laptop when I run a job. I also checked that the config, BuildFile and DemoAnalyzer.cc are exactly the same.

The memory I increased to 2 MB because if I used 1MB, the job got killed even in the first event.
If you want to test it, it will take ~2-3 hour

[2018-02-07 09:42] katilp commented on #1298
Did you have the memory monitoring on the VM to see if 2 GB of memory is enough?
You can do it with the "System monitor" tool, which starts from an icon on the bottom of the VM:
![memmon](https://user-images.githubusercontent.com/5859918/35909333-8a4d54c2-0bf3-11e8-805f-cf4912a3ccc7.JPG)

[2018-02-07 10:30] nurnuha commented on #1298
Here I attach the screenshot of the memory monitoring for both laptop when I'm running the job.  I can't do fullscreen screenshot when I'm in the VM so the picture will be a bit small. Sorry for that.

![screenshot_personalaptop](https://user-images.githubusercontent.com/10151105/35911067-077032e4-0bf9-11e8-8d3c-a0d0a292d196.png)
![screenshot_desylaptop1](https://user-images.githubusercontent.com/

[2018-02-07 10:37] nurnuha commented on #1298
Error message when I tried to screenshot from VM:

![errorscreenshot](https://user-images.githubusercontent.com/10151105/35911827-3375c2f8-0bfb-11e8-8af7-d2fed15b2847.png)

[2018-02-07 13:46] ioannistsanaktsidis opened #2303 "global: add opendata.cern.ch to datacite/freya when JSON-LD fully implemented"
Here is the link https://github.com/datacite/freya/blob/master/schema_org.csv
where we should add the opendata service when json-ld is ready.

[2018-02-07 15:11] tiborsimko commented on #2072
BTW here is the reason why my original rule of thumb 1 good approach (=redirecting to given target page) is better the bad approach (=redirecting to search):

![g](https://user-images.githubusercontent.com/517546/35923691-3dfda558-0c21-11e8-8497-5421ac354e31.png)

Please make sure to tick the URLs in the above list only after it's fully working and follows the rule of thumb...

[2018-02-07 16:45] nurnuha commented on #1298
Dear Kati,

You think you are right about the memory. I'm going to investigate this problem further more and will let you know the details

[2018-02-07 16:52] katilp commented on #1298
OK, thanks, from the screenshots it seems that you're comfortably at 60% or so, but maybe it evolves and increases with the running time. Let me know

[2018-02-07 17:01] nurnuha commented on #1298
Yeah, it actually increased up to ~98% and constantly on that level and start to run very slowly. Several checks need to be done to know the root of the problem.

[2018-02-07 17:14] katilp commented on #1298
OK, good to know, you could try to see if it stays there, then another memory increase would help. But if it rises constantly then you will find the cause in the code. Or then run short jobs if you can manage.

[2018-02-08 08:16] atrisovic opened #2315 "views: sanitise arguments"
- [x] the arguments should be sanitised so that people are not tempted to try to trick the redirector (check whether year is a four digit integer and whether exp is from the allowed list).

- [x] CMS 2010 records use /vm/cms which would redirect them to 2011 (latest status). We therefore need to amend 2010 records to use /vm/cms/2010 there.

[2018-02-08 10:27] #2281 closed

[2018-02-08 12:27] katilp commented on #1298
@tiborsimko This is now ready to go to https://github.com/cernopendata/opendata.cern.ch/blob/qa/cernopendata/modules/fixtures/data/records/cms-tools-vm-image.json

- [ ] Replace the description in http://opendata.cern.ch/record/250 with

[code]

- [ ] add the image (link to it  is above: https://github.com/cernopendata/opendata.cern.ch/issues/1298#issuecomment-360811263)

- [ ] Add the link to the

[2018-02-08 12:40] katilp opened #2322 "CMS: new record for the contextualization file on the new 2010 VM CMS-OpenData-1.1.0.ova"
Need a new record (as http://opendata.cern.ch/record/253)

The files are in

https://github.com/cernvm/public-contexts/blob/master/cms-opendata.context

Need to check with @jblomer:

- [ ] if this file contains everything that we currently have in  three separate files  in record 253

- [ ] if the current text under "How to use?" is OK (a part from the VM version CMS-OpenData-1.3.0.ova -> CMS-Open

[2018-02-08 13:20] tiborsimko opened #2324 "records: missing CMS 2011 HT single file"
Check missing file for the CMS 2011 HT dataset:

```/eos/opendata/cms/Run2011A/HT/AOD/12Oct2013-v1/20000/76CFA6F2-0A40-E311-8EF4-0026189438AA.root```

It was there in the past.

(stemmed from https://github.com/cernopendata/opendata.cern.ch/pull/2314#issuecomment-364014925)

[2018-02-08 13:30] katilp commented on #2324
Checking in DAS:

file dataset=/HT/Run2011A-12Oct2013-v1/AOD

file= /store/data/Run2011A/HT/AOD/12Oct2013-v1/*/76CFA6F2-0A40-E311-8EF4-0026189438AA.root

https://cmsweb.cern.ch/das/request?input=file%3D%2Fstore%2Fdata%2FRun2011A%2FHT%2FAOD%2F12Oct2013-v1%2F20000%2F76CFA6F2-0A40-E311-8EF4-0026189438AA.root&instance=prod%2Fglobal

[2018-02-08 14:31] katilp commented on #2324
Transfer request done:
https://cmsweb.cern.ch/phedex/prod/Request::View?request=1216596

[2018-02-08 14:50] #2250 closed

[2018-02-08 14:50] #2257 closed

[2018-02-08 14:50] #2259 closed

[2018-02-08 14:50] #2273 closed

[2018-02-08 14:50] #2275 closed

[2018-02-08 14:50] #2276 closed

[2018-02-08 14:50] #2274 closed

[2018-02-08 14:52] #2269 closed

[2018-02-08 15:10] #2048 closed

[2018-02-08 15:23] katilp commented on #1549
Data reading is fine and tested, add the files (FT_R_42_V10A.db and zip of FT_R_42_V10A) to the record
http://opendata.cern.ch/record/1800.

Add in the description:

`<p> These files are needed when running a CMSSW job on the Open Data VM. They are automatically read from the /cvmfs/cms-opendata-conddb.cern.ch runtime, you do not need to download these files from here separately.</p>\n      <p>FT_

[2018-02-09 07:31] katilp commented on #1298
As suggested in https://github.com/cernopendata/opendata.cern.ch/pull/2318, changed the version name to CMS-OpenData-1.1.0. Updated the text above.

[2018-02-09 08:50] tiborsimko commented on #2263
Closed by #2325.

[2018-02-09 08:50] #2263 closed

[2018-02-09 10:02] jblomer commented on #2322
@katilp The https://github.com/cernvm/public-contexts/blob/master/cms-opendata.context file is only replacing the cms-user-data.txt from record 253, not the other two files.

The description is fine, I think.  In the cernvm-script file, I'd replace the last line by

    # The cvm2ova utility is part of CernVM and can be independently downloaded from
    # https://github.com/cernvm/cernvm-config/bl

[2018-02-09 10:20] diegodelemos commented on #2280
I have tested [Cabot](https://github.com/arachnys/cabot) as an alternative option to UptimeRobot.
* Run on premises
* Built on top of Django (technology affinity with Invenio)
* Extensible with plugins.

After checking it locally and using current features, I've come to the conclusion that we **should go with UptimeRobot** for now since it covers the same use cases as `Cabot` does, it runs outside

[2018-02-09 10:20] #2280 closed

[2018-02-09 10:45] tiborsimko commented on #2265
Closed by #2326.

[2018-02-09 10:45] #2265 closed

[2018-02-15 14:46] katilp opened #2331 "CMS: MC pile-up in GEN-SIM formart"
The dataset needed for adding pile-up on the top of any newly produced MC has now been transferred
/MinBias_TuneZ2_7TeV-pythia6/Summer11Leg-START53_LV4-v1/GEN-SIM

https://cmsweb.cern.ch/phedex/prod/Data::Subscriptions#state=create_since%3D1516101583%3Bnode%3D2241%3Brequest%3D1205370

We will use it for testing MC production on the open data setup and it will become available together with an exam

[2018-02-15 18:22] tiborsimko commented on #2331
@katilp Done. I have transferred the files and created indexes:

- https://eospublichttp.cern.ch/eos/opendata/cms/MonteCarlo2011/Summer11LegDR/MinBias_TuneZ2_7TeV-pythia6/GEN-SIM/START53_LV4-v1/file-indexes

P.S. Please note that this dataset was transferred from `Summer11Leg/...` to `Summer11LegDR/...` Hope that's OK.

[2018-02-19 09:07] dmitr25 opened #2332 "Tau-candidate event to be removed from the nu_mu sample"
The event 12123032048 has to be deleted from the nu_mu sample since it is a tau-candidate event. The number of events in the nu_mu sample has to be decreased by one (817). The event info will be updated and moved to the tau-candidate samle.

[2018-02-19 09:30] tiborsimko opened #2333 "templates: embed OPERA event previewer on detailed record pages"
Embed OPERA event previewer on the detailed record pages.  Example: record ID 4039.

[2018-02-22 07:25] katilp commented on #2203
An update: after discussion with Valentin, it looks like that rather than deleted the dataset may never been entered to the service where DAS is looking for it.

A summary of different services:
- DBS main CMS data catalog
- PHedex,  main data location service
- ReqMgr, service for workflow processing (both MC and data) registration
- McM, service for MonteCarlo requests registration
etc.

Note al

[2018-02-28 17:42] #1782 closed

[2018-02-28 17:51] katilp commented on #1297
@tpmccauley Let me know the github area for the code so we can create the record for this, thanks!

[2018-02-28 17:53] katilp commented on #1231
See the report from @caredg in https://indico.cern.ch/event/707169/contributions/2906362/attachments/1607580/2551373/LongLivedAndExamples_DPOA_ECarreraFNavarro.pdf (p7 cmsdriver.py fully functional)

[2018-02-28 18:02] katilp commented on #999
@tiborsimko Can this be closed?

[2018-02-28 18:05] katilp commented on #953
The VM has been use for a while, and de facto validated. I do not think we will need a report for it.

[2018-02-28 18:05] #953 closed

[2018-02-28 18:10] katilp commented on #666
I believe this is addressed in http://opendata.cern.ch/record/200
Closing

[2018-02-28 18:10] #666 closed

[2018-02-28 18:12] katilp commented on #18
@tiborsimko Has this been addressed in CODP3?

[2018-03-02 14:39] katilp opened #2334 "CMS: sw examples git clone https -> git clone git"
A recent change in github disables git clone commands in format
`git clone https://github.com/cms-opendata-validation/recotest.git`
and they need to be replaced by
`git clone git://github.com/cms-opendata-validation/recotest.git`

NB This happens not only on Open Data VM, but also on lxplus with
older release areas. Note that on the new 2010 VM, one can do git clone https on the normal shell becau

[2018-03-02 14:47] katilp commented on #2334
- [ ] Add an entry for this in http://opendata.cern.ch/docs/cms-guide-troubleshooting

[2018-03-02 15:00] katilp commented on #1550
- [ ] New VM updated to from 1.1.0 to 1.1.1  (CMS-OpenData-1.1.1), change correspondingly above

[2018-03-02 15:03] katilp commented on #1298
The most recent version available now in
 https://cernvm.cern.ch/releases/CMS-OpenData-1.1.1.ova
- the version name now appear in the image itself (the previous changed only the file name)
- copy-pasting from host to image now works (did not work in 1.1.0)
- the error giving a message during VM installation now fixed

[2018-03-02 16:30] katilp commented on #1298
A new version with a larger cvmfs cache in
 https://cernvm.cern.ch/releases/CMS-OpenData-1.1.2.ova

Testing as above -> both OK

The context (up to date, confirmed with Jakob) is available from
https://github.com/cernvm/public-contexts/blob/master/cms-opendata.context

[2018-03-03 15:13] katilp commented on #1310
Updating the values and links above

[2018-03-03 16:16] katilp opened #2335 "CMS: 2016 datasets - initial considerations"
*NB* for UL processing, see https://twiki.cern.ch/twiki/bin/viewauth/CMS/PdmVDataReprocessing

First estimates of the 2016 data volumes
#### Collision data:
- 1.3 PB AOD
- 187 TB MiniAOD
#### MC:
- 3.7 PB AODSIM
- 548 TB MiniAODSIM

#### Total volume:
- min 0.8 PB (MiniAOD only for data + MC)
- or 1.3 PB + 0.8PB = 2.1 PB (AOD and MiniAOD for data + MiniAOD for MC)
- max appr 5.8 PB (MiniAOD and AO

[2018-03-04 17:51] katilp commented on #2335
MINIAODSIM datasets size tot_datasets(16438)
A* 546 3.3TB 546
B* 1824 27.7TB 2370
C* 454 26.2TB 2824
D* 995  69.9TB 3819
E* 86 0.8TB 3905
F* 30  0.1TB 3935
G* 1556  30.9TB 5491
H* 311 2.3TB 5802
I* 5 0.6TB 5807
J* 14 2.0TB 5821
K* 0
L* 245 1.1B 6066
M* 2088 4.2TB 8154
N* 87 0.5TB 8241
O* 0
P* 151 0.7TB 8392
Q* 387 49.1TB 8779
R* 750 2.3TB 9529
S* 1541 34.3TB 11070
T* 1049  143.6TB 12119
U* 16 0.02

[2018-03-05 11:15] katilp opened #2336 "CMS: Trigger menus and summaries for Run2"
Andrea has generated the summary files for triggers in Run2

### Paths and menus
2015
  - https://fwyzard.web.cern.ch/fwyzard/hlt/2015/summary
  - https://fwyzard.web.cern.ch/fwyzard/hlt/2015/summary.html

2016
  - https://fwyzard.web.cern.ch/fwyzard/hlt/2016/summary
  - https://fwyzard.web.cern.ch/fwyzard/hlt/2016/summary.html

2017
  - https://fwyzard.web.cern.ch/fwyzard/hlt/2017/summary
  - htt

[2018-03-08 19:32] katilp opened #2337 "CMS: runtime output, add MessageLogger instructions in the trouble-shooting guide"
A user has asked how to change the output frequency for the run-time messages for a CMSSW Module.
The instructions for printing every N events are in
https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideMessageLoggerParameters#Example_of_ReportEvery_Parameter

We may want to summarise or to point to these instructions in the trouble-shooting guide.

[2018-03-09 17:39] katilp opened #2338 "CMS: validation and analysis examples, concepts and use-cases"
Some thoughts for discussion:

To keep in mind:
- CMS releases already validated primary datasets, no need for additional validation for contents at the time of release
   - the runs and lumi sections validated for analysis are provided in [the list of validated runs](http://opendata.cern.ch/search?page=1&size=20&type=Environment&subtype=Validation).

#### The current definitions for validation an

[2018-03-10 09:59] katilp opened #2339 "CMS: 2010 MC - initial considerations"
MC samples corresponding to 2010 data have been identified and could be possibly released during 2018.

A full set is (`dataset=/*/*START42*/AODSIM`):
https://cmsweb.cern.ch/das/request?instance=prod%2Fglobal&view=list&input=dataset%3D%2F%2A%2F%2ASTART42%2A%2FAODSIM&idx=200&limit=50
resulting to [731 TB](https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=block+datas

[2018-03-10 12:46] katilp opened #2340 "CMS: Heavy ion data - initial considerations"
Preliminary summary of CMS Run1 heavy ion data

See also https://twiki.cern.ch/twiki/bin/viewauth/CMS/DPOAReleasePlan#Next_releases_to_be_discussed_no for further details and context

#### RAW samples :
(NB: these are not for the release but just for bookkeeping)
All Run1 HI data-taking (RAW) https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D%2F*%2F*HI*%2

[2018-03-10 17:34] katilp opened #2341 "CMS: inclusive jet analysis record - to be done"
To be done for the inclusive jet cross section analysis
https://github.com/cms-opendata-validation/2011-jet-inclusivecrosssection-analysis

#### Background
- This is part 2 of the full chain, part 1 is the ntuple production:
   - originally in https://github.com/cms-opendata-validation/2011-jet-inclusivecrosssection-ntupleproduction by Matias Haapalehto summer 2016
  - optimized in speed by Sasha

[2018-03-10 19:09] katilp opened #2342 "CMS: update instructions in the luminosity records"
Update instructions in the luminosity records
http://opendata.cern.ch/search?page=1&size=20&type=Software&type=Supplementaries&subtype=Luminosity

- [x] In [the 2011 record](http://opendata.cern.ch/record/1051)
Replace:

with:

- [x] Idem for [the 2012 record](http://opendata.cern.ch/record/1052) , as above with 2011->2012

- [x] In [the 2010 record](http://opendata.cern.ch/record/1050) , add

@ca

[2018-03-11 11:21] katilp opened #2343 "CMS: special Run1 datasets - initial considerations"
Preliminary summary of CMS Run1 speacial datasets

For further details and context see
- https://twiki.cern.ch/twiki/bin/viewauth/CMS/DPOAReleasePlan#Next_releases_to_be_discussed_no
- [slides](https://indico.cern.ch/event/707169/contributions/2910268/attachments/1607576/2551362/CASTOR_data_preservation_270218.pdf) by Hans Feb 27, 2018 DPOA meeting
- https://twiki.cern.ch/twiki/bin/viewauth/CMS/CA

[2018-03-11 13:06] katilp opened #2344 "CMS: instructions and examples for MC generation"
We should provide:
- guide page for MC generation (docs cfr http://opendata.cern.ch/docs/cms-guide-trigger-system)
- examples for 2010 and 2011-2012 (records cfr  http://opendata.cern.ch/record/5003 and http://opendata.cern.ch/record/5004).

Should cover:
- cmsdriver (cfr page 7 in @caredg 's [slides](https://indico.cern.ch/event/707169/contributions/2906362/attachments/1607580/2551373/LongLivedAn

[2018-03-11 16:06] katilp opened #2345 "CMS: possible release profile - initial considerations"
Preliminary estimates (under discussion and to be confirmed)

All dates, datasets and numbers to confirmed!!!

- 2019
  - Heavy ion data #2340 slc5 datasets 62TB data + 0.2PB MC?
  - special datasets (CASTOR) 2010-2011 #2343 24TB data + 1.7TB MC :heavy_check_mark: 2010
  - 2010 MC #2339 max. 0.5PB, working on selection of the most relevant subset :heavy_check_mark:
     - Summer12-LowPU2010_DR42 7

[2018-03-12 15:58] katilp commented on #2339
Use the data popularity monitor to judge
- https://cmsweb.cern.ch/popdb/popularity/dataSetTable
- set the relevant time range (up to beg 2012?)
- generate the table and read out as json (OK)
- read in a jupyter notebook as a pandas dataframe (OK)
- sort by the most popular (by n users) (OK)
- read the list of [datasets](https://cmsweb.cern.ch/das/request?view=plain&limit=50&instance=prod%2Fglobal&

[2018-03-13 11:07] katilp opened #2346 "CMS: raw data record, remove "Recommended release for analysis:""
In the RAW data record http://opendata.cern.ch/record/35
there is a double description under System details:

"Recommended release for analysis: Recommended release for reconstruction: CMSSW_5_3_32"

should be:

"Recommended release for reconstruction: CMSSW_5_3_32"

[2018-03-15 09:36] katilp commented on #2339
Updates done in https://github.com/katilp/cms-data-popularity/blob/master/compare-data-popularity.ipynb

- find out the popularity by the process name (summing all different reprocessing together)
- for the moment, summing up all dataset types together (AODSIM, GEN-SIM-RECO, USER...)

[2018-03-15 13:54] tiborsimko commented on #2322
Note: the version is now 1.1.2.

[2018-03-15 14:03] tiborsimko commented on #2106
The first example: record 1800 lives in `cms-condition-data-Run2010B.json` and there is no link to existing file `/eos/opendata/cms/Run2010B/db/GR_R_42_V25-cmssw4.2.8.tgz` there.

[2018-03-15 14:09] tiborsimko commented on #2106
The third example, the 2012 condition DB files are big, see https://github.com/cernopendata/opendata.cern.ch/issues/1263#issuecomment-348157835, and cannot be easily packaged on the servers due to insufficient scratch space.  Perhaps use `/tmp/` on a given AIADM machine such as AIADM68.

[2018-03-15 14:15] tiborsimko commented on #2324
File copied:

[code]

We still have to amend the fixtures and file listings.

[2018-03-15 14:23] katilp opened #2347 "CMS: to be moved from upload"
These datasets are fully transferred and can be moved from upload

- to be confirmed as transfers from the same request are still ongoing
[tomove.txt](https://github.com/cernopendata/opendata.cern.ch/files/1815712/tomove.txt)

- all transfers done, can be moved now
[tomove2.txt](https://github.com/cernopendata/opendata.cern.ch/files/1815738/tomove2.txt)

[2018-03-15 14:57] katilp commented on #2334
@tpmccauley Would you update https://github.com/tpmccauley/dimuon-filter as well, it is linked from http://opendata.cern.ch/record/552 (or should we link somewhere else?) Thanks!

[2018-03-15 15:07] katilp opened #2348 "CMS: updates github links in sw records"
Update github links in the following records:

460: https://github.com/cms-opendata-validation/2010-mu-mumonitor-dimuon/tree/master
461: https://github.com/cms-opendata-validation/2010-commissioning-dimuon/tree/master
462: https://github.com/cms-opendata-validation/2010-minimumbias-trackvertex/tree/master

To be checked #2334:
101: to be checked, now pointing to https://github.com/ayrodrig/Outreac

[2018-03-15 15:19] tiborsimko commented on #2347
- `tomove.txt` all moved
- `tomove2.txt` was OK already

The creation of rich file indexes (and the creation of record fixtures) still needs to be done.

[2018-03-15 15:28] tiborsimko commented on #1298
File ready on EOS:

[code]

Record 250 can be updated.

[2018-03-15 15:32] tiborsimko commented on #2251
This will be fixed on PROD once we deploy the QA branch there.

[2018-03-15 15:35] tiborsimko commented on #2346
This needs to change the record fixtures:

[code]

and the display template:

[code]

so that "reconstruction" is mentioned for RAW datasets, and "analysis" for AOD datasets.

[2018-03-15 15:48] katilp commented on #1298
Provide the update for the record description

[2018-03-15 15:52] tiborsimko commented on #999
We have a new JSON schema model, but the links between datasets and triggers are still not ideally encoded.  (HTML links inside JSON!).  So the issue is still valid...

[code]

[2018-03-15 15:56] tiborsimko commented on #18
We don't have any description for the derived files in COD3 either. However, since there was not much movement in this issue, and we have not seen many user questions on this either, perhaps the names are already descriptive enough so that we can close the issue.

[2018-03-15 15:56] #18 closed

[2018-03-15 17:33] katilp commented on #2348
@tiborsimko I've now updated the corresponding record, unassigning you

[2018-03-16 15:25] katilp commented on #2335
NB a script from Tommaso for a das/dbs query for a quicker access, see https://github.com/katilp/sandbox/issues/7

[2018-03-18 23:47] caredg commented on #2338
Thanks @katilp , I am starting to go through this....

[2018-03-20 15:21] #2251 closed

[2018-03-20 15:23] tiborsimko commented on #2106
WRT first example:

[code]

[2018-03-20 15:42] tiborsimko commented on #2270
Example: for `cernopendata/modules/fixtures/data/records/cms-configuration-files-2012.json`, see:

[code]

which should be transformed into:

[code]

based on the RECO found in the title in 4th position.

[2018-03-20 16:09] tiborsimko commented on #1770
Example of how this was displayed in COD2: (e.g. record 1671)

![pileup](https://user-images.githubusercontent.com/517546/37667064-690df5e4-2c61-11e8-8084-9309b3613e94.png)

[2018-03-20 16:09] katilp commented on #1770
The page to link is http://opendata.cern.ch/docs/cms-guide-pileup-simulation

[2018-03-20 16:11] tiborsimko commented on #1770
So we can: (1) amend fixtures to use the link suggested by @katilp; (2) display `pileup.description` field in the templates; (3) do nothing with `pileup.links` as of yet.

[2018-03-20 16:18] tiborsimko opened #2351 "OPERA: create example tau neutrino candidate event record 9234119599"
Create example tau neutrino candidate event record 9234119599.

Files are attached on EOS already.

Use rich TeX abstract from Giovanni.

Use this as an example for event display.

[2018-03-21 10:06] ioannistsanaktsidis commented on #2348
Closing as already merged.

[2018-03-21 10:06] #2348 closed

[2018-03-21 10:24] ioannistsanaktsidis commented on #2342
Closing as already implemented.

[2018-03-21 10:24] #2342 closed

[2018-03-21 14:44] ioannistsanaktsidis commented on #2346
Closing as already addressed.

[2018-03-21 14:44] #2346 closed

[2018-03-21 14:48] #2270 closed

[2018-03-21 15:57] ioannistsanaktsidis commented on #1770
Closing as already implemented.

[2018-03-21 15:57] #1770 closed

[2018-03-21 16:07] katilp opened #2357 "CMS: small update in 2011 getting started"
Update 2011 getting started similarly as the 2010 page: move` cmsenv` together with `cd CMSSW_5_3_32/src`

[2018-03-21 20:28] #1745 closed

[2018-03-22 11:53] ioannistsanaktsidis commented on #2252
Closing as already addressed by @pamfilos .

[2018-03-22 11:53] #2252 closed

[2018-03-22 12:25] ioannistsanaktsidis commented on #2315
Closing as already addressed.

[2018-03-22 12:25] #2315 closed

[2018-03-22 13:02] ioannistsanaktsidis commented on #2357
Closing as already addressed.

[2018-03-22 13:02] #2357 closed

[2018-03-22 13:09] ioannistsanaktsidis commented on #1298
@tiborsimko the previous file should be replaced or should we add the new one too ?

E.g
[code]
or
[code]

[2018-03-22 13:43] ioannistsanaktsidis commented on #1921
Closing as already implemented.

[2018-03-22 13:43] #1921 closed

[2018-03-22 13:47] katilp commented on #1298
Add a new one, i.e keep them both

[2018-03-22 14:53] ioannistsanaktsidis commented on #1298
Closing as already addressed.

[2018-03-22 14:53] #1298 closed

[2018-03-22 16:08] ioannistsanaktsidis commented on #2072
Closing as already addressed.

[2018-03-22 16:08] #2072 closed

[2018-03-23 09:45] ioannistsanaktsidis commented on #2324
@tiborsimko @katilp which fixtures we need to amend ?

[2018-03-23 09:51] ioannistsanaktsidis commented on #1550
@katilp anything else needed for this one ? or I can close it ?

[2018-03-23 10:09] katilp commented on #1550
@ioannistsanaktsidis Can be closed, thanks! @caredg has the trigger instructions ready to go for the github page referred above.

[2018-03-23 10:17] ioannistsanaktsidis commented on #1550
Closing as already addressed.

[2018-03-23 10:17] #1550 closed

[2018-03-26 09:41] ioannistsanaktsidis commented on #2093
Closing as already implemented.

[2018-03-26 09:41] #2093 closed

[2018-03-29 16:04] tiborsimko commented on #2347
FYI these were moved:

[code]

[2018-04-03 08:37] #2332 closed

[2018-04-04 12:38] tiborsimko commented on #2324
File listings regenerated, fixture amendment coming...

[2018-04-04 12:50] tiborsimko commented on #1333
@cbourjau Please note that we had installed the redirector to support the old URLs of the form:

[code]

so that the old technique would still work:

[code]

[2018-04-04 12:51] tiborsimko commented on #1333
Closing since we cannot use "private domain" certificates with the central PaaS platform.

[2018-04-04 12:51] #1333 closed

[2018-04-04 13:00] tiborsimko commented on #2287
The functionality implemented in #2367. The sentry instance set up and tested.  The deployment will be happening with the `master` branch later.

[2018-04-04 13:00] #2287 closed

[2018-04-04 13:10] tiborsimko commented on #2278
Examples of 404 findings in a certain time interval are below.

Some are old URLs we don't need to support, e.g. MARCXML.  Some are treated elsewhere, e.g. `robots.txt`.  Some are wp hack attempts.  We can add icons etc to address others, and check the ispy ones for the event display.

[code]

[2018-04-04 13:10] #2278 closed

[2018-04-04 13:27] #2324 closed

[2018-04-04 16:36] tiborsimko commented on #2303
This is now ready, the schema.org and JSON-LD are now deployed. Would you like to add it yourself?

[2018-04-04 16:42] tiborsimko opened #2373 "templates: nicer display for ALICE files"
The display of ALICE files now looks as follows:

![alice](https://user-images.githubusercontent.com/517546/38321304-8217984c-3837-11e8-8096-26f544820fb1.png)

This is because the filenames are the same, only the directories differ:

[code]

We should show the least amount of information but in such a way that it would uniquely identify the files, e.g. the filename and the directory name.

[2018-04-05 07:42] katilp opened #2374 "CMS: redirect of old : http://opendata.cern.ch/research/CMS"
The HSF report https://arxiv.org/pdf/1712.06982.pdf refers to CMS research level practices with
http://opendata.cern.ch/research/CMS which now brings to
http://opendata.cern.ch/search?page=1&size=20&experiment=CMS

It would make sense to redirect this old link to
http://opendata.cern.ch/docs/cms-guide-for-research
or more generically to the upper level
http://opendata.cern.ch/docs/about-cms
as the

[2018-04-05 11:04] ioannistsanaktsidis commented on #2303
I have already an open PR for this waiting to be merged.

[2018-04-06 09:32] katilp commented on #2338
In evaluating what needs to be covered in examples it could also be useful to see what is available and visible in
https://github.com/cms-sw/cmssw/tree/CMSSW_5_3_X/PhysicsTools
Not all there is relevant for open data as it may also contain tools for reconstruction which are not useful on AOD, but it may be a place where users end up looking for examples and it would be good to provide some guidanc

[2018-04-09 12:49] #2351 closed

[2018-04-09 12:51] tiborsimko opened #2378 "records: OPERA tau neutrino ECC and ED dataset enrichment"
Enrich OPERA tau neutrino appearance ECC and ED datasets, following #2351.

Pay attention to FIXMEs.

Add files.

[2018-04-09 12:53] tiborsimko opened #2379 "templates: update OPERA event previewer"
Update OPERA event previewer for tau candidate events, following up #2351.

[2018-04-09 12:56] tiborsimko opened #2380 "docs: update OPERA release statement"
Update news item `opera-news-first-release-2017` following up the release of tau candidate events.

[2018-04-09 13:01] ArtemisLav opened #2381 "Integrate link checking support"
There have been some cases where links displayed on COD have been broken. This problem has been observed mostly with third-party links.

In any case, it would be useful to have a tool that checks to make sure that all the links we have are still OK/point to the right place.

[2018-04-09 13:01] tiborsimko opened #2382 "records: create 9 tau candidate event records"
Create 9 tau candidate event records, following up #2351.

[2018-04-09 13:05] tiborsimko commented on #1367
The press release issue moved to #2380.

So this issue is only about proof-reading the text behind http://opendata-dev.web.cern.ch/docs/about-opera

Changing the issue titte accordingly.

[2018-04-09 13:06] tiborsimko commented on #1367
@ArtemisLav I think you had some large updates from Giovanni for the "About OPERA" page?

[2018-04-09 13:06] tiborsimko commented on #2333
@ioannistsanaktsidis Do you think we shall manage to attack this during the consolidation sprint?

[2018-04-09 13:15] ArtemisLav commented on #1367
@tiborsimko Yes, you can check https://github.com/cernopendata/opendata.cern.ch/pull/1535

[2018-04-10 07:56] ioannistsanaktsidis commented on #2303
Closing as opendata is added to the list.

[2018-04-10 07:56] #2303 closed

[2018-04-10 18:49] katilp opened #2384 "CMS: clarify the VM records (confusion between scripts to build the image and the image itself)"
In the VM records http://opendata.cern.ch/record/250 and http://opendata.cern.ch/record/252 make clear that the image itself is under Files

![rec252](https://user-images.githubusercontent.com/5859918/38577079-2d7a5b62-3d00-11e8-8224-7bd2d7b3a86f.PNG)

and not under "How was this built? The contextualisation scripts used for setting up the CMS VM images are available at:"

@tiborsimko @caredg Sugg

[2018-04-11 07:51] tiborsimko commented on #1367
OK, I see that the update was merged as @1905 as HTML, but it actually disappeared later when moving the docs Markdown, see `cernopendata/modules/fixtures/data/docs/opera-about/opera-about.md`, for a reason or another... Can you please re-update the Markdown?

[2018-04-11 11:39] #1367 closed

[2018-04-11 11:58] #2379 closed

[2018-04-11 12:05] ArtemisLav commented on #1307
It's 5 DOIs in total now with the addition of the new records.

[2018-04-11 12:08] #2380 closed

[2018-04-11 12:46] tiborsimko commented on #2209
All done. The new canonical URLs:

- PROD: http://opendata.cern.ch/
- QA: http://opendata-qa.cern.ch/
- DEV: http://opendata-dev.cern.ch/

Deleted old COD2 DNS LB and all the COD2 VMs.

[2018-04-11 12:46] #2209 closed

[2018-04-12 16:12] katilp opened #2389 "Search: Suggest use of wild cards in search?"
Maybe add a suggestion for using wildcards in search when nothing is found.

i.e. http://opendata.cern.ch/search?page=1&size=20&q=DiPhoton
does not find
http://opendata.cern.ch/record/7688
but http://opendata.cern.ch/search?page=1&size=20&q=*DiPhoton* finds

[2018-04-13 16:39] katilp opened #2390 "CMS: Dataset listings for DP in CMS"
This issue records the datasets considered as legacy.

All AOD/AODSIM datasets on the portal as of 13 April 2018:
http://simko.home.cern.ch/simko/tmp/cod3-cms-collision-simulated-datasets-20180413.txt
[cod3-cms-collision-simulated-datasets-20180413.txt](https://github.com/cernopendata/opendata.cern.ch/files/1908216/cod3-cms-collision-simulated-datasets-20180413.txt)

Run1 pp collision datasets not

[2018-04-17 09:45] tiborsimko opened #2393 "installation: fix pyxrootd installation"
A new critical installation problem appeared on Travis CI and confirmed locally. It prevens the COD3 installation and deployment  so should be fixed rapidly:

[code]

[2018-04-17 14:25] #2393 closed

[2018-04-19 20:13] katilp opened #2401 "Search: unexpected results with keyword "Validation""
I would expect the search
http://opendata.cern.ch/search?page=1&size=20&q=&subtype=Validation&type=Software
only show the five validation records under software (with tags Validation and Software)
but it also show the three additional records under Environment:

![search](https://user-images.githubusercontent.com/5859918/39015697-86f8a4b2-441e-11e8-9b5f-390692e187f2.JPG)

Is that expected? The lef

[2018-04-19 20:51] katilp commented on #2401
If I add CMS in the search, it works as expected
http://opendata.cern.ch/search?page=1&size=20&q=&subtype=Validation&type=Software&experiment=CMS ...

[2018-04-24 12:37] tiborsimko commented on #1192
@katilp I get permission denied:

[code]

Could be due to CMS-only access, I guess.

Could you move the files to some fully public AFS space?

PAT was referring to Physics Analysis Toolkit. Could be used here too perhaps? (I haven't seen the what the files are...)

[2018-04-24 12:54] katilp commented on #1192
@tiborsimko OK, it is the same for me, and I'm following with the afs support, I've added you in cc, it should be possible to copy them still.
For the naming, PATtuples is no good here as it is a specific well-defined format while this are plain root tuples containing jets. But it is the same format as in use in the CMS jet group so I would go for jettuples.

[2018-04-25 14:15] tiborsimko opened #2403 "records: addition of JADE VM"
Add a new JSON fixture file representing JADE VM record. The new file could be called `jade-vm-2018.json` or some such. Example to follow: `cernopendata/modules/fixtures/data/records/cms-tools-vm-image-2012.json`. You can use record ID (`recid`) 12000 for this new record.

[2018-04-25 14:40] #2378 closed

[2018-04-25 16:46] tiborsimko opened #2404 "templates: link to author lists"
The detailed record pages such as datasets (recid 14) used to be link to the collaboration author lists (such as 450).

The link has disappeared during COD2 to COD3 migration and there is currently no way to get there.

We should amend detailed record page templates to link to author lists again.

[2018-05-18 10:08] tiborsimko commented on #1192
@katilp Thanks, I have the files:

[code]

For Data, we discussed storing them under `/eos/opendata/cms/Run2011A/Jet/jettuples`.

For MC, since there are multiple parents, where do we store them? E.g. (1) we could create a new directory `/eos/opendata/cms/MonteCarlo2011/Summer11LegDR/QCD_Pt-15to1000_TuneZ2_7TeV_pythia6` and store them under `jettuples` there? Or (2) we could simply store both Data

[2018-05-18 10:17] katilp commented on #1192
@tiborsimko Thanks!
It would make sense to create a new directory for the MC as you suggest i.e. (1)
This is somewhat different from the Higgs to 4l root files record 5501 (root files from data and MC in the same record) as that record contains root files with histograms only, while these are root file with event-by-event information.

[2018-05-18 13:15] katilp opened #2410 "CMS: FAQ items to be added"
FAQ to be added in http://opendata.cern.ch/docs/cms-guide-troubleshooting

- in some institutes certain IP's need to be whitelisted, see https://cern.service-now.com/service-portal/view-request.do?n=RQF0926154 and in addition (from an admin):

NB though that the IP's may change

- Add instructions to reduce output, see https://groups.cern.ch/group/opendata-support/Lists/Archive/Flat.aspx?RootFolde

[2018-05-18 14:16] tiborsimko commented on #1192
Done, everything is copied:

- `/eos/opendata/cms/Run2011A/Jet/jettuples/OpenDataTuple-Data-Jet-Run2011A-npv.root`
- `/eos/opendata/cms/Run2011A/Jet/jettuples/OpenDataTuple-Data-Jet-Run2011A.root`
- `/eos/opendata/cms/MonteCarlo2011/Summer11LegDR/QCD_Pt-15to1000_TuneZ2_7TeV_pythia6/jettuples/OpenDataTuple-MC-QCD_Pt-15to1000_TuneZ2_7TeV_pythia6.root`

Please let me know if you'd like to change the

[2018-05-21 20:46] #1307 closed

[2018-05-21 20:46] ArtemisLav commented on #1307
This is done.

[2018-05-22 10:20] tiborsimko opened #2412 "previewing individual OPERA events"
Our links to visualise individual OPERA events (such as `/visualise/events/opera/12123032048`) that we display in the detailed record pages do not work anymore. The wanted event is not selected. This is probably due to the addition of `nuMu/nuTau` selection box. We might need to put up an `if` there. Can you please have a look?

[2018-05-23 19:36] katilp commented on #1192
@ArtemisLav we will still need to check that they correspond to the code record on the portal  with which they can be produced. The metadata is available in
- https://github.com/cms-opendata-validation/2011-jet-inclusivecrosssection-ntupleproduction/blob/master/tuple_info_data for data
- https://github.com/cms-opendata-validation/2011-jet-inclusivecrosssection-ntupleproduction/blob/master/tuple_in

[2018-05-24 10:34] ArtemisLav commented on #1192
The metadata for the data record only mentions one file with 25607902 events, but what is in EOS is

[2018-05-24 11:59] ArtemisLav commented on #1191
@katilp is this going to be one or two records after all? If it's going to be two, I just need the metadata for the second record. And should they link back to #1192 somehow?

Also, WRT the github repos, if you tag them with a release tag, we could just grab the tarball and show it on the record, if you like.

[2018-05-26 14:40] katilp opened #2413 "CMS: csv for H to 4l"
Create a record for csv for H to 4l
The record can be similar to http://opendata.cern.ch/record/545
Tom can made the files available to be uploaded on eospublic

[2018-05-28 11:05] katilp opened #2414 "CMS: upload the updated CMS data policy"
The updated CMS data policy to be added, now available from
https://cms-docdb.cern.ch/cgi-bin/PublicDocDB/ShowDocument?docid=6032

It would be good to have it before next conferences, if possible (e.g. an outreach session at LHCP next week).

Either new record, or a new versions to the existing 411, both are OK, as long as google search
"cms data policy" brings to the updated version.

Assigned @t

[2018-05-31 13:13] tiborsimko commented on #2414
@ArtemisLav Can you please create a new record with a new DOI and "deprecate" the old record so that it would point to the new one?  (or just add the new version file with a different DOI to the same record ID...)

Here's the file information:

[code]

[2018-05-31 17:30] ArtemisLav commented on #2414
@tiborsimko I have amended the record and added a new DOI, but in both the options the old DOI would point to nothing. I guess that will be part of the versioning discussion. It would be good to figure that out soon.

[2018-06-07 21:30] katilp opened #2416 "CMS: corrupted file in 2011 Jet dataset"
There's a corrupted file root://eospublic.cern.ch//eos/opendata/cms/Run2011A/Jet/AOD/12Oct2013-v1/20001/76C7AE0D-1E3F-E311-9EB3-003048D2BD66.root in record 21, reported by a user.

It shows properly in

https://eospublichttp01.cern.ch/eos/opendata/cms/Run2011A/Jet/AOD/12Oct2013-v1/20001

but it does not open in root with the following error messages:

[code]

Other files in the same block open nor

[2018-07-11 08:45] tiborsimko opened #2418 "RFC default sort order"
Discussing with @artfisica the default ranking when people only browse the site, i.e. for empty query patters.

Currently, the order looks sort of "random" in this case. Perhaps "most recent" would make more sense in this case.

Investigate options.

[2018-07-11 08:48] artfisica commented on #1226
Thank you very much, with the new version of the website, this was implemented.

[2018-07-11 08:48] #1226 closed

[2018-07-11 15:02] ArtemisLav opened #2419 "ORCID in COD"
- Add ORCID as a metadata field in the schema (record-v1.0.0.json)

For NEW records, when the author also submits an ORCID iD:
- a new element must be added to the DOI metadata when minting the DOI via the DataCite Metadata Store as part of `creator`, namely `<nameIdentifier nameIdentifierScheme="ORCID" schemeURI="http://orcid.org/">0000-XXXX-XXXX-XXXX</nameIdentifier>`

This is related to the CAP

[2018-07-13 10:05] katilp commented on #2345
Short-term priorities:
- object extractor
- ML datasets

Then:
- MC generation
- MC datasets search
- consolidation of the provenance extraction

[2018-07-17 09:49] tiborsimko opened #2420 "search: collision type facet"
Introduce new facet regarding collision type, e.g. pp, PbPb.

(stemmed from #1593)

[2018-07-17 20:14] katilp opened #2421 "CMS: missing MC"
From @zenaiev: It would be useful to add
`dataset=/GluGluToHToGG_M-125_7TeV-powheg-pythia6/Fall11-PU_S6_START44_V9B-v1/AODSIM
`
to the 2011 MC open data to complete the H->gg example

[2018-07-17 20:22] katilp opened #2422 "CMS: correction to a link in record 53"
The link in record: http://opendata.cern.ch/record/53 should be:

http://cms.physicsmasterclasses.org/cms.html

instead of

http://cms.physicsmasterclasses.org/cms.html/

[2018-07-19 12:13] ArtemisLav opened #2423 "Depositing content to COD"
It would be very useful if it was possible for the users to provide metadata about new resources they want to publish in a more automated way. Currently this is being done through processing GitHub issues and discussing with the content providers via comments. This method works, but it takes much more time than it needs to. This could be accomplished in a few ways:

- Developing deposit forms for

[2018-07-19 12:57] katilp commented on #2423
Agree for the CAP approach 👍

True what @ArtemisLav says about `Documentation` records, the CAP approach is mainly valid for `Software` records.

But it can be used also if needed for cases where there's a `Guide` and connected `Software` examples (thinking of the existing Trigger guide and examples by @caredg , and those that are coming, i.e. MC generation and luminosity calculation). This would

[2018-07-23 09:53] ArtemisLav commented on #1529
@tiborsimko is it possible to just keep `record-v1.0.0.json` & `glossary-term-v1.0.0.json`? I know we've had this conversation before, but I simply don't recall the reasoning behind having more than just one global schema.

[2018-07-30 12:57] tiborsimko commented on #2416
It may have been a transient issue. (EOS is "self-recovering".) The file is now downloadable:

[code]

[2018-07-30 12:57] #2416 closed

[2018-07-31 10:45] annatrz commented on #2401
I can't reproduce this error. When i follow the link http://opendata.cern.ch/search?page=1&size=20&q=&subtype=Validation&type=Software, i see only 5 results, as expected. Any hint?

[2018-07-31 10:50] katilp commented on #2401
@annatrz I can confirm that I cannot reproduce it either. That's OK then, it is curious though as the screenshot above is not fake 😄

[2018-08-08 13:31] katilp opened #2426 "CMS: new VM for 2011-2012 with slc6 container"
A new version of VM for 2011-2012 is available for testing.
It has the CMS shell as slc6 shell as a singularity container (similar to VM 1.1.2 in http://opendata.cern.ch/record/250)

UPDATE, see below https://github.com/cernopendata/opendata.cern.ch/issues/2426#issuecomment-447997789

https://cernbox.cern.ch/index.php/s/omF4JNCPMDigQk8

It corresponds to the image

http://cernvm.cern.ch/releases/p

[2018-08-13 16:10] diegodelemos opened #2427 "files: error when downloading big root files"
We have been seeing the following error on production when people tries to download big root files:

[code]
As a result, users would end up with just a part of the file downloaded.

[2018-08-14 13:44] katilp commented on #2421
@zenaiev sorry for the delay, I'll have a look and let you know

[2018-08-14 14:57] katilp commented on #2421
@zenaiev Transfer request done, waiting for it to get approved.

[2018-08-14 15:49] RaoOfPhysics opened #2429 "Broken link with trailing slash: record 5103"
On http://opendata.cern.ch/record/5103 there is a link to the CMS event display, but the link is broken:

- The link on the page is [`http://opendata.cern.ch/visualise/events/cms/`](http://opendata.cern.ch/visualise/events/cms/) -- note the trailing `/`.
- The "correct" link should be [`http://opendata.cern.ch/visualise/events/cms`](http://opendata.cern.ch/visualise/events/cms) -- without the `/`.

[2018-08-15 09:52] heitorPB commented on #2249
after each `<MGRunCard>` block, there's a `MGGenerationInfo` block. This block is different each time it appears. To list all the blocks run `grep -A 5 -e "<MGGenerationInfo>" testout.lhe`:

[code]

[2018-08-15 12:49] heitorPB commented on #2249
That was only for the [MadGraph generator](http://madgraph.physics.illinois.edu/).

For the dataset http://opendata.cern.ch/record/1352, made with [JHUGenerator](http://spin.pha.jhu.edu/), this is the output of `dumpLHEHeader.py`: [out.txt](https://github.com/cernopendata/opendata.cern.ch/files/2290219/out.txt):

[code]

It refers to an input file `/afs/cern.ch/user/h/hroskes/work/public/HiggsProp

[2018-08-17 14:37] ArtemisLav commented on #1454
@katilp Is this still needed?

[2018-08-17 14:50] ArtemisLav commented on #2429
I checked and as far as I can tell this was the only record where this link was broken

[2018-08-27 14:50] heitorPB commented on #1920
Another approach would be to add `events` to the glossary. This way there's no need to change the urls and would solve the possible confusion to non-physicists.

[2018-08-29 15:21] #2427 closed

[2018-09-06 14:13] heitorPB commented on #2249
PR #2432 addresses all of this, right @katilp ?

[2018-09-06 14:29] heitorPB commented on #2203
Some of those datasets have no parent because they are already the parent.

For example:
- dataset: /BBH_HToTauTau_M_125_TuneZ2star_8TeV_pythia6_tauola/Summer12_DR53X-PU_S10_START53_V19-v1/AODSIM
  there is no parent. But it has children. And in the config files (not of the children) you chan see all the details about the Pythia parameters

[2018-09-13 10:07] tiborsimko commented on #1529
(1) If we plan to keep having all the records in the same `record` namespace -- as we did during the COD2->COD3 sprint fever -- then we can indeed remove all the other schemas and mappings for better clarity.

(2) If we plan to one day split the records into `dataset`, `software` and other different namespaces, then we can keep them on the disk. However there is indeed a risk of them being outdate

[2018-09-13 14:48] tiborsimko commented on #2203
This record seems OK, it has the SIM step: http://opendata.cern.ch/record/7299

[2018-09-13 14:56] tiborsimko commented on #2203
This is a good example, because its GEN-SIM parent does not have any `byoutputdataset` config info, but it has plenty of `byinputdataset` config files... e.g. `6a33b72e9283e79fcf088daae692ece0`.  Perhaps they can be accessed and parsed? @heitorPB

[2018-09-13 16:38] tiborsimko commented on #716
Reopening the issue as we are getting OAI-PMH enquiries.

Note that a working OAI-PMH prototype was made when moving to Invenio 3; we should just revive and rebrush it and decide on nice IDs.

[code]

[2018-09-14 14:05] heitorPB commented on #1398
PR  #2432 contains information on how to run the script.

[2018-09-14 14:38] heitorPB commented on #2203
Some of the entries from Kati's list are in the portal with GEN info. These are the ones without gen info in the portal (3rd and last):

- /DiPhotonBox_Pt-10To25_8TeV-pythia6/Summer12_DR53X-PU_RD1_START53_V7N-v1/AODSIM parent GEN-SIM
  - No entry in McM
  - parent has 10 config files, none of them are GEN.
    - one has `process = cms.Process("NONE")` and it is not useful
  - no LHE header to dump

[2018-09-16 10:53] heitorPB commented on #1447
Currently, the portal uses [mdx_math](https://github.com/mitya57/python-markdown-math) as a python-markdown extension for [Latex support](https://python-markdown.github.io/). I think this issue can be closed now. @hjhsalo

[2018-09-16 11:38] heitorPB commented on #2418
For `glossary` and `documentation`, alphabetical order seems a good idea as it makes easier to find something specific. Maybe also for `software` and `environment`.

[2018-09-16 13:44] heitorPB commented on #1843
The portal currently parses the .md files correctly in this sense. See for example [this entry](http://opendata.cern.ch/docs/cms-guide-trigger-system) and the [source](https://github.com/cernopendata/opendata.cern.ch/blob/master/cernopendata/modules/fixtures/data/docs/cms-guide-trigger-system/cms-guide-trigger-system.md).

[2018-09-17 08:45] tiborsimko opened #2433 "tests: add pycodestyle testing"
(1) Fix code style formatting issues:

[code]

(2) Enrich Travis CI to check for Python code style automatically.   (see `run-tests.sh`)

[2018-09-17 14:04] heitorPB commented on #2203
We could focus in the datasets with more popularity:
https://github.com/katilp/cms-data-popularity

[2018-09-18 13:49] tiborsimko commented on #2433
You could also do:

(3) Enrich `Dockerfile` to install `jsonlint` and `jq` in the image so that we can run `run-tests.sh` fully inside the container as well.

(4) Enrich `setup.py` test target so that it installs `pycodestyle` too, not only `pydocstyle`.  Add known working version as pinned into `requirements-productionb.txt`.

(5) You could afterwards amend `.travis.yaml` to simply run `run-tests

[2018-09-18 13:53] tiborsimko commented on #2433
(6) See also `check-manifest` command, we should add some interesting files (from inside  `cernopendata` package, as suggested by `check-manifest` rules) and exclude some not interesting files (from outside package, such as elasticsearch setup).

[2018-09-21 13:31] heitorPB commented on #2418
Alphabetical order is case sensitive. See the [glossary](http://opendata.cern.ch/search?page=1&size=20&type=Glossary&sort=title) for an example: `Run` is before `derived`.

[2018-09-23 16:05] katilp commented on #2414
Any news of this @tiborsimko ?

[2018-09-26 08:31] #1529 closed

[2018-09-26 11:13] heitorPB commented on #1229
These are the categories from [CMS Publications](https://cms-results.web.cern.ch/cms-results/public-results/publications/):

-    Forward and Small-x QCD Physics
-    B Physics and Quarkonia
-    Standard Model Physics
-    Top Physics
-    Higgs Physics
-    Supersymmetry
-    Exotica
-    Beyond 2 Generations
-    Heavy-Ion Physics

The current categories in the script are:

- B-physics
- BSM
-

[2018-09-27 09:49] #2414 closed

[2018-09-27 11:41] #2422 closed

[2018-09-27 11:41] #2429 closed

[2018-09-27 12:38] #2433 closed

[2018-09-30 20:06] mgheata opened #2437 "Dataset and disclaimer modifications for ALICE open data"
We realized that few fixes are needed for the ALICE dataset descriptions plus some modifications in the disclaimer page, as follows:

1. In the page: http://opendata.cern.ch/search?page=1&size=20&experiment=ALICE

correct all the energies specified on the page with:
-> “at the collision energy of 7 TeV” instead of “at 3.5 TeV” in the case of “Proton-Proton”;
-> “at the collision energy of 2.76 TeV

[2018-10-03 11:16] heitorPB commented on #1229
As per discussed with @katilp, we consider this categorisation scheme:

- B Physics and Quarkonia
- Top Physics
- Higgs Physics
- Forward and Small-x QCD Physics
- Standard Model
  - DY
  - QCD
  - Others
- Heavy-Ion Physics
- Beyond 2 Generations
- Exotica
- Supersymmetry
- Physics Modelling

I'm working with the scripts and currently this is the result:
https://hpascoal.web.cern.ch/hpascoal/tmp/

[2018-10-05 14:46] mgheata commented on #2437
I have made a pull request fixing points 1 and 3, but for point 2 I could not find the file responsible of filtering datasets by collision energy (3.5 TeV should become 2.76 TeV, affects only ALICE datasets selection)

[2018-10-05 15:44] katilp opened #2439 "CMS: Add RAW samples for existing AOD datasets"
Add RAW samples of O(Mevent) corresponding to the existing CMS AODs

- [x] Select the samples (priority list Single/Double Electron/Muon Jets, 2012, 2011, (2010))
  - RunA 2011 run period 160404 to 173692:
    - [RAW for /SingleMu/Run2011A-12Oct2013-v1/AOD](https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D%2FSingleMu%2FRun2011A-v1%2FRAW) - http://opendat

[2018-10-05 18:36] heitorPB commented on #1229
with the 2015 and 2016 MC samples, there are a lot of `Exotica` datasets. Should we split them in subcategories? Which ones you suggest, @katilp ?

The script has these tests that should be moved to other categories:

- BSM:
  - '/atozh',
  - '/gluglutoa',
  - 'htohh',
  - '/qdqd',
  - '/qdto',
  - '/quto',
  - '/axito',
  - '/heavygluon',
  - '/thmtto',
  - '/thptto',
  - '/ttchichi',
  - 'anomwt

[2018-10-05 20:28] katilp opened #2440 "CMS: MC for ML studies"
To be included in the ML release

1. original CMS datasets (RAW/AOD/AODSIM...) relevant for ML studies, the release of which has now been approved
2. datasets processed in a format usable for ML studies derived from the original CMS datasets (1)
3. the code to derive the above ML example format (2) from original CMS datasets (1)
4. eventually, if useful, an example how to use the ML datasets (2)

[2018-10-08 10:20] katilp commented on #2439
NB: example CMSDAS query for number of events in a block
`file block=/DoubleElectron/Run2011A-v1/RAW#7b371490-b471-11e0-927a-003048caaace | sum(file.nevents)`

[2018-10-08 12:34] tiborsimko commented on #2437
@mgheata Thanks! The search facet filtering is automatically taking values from the record fields, so if you have edited all the records and amended the 3.5 TeV collision information, the facet will "solve itself" automatically too.

[code]

[2018-10-08 12:37] tiborsimko commented on #2437
... I started a build on DEV so that you can check the final result.  Should be finished within a couple of hours...

[2018-10-08 15:11] tiborsimko commented on #2437
... done:

http://opendata-dev.cern.ch/search

I'll now deploy on QA and PROD.

[2018-10-08 15:11] #2437 closed

[2018-10-10 13:33] diyaselis commented on #2439
2010 Selected RAW files:
	•	/MinimumBias/Run2010B-Apr21ReReco-v1/RAW 
		Event Range: [146428,146514] - Number of events: 2451242

	•	/Mu/Run2010B-Apr21ReReco-v1/RAW 
		Event Range:  [146589,146710] - Number of events: 2102829

	•	/Electron/Run2010B-Apr21ReReco-v1/RAW 
		Event Range: [146712,146804] - Number of events: 2554874

	•	/Jet/Run2010B-Apr21ReReco-v1/RAW 
		Event Range: [146807, 147043] - 

[2018-10-10 13:33] diyaselis commented on #2439
2010 Selected RAW files:

	•	/MinimumBias/Run2010B-Apr21ReReco-v1/RAW 
		Event Range: [146428,146514] - Number of events: 2451242

	•	/Mu/Run2010B-Apr21ReReco-v1/RAW 
		Event Range:  [146589,146710] - Number of events: 2102829

	•	/Electron/Run2010B-Apr21ReReco-v1/RAW 
		Event Range: [146712,146804] - Number of events: 2554874

	•	/Jet/Run2010B-Apr21ReReco-v1/RAW 
		Event Range: [146807, 147043] -

[2018-10-15 12:41] heitorPB opened #2442 "Number of records in the portal does not sum up."
Number of records in the portal does not sum up. For example, in the documentation:

![documentation](https://user-images.githubusercontent.com/13461702/46951210-9c862700-d087-11e8-89fa-352f124c1e02.png)

[code]

- `Datasets` is missing 1 records
- `Documentation` is missing 3 records

`Environment`, `Software` and `Supplementaries` are ok.

[2018-10-16 13:52] tiborsimko commented on #2272
The files are available on EOS under /eos/opendata/cms/MonteCarlo2011/Summer11LegDR/MinBias_TuneZ2_7TeV-pythia6/GEN-SIM but we don't seem to have a record created yet...

[2018-10-18 05:54] katilp commented on #2439
For running on batch:
- on 2011-2012 samples, the new VM (slc6 shell encapsulated in the VM) can be used: #2426
- on 2010 samples, use the VM available on the portal (CMS-OpenData-1.1.2.ova).

[2018-10-19 12:14] katilp commented on #2440
The datasets to be released:
- /QCD_Pt-15to7000_TuneCUETP8M1_Flat_13TeV_pythia8/RunIISummer16MiniAODv2-PUMoriond17_magnetOn_80X_mcRun2_asymptotic_2016_TrancheIV_v6-v1/MINIAODSIM (contact Kimmo Kallonen HIP)
- /QCD_Pt_300to470_TuneCUETP8M1_13TeV_pythia8/RunIISummer16MiniAODv2-PUMoriond17_80X_mcRun2_asymptotic_2016_TrancheIV_v6-v1/MINIAODSIM
/QCD_Pt_470to600_TuneCUETP8M1_13TeV_pythia8/RunIISummer16M

[2018-10-19 13:49] katilp commented on #1549
Finalize this, and add the condition data for 2010 MC as well, see #2339
(Samples produces with Release: CMSSW_4_2_8_lowpupatch1 Global Tag: START42_V17B::All)

[2018-10-19 13:51] katilp commented on #2440
GTs to be added under /cvmfs/cms-opendata-conddb.cern.ch
- 80X_mcRun2_asymptotic_2016_TrancheIV_v8
- 102X_upgrade2018_design_v9

[2018-10-19 14:14] katilp opened #2443 "CMS: GTs for the data science samples"
GTs for data science samples (#2440) are uploaded under /cvmfs/cms-opendata-conddb.cern.ch

- 80X_mcRun2_asymptotic_2016_TrancheIV_v8 (confirmed)
- 102X_upgrade2018_design_v9 (confirmed)

- [x] upload the sqlite files corresponding to GTs under /cvmfs/cms-opendata-conddb.cern.ch
- [x] test the reading
    - [x] 80X_mcRun2_asymptotic_2016_TrancheIV_v8
    - [x] 102X_upgrade2018_design_v9
- [x] crea

[2018-10-24 17:51] katilp opened #2444 "CMS: ML datasets and a producer for selected 2012 MC datasets"
In connection with #2440, some ML samples will be produced from the existing AOD samples and made available on the portal.

The datasets:

http://opendata.cern.ch/record/9582 (ttbar all jets)
http://opendata.cern.ch/record/8882 (QCD flat)
http://opendata.cern.ch/record/8898 (QCD EM Enriched)

@heitorPB will check the missing configs for 8898

Emanuele has the workflow to add tracker hits in the sa

[2018-10-24 20:31] heitorPB opened #2445 "website visualization problems on Firefox/Opera on Linux"
- this list of files in [record/8898](http://opendata.cern.ch/record/8898) overflows the space allowed:
  ![8898](https://user-images.githubusercontent.com/13461702/47459072-7d9c3900-d7db-11e8-9716-56bf59df6b62.png)
  Resizing the window changes nothing.
- the number of supplementary files has a weird line wrapping (bottom left corner):
  ![search](https://user-images.githubusercontent.com/1346170

[2018-10-25 08:52] heitorPB commented on #2444
- dataset `/QCD_Pt_80_170_EMEnriched_TuneZ2star_8TeV_pythia6/Summer12_DR53X-PU_RD1_START53_V7N-v3/AODSIM` ( http://opendata.cern.ch/record/8898 ) was generated with the foloowing commands:

[code]

   The configuration file used in the first cmsDriver command is available here: https://github.com/cms-sw/genproductions/blob/master/python/EightTeV/QCD_Pt/QCD_Pt_80_170_EMEnriched_TuneZ2star_8TeV_pyth

[2018-10-26 09:22] katilp opened #2446 "CMS: add MC pile-up in GEN-SIM for 2012"
- [x] Confirm that the dataset needed for adding pile-up on the top of any newly produced MC for 2012  is /MinBias_TuneZ2star_8TeV-pythia6/Summer12-START50_V13-v3/GEN-SIM https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D%2FMinBias_TuneZ2star_8TeV-pythia6%2FSummer12-START50_V13-v3%2FGEN-SIM
  - check from 2012 MC configs (edmProvDump gives all parameters

[2018-10-26 09:49] katilp commented on #2446
@heitorPB Would you be able to check if you can confirm that the same input file for pile-up has been used for all 2012 MC. Normally visible in the cmsDriver command parameter  `--pileup_input`
Can you search that in McM?

[2018-10-26 09:55] katilp commented on #2331
Record still needs to be created in COPD

[2018-10-26 09:58] katilp commented on #2444
2012 pile-up GEN-SIM needed for this will be added to open data (#2446)

[2018-10-27 09:02] katilp opened #2447 "CMS: Run2 QCD MC for data science jettuples"
In connection with #2440, this issue follows the jettuples to be produced from run2 AOD samples, to be made available on the portal.

The datasets:

Data science jettuples (contact Kimmo Kallonen HIP):
- /QCD_Pt-15to7000_TuneCUETP8M1_Flat_13TeV_pythia8/RunIISummer16MiniAODv2-PUMoriond17_magnetOn_80X_mcRun2_asymptotic_2016_TrancheIV_v6-v1/MINIAODSIM
   - Release: CMSSW_8_0_21 Global Tag: 80X_mcRun2

[2018-10-27 09:36] katilp opened #2448 "CMS: Run2 Hbb and QCD MC for ML studies"
In connection with #2440, this issue follows the Hbb-tagging sample to be produced from run2 AOD samples, to be made available on the portal (contact @pierinim @jmduarte)

The datasets:
- signal MC:
  - /BulkGravTohhTohbbhbb_narrow_M-600_13TeV-madgraph/RunIISummer16MiniAODv2-PUMoriond17_80X_mcRun2_asymptotic_2016_TrancheIV_v6_ext1-v1/MINIAODSIM
/BulkGravTohhTohbbhbb_narrow_M-1000_13TeV-madgraph/Ru

[2018-10-27 12:12] katilp opened #2449 "CMS: add basic documentation about MINIAOD"
ML release will contain some MINIAODSIM datasets (#2440) from which example ML samples are produced.

Add initial documentation about MINIAOD/SIM format.

Currently, the AOD content is mentioned in
- http://opendata.cern.ch/docs/about-cms
- http://opendata.cern.ch/docs/cms-getting-started-2011 /2010

and some documentation about the objects is provided in

- http://opendata.cern.ch/docs/cms-physic

[2018-10-27 13:10] katilp opened #2450 "CMS: provenance information (configs) is missing for 2010 collision data records"
2011 and 2012 collision datasets have the full provenance information available in the record:s
![pdprov](https://user-images.githubusercontent.com/5859918/47604284-c7616b00-d9f7-11e8-9a69-95f8236223a7.JPG)
2010 collision datasets do not have it: http://opendata.cern.ch/record/14

Now, as the rest of 2010 data will be released and some RAW data samples will be added for selected 2010 AODs, add the

[2018-10-28 16:37] katilp commented on #2449
A suggestion for the page name: `cms-physics-objects-miniaod` (will be followed with `cms-physics-objects-nanoaod` when nanoaod datasets are available for the release). @tiborsimko is that OK?

[2018-10-29 09:19] katilp commented on #2439
The configuration files can be created with `cmsDriver.py` script (https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCmsDriver) in the respective working areas:
- `CMSSW_5_3_32/src/WorkDir` on 2011-2012 VM (use  #2426) for 2011 and 2012 RAW with `cmsDriver.py reco -s RAW2DIGI,L1Reco,RECO --data --conditions FT_R_53_LV5::All --eventcontent AOD --no_exec --python reco_cmsdriver2011.py`
- `CMSSW_

[2018-10-29 09:43] katilp commented on #2439
@caredg To which extent you plan to document cmsDriver in the context of MC generation? As it is a tool valid both for data and MC, maybe a independent short guide page would make sense, what do you think?
It could be based on https://twiki.cern.ch/twiki/bin/view/CMSPublic/SWGuideCmsDriver

[2018-10-29 10:28] katilp commented on #2344
See also cmsdriver in context of config file creation for data rereco in #2439.
Maybe a separate instruction page for it?

[2018-10-29 11:09] heitorPB commented on #2344
PR #2432 adds information on how to extract the gen parameters. Both pages should be a complement to each other.

[2018-10-29 13:05] katilp commented on #2450
Note also the rereco test #2439. If  cmsdriver generated configs for rereco are fine (as  they probably are), then no need for digging out the specific configs for the reco step for the 2010 collision data records. However, an explanation how config files are generated is needed (relates also to #2432)

[2018-10-29 16:21] katilp commented on #2450
To complete the 2010 collision data records, add "methodology" in the following way:

[code]

[2018-10-29 18:03] heitorPB commented on #2446
[code]

PU profiles: `PU_S10`, `PU_RD1`, `PU_RD2`, `NoPileUp` and `NO_PU_RD1`.

- /GluGluToAToZhToLLTauTau_mA-280_mh-125_8TeV-pythia6-tauola/Summer12_DR53X-PU_S10_START53_V19-v6/AODSIM
   `--pileup_input "dbs:/MinBias_TuneZ2star_8TeV-pythia6/Summer12-START50_V13-v3/GEN-SIM"`
- /JPsiToMuMu_JPsiPt20_2MuPtEtaFilter_tuneD6T_8TeV-pythia6-evtgen/Summer12_DR53X-PU_RD2_START53_V19F-v1/AODSIM
   `--pileup_

[2018-10-30 02:59] caredg commented on #2439
I think it should be documented.  We can incorporate it under the Tools section.  This is something that is not terribly hard to do and should be crystallized soon.  We can definitely based it on the twiki public pages.

[2018-10-30 07:50] katilp commented on #1137
Note the recipe in https://twiki.cern.ch/twiki/bin/view/CMS/HowToGenXSecAnalyzer

[2018-10-30 08:10] heitorPB commented on #1137
The Cross Section DB Portal: https://cms-gen-dev.cern.ch/xsdb/

and the twiki: https://twiki.cern.ch/twiki/bin/view/CMS/GenXsecTaskForce

[2018-10-30 10:10] katilp opened #2451 "CMS: Run2010A collision data to be released"
The rest of 2010 data, RunA datasets, now to be released are
`dataset=/*/Run2010A-Apr21ReReco-v*/AOD`
https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=dataset%3D%2F*%2FRun2010A-Apr21ReReco-v*%2FAOD

12  datasets - NB in RunB ZeroBias no events pass the validated events filter, but for RunA it is OK

[code]

To do

- [x] transfer the datasets
   - transfer request

[2018-10-31 14:57] katilp commented on #1231
@caredg The GT START42_V17B is now available on /cvmfs for 2010 MC.
Would you have a MC generation test job to try if it can be read properly?

[2018-10-31 15:00] katilp commented on #2344
GT START42_V17B for 2010 MC now available on /cvmfs

[2018-10-31 15:15] IB96 commented on #2442
The reason of this is 1 record in Datasets is not in Collision or Derived or Simulated but it is in Datasets . And 3 records in Documentation , just like the record in Datasets , does not in About or Activities or Authors or Guide or Help or Policy or Report but they are in Documentation.
These pictures will tell better.
![dataset_extra_data](https://user-images.githubusercontent.com/22283078/4779

[2018-10-31 18:30] heitorPB commented on #2442
@IB96 , did you identify the dataset? And the 3 documentations? It's not easy to read in the pictures.

[2018-10-31 23:40] IB96 commented on #2442
I have chosen the Dataset without Collision or Derived or Simulated first , there were 1828 results.But when I have chosen it with Collision and Derived and Simulated , there were 1827 results because "Matter Antimatter Differences (B meson decays to three hadrons) - Data Files" titled result in Dataset does not belong to Collision and Derived and Simulated but belongs to the Dataset . It is unlik

[2018-11-01 08:40] katilp commented on #2343
For the release:

- [ ] transfer the 2010 datasets
   - /MinimumBias/Commissioning10-07JunReReco_900GeV/RECO, /MinimumBias/Commissioning10-May19ReReco-v1/RECO
   - /ZeroBias/Commissioning10-May19ReReco-v1/RECO (10 TB, tbc)
- [ ] find reco configs, but not available in CMSDAS (Valentin suggests contacting hn-cms-dmDevelopment@cern.ch hn-cms-mcDevelopment@cern.ch hn-cms-wmDevelopment@cern.ch). see a

[2018-11-01 16:35] heitorPB commented on #2442
Thank you, @IB96.

Records missing complete classification:

- Dataset:
   - `Matter Antimatter Differences (B meson decays to three hadrons) - Data Files `
       http://opendata.cern.ch/record/4900
- Documentation:
   - `CERN Open Data Privacy Policy `
       http://opendata.cern.ch/docs/privacy-policy
   - `CMS Pile-up Simulation`
       http://opendata.cern.ch/record/70
   - `CMS Simulated Dat

[2018-11-01 18:10] IB96 commented on #2442
You are welcome.

[2018-11-02 14:00] katilp commented on #2439
@diyaselis Very good! Do you already have the plots comparing the new AOD and existing ones?

[2018-11-02 15:05] katilp opened #2454 "CMS: list of datasest to be moved from eospublic/upload to eospublic/cms"
Collecting here the datasets from different transfers, to be move from upload to eospublic/cms, in short:
[code]

#2448, #2447, #2446

In addition, file indexes to be done for the RAW datasets already moved. #2439

(I will add another issue for the old pending transfers when they will be completed

[2018-11-04 22:51] caredg commented on #1231
@katilp, I have tested the new GT under CMS 2010 VM v5, and the SLC5 container. Working with CMSSW_4_2_8, I was not successful in reading this GT from /cvfms while trying to simulate some DY montecarlo.  The error I get is in the attached log file.
[gen.log](https://github.com/cernopendata/opendata.cern.ch/files/2546390/gen.log):
%MSG-s CMSException:  (NoModuleName) 04-Nov-2018 17:25:48 -05 pre-ev

[2018-11-06 13:42] heitorPB commented on #2445
update: firefox 63.0.1 shows same behaviour.

[2018-11-06 13:51] heitorPB commented on #2445
Portal is using Dejavu Sans font in my laptop and that might be the cause of it.

[2018-11-06 14:04] tiborsimko commented on #1229
We had discussed the question whether the categories should be nested or not with @ArtemisLav in the past and we think it would be good to keep the list linear.  This would mean using "composite expressions" like:

[code]

Could we start like this? Depending on how the display would look like after we populate the categories for existing datasets, we could eventually introduce nested browsing.  (@

[2018-11-06 14:10] tiborsimko commented on #2445
I confirm I see the former issue on the same platform, but I don't see the latter.  I have Open Sans installed, probably that's why.  @ioannistsanaktsidis I see we are using:

[code]

Do we need to push Open Sans? Perhaps just use generic Sans Serif? Can you test various font combinations?

[2018-11-06 14:12] heitorPB commented on #1229
The idea was to use a maximum of two levels. Add each dataset _to_ one category (or subcategory). This is hardcoded for each record, not flexible. For example:

- B Physics and Quarkonia
- Top Physics
- Higgs Physics
  - SM
  - BSM
- Forward and Small-x QCD Physics
- Standard Model
  - DY
  - ElectroWeak
  - QCD
  - T
  - Others
- Heavy-Ion Physics
- Beyond 2 Generations
- Exotica
  - Dark Matter

[2018-11-08 19:21] heitorPB commented on #1398
@katilp we still need this? #2432 is merged

[2018-11-08 20:46] katilp commented on #1398
@heitorPB I'll check if I can do it with the new instructions when out in qa and if OK then this can be closed.

[2018-11-09 08:48] #2442 closed

[2018-11-09 12:10] katilp commented on #2454
@tiborsimko Any news of this? @alintulu would need to try them. Thanks!

[2018-11-11 23:36] caredg commented on #1231
I re-ran the gen-sim config file for DY production that I had tried before.  This time I can confirm that it ran smoothly.
I will complete the test over the whole chain (+HLT and RECO), but I do not expect issues, at least with the access....

[2018-11-12 15:56] jmduarte commented on #2448
Hi @katilp, thanks for helping us with this request! Is there an idea of the timeline for these to be available? How can we help with the to-do items?

Thanks!
@pierinim @vlimant

[2018-11-12 18:20] katilp commented on #2448
@jmduarte The files have been transferred, @tiborsimko will move them from the upload area to their final position #2454 and then the production step can be tested on the Open Data VM
It would be good to test with the new version with an embedded "CMS shell" with slc6 #2426 which we will make available at the next release.

The GT `80X_mcRun2_asymptotic_2016_TrancheIV_v8` is now available in /cvmf

[2018-11-13 10:33] heitorPB commented on #2339
@katilp i got this list of cmsDriver scripts:

[code]

50 scripts in total, 1/4 of the list...

[2018-11-13 11:19] tiborsimko commented on #2454
Progress:

- [x] `/MinBias_TuneZ2star_8TeV-pythia6/Summer12-START50_V13-v3/GEN-SIM `

Note that the production location is:

  `/eos/opendata/cms/MonteCarlo2012/Summer12/MinBias_TuneZ2star_8TeV-pythia6/`

i.e. this is `Summer12` as per harmony with the MC dataset name.

The other released 2012 MC datasets are in `Summer12_DR53X`.

[2018-11-13 12:48] heitorPB commented on #2339
More information about those datasets here:
http://hpascoal.web.cern.ch/hpascoal/tmp/lowPU.html

[2018-11-13 12:51] tiborsimko commented on #2454
Progress:

- [ ] /BulkGravTohhTohbbhbb_narrow_M-1000_13TeV-madgraph/RunIISummer16MiniAODv2-PUMoriond17_80X_mcRun2_asymptotic_2016_TrancheIV_v6_ext1-v1/MINIAODSIM
- [ ] /BulkGravTohhTohbbhbb_narrow_M-1200_13TeV-madgraph/RunIISummer16MiniAODv2-PUMoriond17_80X_mcRun2_asymptotic_2016_TrancheIV_v6-v1/MINIAODSIM
- [ ] /BulkGravTohhTohbbhbb_narrow_M-1400_13TeV-madgraph/RunIISummer16MiniAODv2-PUMoriond17_

[2018-11-13 12:56] tiborsimko commented on #2439
Here is the full list of transferred RAW samples:

- 2010B: Electron, Jet, MinimumBias, Mu
- 2011A: DoubleElectron, DoubleMu, Jet, SingleElectron, SingleMu
- 2012B: DoubleElectron, DoubleMuParked, JetHT, MinimumBias, SingleElectron, SingleMu

The file indexes and records are still to be created.

[2018-11-13 13:56] katilp commented on #2448
@jmduarte The files are now available in /eospublic/cms see #2454

[2018-11-13 22:13] katilp commented on #2444
@emanueleusai OK, I see:  @alintulu is looking at this as well, maybe check with her as well.
If needed, we can provide another GT as well. Did you check the differences between the two GT?

[2018-11-14 18:06] emanueleusai commented on #2444
Hi @katilp , thank you for the feedback. @alintulu let me know if you succeeded in running it.

Unfortunately https://cms-conddb.cern.ch/cmsDbBrowser doesn't help as it doesn't contain old 5XY tags. However, if I use:
process.load('SimGeneral.MixingModule.mix_2012_Summer_50ns_PoissonOOTPU_cfi')
instead of:
process.load('SimGeneral.MixingModule.mix_fromDB_cfi')
I can make DIGI-RAW work with V27, bu

[2018-11-14 18:49] katilp commented on #2444
@emanueleusai OK, I'll check with the simulation experts and have the other GT added if it solves the problem. I thought mix_fromDB defines only how the pile-up root file location is found but I'm likely wrong then.

[2018-11-14 19:04] katilp commented on #2444
(for record: https://twiki.cern.ch/twiki/bin/viewauth/CMS/PdmVRunDependentMC)

[2018-11-14 19:05] emanueleusai commented on #2444
I'm by no means an expert of simulation, but I had to specify process.mix.input.fileNames and add the special opendata xrootd redirector even with mix_2012_Summer_50ns_PoissonOOTPU_cfi, otherwise it would pull the MinBias files from the (private) central storage. Checking the two files:
https://github.com/cms-sw/cmssw/blob/master/SimGeneral/MixingModule/python/mix_fromDB_cfi.py
https://github.com/

[2018-11-14 19:31] emanueleusai commented on #2444
I am puzzled by that too. Maybe I am just missing something. But again I am no expert of GT.
My personal opinion is that as long as we stick to MC-only studies we can do with the single-profile approximation (hence, problem solved). However if and when these studies are to be tested on real data, one might benefit from having the most precise pileup simulation available.

[2018-11-15 22:12] katilp commented on #2423
@caredg @laramaktub something to think about now when doing restructuring of the code repos on the CMS side? I agree with @caredg that we should not overdo, but it would be really nice to see if a piece of code ready to be released would be easy to input to CAP and if a CODP record could be automatically created from that

[2018-11-16 14:08] jmduarte commented on #2448
@katilp thanks for the update! I'm happy to test the VM. When I try to launch the VM  in #2426, and follow the instructions from our ntuplizer (https://github.com/DeepDoubleB/DNNTuplesAK8/README.md):
[code]
I get a warning that I'm on SLC7 and then it fails:
[code]

Should I do something different?

Let me know and thanks,
Javier

[2018-11-16 15:01] katilp commented on #2448
@jmduarte Note that there are two different shells, the one that opens from the bottom icon is SLC7 and the one from the desktop ("CMS shell") is the SLC6 one. We'll document that better!

[2018-11-19 09:19] katilp commented on #2447
The path to files can be found through
https://eospublichttp01.cern.ch/eos/opendata/cms/MonteCarlo2016/RunIISummer16MiniAODv2
(later, they will be available through the portal record)

NB:  (from Kimmo): the VM default architecture is slc6_amd64_gcc472, but CMSSW_8_0_26 needs slc6_amd64_gcc530. arch must be changed when doing cmsrel

[2018-11-19 10:42] kimmokal commented on #2447
After trying out the 'cmsrel CMSSW_8_0_26' command a few times, I got two different results. There was either just a warning:
`WARNING: Release CMSSW_8_0_26 is not available for architecture slc6_amd64_gcc472.
         Developer's area is created for available architecture slc6_amd64_gcc530.`

Or an error:
`ERROR: Unable to find release area for "CMSSW" version "CMMSW_5_3_32" for arch slc6_amd64_g

[2018-11-19 10:50] katilp commented on #2448
Note also https://github.com/cernopendata/opendata.cern.ch/issues/2447#issuecomment-439849112

[2018-11-19 10:55] katilp opened #2456 "CMS: add GT for 2012 run-dependent MC"
START53_V7N, GT for run-dependent MC needs to be uploaded under /cvmfs/cms-opendata-conddb.cern.ch

- [x] upload the sqlite files corresponding to GTs under /cvmfs/cms-opendata-conddb.cern.ch
      Reminder for copying the files:

- [x] test the reading #2444
- [ ] create the corresponding records (similar to http://opendata.cern.ch/record/1804) with name
  - Condition data for 2012 run-dependent

[2018-11-19 17:47] jmduarte commented on #2448
hi @katilp,

Thanks, I've now verified that this workflow works on the CMS Virtual Machine you linked, following these instructions:
https://github.com/DeepDoubleB/DNNTuplesAK8/blob/opendata_80X/README.md

Note I had to change the way the GlobalTag was read (and adding in a dummy snapshot time too):
https://github.com/DeepDoubleB/DNNTuplesAK8/blob/opendata_80X/NtupleAK8/test/DeepNtuplizerAK8.py#L7

[2018-11-20 08:38] katilp commented on #2448
@jmduarte Thanks, excellent! Did you also try that it runs as a single job on the VM itself without CRAB (just to confirm in order to check the second box in the to-do list above)?
That's needed for the external users who do not have access to CRAB.

[2018-11-20 13:23] jmduarte commented on #2448
Hi Kati,

Yes, I just ran a single test job on 100 Hbb events (from the open data EOS space) on the VM (without crab) like this:
[code]

[2018-11-20 15:40] heitorPB commented on #1229
PR #2457 adds a page with description of the categories

[2018-11-21 07:43] katilp commented on #2272
Closing as the transfer is done and dublicate of #2331

[2018-11-21 07:43] #2272 closed

[2018-11-21 11:46] katilp opened #2459 "CMS: ML files for Tracking GPU studies from CMS Upgrade MC"
In connection with #2440, some ML samples will be produced from newly produced Upgrade samples and made available on the portal.

The datasets are produced and available:

/TTToHadronic_TuneCP5_13TeV-powheg-pythia8/RunIIAutumn18DR-PUAvg50IdealConditions_102X_upgrade2018_design_v9-v1/GEN-SIM-RAW
/TTToHadronic_TuneCP5_13TeV-powheg-pythia8/RunIIAutumn18DR-PUAvg50IdealConditions_102X_upgrade2018_desig

[2018-11-28 17:14] emanueleusai commented on #2456
I tried the START53_V7N GT from the opendata repo. I this a full copy of the original GT? It seems like I'm not able to produce files with it. The same config using the "internal" version of START53_V7N works perfectly fine. I did the usual symlink of the folder and db. This is the error I get. Let me know if you need more details.

[eusai@lxplus044 src]$ cmsRun step1_V7N_run_dependent_PU_profile.

[2018-11-28 17:33] diyaselis commented on #2439
Process for 2011 RAW samples reconstruction test:

- Select input RAW sample from the [EOS HTTP Browser](https://eospublichttp01.cern.ch/eos/opendata/cms/Run2011A/). For example, your input can be **root://eospublic.cern.ch//eos/opendata/cms/Run2011A/DoubleElectron/RAW/v1/000/160/431/080D15C9-FF4D-E011-9484-0030487C7828.root**
- The reconstruction will be executed in the new VM (use #2426) for whi

[2018-11-29 08:45] ggovi commented on #2456
@emanueleusai
what release are you using?

[2018-11-29 14:07] emanueleusai commented on #2456
@ggovi
CMSSW_5_3_32

[2018-12-03 09:13] ggovi commented on #2456
@emanueleusai
I have re-exported the GT START53_V7N using 5_3_32 ( previously it was done with 4_2_8 ) . The files have been replaced in CVMFS. Hope this fixes.  Please let me know.

[2018-12-03 14:12] emanueleusai commented on #2456
@ggovi
Works perfectly now.
GT is tested and working in open data.

[2018-12-03 17:21] tpmccauley commented on #1410
I have collected all of the events from 2011 and 2012 from http://opendata.cern.ch/record/5500 in csv and event display format. They are all here: https://cms-docdb.cern.ch/cgi-bin/PublicDocDB/ShowDocument?docid=13424

[2018-12-03 17:23] tpmccauley commented on #1410
A new json file with metadat suitable to create a new record for the portal is needed. I can create one. Then what additional steps are needed to create a new record?

[2018-12-03 17:53] heitorPB commented on #883
Those 2 links points to the same page and some others I checked are case insenstive. I guess this was fixed?

[2018-12-04 09:00] katilp commented on #1410
Thanks, that should be all, I've added this to the next release milestone (ML), assigning to @ArtemisLav and to @tiborsimko for further steps

[2018-12-04 10:05] heitorPB commented on #706
It's possible to solve with some `<meta property="og:image" content="{{ page.image }}"/>` in the header.
See here for more social meta tags: https://jekyllcodex.org/without-plugin/seo/

[2018-12-04 10:38] tpmccauley commented on #1410
Besides the changes to the file names, the required changes to the json file are below:

"abstract": {
"description": "This document contains Higgs candidate events that pass the selections found in the example Higgs-to-four-lepton analysis of CMS public data"
}

"links": [
{"recid": "5101"},
{"recid": "5102"},
{"recid": "5100"},
{"recid": "5500"}
]

"run_period": "Run2012", "Run2011"  _Does the f

[2018-12-04 14:37] ArtemisLav commented on #1410
@tpmccauley It's currently a string in the data model, but in the past we've done it like this:  "run_period": "Run2012B-Run2012C"

[2018-12-04 14:41] tpmccauley commented on #1410
@ArtemisLav got it. In that case, it should be "Run2011A-Run2012B-Run2012C"

[2018-12-04 22:00] katilp opened #2460 "CMS: Add instructions to find how HLT trigger paths are defined"
Lacking more comprehensive information, add instructions (as a separate guide, add in the trouble shooting page, else?) on how to find the HLT trigger path definitions.

A recent tentative in opendata-support (as an answer to a question about triggers for
http://opendata.cern.ch/record/6017 (/MuOniaParked/Run2012B-22Jan2013-v1/AOD):

[2018-12-04 22:11] katilp commented on #2460
@caredg Would it make sense to add this in http://opendata.cern.ch/docs/cms-guide-trigger-system or have it separately somewhere?

[2018-12-05 13:55] tiborsimko commented on #883
@heitorPB Thanks, yes, we had fixed it in the meantime.

[2018-12-05 13:55] #883 closed

[2018-12-05 15:33] tiborsimko opened #2462 "sprint: CMS-Q4-Updates kick-off"
# CMS-Q4-Updates sprint kick-off

### Dates

- **2018-12-05** kick-off
- **2018-12-XX** closure

### Goals

- Enrich data curation scripts with latest CMS data handling procedures working for any year.
- Implement new CMS MC categorisation with nested structures. Amend display and search facets.
- Create new RAW, AOD, MC, IG, VM, SW records related to ML samples and RERECO tests.
- Update MC gener

[2018-12-05 16:14] katilp commented on #1201
Closing this as a duplicate - this now followed up in #2450

[2018-12-05 16:14] #1201 closed

[2018-12-06 02:33] caredg commented on #2460
I think it would.  But after it is added, a link pointing to it from, say http://opendata.cern.ch/record/1701, would also be beneficial, I think.

[2018-12-06 09:30] #1920 closed

[2018-12-06 09:48] katilp commented on #1549
To do  for FT_R_42_V10A:
- update the existing record http://opendata.cern.ch/record/1800. as in the comment (https://github.com/cernopendata/opendata.cern.ch/issues/1549#issuecomment-364145543) above
  - [ ] add the zipped db file to the record
  - [ ] add the text to the record

To do GT START42_V17B:
- [ ] create the corresponding record (similar to http://opendata.cern.ch/record/1804) with nam

[2018-12-06 10:06] tiborsimko opened #2463 "RFC run_period string or list"
**Problem**

Currrently `run_period` is a string:

[code]

However this also leads to:

[code]

This may be getting even longer with A, B, C, D ... and may get into troubles regarding searching and faceting, see for example also:

![2018-12-06-110337_4480x1440_scrot](https://user-images.githubusercontent.com/517546/49577056-e502e800-f946-11e8-8e62-ff1cef7a9b1a.png)

**Proposal**

Shall we make `ru

[2018-12-06 11:14] tiborsimko opened #2465 "RFC data model generation field schema"
We should agree on the new generation field schema.  See one of the old proposals:

- https://github.com/cernopendata/data-curation/blob/master/cod2-to-cod3/docs/MARCtoJSON_fixes_567-Generation.json

@heitorPB Can  you please post an excerpt of the JSON you produced for 2012/2015?

[2018-12-06 11:17] heitorPB commented on #2465
The current version of the scripts generate a `.json` record for the datasets and one with the configuration files produced by `cmsDriver`.

The complete records for the full release of 2012 MC datasets (~3000 entries) are here:
- https://hpascoal.web.cern.ch/hpascoal/tmp/cms-simulated-datasets-2012.json
- https://hpascoal.web.cern.ch/hpascoal/tmp/cms-simulated-datasets-2012-conffiles.json

They a

[2018-12-06 11:18] tiborsimko opened #2466 "RFC on-demand distribution availability field"
We should find a way how to mark records where data will be only available on demand.

We could use the current `distribution` field:

[code]

We could for example introduce ne `distribution.availability` subfields:

[code]

@ArtemisLav Any official DCAT/DC/etc suggestions how to handle this?

[2018-12-06 12:47] tiborsimko opened #2467 "RFD data model cross section"
We need a field where to store the cross section information.

One possibility is to use something simple:

[code]

Another possibility is to use something more exapandable:

[code]

CC @ArtemisLav @heitorPB @katilp

[2018-12-06 13:02] heitorPB commented on #2465
A shorter example:

https://hpascoal.web.cern.ch/hpascoal/tmp/cms-2012-1dataset.json

[code]

[2018-12-06 13:03] tiborsimko opened #2468 "RFC data model topic"
Currently we use for the MC categorisation:

[code]

We shall need to allow categories and subcategories, see the discussion in #1229

One possibility:

[code]

If we need multiple values, some of the above can be list e.g. "topics".

We may also want to rename this because "topic" is general and if we only use MC, we could say:

[code]

CC @ArtemisLav @heitorPB @katilp

P.S. See also `type.primar

[2018-12-06 13:07] heitorPB commented on #2463
This is related to #1944

[2018-12-06 13:37] tiborsimko opened #2469 "RFC DOI for on-demand MC datasets"
(1) Shall we mint DOIs also for those MC datasets that won't have any files attached and that will be "on-demand" only, as it were?

(2) Or shall we mint DOIs only when we attach the files?

CC @ArtemisLav @katilp

[2018-12-06 14:03] heitorPB commented on #1842
New link to the page: http://opendata.cern.ch/docs/cms-guide-for-education

[2018-12-06 14:21] tiborsimko commented on #2421
The dataset is now available on the EOSPUBLIC under:

- https://eospublichttp.cern.ch/eos/opendata/cms/MonteCarlo2011/Fall11

The bibliographic record is still to be created for the dataset to be listed on the portal.

[2018-12-06 16:50] RaoOfPhysics commented on #1842
Thanks, @heitorPB! I've updated the OP with the correct link.

[2018-12-07 08:19] heitorPB commented on #1842
It's possible to use the Python-Markdown [TOC](https://python-markdown.github.io/extensions/toc/) extension for this. It automatically assigns an `id="(header-title)"` to each `<hn>Header</hn>` (wiith n the header level) so you can place the `[TOC]` anywhere in the document.

[2018-12-07 08:48] katilp opened #2470 "RFC: Change "How were these data selected" to "How were these data generated" for MC?"
In data records, as a  title for "methodology", we have now "How were these data selected". This is very good for collision data, but sounds somewhat odd for simulated data, as the simulated data are not selected from anywhere (if we intend with "selected" = select a subset of data from an existing bigger set of data), they are indeed generated from the start.
Is it possible to differentiate the t

[2018-12-07 08:53] tiborsimko commented on #2470
(1) We can change it in the output template:

[code]

based on dataset types.  This would require a simple if/else logic in the template code.

(2) We can introduce a new field under `methodology` called `note` or somesuch that will contain this phrase and the output templates can display it instead of the defaults.  This would require to update all records' metadata.

[2018-12-07 08:58] RaoOfPhysics commented on #1842
Can we implement this, @tiborsimko? :D

[2018-12-07 09:05] tiborsimko commented on #1842
Yes, we are already using quite a few python-markdown extensions, so we can see about adding this one.

[2018-12-07 09:37] heitorPB commented on #1842
See [this commit](https://github.com/cernopendata/opendata.cern.ch/commit/854d49f590cf414052aa30f8ec3670c3546c9f5c) for how I updated some markdown extensions.

[2018-12-07 14:33] katilp commented on #2331
WIP: Tentative record in https://github.com/katilp/sandbox/blob/master/cms-pileup-data-2011 to be udates with the template updates

Generator parameters:

`edmProvDump -f "Module: generator SIM" root://eospublic.cern.ch//eos/opendata/cms/MonteCarlo2011/Summer11LegDR/MinBias_TuneZ2_7TeV-pythia6/GEN-SIM/START53_LV4-v1/10000/00064CCC-A218-E311-A2E9-D485646A4E1A.root`

Event filtering information for

[2018-12-07 14:35] heitorPB commented on #1886
I guess this was fixed meanwhile

[2018-12-10 10:35] heitorPB commented on #2465
The `global_tag` and `release` under `system_details` are the ones recommended for analysis. The `global_tag` and `release` under each `step` are the ones used for that particular step.

Should we keep the `global_tag` under `generator`?
cc @ArtemisLav @katilp

[2018-12-10 10:43] tiborsimko commented on #2463
BTW let's also standardise values, because we have "Run...":

[code]

but also naked "...":

[code]

[2018-12-10 10:47] heitorPB commented on #2463
I think I need a clarification about what are the fields:
- `date_created`
- `date_published`
- `date_reprocessed`
- `run_period`

[2018-12-10 10:48] tiborsimko commented on #2468
Another thing: do we want to start tagging also analysis examples etc with BSM physics etc?  In this case the top-level field could stay being called `topic`...

[2018-12-10 10:50] heitorPB commented on #2466
What about a field `availability_note` under `distribution` with the information about whom to contact in case `file not available`

[2018-12-10 13:30] ArtemisLav commented on #2466
This looks fine to me 👍

[2018-12-10 13:31] ArtemisLav commented on #2465
If it is indeed not needed then I don't see the point in keeping it.

[2018-12-10 13:34] ArtemisLav commented on #2463
We can also use this opportunity to fix the confusion with `date_created` having the meaning of `creation year` in some places and `data-taking year` in others. It would be best if it meant the former everywhere.

[2018-12-10 14:01] heitorPB commented on #2466
And in the case the files are available: `"availability": "available"`?

[2018-12-10 14:08] heitorPB commented on #2465
Currently, we have the `generation` and `generator` fields. Should we have instead `generation.generators` (list of strings) instead of `generator.names`?

What about the structure of each `generation.step`?

[2018-12-10 14:14] heitorPB commented on #2467
Unfortunately the `unit` is not available in the metadata we get from the databases. The values extracted differ in several orders of magnitude: from  0.01 to 23095400400.

From the ~3300 datasets (2010, 2011, 2012), only 24 have this information.

[2018-12-10 14:20] heitorPB commented on #2468
Should we have a list only for `categories.secondary`? Or also for `categories.primary`?

[2018-12-10 14:52] ArtemisLav commented on #2465
You mean merge the fields? This should be fine; we just have to make sure that `generator` is not also used in other record types where we wouldn't have a `generation` field. Just to make sure that it doesn't just disappear from there.

It looks good. The only thing I'm not that sure about is the `conffileID`.

[2018-12-10 15:03] ArtemisLav commented on #2466
If we can only have this populated for these on-demand records, then I would keep it as it is in Tibor's example: `"availability": "onrequest"` or `ondemand`. If we add this to every record, then perhaps we could go for `true` and `false` (where `false` means "upon request" because I don't think there would be any other use case for a "normal" `false`, meaning records whose files we wouldn't show/

[2018-12-10 15:34] #1842 closed

[2018-12-10 15:38] tiborsimko opened #2472 "records: run_period is a list"
Change `run_period` into a list.  Stems from #2463.

- [x] amend data model
- [x] amend mappings
- [x] amend fixtures
- [x] amend display templates

[2018-12-10 16:37] tiborsimko commented on #2472
- [ ] amend values e.g. "Run2012B-Run2012C" to list
- [ ] amend values e.g. "2012A" to "Run2012A"

[2018-12-11 08:55] tiborsimko commented on #2421
The file indexes are ready:

- https://eospublichttp.cern.ch/eos/opendata/cms/MonteCarlo2011/Fall11/GluGluToHToGG_M-125_7TeV-powheg-pythia6/AODSIM/PU_S6_START44_V9B-v1/file-indexes

@ArtemisLav Can you please create the bibliographic record?  It should go to `cms-simulated-datasets-Run2011A.json`.  The record ID could be 1681 which is still free. The DOI is to be invented and minted.

@heitorPB We

[2018-12-11 09:10] tiborsimko commented on #2463
@heitorPB See https://github.com/cernopendata/opendata.cern.ch/blob/master/cernopendata/jsonschemas/records/record-v1.0.0.json#L156 for the documentation about various fields.  If it is unclear, we should complete it there..

@ArtemisLav Here are some comments regarding `date_created` cleanup:

- A quick solution to remove "2010-2012" values in the "year" facet would be to keep `date_created` fiel

[2018-12-11 09:21] tiborsimko commented on #2463
Since `run_period` change is approved and implemented, I am closing this RFC issue. @ArtemisLav Please create a new RFC for `date_created` if you would like to change the field in one or the other of discussed directions.

[2018-12-11 09:21] #2463 closed

[2018-12-11 09:53] tiborsimko commented on #1886
@heitorPB Not completely, e.g. the "code" markup is still different, note the "black background" vs "red foreground" style of highlighting:

- http://opendata-dev.web.cern.ch/docs/cms-getting-started-2010
- http://opendata-dev.web.cern.ch/docs/cms-getting-started-2011

[2018-12-11 12:12] tiborsimko commented on #2454
The file indexes are created:

- /eos/opendata/cms/MonteCarlo2012/Summer12/MinBias_TuneZ2star_8TeV-pythia6/GEN-SIM/START50_V13-v3/file-indexes/

[2018-12-11 12:34] tiborsimko commented on #2454
@heitorPB We can create records for these datasets now.

[2018-12-11 12:51] tiborsimko commented on #2439
The file indexes have been added for all RAW samples, for example:

- https://eospublichttp.cern.ch/eos/opendata/cms/Run2011A/SingleElectron/RAW/v1/file-indexes

@katilp Is it OK that the dataset name above is named `/SingleElectron/Run2011A-12Oct2013-v1/RAW` but the files are stored under `/eos/opendata/cms/Run2011A/SingleMu/RAW/v1/` i.e. `12Oct2013` is apparently missing from the path?

[2018-12-11 13:32] #2472 closed

[2018-12-11 13:53] tiborsimko commented on #1472
This can be addressed as part of #1676.

[2018-12-11 14:01] tiborsimko commented on #1137
See also RFC https://github.com/cernopendata/opendata.cern.ch/issues/2467 about storing cross section information in the data model fields.

[2018-12-11 14:03] heitorPB commented on #2421
Generated this json snippet using recID 1681:

http://hpascoal.web.cern.ch/hpascoal/tmp/rec1681-heitor.json

Missing DOI

[2018-12-11 14:20] tiborsimko opened #2475 "records: change topic to categories"
Following up #2468, change `topic` to `categories` with the following structure:

[code]

- [x]  amend data model
- [x]  amend mappings
- [x]  amend fixtures
- [x] amend display templates
- [x]  amend search facets

[2018-12-11 14:21] katilp opened #2476 "CMS: add documentation for how to compute cross section for a dataset"
For CMS MC datasets, we can the cross-section values from the McM database, but these values can also be read from the files as well. Good instructions exist for how to read the cross section values in
https://twiki.cern.ch/twiki/bin/view/CMS/HowToGenXSecAnalyzer
and listing of more precise values (in case of higher order corrections) are available
(and should be used whenever possible):
https://t

[2018-12-11 14:22] katilp commented on #1137
Closing as followed up now in #2476

[2018-12-11 14:23] tiborsimko commented on #2468
RFC decided, task created, closing.

[2018-12-11 14:23] #2468 closed

[2018-12-11 14:28] katilp opened #2477 "CMS: combine "Description" and "Notes" in data records"
For CMS records, it would be best to combine the two distinct areas now under
"Description", e.g. now:
[code]
and "Notes", e.g now
[code]
 in a single "Description", both for collision data and MC

[2018-12-11 14:54] katilp commented on #2476
This will be only for Run2 as this information is available in the data format only starting from CMSSW_5_3_21:

Indeed, following instructions in https://twiki.cern.ch/twiki/bin/view/CMS/HowToGenXSecAnalyzer
work on the Open Data VM:

[code]
This gives a warning:
[code]

[2018-12-11 14:58] katilp commented on #1137
Reopening as the nice recipe in #2476 will only work for dataset produced with CMSSW higher than 5_3_31

[2018-12-11 15:12] katilp commented on #2339
Transfer requests done
- https://cmsweb.cern.ch/phedex/prod/Data::Subscriptions#state=create_since%3D1541949079%3Bnode%3D2241%3Brequest%3D1555481
-
https://cmsweb.cern.ch/phedex/prod/Data::Subscriptions#state=create_since%3D1541949109%3Bnode%3D2241%3Brequest%3D1555480

[2018-12-11 15:41] heitorPB commented on #1229
Page about the categories is live in dev: http://opendata-dev.cern.ch/docs/simulated-dataset-categories

[2018-12-11 17:46] #2475 closed

[2018-12-12 07:45] katilp commented on #2339
@tiborsimko This is the list of datasets to be included in 2010 MC (now in transfer)

/WToMuNu_TuneZ2star_7TeV-pythia6/Summer12-LowPU2010_DR42_BS2011_PU_S0_START42_V17B-v2/AODSIM
/WToENu_TuneZ2star_7TeV-pythia6/Summer12-LowPU2010_DR42_BS2011_PU_S0_START42_V17B-v2/AODSIM
/SingleDiffractiveZToMuMu_M-20_eta-plus_7TeV-pomwig/Summer12-LowPU2010_DR42_BS2011_PU_S0_START42_V17B-v2/AODSIM
/SingleDiffractiv

[2018-12-12 09:15] tiborsimko commented on #2339
@katilp Thanks, I started the new data ingestion project in https://github.com/cernopendata/data-curation/tree/master/cms-2010-simulated-datasets

@ArtemisLav Can you please supply 100 DOIs for these datasets? E.g. create `inputs/dois.txt` file in that place...

[2018-12-12 09:39] ArtemisLav commented on #2339
@tiborsimko Since the number is this large, it would be much faster/better if we used the DOI minting script for this, no?

[2018-12-12 09:50] tiborsimko commented on #2339
Yes, the script can generate the required number of unique DOIs that we can then use for these datasets,  the given file would simply hold them (because we don't have central DB for these until the records are created and uploaded), e.g. following what we did for OPERA lately https://github.com/cernopendata/data-curation/blob/master/opera-2017-multiplicity-studies/inputs/dois-opera-818.txt

[2018-12-12 10:44] ArtemisLav commented on #2339
@annatrz Could you please generate these 100 DOIs for CMS (via script)?

[2018-12-12 11:57] heitorPB commented on #1313
PR #2473 removed some jsonschemas. Currently we have:

- `docs-v1.0.0.json`
- `glossary-term-v1.0.0.json`
- `record-v1.0.0.json`

[2018-12-12 14:33] ArtemisLav commented on #2421
Here is one (reserved): `10.7483/OPENDATA.CMS.6D1T.JT47`
Once the PR is merged I can mint it.

[2018-12-12 14:42] ArtemisLav commented on #2477
I like this idea as well. I don't think we need them separate - it's this way because they were separate fields in the old system.

[2018-12-12 15:08] #1886 closed

[2018-12-12 16:32] #2421 closed

[2018-12-12 16:55] tiborsimko commented on #2421
Deployed on DEV: http://opendata-dev.cern.ch/record/1681

[2018-12-12 16:58] tiborsimko commented on #1229
@katilp The new categories for all currently existing CMS MC 2011 and 2012 records are visible on DEV:

- http://opendata-dev.cern.ch/search?subtype=Simulated&type=Dataset&experiment=CMS

You may want to check the "Categories" facet and how it behaves. We shall need to widen the facet box width but also probably shorten some category names (e.g. `Forward and Small-x QCD Physics` will be always sor

[2018-12-13 09:12] tiborsimko opened #2487 "templates: category badge"
Following up the introduction of `categories` field #1229, the detailed record pages should be amended in order to display categories (primary and secondary) in the form of badges.

Example record: http://opendata-dev.cern.ch/record/1681 would show a category badge "Higgs Physics" and a subcategory badge "Standard Model".

[2018-12-13 11:01] AdrianoDee commented on #2459
### Testing the ML production in the VM.

**VM:** CMS OpenData 1.4.0 from [here](https://cernbox.cern.ch/index.php/s/omF4JNCPMDigQk8)
**CMSSW:** 10_2_5 (production release for the dataset) and 10_3_5
**GT:** 102X_upgrade2018_design_v9
**SCRAM_ARCH**: slc7_am64_gcc700

NB: the VM seems to be listed as slc6 but when checking the OS I got

<img width="485" alt="schermata 2018-12-13 alle 11 27 40" src

[2018-12-13 11:08] katilp commented on #2459
Thanks @AdrianoDee : note that the slc6 shell is available from the desktop icon (not from the icon at the bottom of the screem), and it is a singularity container with slc6. The native shell is indeed slc7.
This is on purpose (although we have to document it better!!) and all CMSSW specific command should be done on the slc6 shell. Sorry for the confusion.

[2018-12-13 11:10] AdrianoDee commented on #2459
Thanks @katilp, I'll check with slc6 and let you know soon

[2018-12-13 11:12] #2470 closed

[2018-12-13 13:12] heitorPB commented on #2203
Closing this issue as the information is not in CMSDAS neither in McM

[2018-12-13 13:12] #2203 closed

[2018-12-13 13:14] heitorPB commented on #1229
Categories deployed on opendata-dev.cern.ch, scripts will be on https://github.com/cernopendata/data-curation soon

[2018-12-13 13:14] #1229 closed

[2018-12-13 13:34] tiborsimko commented on #2339
@heitorPB The record IDs can be `710, 711, ..., 810` for these records.

[2018-12-13 13:46] katilp commented on #2426
@jblomer Were there some updates needed to this VM (image and/or contextualization) for the eos mount issue?

[2018-12-13 13:52] jblomer commented on #2426
@katilp Yes, I'm still working on it.  The `df` issue is sorted out, eos still needs an update.

[2018-12-13 14:00] AdrianoDee commented on #2459
I just tested withe the slc6 within the CMS Shell (with SCRAM_ARC=slc6_am64_gcc700 ad CMSSW_10_2_5) and basically I'm getting the same errors.

[2018-12-13 14:02] katilp commented on #2426
@jblomer Thanks! It seems many of the testers do not open the slc6 shell, would it be possible to have the OS visible in the prompt for both shells?

[2018-12-13 14:20] heitorPB opened #2489 "update run_period in records"
#2463 defined `run_period` as a list of strings in the format:
- [`RunYYYYX`] for collision data
- [`RunYYYY`] for MC data

One needs to amend the json files for consistency

[2018-12-13 14:22] heitorPB commented on #1944
#2463 defines the new structure for `run_period`:
list of strings in the format:
- [`RunYYYYX`] for collision data
- [`RunYYYY`] for MC data

The records should be updated accordinly (#2489)

[2018-12-13 14:44] katilp commented on #2459
OK, thanks, then it could be an error in the GT export. I understand that this runs with the same CMSSW and GT on lxplus. @ggovi could you please have a look (the error log in the cernbox link above)? Thanks!

[2018-12-13 14:47] tiborsimko commented on #2489
Actually, the things are pretty consistent now, see:

[code]

i.e. `RunYYYYX` format is currently used for everything, collision and simulated datasets, software, VM, etc.

This means that for MC, we use the following `run_period` value :

[code]

The issue is more related to @katilp's proposal to using only year `YYYY` for simulated datasets.

However this brings questions:

- Do we keep leading

[2018-12-13 15:04] ggovi commented on #2459
@katilp
my check:
cd /cvmfs/cms-opendata-conddb.cern.ch
conddb --db 102X_upgrade2018_design_v9.db list 102X_upgrade2018_design_v9
# shows that the IdealGeometryRecord is there, mapped with tag TKRECO_Geometry_92YV3
conddb --db 102X_upgrade2018_design_v9.db list TKRECO_Geometry_92YV3
# shows the same iov content than the tag in production dB...
Looks everything in place - can't help much unfortunat

[2018-12-13 15:05] ggovi commented on #2459
sorry for the big size text, is a bad result of a cut-and paste...

[2018-12-13 15:07] AdrianoDee commented on #2459
For completeness I just tested point 1) on lxplus and it's all smooth. For GT:

`process.genstepfilter.triggerConditions=cms.vstring("generation_step")`
`from Configuration.AlCa.GlobalTag import GlobalTag`
`process.GlobalTag = GlobalTag(process.GlobalTag, '102X_upgrade2018_design_v9', '')`

The result:

<img width="832" alt="schermata 2018-12-13 alle 16 06 39" src="https://user-images.githubuserco

[2018-12-13 16:19] katilp commented on #2344
@caredg Would you have a time estimate for this? We now have @heitorPB 's page, with a general overview of the MC production steps and detailed instructions for finding the generator parameters for existing open data MC, available in http://opendata-dev.cern.ch/docs/cms-mc-production-overview
The pile-up gen-sim samples will appear as records 36 and 37, for 2011 and 2012 respectively.

[2018-12-13 16:56] #2249 closed

[2018-12-13 17:43] #2487 closed

[2018-12-13 19:04] heitorPB commented on #2339
Records are in the master branch (PR #2493) with record IDs `710, 711, ..., 809` and the DOIs from https://github.com/cernopendata/data-curation/pull/20

[2018-12-14 13:41] AdrianoDee commented on #2459
Perfect, thanks! I'm checking how's working

[2018-12-14 14:00] ggovi commented on #2459
I've just realised that this GT has a built-in snapshot time. It is set to 2018-10-01 20:09:06, as you can see in:
https://cms-conddb-prod.cern.ch/cmsDbBrowser/search/Prod/102X_upgrade2018_design_v9
The file on CVMFS has been produced on October the 30, so it make sense that without overriding the snapshot time to it does not work. In the future, we could update the built-in snapshot time accordin

[2018-12-14 14:07] tiborsimko opened #2497 "records: check MC pileup link information"
The `recid` used in CMS MC 2011 records for pile-up linking is wrong and should be updated.  (`3600` -> `36` or `37`).

Check the other years too.

[2018-12-14 14:16] tiborsimko opened #2498 "templates: fix category traceback"
[code]

[2018-12-14 14:17] tiborsimko commented on #2497
Stemmed from https://github.com/cernopendata/data-curation/issues/15

[2018-12-14 14:40] heitorPB commented on #1676
I have some notes about it here:
https://demo.codimd.org/Dv5MjPctQOeHBBix5Zkj2A?both#

[2018-12-14 14:42] heitorPB opened #2499 "CMS MC records Global Tags"
The global tags in the CMS MC records for 2011 and 2012 were hardcoded to some value, but it should change to the actual one.

[2018-12-14 15:05] caredg commented on #2344
@katilp I am hoping instructions and examples for MC generation will be ready next week.  I am starting to grab everything we have and put all together now!

[2018-12-14 17:39] katilp commented on #2344
@caredg thanks, very good! Note also some GEN-SIM production testing (connected to upgrade ML samples in CMSSW_10_2_5 and reading of GT: 102X_upgrade2018_design_v9) in https://github.com/cernopendata/opendata.cern.ch/issues/2459#issuecomment-447324968

[2018-12-14 20:51] caredg commented on #2423
I think the idea of using CAP as THE ingestion layer for COD records could work , provided that CAP will be rethought not only as an Analysis Preservation repository but also as a  repository for the preservation of "Tools Examples" (and maybe for Documentation as well, see below). In the Create drop-down menu, for instance, one could add "CMS Tools", with similar, compatible forms as for the Anal