[2017-11-08 15:46] tiborsimko commented on #1359
So I think the "Collaboration -> CMS" link in the header is very misleading from the UX point of view. It leads to an "About CMS open data" like page, which should be rather filled under "About -> CMS Open Data" in the page header, as was the case on COD2.

Since we don't have any dedicated collaboration pages, and since we promote search as the main information discovery path, and since we'll fea

[2017-11-08 15:49] tiborsimko opened #1670 "templates: Help in the page header"
The Help menu item in the page header is not functional. I think it can be safely removed.

[2017-11-08 15:51] tiborsimko opened #1671 "templates: Explore in the page header"
The "Explore" menu in the page header is currently offering to explore:

- Datasets
- News
- Documentation
- Software

The list should be completed, not forgetting some popular functionality such as event display and histogramming.

[2017-11-08 15:53] tiborsimko opened #1672 "templates: DEMO icon in the page header"
Introduce very visible DEMO icon in the page header in the `master` branch, similarly to `qa` branch.

This will be necessary to open the new COD3 DEV site to users.

(stemmed from #1360)

[2017-11-08 15:57] tiborsimko opened #1673 "templates: complete page footer"
The experiment logos in the page footer aren't the same size, which may be problematic outward-wise.

Also, the CERN logo is not clickable.

Also, what about Terms-of-Use and other items known from COD2 site?

Also, see #1127.

[2017-11-08 16:00] tiborsimko opened #1674 "templates: About menu in the page header"
"About -> CERN" menu item does not work.

If we put privacy policy there, what about terms of service?

See also #1359.

[2017-11-08 16:02] tiborsimko opened #1675 "templates: check navtrail breadcrumb consistency"
Check presence and consistency of navigation trail breadcrumbs for various COD3 pages.

Do we have it on every page? Is the structure corresponding to the current IA?

See also #1359.

[2017-11-08 16:07] daslerr commented on #1359
I agree the pages should move to About instead, and our testing confirms this. No one seems to know what to do with "Collaboration" even if we specifically ask them to find general information for one of the experiments.

I do think that the content-rich pages would be a good addition, but I agree they're not a priority right now. And even if we create them, they could still be filed under About,

[2017-11-08 17:11] tiborsimko opened #1676 "CMS: extract keywords from simulated dataset titles"
Extract keywords from simulated dataset titles.

Follow explanations from http://opendata.cern.ch/about/CMS-Simulated-Dataset-Names.

Can extract process (gluon-gluon to higgs to zz to 4 leptons).

Can extract generators (madgraph, pythia).  But also from DAS.

Can extract concepts, e.g. VBF vector boson fusion.

[2017-11-09 09:26] #1650 closed

[2017-11-09 09:26] #1652 closed

[2017-11-09 09:26] #1656 closed

[2017-11-09 09:29] tiborsimko opened #1677 "ui: plug MathJax"
Plug MathJax for the nice display of mathematics.

Example:

- COD2 http://opendata.cern.ch/record/328
- COD3 http://0.0.0.0/record/328

See also #1447.

(stemmed from https://github.com/cernopendata/opendata.cern.ch/pull/1669#issuecomment-343096770)

[2017-11-09 09:53] tiborsimko commented on #1316
@pamfilos This is related to the issue I mentioned you live yesterday.  E.g. there are IPython notebooks that use COD2 to reach stored files, so we should make sure that all `/record/NNN/files/MMM.ig` are well exposed like that on COD3 as well.

A good example is the configuration files, the originals are called `d7c7e40a2583db7d5ecc08b5c9b03da0.configFile`.  In COD2, we don't use the SHA1in any v

[2017-11-09 10:37] ioannistsanaktsidis commented on #1671
@tiborsimko you mean visualise histograms and cms detector events like we have them in the bottom of the page in the visualise part ?

[2017-11-09 10:43] ioannistsanaktsidis commented on #1674
Or we simply remove it as there wasn't there in COD2 also. cc @tiborsimko  @daslerr @sefeg

[2017-11-09 10:53] #1359 closed

[2017-11-09 10:53] #1670 closed

[2017-11-09 10:57] atrisovic opened #1679 "templates: fix broken links"
Cleaning up broken links once markdown pages are done.

[2017-11-09 12:56] tiborsimko commented on #1671
Yes, I think that would be good, based on my talks with @katilp. For example, "Expore news" does not really makes sense there to me eyes... while "Explore histograms" clearly would.  Basically, the "Explore" menu serves the purpose of promintently advertising the main content of the site.  Hence "Explore detector events", leading to a dedicated page about how to events display, or to a faceted sea

[2017-11-09 13:18] #1127 closed

[2017-11-09 13:18] #1671 closed

[2017-11-09 13:18] #1673 closed

[2017-11-09 13:18] #1672 closed

[2017-11-09 13:18] #1674 closed

[2017-11-09 14:06] ioannistsanaktsidis commented on #1639
Closing as already implemented.

[2017-11-09 14:06] #1639 closed

[2017-11-09 14:13] ioannistsanaktsidis commented on #1642
Closing as already addressed in previous PRs.

[2017-11-09 14:13] #1642 closed

[2017-11-09 15:57] pamfilos opened #1684 "fixtures: ATLAS link to atlas-opendata page broken"
There are records with metadata links to the ATLAS Opendata page, that are broken

e.x: record 3803
[code]

[2017-11-09 16:21] ioannistsanaktsidis commented on #1619
Closing as already addressed in previous PRs.

[2017-11-09 16:21] #1619 closed

[2017-11-09 16:41] sefeg opened #1685 "Facet / Search related findings and observations"
@daslerr and I conducted user tests to study the interaction with the current version of the search facets. We discussed our findings with @tiborsimko and @katilp and agreed to the following:

- [x] **Recalculate the number of applicable entries on the right of each facet element.** The number should indicate the amount of search results presented after selecting the corresponding facet element. T

[2017-11-09 16:46] sefeg commented on #1660
We discussed this and agreed to order **alphabetically**. That resolves obvious issues (e.g. related to the year) and even leads to a meaningful order in the record **type** filter. Since we also agreed to re-calculate the numbers based on the active selection ( #1685 ), an ordering mechanism based on the count would lead to continuously changing element orders and would thus confuse users.

[2017-11-09 16:47] sefeg commented on #1661
Closing, as addressed in #1685

[2017-11-09 16:47] #1661 closed

[2017-11-09 16:53] tiborsimko commented on #1671
It is premature to close this ticket, note that my description said "the list should be completed", the musings below were just an example...The "Explore" list will be completed based also on user tests, I think @sefeg will create an issue.

[2017-11-09 17:03] sefeg commented on #1671
Well, here we basically discussed to add all the entries of the type facet (Dataset, Documentation, Environment, Glossary, News, Software, Supplementaries) to completely represent the "sticky" type filter (see #1659) in the facet results.

[2017-11-09 17:15] katilp commented on #1671
I would leave out from the Explore menu Supplementaries and Environment. The first is a monster category with items that are there for documentation purposes and which only make sense when presented in the proper context (as they are when linked to the datasets in the dataset records) and we do not want to expose them as such (more than the presence of that category in the normal search).
The latt

[2017-11-10 05:03] tiborsimko opened #1686 "records: centralise local files on EOS for alice-derived-datasets.json"
Centralise local files on EOS for records from alice-derived-datasets.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:03] tiborsimko opened #1687 "records: centralise local files on EOS for alice-learning-resources.json"
Centralise local files on EOS for records from alice-learning-resources.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:03] tiborsimko opened #1688 "records: centralise local files on EOS for alice-reconstructed-data.json"
Centralise local files on EOS for records from alice-reconstructed-data.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:03] tiborsimko opened #1689 "records: centralise local files on EOS for atlas-all-samples.json"
Centralise local files on EOS for records from atlas-all-samples.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:03] tiborsimko opened #1690 "records: centralise local files on EOS for atlas-derived-datasets.json"
Centralise local files on EOS for records from atlas-derived-datasets.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:03] tiborsimko opened #1691 "records: centralise local files on EOS for atlas-higgs-challenge-2014.json"
Centralise local files on EOS for records from atlas-higgs-challenge-2014.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1692 "records: centralise local files on EOS for atlas-simulated-datasets.json"
Centralise local files on EOS for records from atlas-simulated-datasets.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1693 "records: centralise local files on EOS for atlas-tools.json"
Centralise local files on EOS for records from atlas-tools.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1694 "records: centralise local files on EOS for cms-author-list-Run2011A.json"
Centralise local files on EOS for records from cms-author-list-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1695 "records: centralise local files on EOS for cms-author-list.json"
Centralise local files on EOS for records from cms-author-list.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1696 "records: centralise local files on EOS for cms-condition-data-Run2011A.json"
Centralise local files on EOS for records from cms-condition-data-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1697 "records: centralise local files on EOS for cms-configuration-files-Run2011A.json"
Centralise local files on EOS for records from cms-configuration-files-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1698 "records: centralise local files on EOS for cms-csv-files.json"
Centralise local files on EOS for records from cms-csv-files.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1699 "records: centralise local files on EOS for cms-derived-csv-Run2011A.json"
Centralise local files on EOS for records from cms-derived-csv-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1700 "records: centralise local files on EOS for cms-derived-pattuples-ana-Run2011A.json"
Centralise local files on EOS for records from cms-derived-pattuples-ana-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1701 "records: centralise local files on EOS for cms-derived-pattuples-ana.json"
Centralise local files on EOS for records from cms-derived-pattuples-ana.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1702 "records: centralise local files on EOS for cms-eventdisplay-files-Run2011A.json"
Centralise local files on EOS for records from cms-eventdisplay-files-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1703 "records: centralise local files on EOS for cms-eventdisplay-files.json"
Centralise local files on EOS for records from cms-eventdisplay-files.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1704 "records: centralise local files on EOS for cms-hamburg-files.json"
Centralise local files on EOS for records from cms-hamburg-files.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1705 "records: centralise local files on EOS for cms-hlt-2011-configuration-files.json"
Centralise local files on EOS for records from cms-hlt-2011-configuration-files.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1706 "records: centralise local files on EOS for cms-l1-trigger-information-Run2011A.json"
Centralise local files on EOS for records from cms-l1-trigger-information-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1707 "records: centralise local files on EOS for cms-learning-resources.json"
Centralise local files on EOS for records from cms-learning-resources.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1708 "records: centralise local files on EOS for cms-luminosity-information.json"
Centralise local files on EOS for records from cms-luminosity-information.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1709 "records: centralise local files on EOS for cms-masterclass-files.json"
Centralise local files on EOS for records from cms-masterclass-files.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1710 "records: centralise local files on EOS for cms-open-data-instructions.json"
Centralise local files on EOS for records from cms-open-data-instructions.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1711 "records: centralise local files on EOS for cms-pileup-configuration-files.json"
Centralise local files on EOS for records from cms-pileup-configuration-files.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:04] tiborsimko opened #1712 "records: centralise local files on EOS for cms-primary-datasets-Run2011A.json"
Centralise local files on EOS for records from cms-primary-datasets-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1713 "records: centralise local files on EOS for cms-primary-datasets.json"
Centralise local files on EOS for records from cms-primary-datasets.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1714 "records: centralise local files on EOS for cms-simulated-datasets-Run2011A.json"
Centralise local files on EOS for records from cms-simulated-datasets-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1715 "records: centralise local files on EOS for cms-tools-ana.json"
Centralise local files on EOS for records from cms-tools-ana.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1716 "records: centralise local files on EOS for cms-tools-dimuon-filter.json"
Centralise local files on EOS for records from cms-tools-dimuon-filter.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1717 "records: centralise local files on EOS for cms-tools-dimuon-spectrum-2010.json"
Centralise local files on EOS for records from cms-tools-dimuon-spectrum-2010.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1718 "records: centralise local files on EOS for cms-tools-vm-image-Run2011A.json"
Centralise local files on EOS for records from cms-tools-vm-image-Run2011A.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1719 "records: centralise local files on EOS for cms-tools-vm-image.json"
Centralise local files on EOS for records from cms-tools-vm-image.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1720 "records: centralise local files on EOS for cms-validated-runs.json"
Centralise local files on EOS for records from cms-validated-runs.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1721 "records: centralise local files on EOS for cms-validation-code-Run2010B.json"
Centralise local files on EOS for records from cms-validation-code-Run2010B.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1722 "records: centralise local files on EOS for data-policies.json"
Centralise local files on EOS for records from data-policies.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1723 "records: centralise local files on EOS for lhcb-derived-datasets.json"
Centralise local files on EOS for records from lhcb-derived-datasets.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1724 "records: centralise local files on EOS for opera-author-list.json"
Centralise local files on EOS for records from opera-author-list.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1725 "records: centralise local files on EOS for opera-detector-events.json"
Centralise local files on EOS for records from opera-detector-events.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1726 "records: centralise local files on EOS for opera-ecc-datasets.json"
Centralise local files on EOS for records from opera-ecc-datasets.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:05] tiborsimko opened #1727 "records: centralise local files on EOS for opera-ed-datasets.json"
Centralise local files on EOS for records from opera-ed-datasets.json.

Enrich record metadata correspondingly.

(stemmed from #1345)

[2017-11-10 05:07] tiborsimko commented on #1345
Closing; created separate issues to ease tracking.

[2017-11-10 05:07] #1345 closed

[2017-11-10 05:18] tiborsimko opened #1728 "nginx: "aggresive" reverse cache"
COD does not have any user accounts; every client is served the same content.   It is therefore easy to cache its content (including search results) to accelerate the content delivery.

(1) COD3 has an "aggressive" cache to be able to easily cope with peaks of interest following up the open data releases by experiments.

The COD2 configuration was basically as follows:

[code]

(2) In addition to

[2017-11-10 05:30] tiborsimko opened #1729 "records: option to "feature" selected articles"
Introduce "featured articles" feature that will make it possible to "promote" certain articles to display them on the home page.

This requires to:

(1) enrich the article data model with new fields in order to introduce new fields such as:

- **screenshot** -- holding path to the illustrative screenshot (#1483)
- **featured** -- holding number representing position on the home page

(2) alter hom

[2017-11-10 05:33] tiborsimko commented on #1483
👍

I have created a separate issue #1729 to implement the feature.  In this issue we can muse further (1) which articles to feature, (2) in which order, and (3) what are their best illustrative screenshots. @sefeg @daslerr would you like to propose a list?

[2017-11-10 05:38] tiborsimko commented on #1684
Yup, ATLAS changed their website...

[2017-11-10 05:59] tiborsimko commented on #1599
Short summary: we can change facet the name and the facet category would be displayed only when there is some MC result in the search query. This should do for initial search tests. And we agreed to remove "experiment" keywords; I'm going to make a PR for that.

[2017-11-10 07:30] artfisica commented on #1684
Dear All,

Thank you very much, this was mentioned as well in ticket https://github.com/cernopendata/opendata.cern.ch/issues/1226

In case you would like to clean/close that one too.

Cheers,
Arturo

[2017-11-10 08:49] sefeg opened #1732 "Selection of (six) featured articles for the release"
While the functionality to mark posts as featured is being implemented, we can already collect a set  that we want to feature in the upcoming release. We can feature **six** on the landing page. Here, we can also discuss the position of those. For this issue, I propose to consider the top left post on the landing page as number 1, the right bottom one as number 6.

The following represents a list

[2017-11-10 08:50] sefeg commented on #1483
I created a dedicated issue to discuss the six articles that we feature for the release: #1732

Since the implementation moved to #1729 and we agreed to postpone the above design considerations, I close this issue for now

[2017-11-10 08:50] #1483 closed

[2017-11-10 08:51] sefeg commented on #1729
Since this seems to be purely technical and #1483 muses about design decisions, I created a dedicated issue for the selection of the six featured release articles: #1732

[2017-11-10 09:08] tiborsimko commented on #1732
There are perhaps too many CMS related items in the above list?

Two other good candidates would be:

- OPERA open data release (we have news statement, and the illustrating screenshot can be taken from the event display)
- LHCb AntimatterMatters2017 (the article to be written with Chris & Chris)

[2017-11-10 09:20] annatrz commented on #1600
So this one can be closed, as we agreed on implementation (calculating numbers) as defined in #1685

[2017-11-10 09:20] #1600 closed

[2017-11-10 09:25] sefeg commented on #1732
I agree! Since we have a lot of very good CMS guiding material, we can great an umbrella record that links to the various CMS resources. That way, we would only have two featured CMS records in the list. (The summer student record is not that visible as a CMS related resource).

[2017-11-10 09:28] katilp commented on #1732
We may have the contribution from Jesse Thaler as well, so we need to prioritize from the CMS side. Will there be a "Show more" option to see more "News" articles on the entry page?

[2017-11-10 09:42] #1627 closed

[2017-11-10 09:42] #1628 closed

[2017-11-10 09:42] #1595 closed

[2017-11-10 09:42] #1622 closed

[2017-11-10 09:42] #1625 closed

[2017-11-10 09:42] #1626 closed

[2017-11-10 09:49] suenjedt commented on #1732
An article by Jesse Thaler would be great, of course, @katilp .
@sefeg i am not convinced of the umbrella article (if i understand it correctly), and would prefer to include Opera and Lhcb to balance.

[2017-11-10 09:54] tiborsimko commented on #1732
I would also prefer no umbrellas... and I like the show-more button mentioned by @katilp.  This could simply lead to the search page where we would display all articles, sorted by chronological order,  featured only, facet by experiment, and all the other goodies.

[2017-11-10 10:08] sefeg commented on #1131
Closing, as those pages exist by now. See for example, http://opendata-dev.web.cern.ch/software or http://opendata-dev.web.cern.ch/news - they jump right to the corresponding facet entries.

[2017-11-10 10:11] sefeg commented on #1292
Closing, as implemented by now

[2017-11-10 10:11] #1292 closed

[2017-11-10 10:16] suenjedt commented on #1732
@tiborsimko @sefeg do you want me to contact our LHCb and Opera contacts to coordinate the featured article? I am aware that we have materials for Opera (still would be good to share plans).

[2017-11-10 10:26] sefeg commented on #1732
@suenjedt that would be great!

I think @tiborsimko is on to an article on LHCb AntimatterMatters2017

As soon as an article is ready to be featured, we can make a note in this issue.

[2017-11-10 10:26] ioannistsanaktsidis commented on #1648
@tiborsimko this one in COD2 displays this field
[code]
with header related items, where as I understood this one should be displayed  either as ```Notes``` or as ```Issues & limitations``` . Am I correct  ?

[2017-11-10 10:26] katilp opened #1734 "Scaling behaviour of the entry page when zooming in/out"
On firefox and chrome, the box (figure) size does not scale down when I zoom < 100%, only the text size changes. Resizing the window, however, resizes the boxes as expected.

[2017-11-10 10:31] katilp commented on #1648
@ioannistsanaktsidis You're right, the current "Related items" title is wrong, the root file is in the record itself so not related to any other record on the portal (which I would expect for an item under "Related items").
I would go for "Notes" as it is not an issue or limitation either...

[2017-11-10 10:33] ioannistsanaktsidis commented on #1648
@katilp thanks :)

[2017-11-10 11:41] #1599 closed

[2017-11-10 11:41] #1684 closed

[2017-11-10 12:17] sefeg commented on #1671
We just had another quick chat on that. Basically, we agreed that we would add **all** types to the Explore menu, in order to allow for an effective way of accessing all file types. For some of the entries it might be less obvious to "explore" them, but since the record types are at the core of our UX, we should completely represent them in the menu.

[2017-11-10 12:35] tiborsimko opened #1735 "files: move more CMS 2012 MC datasets"
- [x] More some more CMS 2012 MC files from the staging area to the production destination area.
- [x] Create file indexes.

OK:

[code]

Not OK yet:

[code]

CC @katilp

[2017-11-10 12:39] ioannistsanaktsidis commented on #1633
Closing as already addressed in previous PRs.

[2017-11-10 12:39] #1633 closed

[2017-11-10 12:43] ioannistsanaktsidis commented on #1641
Closing as already addressed in previous PRs.

[2017-11-10 12:43] #1641 closed

[2017-11-10 12:44] ioannistsanaktsidis commented on #1638
Closing as already address in previous PRs.

[2017-11-10 12:44] #1638 closed

[2017-11-10 12:46] ioannistsanaktsidis commented on #1636
Closing as already addressed in previous PRs.

[2017-11-10 12:46] #1636 closed

[2017-11-10 12:47] ioannistsanaktsidis commented on #1635
@tiborsimko  I cannot find record 4900 in production. Could you please check ?

[2017-11-10 12:49] ioannistsanaktsidis commented on #1634
Closing as already addressed in previous PRs.

[2017-11-10 12:49] #1634 closed

[2017-11-10 12:53] ioannistsanaktsidis commented on #1653
Closing as already addressed in previous PRs.

[2017-11-10 12:53] #1653 closed

[2017-11-10 13:04] sefeg commented on #1732
The following represents a list of contents we discussed in here so far. An element should be checked as soon as the article is publish-ready (even though it might still need editing). I will change the font style to **bold** for all those that have been added to COD.

- [x] Welcome to our updated portal
- [ ] CMS 2012 data release
- [x] Improving educational content with high school teachers: A s

[2017-11-10 13:13] ioannistsanaktsidis commented on #1645
Closing as already addressed in previous PRs.

[2017-11-10 13:13] #1645 closed

[2017-11-10 13:13] katilp commented on #1671
I'm still opposed to have Supplementaries there, there is no reasons for anybody to explore them stand-alone.  They are just confusing and without meaning out of their proper context. I think the UI design considerations should rather take into account the contents (which is important for the user) and not the underlying structure (which does not matter for the user). To my view the main function

[2017-11-10 13:17] ioannistsanaktsidis commented on #1631
Closing as already addressed in previous PRs.

[2017-11-10 13:17] #1631 closed

[2017-11-10 13:20] ioannistsanaktsidis commented on #1632
@tiborsimko if we have this in the json
[code]
Should we display it under ```Related Items``` section ?

[2017-11-10 13:22] ioannistsanaktsidis commented on #1630
Closing as already addressed in previous PRs.

[2017-11-10 13:22] #1630 closed

[2017-11-10 13:25] ioannistsanaktsidis commented on #1620
Closing as already addressed in previous PRs.

[2017-11-10 13:25] #1620 closed

[2017-11-10 13:27] ioannistsanaktsidis commented on #1618
Closing as already addressed in previous PRs.

[2017-11-10 13:27] #1618 closed

[2017-11-10 13:30] ioannistsanaktsidis commented on #1614
Closing as already addressed in previous PRs.

[2017-11-10 13:30] #1614 closed

[2017-11-10 13:31] ioannistsanaktsidis commented on #1616
Closing as already addressed in previous PRs.

[2017-11-10 13:31] #1616 closed

[2017-11-10 13:34] tiborsimko opened #1738 "search: introduce searchable fields"
On COD2, we have been having many searchable fields, such as author, title, collection, etc. People could do various advanced Boolean queries with them.

On COD3, some fields can be searched in a fielded way already, for example:

- title:muon

works, but some useful fields cannot be searched in a fielded way, for example:

- collection:CMS-Primary-Datasets
- type:Datasets
- collision_type:PbPb
-

[2017-11-10 13:38] ioannistsanaktsidis commented on #1611
Closing as already addressed in previous PRs.

[2017-11-10 13:38] #1611 closed

[2017-11-10 13:39] ioannistsanaktsidis commented on #1610
Closing as already addressed  in previous PRs.

[2017-11-10 13:39] #1610 closed

[2017-11-10 13:41] ioannistsanaktsidis commented on #1608
Closing as already addressed in previous PRs.

[2017-11-10 13:41] #1608 closed

[2017-11-10 13:42] ioannistsanaktsidis commented on #1606
Missing ```Open data portal ``` in disclaimer.

[2017-11-10 13:44] ioannistsanaktsidis commented on #1603
Closing as already implemented in previous PRs.

[2017-11-10 13:44] #1603 closed

[2017-11-10 14:15] tiborsimko commented on #1312
@daslerr @sefeg The "docs" seems nicer than "articles" or "posts", but there is one thing to consider: if in the future we shall get to splitting up records into datasets, software, configuration etc independent schemas, as discussed in this issue, then please recall that we have been talking about "data-policies" becoming "documentation". So, if we do this, then we would have both "docs" and "doc

[2017-11-10 15:01] tiborsimko commented on #1735
All done.

[2017-11-10 15:01] #1735 closed

[2017-11-10 15:10] tiborsimko commented on #1562
@diegodelemos @pamfilos With the latest master things work much better 😄 Here is the profile for `atlas-derived-datasets.json` that contains 1102 files:

[code]

[2017-11-10 15:14] atrisovic opened #1741 "template: titles in articles to be made larger (h1)"
These ones:
<img width="1018" alt="screen shot 2017-11-10 at 16 13 25" src="https://user-images.githubusercontent.com/13986265/32664635-326d83dc-c632-11e7-98b4-1aa5c4593ebc.png">

[2017-11-10 15:25] tiborsimko commented on #1562
... and for `cms-primary-datasets.json` on my laptop:

[code]

[2017-11-10 18:02] katilp commented on #1732
Jesse will provide the story by the end of the month. He already suggested an image for illustration:
[pr_event_display_no_logo.pdf](https://github.com/cernopendata/opendata.cern.ch/files/1462257/pr_event_display_no_logo.pdf) or
[pr_event_display_with_sub.pdf](https://github.com/cernopendata/opendata.cern.ch/files/1462258/pr_event_display_with_sub.pdf) (with or without their logo)

For CMS, this h

[2017-11-10 20:03] #1659 closed

[2017-11-10 20:03] #1660 closed

[2017-11-10 20:59] #1607 closed

[2017-11-10 20:59] #1623 closed

[2017-11-10 20:59] #1643 closed

[2017-11-10 20:59] #1647 closed

[2017-11-10 20:59] #1648 closed

[2017-11-10 20:59] #1649 closed

[2017-11-12 15:51] ioannistsanaktsidis commented on #1658
Closing as already addressed in previous PRs.

[2017-11-12 15:51] #1658 closed

[2017-11-13 08:59] sefeg commented on #1671
If there is absolutely no reason to look for content under the _Supplementaries_ tag on its own, we can leave it out.

[2017-11-13 09:39] sefeg commented on #1685
On Friday afternoon, @annatrz finished part of the facet element recalculation. Selecting an element now leads to correctly calculating all elements that have a logical AND dependency to the selected element (i.e. elements from other facet groups than the facet group to which the selected element belongs). An example: Look at the [full list](http://opendata-dev.web.cern.ch/search?page=1&size=20&q=

[2017-11-13 09:40] sefeg commented on #1685
Personally, I much prefer approach number 1.

[2017-11-13 09:55] #1365 closed

[2017-11-13 09:55] #1366 closed

[2017-11-13 09:55] #1391 closed

[2017-11-13 09:55] #1392 closed

[2017-11-13 09:57] diegodelemos opened #1744 "fixtures: add verbose flag for record loading"
Since we are getting the following stack trace while populating QA and we are not able to know why we need a verbose flag to print current `recid`:

[code]

[2017-11-13 09:58] ioannistsanaktsidis commented on #1640
Closing as already addressed in previous PRs.

[2017-11-13 09:58] #1640 closed

[2017-11-13 10:02] ioannistsanaktsidis commented on #1632
Closing as already addressed in previous PRs.

[2017-11-13 10:02] #1632 closed

[2017-11-13 10:02] katilp opened #1745 "Difference between c and cc in file type"
There should not be any difference between c and cc?
For the CMS records they are partially overlapping
http://opendata-dev.web.cern.ch/search?page=1&size=20&q=&experiment=CMS&file_type=c

[2017-11-13 10:05] ioannistsanaktsidis commented on #1629
Closing as already addressed by previous PRs.

[2017-11-13 10:05] #1629 closed

[2017-11-13 10:06] ioannistsanaktsidis commented on #1635
cc @tiborsimko  please check and let me know about this one :)

[2017-11-13 10:11] ioannistsanaktsidis commented on #1613
Closing as already addressed by previous PRs.

[2017-11-13 10:11] #1613 closed

[2017-11-13 10:12] ioannistsanaktsidis commented on #1609
Closing as already addressed in previous PRs.

[2017-11-13 10:12] #1609 closed

[2017-11-13 10:15] ioannistsanaktsidis commented on #1606
Closing as already addressed in previous PRs.

[2017-11-13 10:15] #1606 closed

[2017-11-13 10:19] ioannistsanaktsidis commented on #1604
Closing as already addressed in previous PRs.

[2017-11-13 10:19] #1604 closed

[2017-11-13 10:20] ioannistsanaktsidis commented on #1605
Closing as already addressed in previous PRs.

[2017-11-13 10:20] #1605 closed

[2017-11-13 10:21] ioannistsanaktsidis commented on #1612
Closing as already addressed in previous PRs.

[2017-11-13 10:21] #1612 closed

[2017-11-13 10:23] ioannistsanaktsidis commented on #1617
Closing as already addressed in previous PRs.

[2017-11-13 10:23] #1617 closed

[2017-11-13 10:46] tiborsimko commented on #1635
This record exists only on COD3, as we decided to publish new LHCb dataset only on COD3.

In other words, this record was added manually by @ArtemisLav in the previous sprint... There is nothing to check against COD3 here; you can simply veriify whether the displayed information look roughly complete based on what is in the JSON... I guess it should be OK since you have ported already other record

[2017-11-13 10:54] ioannistsanaktsidis commented on #1635
Closing as already addressed in previous PRs.

[2017-11-13 10:54] #1635 closed

[2017-11-13 10:57] tiborsimko commented on #1745
There are some files called like `mergeMu.C`, and other files called like `DemoAnalyzer.cc`, hence both `C` and `cc` extensions are detected. Hence everything is OK on the COD3 side.

Ideally, you could use the same C++ file extensions in examples... or we could "silently" treat `*.C` as if it were `*.cc`, but that could perhaps backfire later when in some cases this difference could be significan

[2017-11-13 11:17] katilp commented on #1745
OK, fine, makes sense.
How do you treat records that have a link to a github repository?
Would it be useful that they appear as a file type listing as well.
Ideally, all this kind of records should also have the zip of the repository attached but it not the case, yet.

[2017-11-13 11:22] tiborsimko commented on #1745
We don't analyse external links, only COD3-hosted files.  But if we download the software for a record from GitHub, and store it as a tarball, it should have "zip" or "tar.gz" or the tarball-specific format extension.  (But we don't analyse whether it is Python or C++ or other languages *inside* the tarball!)

For example, this record contains a tarball on COD2:

- http://opendata.cern.ch/record/2

[2017-11-13 12:07] daslerr commented on #1738
I agree that offering a full JSON structure search might be too much. I think option 3 where every faceted field is also available as a fielded search seems like the best way to go, if it's not too much trouble to implement. I wouldn't think it's high priority, though, since it's mostly aimed at power users.

[2017-11-13 12:36] daslerr commented on #1685
I agree that approach number 1 sounds the best.

[2017-11-13 13:04] ioannistsanaktsidis commented on #1384
@tiborsimko what should we return in ```/collection/``` and ```/collection/OPERA``` ?
This url ```http://127.0.0.1:5000/search?page=1&size=20&collections=OPERA``` returns no results currently.

[2017-11-13 13:08] tiborsimko commented on #1384
We don't store the "father" collections CMS in the record metadata.  We could, but what we discussed with @annatrz is to simply return `&experiment=OPERA` which will have the same effect...

[2017-11-13 13:36] #1725 closed

[2017-11-13 13:36] #1726 closed

[2017-11-13 13:36] #1727 closed

[2017-11-13 13:57] tiborsimko commented on #1388
@annatrz Actually I think we have 2011 in the codebase, not 2010.  Please check the content:

[code]

Please check the content in more detail, comparing to COD2, and if this is indeed so, please rename the existing "virtual-machines-cms-2010" and friends into "virtual-machines-cms-2011",  and you can starting working on 2010 :)

[2017-11-13 14:12] ioannistsanaktsidis commented on #1377
@tiborsimko do we finally need this one ?

[2017-11-13 14:26] ioannistsanaktsidis commented on #1381
@tiborsimko concerning this page, how are we going to implement it  ? I can add it as a collection but how can I recognise that it is education? Do we need sth like ```experiment=ALICE&type=Software```? Or should we have sth like ```experiment=ALICE&tag=Education``` ?

[2017-11-13 14:31] ioannistsanaktsidis commented on #1374
@tiborsimko  @daslerr so what do we do finally with these ones ? do we keep research, education or we drop them completely? and if we keep them should we "tag" the records ? I am asking because I want to start implementing it if we need it or drop all the related issues.

[2017-11-13 14:41] daslerr commented on #1312
Thanks for reminding me about that discussion. I'd forgotten. I agree that's confusing.

Since data policies are therefore something of a special case, could we instead call the data policies "policies" when we get around to splitting records into types? And then we could still use the "documentation" or "docs" term for what is now known as "articles." Then it's matching a more general term ("docu

[2017-11-13 15:04] tiborsimko commented on #1312
In my eyes the data policy records don't "deserve" to be a separate entity... similarly to say "author lists", which is another example of the same documentation-like kind of material that we are hosting. Basically, it is a bunch of metadata fields, plus DOI, plus attached PDF, and that's all.  One can look at them as "documents".  So I'd rather not introduce "/policies/...", "/author-lists/...",

[2017-11-13 15:18] daslerr commented on #1369
Yes, for /research and /education please return search results with the appropriate facets selected to correspond with research or education results for all experiments.

[2017-11-13 15:18] daslerr commented on #1374
We're not going to use them as tags. /research and /education will each point to search results with certain facets turned on or off (as determined by the COD2 collection lists). See https://github.com/cernopendata/opendata.cern.ch/issues/1369#issuecomment-329114211. I've updated the response there.

[2017-11-13 16:06] #1744 closed

[2017-11-13 16:23] #1694 closed

[2017-11-13 16:23] #1695 closed

[2017-11-13 16:23] #1724 closed

[2017-11-13 16:29] tiborsimko commented on #1713
Implemented in #1587; closing.

[2017-11-13 16:30] tiborsimko commented on #1712
Implemented in #1587; closing.

[2017-11-13 16:30] #1712 closed

[2017-11-13 16:30] tiborsimko commented on #1714
Implemented in #1587; closing.

[2017-11-13 16:30] #1714 closed

[2017-11-13 17:15] daslerr commented on #1312
This was clarified in an offline conversation. We can change the name of ``/articles/...`` to ``/documentation/...`` now. When the time comes to split out the ``/record/...`` namespace, we can merge policies and author lists and other documentation-like records into ``/documentation/...`` and update or homogenize the data model as necessary at that time.

Therefore, ``/articles`` will now be ``/do

[2017-11-13 17:53] tiborsimko opened #1753 "articles: titles and slugs"
As discussed in various PRs such as #1601 and #1749, it would be useful to have a complete list of all "articles" we plan to display with their wanted titles and slugs, so that we can organise the source code accordingly.

For example:

page idea | old URL | new URL (/articles/slug) | page title
----------|--------|--------------|-----
 VMs for ALICE | `/VM/ALICE` | `/articles/virtual-machines-ali

[2017-11-13 18:05] #1722 closed

[2017-11-14 08:20] suenjedt commented on #1738
While I agree with @daslerr and @tiborsimko on a preferred option 3, I suggest that @sefeg compiles the list of 6-7 things and we take it from there, given the time pressure.

[2017-11-14 08:37] suenjedt commented on #1685
Given the amount of tickets we currently have, I wonder what the priority of this is @sefeg. It already looks much better now, I find.

[2017-11-14 09:04] tiborsimko commented on #1664
Beware No.1: If we are going to make a convention that we use only lowercase-named files, then we have to rename some of our existing files (such as experiment logos) and also change the references to them across the source code everywhere:

[code]

In this case the nginx-lowering can remain very simple..

[2017-11-14 09:04] diegodelemos commented on #1562
After tonights `populate-instance` execution in QA we have the following CPU, memory and network usage:

![screen shot 2017-11-14 at 8 56 59 am](https://user-images.githubusercontent.com/9035606/32768892-fc12ff02-c919-11e7-98ea-b5deb4b7aaf7.png)

Workaround for memory leak problem introduced in https://github.com/cernopendata/opendata.cern.ch/pull/1746. Execution took **2 hours 48 minutes**.

[2017-11-14 09:04] #1562 closed

[2017-11-14 09:05] diegodelemos commented on #1663
Deployed http://opendata.web.cern.ch/.

[2017-11-14 09:05] #1663 closed

[2017-11-14 09:05] diegodelemos commented on #1662
Deployed http://opendata-qa.web.cern.ch/.

[2017-11-14 09:05] #1662 closed

[2017-11-14 09:06] tiborsimko commented on #1664
Beware No.2: For user-contributed files, we have URLs like `/record/NNN/files/Tau.ig`.  Here, EOS distinguishes between uppercase and lowercase names.  So we have to be careful not to lowercase any URL that starts with `/record/...`.  In this way, we'll have a nice setup where "our own" files are all lowercase, and "user-contributed files" that may be uppercase are only in certain URLs.  So the ng

[2017-11-14 10:01] sefeg commented on #1685
We just further discussed this issue. Consensus is, that we should not hide OR related facet elements (Option 2) and that showing a 0 value for OR related facet elements is confusing.

For the moment, we selected a pragmatic approach: Don't show any number for OR related facet elements that currently display 0. This is a simple solution that we expect to be less confusing for users. We can then te

[2017-11-14 10:10] ioannistsanaktsidis commented on #1637
Closing as already addressed in previous PRs.

[2017-11-14 10:10] #1637 closed

[2017-11-14 10:25] ioannistsanaktsidis commented on #1436
Closing as superseded from #1675.

[2017-11-14 10:25] #1436 closed

[2017-11-14 10:26] sefeg opened #1755 "Early feedback"
Following a session with @katilp and Achim, I want to capture collected feedback here.

- When we want to point to educational resources, we can not simply point to the Guide tag. Guides contain also articles that are not suited for education.

Possibles solutions: Distinguish between Education Guides / Research Guides. Add a keyword "education". Educational guides could in the later case be acces

[2017-11-14 10:35] sefeg commented on #1738
I propose to consider the following for the moment:

- title
- type
- experiment
- year
- file_type
- collision_energy
- topic_category
- keywords

The list is basically a reflection of our facet cateories

[2017-11-14 13:48] tiborsimko commented on #1363
@atrisovic I think this one is already closed? We already have `cernopendata/modules/fixtures/data/articles/getting-started-with-cms/cms.md` in the code base...

[2017-11-14 13:52] katilp opened #1760 "Instructions for use of CMS Open Data in spreadsheets for schools and education"
My first attempt for a json content for a record (copy pasted from http://opendata-dev.web.cern.ch/record/72)

@tiborsimko @ArtemisLav let me know is it is practical for you in this way?
Feel free to add other fields if needed.

If "school" and "education" can be keywords, they are not needed in the record title.

@RaoOfPhysics Could you check the language, please?

[code]

The file to attach in t

[2017-11-14 14:04] tiborsimko commented on #1374
@ioannistsanaktsidis I talked to @annatrz about how to implement this.  Basically it should be a redirection to search where we enable only certain types...

BTW I see the URL is broken now:

- http://opendata-dev.web.cern.ch/research

because of:

[code]

If you plan to take this issue over while @annatrz  is away, I can provide the details...

[2017-11-14 14:06] tiborsimko commented on #1385
The template is done, the redirect will work once #1664 is merged, so I'm closing the issue.

[2017-11-14 14:06] #1385 closed

[2017-11-14 14:06] ioannistsanaktsidis commented on #1374
@tiborsimko yes please provide all the required info, we can start implementing it now.

[2017-11-14 14:09] #1376 closed

[2017-11-14 14:09] #1377 closed

[2017-11-14 14:09] #1384 closed

[2017-11-14 14:09] #1621 closed

[2017-11-14 14:18] katilp opened #1761 "Jupyter notebooks using CMS Open Data for schools and education"
json content for a record (copy pasted from http://opendata-dev.web.cern.ch/record/72)

@tiborsimko @ArtemisLav
Feel free to add other fields if needed.

If "school" and "education" can be keywords, they are not needed in the record title.

@RaoOfPhysics Could you check the language, please?

[code]

The file to attach in the record is download from
https://github.com/cms-opendata-education/cms-ju

[2017-11-14 14:22] diegodelemos commented on #1332
Code available in GitLab@CERN

[2017-11-14 14:22] #1332 closed

[2017-11-14 14:43] sefeg commented on #1753
This combines COD2 pages and the articles discussed in #1732 (those that are ready). **Everyone can directly edit this table.**

page idea | old URL | new URL (/articles/slug) | page title
----------|--------|--------------|-----
 VMs for ALICE | `/VM/ALICE` | `/documentation/virtual-machines-alice` | ALICE Virtual Machines: How to install
VMs for CMS | `/VM/CMS` | `/documentation/virtual-machines

[2017-11-14 14:45] katilp opened #1762 "Instructions for use of CMS Open Data in R for schools and education"
json content for a record (copy pasted from http://opendata-dev.web.cern.ch/record/72)

@tiborsimko @ArtemisLav
Feel free to add other fields if needed.
For the records #1760, #1761, we have multiple contributors (authors), for this record the author is
Edith Natalia Villegas Garcia

If "school" and "education" can be keywords, they are not needed in the record title.

@RaoOfPhysics Could you chec

[2017-11-14 15:09] tiborsimko commented on #1753
@sefeg Thanks!

Regarding `getting-started-<year>-cms`, I think it's better to have the order `<topic>-<exp>-<year>` rather than `<topic>-<year>-<exp>`,  because some experiments don't have year..

Moreover, since we also have `cms-physics-objects-<year>`, perhaps we should standardise upon the following scheme:

- `<exp>-<topic>-<year>`

which would give:

- cms-physics-objects-2010
- cms-getting

[2017-11-14 15:12] sefeg commented on #1753
Agreed! I updated the table accordingly

[2017-11-14 17:24] tiborsimko opened #1763 "templates: fix display of `relations` property"
**Example:**

- http://opendata-dev.web.cern.ch/record/14

**Problem:**

`Parent Dataset: /Mu/Run2010B-v1/RAW`  is linked even though we don't host the given RAW dataset.

**Solution:**

Don't link the `title` property in `relations` in the `isChildOf` and other cases. Display the title only.  Link only when we have `recid` or `doi` or other such knowable linkable property there.

[2017-11-14 18:29] #1713 closed

[2017-11-14 22:56] katilp commented on #1755
Some feedback related to the (updated) contents of this guide (wrong/missing links etc):

- Does event display (i.e direct link to it) appear in the search somewhere?
- It would be useful to add a keyword "display" for event display files
- "Need help?" has disappeared from http://opendata-dev.web.cern.ch/visualise/events/CMS
- record http://opendata-dev.web.cern.ch/record/52 has a wrong link, sho

[2017-11-15 07:05] tiborsimko commented on #1705
@katilp We have basically three kinds of configuration files: SIM/LHE/RECO ones, HLT ones, and pile-up. I thought of storing them in the same place on EOS in the 2011 directory:

- sim/lhe/reco example:
   `/eos/opendata/cms/configuration-files/2011/a8b87e4a93ad780670c2864baf026adc.configFile`
- hlt example:
   `/eos/opendata/cms/configuration-files/2011/cdaq_physics_Run2011_5e32_v5.2_HLT_V2.py`
-

[2017-11-15 07:18] katilp commented on #1705
OK, for the naming.
And also storing them in the same place, it sounds good.
Just a remark for the pile-up config, I could not easily find it linked in any place I would expect (e.g. any AODSIM record or the pile-up page). I need to check that, because it is not normal that it is not referenced anywhere. Do you have a track of its origin, i.e. where and why it was extracted?

[2017-11-15 07:22] katilp commented on #1705
Just to add that the pile-up config looks as being useful information so it is OK that it is there, it is just odd that it is not linked to. Maybe it should be in http://opendata.cern.ch/about/CMS-Pileup-Simulation

[2017-11-15 08:22] tiborsimko opened #1769 "installation: DEV friendly setup"
We currently have:

[code]

It is not good to hardcode DEBUG in the config file like that.

Let's create `docker-compose.yml` (=suitable for production) and `docker-compose-dev.yml` (=suitable for development) where we can set up all the various asset debugging related environment variables properly (off for production, on for development).

This will be especially important once we have nginx cac

[2017-11-15 08:32] tiborsimko commented on #1705
The pile-up record is here:

- http://opendata.cern.ch/record/3600

It is linked from the MC datasets in JSON, for example:

[code]

but it is not displayed currently in the HTML templates...

👍

I'll create a separate issue about this.

[2017-11-15 08:36] tiborsimko opened #1770 "templates: display pile-up information for CMS Simulated Datasets"
Display pile-up information for CMS Simulated Datasets records.

The pile-up record is here:

- http://opendata.cern.ch/record/3600

and it is linked from the MC datasets in JSON, for example:

[code]

but it is not displayed currently in the HTML templates anywhere.

(1) We should enrich record detailed template to display the pile-up information.

(2) We should also link record 3600 from `http:/

[2017-11-15 08:47] tiborsimko commented on #1316
@pamfilos At the end I went for having the files in the same directory and name them like `sha1.configFile.py`. (See PR #1771.) To respect old URLs `/record/NNN/files/XXX`, we can do a codebase hack to look for XXX.py if XXX ends with 'configFile'. In this case, no new functionality regarding "name"  or "alias" property would be necessary...

[2017-11-15 08:54] sefeg commented on #1518
Current status: The guides are deployed on dev. I am working on updating the links. The current version of the articles can be found [here](http://opendata-dev.web.cern.ch/articles/cms-guide-to-education-use-of-cms-open-data), [here](http://opendata-dev.web.cern.ch/articles/cms-guide-to-research-use-of-cms-open-data) and [here](http://opendata-dev.web.cern.ch/articles/cms-response-to-errors).

[2017-11-15 09:56] katilp commented on #1518
I've made a pull request with substantial changes to Guide to education use
https://github.com/cernopendata/opendata.cern.ch/pull/1767 so maybe avoid update before it is merged

[2017-11-15 11:11] RaoOfPhysics commented on #1760
[code]

[2017-11-15 11:11] #1703 closed

[2017-11-15 11:14] #1702 closed

[2017-11-15 11:16] #1699 closed

[2017-11-15 11:16] RaoOfPhysics commented on #1761
[code]

[2017-11-15 11:18] #1697 closed

[2017-11-15 11:18] #1705 closed

[2017-11-15 11:18] #1711 closed

[2017-11-15 11:18] RaoOfPhysics commented on #1762
[code]

[2017-11-15 11:19] RaoOfPhysics commented on #1762
@katilp: Can we migrate this repo to Jupyter as well, using the IR Kernel? It's probably better than a PDF.

[2017-11-15 11:19] #1723 closed

[2017-11-15 11:20] #1686 closed

[2017-11-15 11:21] katilp commented on #1762
@RaoOfPhysics yes, it would be better,  although I have never used R so I won't be able to do it quickly

[2017-11-15 11:22] #1688 closed

[2017-11-15 11:23] #1720 closed

[2017-11-15 11:24] #1719 closed

[2017-11-15 11:25] #1718 closed

[2017-11-15 11:26] RaoOfPhysics commented on #1762
@katilp: I meant to offer to do this! Sorry it didn't come across. I'll need to learn how to ensure that something like Binder can grab the IR Kernel directly. Will poke around. Keeping this tab open for now.

[2017-11-15 11:36] RaoOfPhysics commented on #1463
@tiborsimko: Shall I take care of this?

[2017-11-15 12:11] RaoOfPhysics commented on #1732
@katilp: As I understand it, our priorities are:

1. 2012 release
2. Jet substructure paper by MIT theorists
3. Anything else…

Perhaps for now the first two will suffice?

Also, @sefeg, can you add the check-list + links to the OP of this issue, so we can track progress directly there?

[2017-11-15 12:58] ioannistsanaktsidis commented on #1655
@tpmccauley  for loading the standalone previewer inside  the record, which is the correct function to use ? https://github.com/cms-outreach/ispy-webgl/blob/cod3/js/files-load.js#L202 is this function doing the job?

[2017-11-15 13:09] katilp opened #1781 "Event display and histogramming in search - need a category for them?"
Can CMS event display and online histogramming be found in search?
They should. Do they belong to any category, if not they could be "Online tools"
@sefeg @daslerr @tiborsimko What do you think?

[2017-11-15 13:09] katilp commented on #1732
@RaoOfPhysics Yes, that's I how I would see it. 3 can be Guide to education use of CMS Open Data
(which has just been updated)

[2017-11-15 13:13] katilp opened #1782 "Keyword "display" for Event display files? Or ig -> ig (event display) in file type."
Can we have the keyword "display" for event display files, or then just add (event display) after ig in the search menu so that even non experts would easily find these files?

[2017-11-15 13:37] katilp opened #1783 "CMS event display: need Help? button"
Would there be the "Need Help?" button in the event display where it used to be (top right)?

[2017-11-15 13:39] katilp opened #1784 "Particle Physics playground record/52 on dev has a wrong link"
Is: http://mattbellis.github.io/Particle-Physics-Playground/
Should be: http://particle-physics-playground.github.io/

[2017-11-15 13:40] katilp commented on #1755
Separated the above list to issues of their own, the last is being taken care of already

[2017-11-15 13:40] sefeg commented on #1732
Done! Moved the list to the top of the issue. @RaoOfPhysics

[2017-11-15 13:42] RaoOfPhysics commented on #1732
@sefeg: Ace, thanks. :)

[2017-11-15 13:56] #1364 closed

[2017-11-15 14:04] katilp opened #1785 "CMS: Update the pileup info page to include information for 2012"
The original twiki page has been updated by Mike in:
https://twiki.cern.ch/twiki/bin/view/CMSPublic/PublicPileupInfo
The pile-up record can now be updated with the new information (i,e the text and the plot which is under 2012 in the page above).

In the old portal we had two records

http://opendata.cern.ch/record/70
http://opendata.cern.ch/about/CMS-Pileup-Simulation
(NB, one is pileup, other is

[2017-11-15 14:05] sefeg commented on #1781
I guess that there would have to be a record describing the tool and linking to it?

Like _[Explore CMS open data and visualise detector events](http://opendata-dev.web.cern.ch/record/58)_ (that I found searching for CMS event display). There is also [iSpy-WebGl](http://opendata-dev.web.cern.ch/record/555). The second is assigned to the collection "CMS-Tools"

[2017-11-15 14:10] katilp commented on #1785
The 2012 text mentions reweighing and we may want to explain/add an example of what it means:

Mike says there is a DAS module on this, which is here:

https://twiki.cern.ch/twiki/bin/view/CMS/SWGuideCMSDataAnalysisSchool2012PileupReweighting

Definitely examples are available there.  The main Twiki page is:

https://twiki.cern.ch/twiki/bin/viewauth/CMS/PileupInformation#Reweighting_Tools

the too

[2017-11-15 14:17] katilp commented on #1781
@sefeg What users would expect, is a direct link to these tools. These two records are not where 99.99999% users want to land. If we can avoid intermediate clicking for these online resources, it would be much better. Would it possible to add a category of their own for them?

[2017-11-15 14:21] sefeg commented on #1781
I agree! I am just not sure how we can show a direct "preview" of the Event display page in the search results. But for that, @tiborsimko is much better suited to comment.

[2017-11-15 14:28] katilp opened #1786 "CMS: example on reweighing MC for pile-up distribution for 2012"
Separate from #1785

For the pile-up information (https://twiki.cern.ch/twiki/bin/view/CMSPublic/PublicPileupInfo the source of http://opendata-dev.web.cern.ch/record/70 and about/pileup on the portal),
the 2012 text mentions reweighing and we may want to explain/add an example of what it means:

Mike says there is a DAS module on this, which is here:

https://twiki.cern.ch/twiki/bin/view/CMS/SWGu

[2017-11-15 14:30] sefeg opened #1787 "Add guides to "About CMS Open Data" page"
As discussed with @katilp and Achim, we should list the most important guides on the [About CMS](http://opendata-dev.web.cern.ch/about/cms) collaboration page.

We have to decide which resources we want to add to such a box.

So far we discussed:
- [Guide to education use of CMS Open Data](http://opendata-dev.web.cern.ch/articles/cms-guide-to-education-use-of-cms-open-data)
- [Guide to research us

[2017-11-15 14:32] katilp commented on #1762
Oh cool, that would be great, thanks! Feel free to add it to the repo.

[2017-11-15 14:37] katilp commented on #1787
@sefeg

These two guides are quite comprehensive, so in my view the two of them will be enough in About CMS.

I'm a bit hesitant for Getting started, I would not like to distract the readers while they are going through it. Maybe a link to [Research guide](http://opendata-dev.web.cern.ch/articles/cms-guide-to-research-use-of-cms-open-data) at the end of the instructions....

[2017-11-15 14:51] katilp opened #1789 "Tutorials and worksheets for CMS Event Display for schools and education"
json content for a record (copy pasted from http://opendata-dev.web.cern.ch/record/72)

@tiborsimko @ArtemisLav
Feel free to add other fields if needed.

If "school" and "education" can be keywords, they are not needed in the record title.

@RaoOfPhysics Could you check the language, please?

[code]

The file to attach in the record is download from
https://github.com/cms-opendata-education/cms-ev

[2017-11-15 15:36] RaoOfPhysics commented on #1789
[code]

[2017-11-15 15:39] sefeg opened #1790 "Assigning "education" keyword to applicable resources"
When we wanted to link to educational resources on COD3, we realized that simply linking to "Guide" is not sufficient, as also resources are associated that are not suitable for educational purposes (e.g. VM related guides). The idea is to introduce a keyword called **education**. We have to decide which resources should be associated to an **education** keyword.

My initial thoughts on CMS resour

[2017-11-15 15:44] katilp commented on #1790
Thanks @sefeg!
The new records I've propose recently are all education. @tiborsimko Where does the keyword go in json see e.g. #1760 #1761 #1762 #1789

[2017-11-15 16:03] ioannistsanaktsidis commented on #1389
Closing as already addressed in previous PRs.

[2017-11-15 16:03] #1389 closed

[2017-11-15 16:25] ioannistsanaktsidis commented on #1453
Closing as already addressed in previous PRs.

[2017-11-15 16:25] #1453 closed

[2017-11-15 16:25] ioannistsanaktsidis commented on #1519
Closing as already addressed in previous PRs.

[2017-11-15 16:25] #1519 closed

[2017-11-15 16:29] #1375 closed

[2017-11-15 16:29] #1379 closed

[2017-11-15 16:29] #1380 closed

[2017-11-15 16:29] #1381 closed

[2017-11-15 16:29] #1382 closed

[2017-11-15 16:29] #1383 closed

[2017-11-15 16:29] #1369 closed

[2017-11-15 16:29] #1374 closed

[2017-11-15 18:32] RaoOfPhysics commented on #1762
Before merging, please make sure that https://github.com/cms-opendata-education/cms-rmaterial-multiple-languages/pull/1 is closed.

[2017-11-16 08:06] katilp commented on #1298
Update by Jakob done, testing ongoing (reading gets stuck, but it needs to be checked from scratch)

[2017-11-16 08:08] katilp opened #1807 "See what OpenHTC can offer for reading the condition data"
As discussed with Dave Dykstra, once #1298 done, see whether https://openhtc.io/ could offer a solution for faster reading of condition data.

[2017-11-16 09:31] #1388 closed

[2017-11-16 10:39] #1664 closed

[2017-11-16 10:54] hjhsalo commented on #1386
Closing since PR #1747 should take care of this.

[2017-11-16 10:54] #1386 closed

[2017-11-16 12:26] pamfilos opened #1811 "fixtures: wrong filetype in authors-list"
filetype is assigned as ```xrootd```. Should be something else or empty

https://github.com/cernopendata/opendata.cern.ch/blob/master/cernopendata/modules/fixtures/data/records/cms-author-list.json#L19036

https://github.com/cernopendata/opendata.cern.ch/blob/master/cernopendata/modules/fixtures/data/records/opera-author-list.json#L538

https://github.com/cernopendata/opendata.cern.ch/blob/master/

[2017-11-16 13:22] ioannistsanaktsidis commented on #1536
Closing as already addressed in previous PRs.

[2017-11-16 13:22] #1536 closed

[2017-11-16 13:22] #1763 closed

[2017-11-16 16:10] #1390 closed

[2017-11-16 16:43] #1624 closed

[2017-11-16 16:43] #1644 closed

[2017-11-16 16:43] #1651 closed

[2017-11-16 18:03] tiborsimko commented on #1811
We have only two types at the moment:

- `index` meaning that the file is of a "file index" type that is listing location of other data asset files;
- `xrootd` meaning that the file is of a "data asset" type that can be accessed via xrootd protocol

Note that all the various "small" files -- PDF, CSV, PY, PNG etc -- are of the `xrootd` type by default, since they are living on an XRootD-powered ba

[2017-11-17 00:13] #1710 closed

[2017-11-17 00:15] #1708 closed

[2017-11-17 00:17] #1706 closed

[2017-11-17 00:18] #1701 closed

[2017-11-17 00:19] #1700 closed

[2017-11-17 00:21] #1704 closed

[2017-11-17 00:25] #1689 closed

[2017-11-17 00:29] #1690 closed

[2017-11-17 00:33] #1687 closed

[2017-11-17 00:35] #1692 closed

[2017-11-17 00:36] #1696 closed

[2017-11-17 00:38] #1691 closed

[2017-11-17 00:39] #1707 closed

[2017-11-17 00:40] #1693 closed

[2017-11-17 00:43] #1717 closed

[2017-11-17 00:44] #1716 closed

[2017-11-17 00:45] #1721 closed

[2017-11-17 00:47] #1698 closed

[2017-11-17 01:02] tiborsimko commented on #1655
@ioannistsanaktsidis Regarding *embedded* previewer mode (inside records, on `/record/NNN` pages), as opposed to *standalone* previewer (outside records, on `/visualise/events/cms` pages), you can also check what was done in COD2 regarding local file loading:

- https://github.com/inveniosoftware/invenio-previewer-ispy/blob/master/invenio_previewer_ispy/templates/previewer/ispy_base.html

(obvious

[2017-11-17 01:27] tiborsimko commented on #1790
@katilp Regarding the addition of the education keyword to the existing COD2 records, we can best do it in an automated wa: it would be enough if you construct a list of wanted record IDs, such as `55 58 72 ...`, and I'll automatise the addition afterwards. This can then be used as an example for writing new COD3 records.

[2017-11-17 01:51] tiborsimko commented on #1782
The file extension is `.ig`, so it seems good to keep it like that literally in my eyes.

I'd rather prefer using the "keyword" field, or perhaps break down the "type" values "Dataset > Derived" to better distinguish between various "derived" datasets (PAT tuples, event display files...), or perhaps use `files.type` field.

However, and more importantly, isn't it enough if people search for the wo

[2017-11-17 08:18] #1667 closed

[2017-11-17 09:18] #1784 closed

[2017-11-17 09:53] pamfilos commented on #1811
ok @tiborsimko . The only reason I created the issue is because I think it is a bit confusing, plus it would help with some UI issue that might appear in the future.

But, If we like it the current way, we can have workarounds

[2017-11-17 09:59] sefeg commented on #1782
I think that our perception that "only" facets are used for searching are biased because we have been testing them a lot like this in the last few weeks. In practice, we have not seen anyone who clicked on the search button without specifying any search query. And I would not expect this to be a typical behavior. Asking users to find e.g. "<collaboration> guides", most intuitively typed the whole

[2017-11-17 10:06] #1709 closed

[2017-11-17 10:38] tiborsimko commented on #1811
@pamfilos UI-wise, all "index" files should be displayed in a separate box, and all the other "non-index" files should be treated as the main data assets of the record, and displayed in another box in a paginated way.  Is there a concrete issue that would you need to introduce a work around for?

[2017-11-17 15:09] #1371 closed

[2017-11-17 15:09] #1370 closed

[2017-11-17 15:09] #1372 closed

[2017-11-17 15:19] sefeg commented on #1685
@annatrz I updated the tasks on the top of this issue based on our latest findings and discussions this week

[2017-11-19 15:03] tiborsimko opened #1826 "fixtures: fix loading of record 1395"
Record 1395 from `cms-simulated-datasets-Run2011A.json` contains ~15000 files, which seems to cause troubles when loading it with files from the fixtures.

Investigate more permissive timeouts.

Investigate switching to bulk batch indexing.

[2017-11-19 15:06] tiborsimko commented on #1826
See how it looks like in COD2:

- http://opendata.cern.ch/record/1395

[2017-11-20 03:32] katilp commented on #1286
@tiborsimko This was an update to CODP2, @ArtemisLav has made the PR, can we make sure that the updates are propagated to CODP3 (PR #1294 is still open)?

[2017-11-20 04:44] katilp opened #1827 "CMS: New record: Luminosity information for 2012"
Record as http://opendata-dev.web.cern.ch/record/1051

With the corresponding files:

- summary table
   - all 2012 [lumi2012.txt](https://github.com/cernopendata/opendata.cern.ch/files/1486457/lumi2012.txt)
   - RunB [2012RunBlumi.txt](https://github.com/cernopendata/opendata.cern.ch/files/1486458/2012RunBlumi.txt)
   - RunC [2012RunClumi.txt](https://github.com/cernopendata/opendata.cern.ch/file

[2017-11-20 07:39] #1598 closed

[2017-11-20 08:25] tiborsimko commented on #1811
(CC also @ArtemisLav regarding data model documentation)

[2017-11-20 09:25] katilp commented on #1790
@RaoOfPhysics @sefeg @tiborsimko We have education records at university level and at school level, to my view (as I'm working often with high-school teachers) it would be useful to differentiate.
Can we have "education" (can cover all education), and then "school" as an additional keyword?
That would give:
education: http://opendata-dev.web.cern.ch/articles/cms-guide-to-education-use-of-cms-open-

[2017-11-20 09:37] katilp commented on #1782
@tiborsimko  for this use case the search fails  http://opendata-dev.web.cern.ch/search?page=1&size=20&q=event%20display  returns more than 400 files for CMS only as it takes some MC as well (event is a very generic word...). I have a feeling that any "complex" (i.e. more than one word) search may turn out to be unstable in the future as we add records from different sources, that is why I would p

[2017-11-20 09:41] katilp commented on #1782
It is however true that  searching display only returns what is needed http://opendata-dev.web.cern.ch/search?page=1&size=20&q=display as well as "event display"
http://opendata-dev.web.cern.ch/search?page=1&size=20&q=%22event%20display%22

[2017-11-20 10:33] RaoOfPhysics commented on #1790
I think it would be helpful to distinguish between the target groups' levels.

[2017-11-20 12:01] tiborsimko commented on #1811
As discussed IRL:

1. Let us remove the `xrootd` type value that is basically describing "protocol" rather than "type". (@tiborsimko)

2. Let us display separate the "File indexes" UI box (when `files.type == 'index'`) and "Files" UI box (otherwise). (@pamfilos)

It is not necessary to single out ROOT files, because some datasets are in the ROOT format, some in the CSV format, some in the IG forma

[2017-11-20 12:24] #1481 closed

[2017-11-20 12:35] katilp commented on #1552
@zenaiev Coud you check, I think that "Then install and run the Demo (demo analyzer) program following the instructions at http://opendata.cern.ch/VM/CMS/2011#testvalidate2011." Is not needed here, is it? Thanks!

[2017-11-20 12:37] katilp opened #1830 "Create record for inclusive jet cross section validation code"
Title: CMS Jet tuple production for 2011 data

Authors: Matias Haapalehto, Oleksandr Zenaiev

Description:
This code for production of analysis tuple Jet dataset is set up at Research level, i.e. it requires university-student-level programming experience. Minimal acquaintance with Linux and the ROOT analysis package (https://root.cern.ch/) as well as a basic text editor is needed.

Use with:
Use

[2017-11-20 12:40] zenaiev commented on #1552
Correct, not needed, thanks!

[2017-11-20 12:59] zenaiev commented on #1830
MC sample is QCD_Pt-80to120_TuneZ2_7TeV_pythia6

[2017-11-20 13:17] ioannistsanaktsidis commented on #1741
Closing as we can discuss later about the general detail view. Right now as it is it corresponds to the old COD2 version.

[2017-11-20 13:17] #1741 closed

[2017-11-20 13:36] tiborsimko opened #1833 "search: showing "more" facet values"
(1) Note that we have many records with `distribution.formats` equal to `root`.  Yet, when someone launches an empty search, they don't appear in the file type facet list offered by default:

![file-types](https://user-images.githubusercontent.com/517546/33020454-aaf5db46-cdfe-11e7-845a-9fd35a2f592a.png)

The "root" value is not displayed there, even though it is relatively popular.  Moreover, the

[2017-11-20 13:37] #1811 closed

[2017-11-20 13:39] katilp commented on #1830
OK, thanks, updated above

[2017-11-20 13:49] tiborsimko commented on #1790
@ArtemisLav Related to the keyword enrichment task, we currently have:

![keywords](https://user-images.githubusercontent.com/517546/33021356-e08173e4-ce01-11e7-84e2-e4a4ce6ddca0.png)

Let's take advantage and standardise the values here.  I'd vote for using "masterclass" everywhere in place of "masterclasses".

[2017-11-20 13:55] daslerr commented on #1833
Part of why we discussed alphabetical order was so the facets wouldn't change places in the list when the result values were recalculated. I still think this is a good idea. So my vote is for having a "more" button.

[2017-11-20 14:03] tiborsimko commented on #1833
@daslerr Yes, a "more" button would be nice to have in any case, so that people could "browse" in the value list, as it were. But I wonder whether the second situation above is really UX-friendly with the current showing-zeros approach: the  users may be thinking that the "more" button will give them "more of zeros", which they are not really interested in seeing 😄 In my eyes, for some facets, whe

[2017-11-20 14:16] tiborsimko commented on #1826
Sort of good news 😄 Following up #1831, I could load the record locally. However, it takes about ~10 minutes to load this big record on my laptop, and the display is slow...

[2017-11-20 14:19] tiborsimko commented on #1790
OK. @ArtemisLav Shall we go for "school" or "high-school"?

[2017-11-20 14:21] daslerr commented on #1833
Between the two options presented above, I prefer number 2. But I do think that returning to the practice of not showing facets that have 0 results could be less confusing. We can discuss with @sefeg tomorrow to make sure we're considering all implications and then decide.

[2017-11-20 14:30] ArtemisLav commented on #1790
For me, "high-school" would make more sense, since "school" does not mean the same thing everywhere (in some places it is used for primary-secondary education only and in others for all educational levels), so its meaning wouldn't be completely clear.

[2017-11-20 14:31] RaoOfPhysics commented on #1790
Yeah, this is tricky. Some exercises might also be done with middle-school students. And there is "grad school". But I think "high school" is good.

[2017-11-20 14:34] katilp commented on #1790
Careful though, we may have material adapted for earlier grades as well (i.e. event display, the material in preparation for use Finland). In English terms though school in generic, isn't it?

[2017-11-20 14:43] daslerr commented on #1790
To me, there's not a big enough difference between "education" and "school" as keywords for the distinction to be immediately obvious. For my version of English, "school" is generic, but it's almost too generic, because it's not necessarily limited to secondary and below. It's common for people who talk like me to say "when I was in school" and really mean when they were at university. This might

[2017-11-20 14:44] ArtemisLav commented on #1790
We kind of had this conversation previously, when we were talking about tagging materials as "beginner", "advanced" and so on. It _is_ tricky, which is why we ended up dropping that, but if you think it would be useful, let's go for it it.

However, if we want to avoid the confusion with "school", we would then need more than one keyword to cover all the possible educational levels (high school, m

[2017-11-20 14:46] tiborsimko opened #1836 "fixtures: insert/replace record loading mode"
In order to work with records on development and production machines, it is useful to have an easy possibility to load the same record more than once, for example to propagate record changes following data updates. This basically means doing sometimes a REPLACE operation rather than an INSERT operation.

The usage scenario:

[code]

The wanted behaviour, "insert" or "replace", could be governed by

[2017-11-20 14:47] katilp commented on #1790
But if I were a teacher, I would be more than happy to have a keyword school... it clearly indicates that the level for the material is right while with "beginner", "advanced" it could also indicate a "beginner" in research side

[2017-11-20 14:51] tiborsimko opened #1837 "UI: using angular-ui.github.io ?"
Sometimes the site seems slow to operate due to the slow `anagular-ui.github.io` connections. This is because we are using:

[code]

Needed?

[2017-11-20 14:55] tiborsimko opened #1838 "UI: improve mobile experience"
Improve COD3 experience when browsing on a mobile device.

E.g. searching is now an important COD3 facility, after we have hidden the COD2-style collection navigation. But the search bark is hidden in the narrow mobile view...

E.g. the page width is "wider" than the displayed size by some pixels...

[2017-11-20 14:55] daslerr commented on #1790
I agree that "beginner" and "advanced" aren't clear enough about at what the person is a beginner, so I think some kind of education-specific distinction makes sense. In the US, we still say "primary education" and "secondary education", so if that's also used in the UK/EU, then that could be a good thing to use.

[2017-11-20 14:58] tiborsimko opened #1839 "events: `/visualise/events/cms` does not load files"
The standalone event display does not work on COD3.

[2017-11-20 15:05] katilp commented on #1790
That's long for a keyword.... and non-native speakers would be lost with primary/secondary. Could we just go simple? No choice is perfect, so we could as well take what is the easiest... For the moment, I would not separate "middle" or "high" school, the entries for the school stuff in general are not so many and the teachers can do it themselves.

[2017-11-20 15:28] tpmccauley commented on #1839
I assume this is a problem with files not loading? It looks like at least for one record I tried there is no file to load. http://opendata-dev.web.cern.ch/record/615/files/ gives me a "page not found"

[2017-11-20 15:39] ioannistsanaktsidis commented on #1839
@tpmccauley indeed there are no files loaded due to some loading-time issues that we have. My question is about this part.
<img width="686" alt="screen shot 2017-11-20 at 16 37 31" src="https://user-images.githubusercontent.com/7301890/33026585-102aa52a-ce11-11e7-9e87-b0089504a5ad.png">

where it tries to fetch the files from record -1 ?

![screen shot 2017-11-20 at 16 39 06](https://user-images.g

[2017-11-20 15:42] #1675 closed

[2017-11-20 15:42] #1540 closed

[2017-11-20 15:49] atrisovic commented on #1592
I think `/about/cms` should be redirected to `/articles/about-cms`
http://opendata-dev.web.cern.ch/articles/about-cms
@tiborsimko what do you think?

[2017-11-20 15:52] tpmccauley commented on #1839
@tiborsimko that is a placeholder for the new event display files mentioned here https://github.com/cernopendata/opendata.cern.ch/issues/1404 which need to be uploaded and receive record numbers

[2017-11-20 15:57] ioannistsanaktsidis commented on #1839
@tpmccauley  nice, also regards on loading the previewer in the record itself, which function we should call and pass the file ? Is it https://github.com/cms-outreach/ispy-webgl/blob/cod3/js/files-load.js#L390 ?

[2017-11-20 16:13] tpmccauley commented on #1839
That's it. Yes @ioannistsanaktsidis

[2017-11-20 16:23] tiborsimko commented on #1316
... so, for a URL like `record/111/files/configFile.py`, you would look for the first file that has filename `something.configFile.py`, and you would serve that one. @pamfilos Can you take care of this one?

(Otherwise I checked some existing file URL examples, and it looks like we should be good to close this issue.)

[2017-11-20 16:32] tiborsimko commented on #1592
We have some pages living as "simple Jinja templates" (started in summer), and some living as "articles" (started later). The distinction was that the first ones are of the nature that it is not necessalry for them to appear in searches (such as the privacy policy page, the terms of service page, etc), while the second ones may be interesting for search (so they should live as records). Perhaps th

[2017-11-20 17:15] tiborsimko commented on #1552
@katilp @zenaiev Can you please tag the repository  https://github.com/cms-opendata-validation/2011-doubleelectron-doublemu-mueg-ttbar with a release tag, for example v1.0.0, so that we can grab the tarball and ingest it into CERN Open Data?  (We prefer to always ingest tagged releases, so that when we mint the software record with a DOI, there will be unique identification which version does this

[2017-11-20 17:16] tiborsimko commented on #1556
@katilp Can you please tag the repository https://github.com/cms-opendata-analyses/DimuonSpectrum2011 with a release tag, for example v1.0.0, so that we can grab the tarball and ingest it into CERN Open Data? (We prefer to always ingest tagged releases, so that when we mint the software record with a DOI, there will be unique identification which version does this DOI belong to.) Thanks!

[2017-11-20 17:27] zenaiev commented on #1552
@tiborsimko version 1.0.0 should be available now

[2017-11-20 17:33] tiborsimko commented on #1790
FWIW the original PR that I prepared (#1834) uses a simple "school" already... The proper naming is hard 😄 but can be easily changed based on consensus.

As for me, I agree that "primary/secondary education" would be kind of long and too official-sounding, and I also think that "education" and "school" may be confusing... What about keeping "education" and going for "teachers" or "teaching" instea

[2017-11-20 18:05] katilp commented on #1790
"teachers" or "teaching" would fit very well, it is certainly a keyword which teachers would easily pick 😄

[2017-11-20 18:26] katilp commented on #1556
OK, @zenaiev could you advice how to do that? Thanks!

[2017-11-20 18:30] zenaiev commented on #1556
@katilp go to repository webpage -> "0 releases" (push there) -> "create a new release" -> enter tag version -> "publish release"

[2017-11-20 18:34] katilp commented on #1556
@zenaiev Thanks! @tiborsimko v1.0.0 done

[2017-11-21 10:13] ArtemisLav commented on #1790
"teaching" looks okay to me. @sefeg @daslerr ?

[2017-11-21 10:18] tiborsimko commented on #1552
@zenaiev Thanks, ingested.

[2017-11-21 10:19] tiborsimko commented on #1556
@katilp Thanks, ingested.

[2017-11-21 10:33] tiborsimko commented on #1790
https://github.com/cernopendata/opendata.cern.ch/pull/1834 updated to "teaching".

[2017-11-21 12:17] RaoOfPhysics opened #1842 "RFC: anchors for <H> tags for (optional) TOC on long articles/documentation"
For example, I would like to break the [CMS education guide](http://opendata.cern.ch/docs/cms-guide-for-education) into three sections, aimed broadly at:

- Beginner (event displays etc.)
- Intermediate (histograms etc.)
- Advanced (VM-based analysis etc.)

It would be nice if I could add an optional `{:.toc}` tag at the top to generate a table of contents that links to the header tags for each se

[2017-11-21 12:28] RaoOfPhysics opened #1843 "RFC: Markdown formatting: don't assign HTML linebreaks for single breaks in .md?"
Most markdown converters do not natively assign linebreaks when converting .md files to .html. The advantage is that you can have a separate sentence on a new line and, unless there are TWO linebreaks, everything gets added to a single paragraph. This makes it easier to diff .md files:

This markdown chunk…

[code]

… (usually, but not in GitHub comments) gives us:

Our .md files currently treat l

[2017-11-21 12:31] #1552 closed

[2017-11-21 12:31] #1556 closed

[2017-11-21 13:52] #1465 closed

[2017-11-21 14:02] #1837 closed

[2017-11-21 14:32] tiborsimko commented on #1839
We'll upload them as part of the COD3-Beta sprint.  However I was trying to display some old 2010 files with the standalone previewer and it wasn't working either?

[2017-11-21 14:35] katilp opened #1846 "Subcategories for Documentation and Software"
Subcategories for Documentation topics:
- Policy: 410 411 412 413
- Help: 57 58
- Activity: 4901 41 330 52 53 61 329 55 50 51 72 60 59 40
- Author list: 450 451 452
- Report: 56
- Guide: add 71 70

Software will follow...

[2017-11-21 15:17] tiborsimko opened #1849 "UI: styling of the file download box"
We currently have:

![files-box](https://user-images.githubusercontent.com/517546/33079941-25bcec2e-ced7-11e7-8445-f14e9ef84536.png)

Two observations made by @katilp:

(1) The next/previous links should be styled.

(2) The "EOS Link" is not necessary and may confuse people who click on it.  Let's rather not show this. (Advanced users will get this XRootD location information from the hfile indexe

[2017-11-21 15:21] tiborsimko commented on #1846
@ArtemisLav Can you please see with @katilp and complete the list? I'll then amend the records as needed...

[2017-11-21 15:29] tiborsimko commented on #1263
@ArtemisLav Here is the information for creating three new Condition Data records for the CMS 2012 data release.  (Note that I haven't copied the files onto EOS yet...)

[2017-11-21 15:33] tiborsimko opened #1850 "CMS: VM record for 2012 data release"
The VM is the same for 2011 and 2012 data release.

Shall we create a new record pointing to the 2011 record?

Shall we just change the name of the existing record to add 2012 year there?  But what about faceting e.g. when user selects 2012 value from the year facet?  (I'm afraid this field has to be unique in the current data model...)

CC @ArtemisLav @katilp

[2017-11-21 15:34] tiborsimko opened #1851 "travis: check record UI uniqueness"
Plug record ID uniqueness test as we used to have in COD2.

[2017-11-21 15:42] tiborsimko commented on #1234
This should be added to the "CMS Guide to troubleshooting" as seen with @katilp.

@atrisovic Can you please take care of this?

[2017-11-21 15:44] ArtemisLav commented on #1404
I will start creating a JSON skeleton for all these based on the structure we already use for such records (e.g. http://opendata.cern.ch/record/630). Files and titles etc. will be taken care of at a second stage in a less manual way; right now, I would need updates (if applicable) for the information in sections `Description`, `Characteristics`, `System Details`, `How were these data selected?`, `

[2017-11-21 15:53] tiborsimko commented on #1783
@ioannistsanaktsidis Can you please have a look when you will touch the standalone event display?

[2017-11-21 15:58] tiborsimko commented on #1586
Also replace `cern.ch/cms`.

[2017-11-21 16:00] tiborsimko commented on #1586
Also replace `cms.web.cern.ch`.

[2017-11-21 16:13] tiborsimko commented on #1846
Record 402 should be moved from Software to Environment.

[2017-11-21 16:26] katilp commented on #1846
Software
- Framework 220 3850 212 221
- Tool 550 352 233 200 552 1201 551
- Analysis 560 234 553 4902 101 1200 1202 1203

1000 and 1001 (and the future 1002?) could go to Environment

1203 Tool/analysis?

[2017-11-21 16:31] ArtemisLav commented on #1827
@katilp could you please provide a description for this record? Also, do I understand correctly that this is from two run periods?

[2017-11-21 16:41] ArtemisLav commented on #1846
Thanks @katilp. Most of the subcategories are fine for me; I'm just not sure about `Activity`. Also, for `Author list`, it would probably be better if it was not two words, so that it matches the rest. Perhaps just `Authors`?

[2017-11-21 16:51] katilp commented on #1846
@ArtemisLav Authors is fine, I'm quite happy with Activity/ies: usually instructions how to use open data in different contexts

[2017-11-21 16:52] tiborsimko commented on #1846
Hmm, "Documentation > Activities" seems to indeed make sense for the masterclass records we have there...

[2017-11-21 16:53] ArtemisLav commented on #1846
Sure, it's just not that clear for me, but as you prefer.

[2017-11-21 18:58] katilp commented on #1827
{
    "files": [
        {
            "checksum": "XXX",
            "uri": "root://eospublic.cern.ch//eos/opendata/cms/luminosity/2012/2012lumi.txt",
            "size": XXX
        },
        {
            "checksum": "XXX",
            "uri": "root://eospublic.cern.ch//eos/opendata/cms/luminosity/2012/2012RunBlumi.txt",
            "size": XXX
        },
       {
            "checksum": "XXX",

[2017-11-21 19:00] katilp commented on #1827
@ArtemisLav This was based on 2011 record JSON, is it OK? Note all XXX, and for my side I have to check NNN (i.e. the reference number to be cited).

[2017-11-21 19:27] #1469 closed

[2017-11-21 20:33] katilp opened #1854 "Glossary terms - title fonts and experiment specific subcategories/keywords"
1. Titles appear correctly (as written in the record source) in the listing http://opendata-dev.web.cern.ch/search?page=1&size=20&type=Glossary (i.e. CMSSW, electron, PAT....), but in the pages when opened they all start with big letters (Cmssw, Electron, Pat....).

2. Experiment-specific subcategories/keywords would be necessary
CMS: CMSSW, Run, AOD, PAT, tag, lumisection (or maybe it is the same

[2017-11-21 20:37] katilp commented on #1827
Check also the syntax for the two run periods     "run_period": "Run2012B", "Run2012C",

[2017-11-21 21:25] katilp commented on #1300
@caredg Could you transfer ownership of the repo to cms-opendata-analyses?

Also to prepare the records, it would be very helpful if you give the information needed for the SW reocrds already in the same form as in http://opendata-qa.web.cern.ch/record/5000 (i.e. Export JSON in the right side of the text, and copy-paste it here in a comment and change the fields to correspond to the trigger exampl

[2017-11-22 00:13] tiborsimko opened #1855 "CMS 2012 MC dataset move on EOS"
Move further CMS 2012 MC datasets and create file indexes for:

[code]

 except for:

[code]

(beware WH vs ZH, v2)

CC @katilp

[2017-11-22 03:41] caredg commented on #1300
@katilp , I am so sorry for the delay.  For some reason I thought I already did this.  I have just transferred ownership to the full repository.  The naming (cms_legacy_data) might not be the most accurate to describe the particular case of the Trigger examples.  I have transferred any way.
I will take a look at the needed information for the SW records.....

[2017-11-22 06:32] katilp commented on #1827
@ArtemisLav The error estimate and the reference publication have now been updated above.

[2017-11-22 07:05] katilp commented on #1300
@caredg thanks, no problem! Would you also give a release tag (see https://github.com/cernopendata/opendata.cern.ch/issues/1552#issuecomment-345764057 )

[2017-11-22 07:14] katilp commented on #1300
@atrisovic Could you prepare an article "Guide to the CMS Trigger System", category Documentation, subcategory Guide? Take the text starting from subtitle "The CMS Trigger System" and ending before "Usage instruction" from https://github.com/cms-opendata-analyses/trigger_examples/blob/master/TriggerInfo/TriggerInfoAnalyzer/README.md. When the SW records in preparation in this issue are done, the a

[2017-11-22 07:27] katilp commented on #1300
@caredg Remember to update the git commands in readme to reflect the new location, thanks!

[2017-11-22 07:35] katilp commented on #1785
@atrisovic Could you have a look at this issue? Having two pages (as currently: http://opendata.cern.ch/record/70  and http://opendata.cern.ch/about/CMS-Pileup-Simulation), is not necessary, they can be combined in one article (Category Documentation, subcategory Guide).
Then the information from 2012 can be added to that page.
The information source is https://twiki.cern.ch/twiki/bin/view/CMSPubl

[2017-11-22 08:28] katilp opened #1856 "Correction to record 5000 (Analysis code...)"
Corrections to http://opendata-qa.web.cern.ch/record/5000:
- dio link does not work
- typo: DoebleElectron -> DoubleElectron (x 2)
- list the datasets (links) with a line break (under Use with)
- @katilp checking with @zenaiev if this should be under "Analysis" and not "Validation"
- link after System details is wrong: should be to record 252 (now 249)
- remove the sentence "Then install and run t

[2017-11-22 09:01] katilp commented on #1856
Checked with Achim, this should under "Software" category, and "Analysis" subcategory, so the Collection: CMS-Validation-Utilities should be changed as well.

@tiborsimko this is an example case where the collections, as we are not showing them any more on portal, may become problematic especially for software items. For example, a software record can be both Analysis and Validation, and this can

[2017-11-22 09:39] katilp commented on #1856
Add subtitles under "Use with",

- Data (followed by the three collision data records that are already there)
- Monte Carlo, add the following list

   - TTJets_TuneZ2_7TeV-madgraph-tauola record 1544
   - T_TuneZ2_tW-channel-DR_7TeV-powheg-tauola 1638
   - tW-channel-DR_7TeV-powheg-tauola checking with @zenaiev
   - WJetsToLNu_TuneZ2_7TeV-madgraph-tauola 1633
   - DYJetsToLL_M-10To50_TuneZ2_7TeV-

[2017-11-22 09:45] ioannistsanaktsidis commented on #1322
Closing as already addressed in previous PRs.

[2017-11-22 09:45] #1322 closed

[2017-11-22 09:46] ioannistsanaktsidis commented on #1833
Is this one considered done ?

[2017-11-22 09:58] katilp commented on #1850
Maybe a new record pointing to the 2011 is the best.

But:
All 2011 software records can also be used for 2012 data equally, but in the usage instructions we usually specify which datasets to use and they have a definite year. We may need to rethink when software records for 2012 will become available.

[2017-11-22 10:03] tiborsimko commented on #1856
@katilp Regarding collections, we try to "hide" this concept in COD3, and prefer to use types instead... so collections are there mostly for old links so that they would return something suitable.  But the new links in the COD3 style won't use collections at all... so perhaps it won't be even necessary to add collections to new records after some time...

[2017-11-22 10:07] katilp commented on #1856
@tiborsimko OK, for the moment it is shown quite prominently after the title in  http://opendata-qa.web.cern.ch/record/5000 (Collection: CMS-Validation-Utilities) but if this is removed then it's all fine

[2017-11-22 10:14] sefeg commented on #1833
I agree with @daslerr that we should go for option 2! I also think that we should avoid creating facets that have a huge amount of elements assigned ("300+").

This can then become part of the next user testing iteration to verify that the selected option is usable.

Thinking about the future (after our release) we might also want to muse about spending time on correctly calculating the values of

[2017-11-22 10:42] katilp commented on #1856
If I open the zip file from github in record 5000, and extract I see the following:
![zip](https://user-images.githubusercontent.com/5859918/33123285-11c9e750-cf7a-11e7-8bd5-a7e28e4caf9c.PNG)

The first directory is what I would expect, what is all the rest?

[2017-11-22 11:01] #1615 closed

[2017-11-22 11:01] #1646 closed

[2017-11-22 11:01] #1655 closed

[2017-11-22 11:01] #1783 closed

[2017-11-22 11:02] ioannistsanaktsidis commented on #1839
Closing as problem solved.

[2017-11-22 11:02] #1839 closed

[2017-11-22 11:12] tpmccauley commented on #1404
@ArtemisLav thanks.

Of course the `Parent Dataset`s are different for each and correspondingly so are the `Description`s. Otherwise everything else is the same for all the records.

[2017-11-22 11:35] ArtemisLav commented on #1404
@tpmccauley For the description, I meant the rest of the text (i.e. `Sample event set from ... primary dataset in json format readable from the browser-based 3d event display`); the dataset name will of course be different.

So, if you are fine with how the previous event display records are, I will just copy the `Description`, `How were these data selected?`, `How can you use these data?` etc. fr

[2017-11-22 11:48] ArtemisLav commented on #1827
That's great, thanks, @katilp. No problem at all with using older records as a skeleton for the JSON. In fact, just to add a note on this, providing a JSON with metadata in the issue is actually a great way (=faster) of working for when you need new records added in my opinion, because you can already see from a similar record what metadata we would need and we skip a couple of steps in the proces

[2017-11-22 12:44] ArtemisLav commented on #1827
So, we don't have a record for HLT information for 2012, right? What shall we do with `...you can find the HLT trigger prescale factors for different run ranges in trigger configuration files listed in <a href=\"http://opendata.cern.ch/record/XXX\">this record</a> (under \"PrescaleService\")...` ?

[2017-11-22 12:50] katilp commented on #1827
It is the same (in structure) as http://opendata.cern.ch/record/1700, and  all the information should be in  #1189 for it to be completed. Let me know if there's something missing.

[2017-11-22 13:45] ArtemisLav commented on #1263
@katilp Could you please provide titles and descriptions for each record?

[2017-11-22 13:47] #1316 closed

[2017-11-22 14:49] ArtemisLav commented on #1262
@tiborsimko this just needs the information for the `files` property.

[2017-11-22 14:51] RaoOfPhysics opened #1860 "Replace "TOBEFIXED" with "FIXME" in guide pages"

[2017-11-22 15:08] #1860 closed

[2017-11-22 15:15] ArtemisLav commented on #1856
@katilp which link are you referring to? For me, everything works.

Regarding the `use_with` property, the schema does not allow such a structure (i.e. we can have only one  instance with one description and links), so right now I can only add the MC datasets to the list with the collision datasets. @tiborsimko is there another way to do this, so that it can be displayed as indicated above?

[2017-11-22 15:42] katilp commented on #1856
@ArtemisLav If I click on http://doi.org/10.7483/OPENDATA.CMS.TTGV.3IKL after DOI I get
![doi](https://user-images.githubusercontent.com/5859918/33135836-d9a3ff58-cfa3-11e7-85f5-ea3398761656.PNG)

For the dataset list, we may need to consider the possibility for adding subtitles. The analysis examples will get more complex and involve more datasets so it would be very useful for the sake of clarit

[2017-11-22 15:50] ArtemisLav commented on #1856
Ah, OK, no, this is fine, it just means that the DOI is not active yet. What I do is I "reserve" a DOI to add to the records. I only activate/register the DOIs with DataCite once the records are published, so we should only be worried if we see inactive DOI links in published records.

For the datasets, perhaps for now we could just amend the description a bit in the "Use with" section, so that th

[2017-11-22 16:01] katilp commented on #1856
OK, fine then. Can you add some text in the "Use with" section before the list? But not in the middle of the list?

[2017-11-22 16:04] ArtemisLav commented on #1856
Yes, I can amend the part that now reads "Use this with 2011 DoebleElectron, DoubleMuon and MuEG primary dataset (see detailed instructions in readme files and code)."

[2017-11-22 16:07] ArtemisLav commented on #1827
@tiborsimko what is left for this is the files and that recid for the forthcoming HLT 2012 record.

[2017-11-22 16:47] #1838 closed

[2017-11-22 17:49] katilp commented on #1263
This is for collision data Run2012B, should we have a separate entry for Run2012C (in that case, it is equal to this but FT53_V21A_AN6_RUNC in place of FT53_V21A_AN6.
@tiborsimko can get the files. Take note of the mention in https://github.com/cernopendata/opendata.cern.ch/pull/1805#issuecomment-344686234 for the file location in EOS

[code]

[2017-11-22 18:00] katilp commented on #1263
For simulated data, we have a "problem" of file location. For 2011, it was put under root://eospublic.cern.ch//eos/opendata/cms/Run2011A/db/ whereas strictly speaking MC tag is good for all 2011 (or 2012), and not for run period Run2011A only (or for Run2012B or Run2012C only). It would make more sense to have it under plain year directory. Here however, I keep the usage from 2011 :

[code]

[2017-11-22 19:40] katilp commented on #1856
OK, let's have there:

"Use this with 2011 DoubleElectron, DoubleMuon and MuEG collision datasets and the simulated datasets listed below (see the detailed instructions in the readme files and code)."

And then the full list (starting with DoubleElectron, DoubleMuon and MuEG and the MC files.

[2017-11-22 22:13] caredg commented on #1300
- I have updated the instructions in the README.md file to change the git commands to point to the new location.
- I have made two tags, v10.0.0  and v11.0.0, corresponding to 2010 instructions and 2011 instructions, respectively.
- I will prepare the information for the SW records ....

[2017-11-23 03:25] caredg commented on #1300
This is the information, in json format, for the 2010 trigger example SW.  I have copied and modified only the fields that I thought I could chime in with:

{
    "title": "Analysis code for extracting the trigger information from the CMS 2010 data",
    "authors": [
        {
            "name": "Carrera, Edgar"
        }
    ],
    "abstract": {
        "description": " <p>This is an example of

[2017-11-23 03:26] caredg commented on #1300
This is the information, in json format, for the 2011 trigger example SW.  I have copied and modified only the fields that I thought I could chime in with:

{
    "title": "Analysis code for extracting the trigger information from the CMS 2011 data",
    "authors": [
        {
            "name": "Carrera, Edgar"
        }
    ],
    "abstract": {
        "description": " <p>This is an example of

[2017-11-23 07:37] katilp commented on #1300
@caredg Very good, thanks! The step "Then install and run the Demo (demo analyzer) program following the instructions at <a href="/VM/CMS/2011#testvalidate2011">How to Test & Validate" in usage is probably not needed.

[2017-11-23 07:52] katilp commented on #1470
@ArtemisLav How do we proceed with building these records? To provide the general description, it would be very helpful if they were available on the dev portal  with the trigger paths so that I can ask someone to help with the description.   @tiborsimko How do you prefer? It certainly takes several days to iterate (simply for the one day feedback delay for the build) so we start to be in a hurry

[2017-11-23 08:44] sefeg commented on #1732
"Welcome to our updated portal" is now [available on dev](http://opendata-dev.web.cern.ch/articles/welcome-to-our-updated-portal). @daslerr @suenjedt please feel free to edit the article
The markdown file can be found [here](https://github.com/cernopendata/opendata.cern.ch/blob/master/cernopendata/modules/fixtures/data/articles/welcome/welcome.md).

[2017-11-23 09:03] sefeg commented on #1732
Absolutely! Any support is highly appreciated @RaoOfPhysics thank you!

[2017-11-23 09:40] sefeg commented on #1518
@katilp @RaoOfPhysics  Shall we close this issue, now that you both iterated over the guide pages?

[2017-11-23 09:42] RaoOfPhysics commented on #1518
We're still waiting for feedback from Achim, so can we leave this open for now?

[2017-11-23 09:43] katilp commented on #1189
I'll prepare the json for this

[2017-11-23 09:47] suenjedt commented on #1732
@RaoOfPhysics I continue once you are done. We need to remove Opera from this text though.

[2017-11-23 09:50] RaoOfPhysics commented on #1732
@suenjedt: Thanks, I can remove OPERA. Anything specific I should do with it? I'm in the middle of some other work, but I should be able to submit a PR by lunch.

Also, can I change the author to "CERN Open Data team" rather than "Open Data Portal team"? Thanks!

[2017-11-23 10:00] suenjedt commented on #1732
@RaoOfPhysics
Yes, please change to CERN Open Data team.
And just take Opera out. Will be released with a separate announcement.

[2017-11-23 10:56] #1729 closed

[2017-11-23 10:59] katilp commented on #1189
[code]

[2017-11-23 11:01] katilp commented on #1189
@ArtemisLav please check again if there can be two run periods and if the syntax is OK for it.
The files for /cdaq/physics/Run2012/7e33/v2.1/HLT/V13 etc are in  https://cernbox.cern.ch/index.php/s/1Zce2DoxTAGSPUS (there maybe more of them and all should be ported to portal even only those covering run numbers here will be linked from this page)

[2017-11-23 11:26] #1785 closed

[2017-11-23 11:28] ArtemisLav commented on #1189
For the run periods, it would need to be like this `"run_period": "Run2012B-Run2012C"` to validate.
I will make a PR for this and we will update all the "FIXME"s once the 2012 config files records are in place.

[2017-11-23 12:51] katilp opened #1871 "Rename and update CMS Getting started pages"
We have now
http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-open-data for 2010
(Title: Getting Started with CMS Open Data)
and
http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2011-data for 2011
(title: Getting started with CMS 2011 data)

- [x] Please unify the naming and the titles. The year should appear in the link and in the title.

- [x] Furthermore, the 20

[2017-11-23 13:48] katilp commented on #1300
@ArtemisLav The files to be attached to this records are:
2010: download zip from https://github.com/cms-opendata-analyses/trigger_examples/tree/v10.0.0
2011: download zip from https://github.com/cms-opendata-analyses/trigger_examples/tree/v11.0.0

[2017-11-23 13:55] katilp commented on #1871
Continue:
Graphics is different:
2011 has the black background for some object, 2010 they are highlighted red (I would prefer the 2010)

The glossary object appear as links in 2011, as nothing in 2010:
Neither is good, they should appear differently but not as links as otherwise it becomes unreadable (maybe a separate issue for @ioannistsanaktsidis ?

[2017-11-23 14:02] katilp commented on #1871
Contentwise:
we can update under Option A the link name "this CMS Tools entry" to "this CMS analysis example" and the link is:
2010: http://opendata-dev.web.cern.ch/record/560
2011: http://opendata-dev.web.cern.ch/record/5001

In 2011 guide, everything starting  from "Before you proceed", to Option B (i.e. the 5 steps) can be removed.

[2017-11-23 14:25] RaoOfPhysics commented on #1871
@atrisovic: Please let me know if you would like me to take care of this issue.

[2017-11-23 14:26] katilp commented on #1871
Adding mentions of 2012 to the 2011 instructions:
- At the beginning: To analyse CMS data collected in 2011 -> To analyse CMS data collected in 2011 and 2012
- Under Option B: With the 2011 data -> With the 2011 and 2012 data

Add mention about different condition data for 2011 and 2012

- you have to set the symbolic links to the condition database. -> you have to set the symbolic links to  the c

[2017-11-23 14:50] atrisovic commented on #1871
thanks @RaoOfPhysics I am now on it, I'll let you know if I need help ;)

[2017-11-23 14:52] ArtemisLav commented on #1300
I am reopening this since the software records have not been worked on yet.

[2017-11-24 09:27] sefeg opened #1876 "Article display on the landing page"
After having placed the first two articles (with their images) on the landing page, consensus was that the page design suffers from the images being too colorful and not representing the portal's message ("why is their an image with an umbrella?")

This is to propose a slightly modified article display. As has been proposed in #1483, we could display images only for selected articles. For example,

[2017-11-24 10:32] RaoOfPhysics commented on #1876
FWIW, from my side, the proposal both looks good and sounds like a reasonable compromise.

[2017-11-24 10:34] atrisovic commented on #1586
- [ ] ./cernopendata/modules/fixtures/data/records/cms-tools-vm-image-Run2011A.json:4:    "description": "The virtual machine image is based on CernVM (cernvm.cern.ch), with Scientific Linux CERN 6 (slc6), which is the environment needed for the
 It gets the CMS software (CMSSW) from /cvmfs/cms.cern.ch and the jobs running on the CMS open data VM read the condition data from /cvmfs/cms-opendata-co

[2017-11-24 10:52] katilp opened #1877 "Condition data / Global tag instructions to be updated"
Test new condition data produced by Giacomo (for full 2012). If reading in takes a reasonable time, no need for separate RunB and RunC tags. Then update instructions accordingly.

Note even now, for RunC tag, three `ln -sf` are needed:
[code]
This is not in the instructions yet.

For the full 2012 tag:

[code]

[2017-11-24 11:11] katilp commented on #1787
@atrisovic @RaoOfPhysics Could you take care of this?

[2017-11-24 11:15] sefeg commented on #1876
@ioannistsanaktsidis is adapting a design proposal for the landing page which displays the three sections (top image / navigation, articles and visualization tools) as blocks that use 100% of the browser's height. The article section will be displayed as proposed above.

[2017-11-24 11:27] katilp opened #1879 "Mistake in subtitle in About CMS"
In About CMS http://opendata-dev.web.cern.ch/about/cms
subtitle "Data Policies Primary and simulated datasets" should be "Primary and simulated datasets"

[2017-11-24 11:36] RaoOfPhysics commented on #1879
@atrisovic: Happy to take this if you want.

[2017-11-24 11:36] atrisovic commented on #1234
Should this be added to "known issues FAQ" or troubleshooting?

[2017-11-24 11:36] RaoOfPhysics commented on #1787
@atrisovic: Should I?

[2017-11-24 11:39] katilp commented on #1234
@atrisovic to the new troubleshooting guide.

[2017-11-24 11:39] atrisovic commented on #1879
don't worry @RaoOfPhysics i can just put it in the current PR

[2017-11-24 11:40] atrisovic commented on #1787
you should ;)

[2017-11-24 11:48] katilp opened #1880 "Pile-up graphics not showing in cms-pile-up-simulation"
in http://opendata-dev.web.cern.ch/articles/cms-pile-up-simulation, the graphics for 2011 is not displayed

[2017-11-24 11:52] katilp opened #1881 "Subtitle links in physics object pages not working"
In pages
http://opendata-dev.web.cern.ch/articles/cms-physics-objects-2010
http://opendata-dev.web.cern.ch/articles/cms-physics-objects-2011
the subtitle links from the table of contents are not working (i.e. titles 1 and 2 are OK, but Electron, Photons etc just show the glossary but do not bring to the corresponding topic on that page).

Maybe remove them?

[2017-11-24 13:27] katilp opened #1883 "VM records 250 and 252, broken or oudated links"
In
http://opendata-dev.web.cern.ch/record/250
http://opendata-dev.web.cern.ch/record/252
links should be:

Issues and limitations:
250: http://opendata-dev.web.cern.ch/docs/cms-2010-virtual-machines-how-to-install#issues2010
252: http://opendata-dev.web.cern.ch/docs/cms-2011-virtual-machines-how-to-install#issue

How can you use these data?
250: http://opendata-dev.web.cern.ch/docs/cms-2010-virtua

[2017-11-24 13:35] katilp opened #1884 "Wrong order of subtitles in How to install 2010 VM + check link"
in http://opendata-dev.web.cern.ch/articles/cms-2010-virtual-machines-how-to-install
in the content list, the subtitle are in wrong order (the text is OK)
Now:

1. How to install a CERN VM
2. Issues & Limitations
3. How to Test & Validate?

Should be:

1. How to install a CERN VM
2. How to Test & Validate?
3. Issues & Limitations

Check if Getting started link http://opendata-dev.web.cern.ch/artic

[2017-11-24 13:49] tpmccauley opened #1885 "visualise CMS feedback"
Overall the display looks good and there seem to be no major problems. I notice a few little things that need fixing (that probably aren't significant enough for their own issues?):

- [x] The name of the file loaded as well as the "X out of Y" event loaded text doesn't appear at the top. From a look in the console it appears to be tucked underneath the tool bar and hidden.

- [x] The information

[2017-11-24 13:57] katilp commented on #1518
Point from Achim:

- [ ] How will users be guided to this page?

- [ ] The link to how to install the virtualbox after "you will need to use the appropriate VMs" missing

- [ ] The link to "Start anlysing the data" points to 2010. The text states "choose 2010 or 2011" but no choice on that page.

- [ ] Check when the choice of whether one wants to go  for 2010 or 2011/12 already has to be made *be

[2017-11-24 14:25] #1538 closed

[2017-11-24 14:27] ioannistsanaktsidis commented on #1849
Closing as already addressed in previous PRs.

[2017-11-24 14:27] #1849 closed

[2017-11-24 14:28] pamfilos commented on #1826
closing as issue fixed in https://github.com/cernopendata/opendata.cern.ch/pull/1874/commits/bac93a6966fe19af4cc51de3e4586e6bb130b897

[2017-11-24 14:38] atrisovic opened #1886 "Style changes"
Graphics is different:

- [ ] 2011 has the black background for some object, 2010 they are highlighted red (I would prefer the 2010)

- [ ] The glossary object appear as links in 2011, as nothing in 2010:
Neither is good, they should appear differently but not as links as otherwise it becomes unreadable

[2017-11-24 14:41] katilp opened #1888 "templates: proper display of the record "CMS Simulated dataset names""
Can we remove http://opendata-dev.web.cern.ch/record/71 it is totally useless. We need: http://opendata.cern.ch/about/CMS-Simulated-Dataset-Names but I can't find it on dev, does it exist?

[2017-11-24 15:03] #1679 closed

[2017-11-24 15:03] #1871 closed

[2017-11-24 15:03] #1880 closed

[2017-11-24 15:17] katilp opened #1889 "Double "related items" field in record 200"
http://opendata-dev.web.cern.ch/record/200 has two the "related items" displayd

[2017-11-24 15:34] tpmccauley opened #1890 "visualise histograms button behavior"
The parameter buttons should stay in a "pressed" state when selected and toggle back to "unpressed" when one wants to remove the corresponding histogram of that parameter

[2017-11-24 15:35] katilp opened #1891 "Need year as a search facet for CMS software"
We would need year of data 2010 or 2011 (maybe 2011-2012, and 2012 in the future) for CMS software records, it is very difficult to find anything now.
For now:

2010: 101 550 461 462 460 200 220 553 552 560
2011: 234 551 5001 5000 233 221
2012 or 2011-2012: 221

~~1000 and 1001 should go to Category Environment subcat Validation~~ Done!

[2017-11-24 15:59] #1586 closed

[2017-11-24 15:59] #1879 closed

[2017-11-24 15:59] #1881 closed

[2017-11-26 10:57] tiborsimko commented on #1833
Nope, since there is still no way to get to "root" facet value.

It may be especially confusing to people that we display different number of values in different facets, and not a fixed maximum value of say 5 facets.  Hence, seeing say "energy" facet with 3 values, "topic category" facet with 6 values, and "file type" facet with 10 values, people may be led to think that there are no more file typ

[2017-11-26 12:23] tiborsimko commented on #1202
Yes, and I'll convert the three records for COD3 only.

[2017-11-26 14:02] katilp commented on #1470
@tiborsimko Do you get the n_events from CMSDAS ny script for these? @caredg wil provide the brief description early next week.

[2017-11-26 15:48] tiborsimko opened #1894 "templates: header badges for records"
Currently the COD3 record pages show COD2-style "header" featuring the prominent concept of collections:

![record-header](https://user-images.githubusercontent.com/517546/33241684-4151e7f0-d2c9-11e7-9e4a-fd66718471ea.png)

(Note "Collection: CMS-Primary-Datasets" there.)

Since we try to hide the concept of collections, I propose to rather display there the information about `type.primary`, `type

[2017-11-26 15:54] katilp commented on #1894
👍 to replace collections. The other information (energy, exp, accelerator) will stay?

[2017-11-26 15:57] tiborsimko commented on #1894
The others look OK, but we can surely rethink the banner and amend them at the same time as well!

[2017-11-26 16:00] katilp commented on #1894
The other look OK to me as they are now, they are solid, basic information and not as likely to change as the collections concept.

[2017-11-26 16:09] #1202 closed

[2017-11-26 16:09] #1525 closed

[2017-11-26 18:19] katilp commented on #1518
Fixes for http://opendata-dev.web.cern.ch/articles/cms-guide-to-education-use-of-cms-open-data

- [ ] The title and the link still has two times CMS

- [ ] visualise/events/CMS still does not (change to visualise/events/cms)

- [ ] events loading on the event display still does not work

- [ ] http://opendata-dev.web.cern.ch/articles/search?page=1&size=20&q=display&subtype=Derived&experiment=CMS f

[2017-11-26 18:44] katilp opened #1896 "File index display appears with no files, does not show file names"
Observe while reviewing http://opendata-dev.web.cern.ch/articles/cms-guide-to-education-use-of-cms-open-data:

- [x]  http://opendata-dev.web.cern.ch/record/53 has file index part even if it does not have files

- [x] file names does not display in http://opendata-dev.web.cern.ch/record/50

[2017-11-26 20:30] katilp commented on #1518
Fixes for http://opendata-dev.web.cern.ch/articles/cms-guide-to-research-use-of-cms-open-data

- [ ] "a more sophisticated analysis using CMS Open Data" -> research-oriented analysis?

- [ ] add link to /articles/cms-guide-to-troubleshooting

- [ ] not sure if 2011-2012 data is more sophisticated, it is more "difficult" because of pile-up but the sophistication is more or less the same

- [ ] chan

[2017-11-27 08:23] tiborsimko opened #1898 "articles: unsaturated photo colours in the CMS summer student report"
The CMS summer student report photo is not very saturated to me.  Compare:

- https://user-images.githubusercontent.com/25487025/32649886-0456f0f4-c5fc-11e7-9616-de2ff76e0e9d.png
- http://opendata-dev.web.cern.ch/static/articles/cms-summer-student-report-2017/opendatasummer.jpeg

Was it manipulated in some way that led to the colour space issues? Adobe RGB, sRGB, and friends? Have you checked the

[2017-11-27 08:29] katilp opened #1899 "capital letter link http://opendata-dev.web.cern.ch/visualise/events/CMS does not work"
The link http://opendata-dev.web.cern.ch/visualise/events/CMS still does not work, while http://opendata-dev.web.cern.ch/visualise/histograms/CMS is OK. Is this expected?
Both work with cms

[2017-11-27 08:33] katilp commented on #1427
Markdown in brief display still does not reneder

![md](https://user-images.githubusercontent.com/5859918/33257290-f9921baa-d355-11e7-9b1c-7171e9a9085e.PNG)

[2017-11-27 09:20] sefeg opened #1900 "(Remote) page feedback"
As we start to place "camera-ready" content on the landing page, we can think about testing more widely. Therefore, we could muse about how we can get feedback from a wider number of people, including potential users who are not associated with CERN or an LHC collaboration.

We had been thinking about creating a simple online survey that presents a few simple tasks and questions.

This is to **sta

[2017-11-27 10:05] sefeg commented on #1898
As discussed during the daily, the saturation changed because of design issues and lead to #1876, which proposes to support articles that don't display an image on the landing page.

[2017-11-27 10:24] ioannistsanaktsidis commented on #1899
@tiborsimko  this one should be taken care on the nginx layer. cc @hjhsalo

[2017-11-27 10:57] ioannistsanaktsidis commented on #1898
Closing as for now I replaced it with the original image, yet as we discussed we most probably going to drop images from articles except one.

[2017-11-27 10:57] #1898 closed

[2017-11-27 11:03] ioannistsanaktsidis commented on #1888
@katilp  http://opendata-dev.web.cern.ch/about/cms-simulated-dataset-names
Also here nginx layer should take care. cc @tiborsimko  @hjhsalo

[2017-11-27 11:04] #1889 closed

[2017-11-27 11:04] #1894 closed

[2017-11-27 11:32] tiborsimko commented on #1833
@sefeg @pamfilos @ioannistsanaktsidis As an alternative to more/less facet value list buttons, we could also do something ultra simple on the UX/UI side, and present facet value lists in a rather more compressed manner, so that intermediate empty lines wouldn't eat up so much vertical space. This might permit us to display easily more values than ~10 for the given facet, alleviating the need for m

[2017-11-27 11:34] #1854 closed

[2017-11-27 12:03] katilp commented on #1518
Update to http://opendata-dev.web.cern.ch/articles/cms-guide-to-education-use-of-cms-open-data :

We do not explicitly mention csv anywhere. In old portal we had
"For education purposes, the complex primary data need to be processed into a format (examples below) that is good for simple applications."

Add a mention on this as the last item in the list under "Make histograms with collision data".

[2017-11-27 12:39] pamfilos commented on #1896
@katilp @tiborsimko file names are not display because files are not uploaded (or upload was not completed)

[2017-11-27 12:47] sefeg commented on #1833
Yes, @tiborsimko we can certainly show more options most easily by reducing the white space between the facet elements (as has been done on the page you linked earlier).

[2017-11-27 13:34] tpmccauley commented on #1885
For comparison here is a screenshot of the previous display. One can see the red information dialog icons and the correct file name position.
<img width="1062" alt="screen shot 2017-11-27 at 1 33 54 pm" src="https://user-images.githubusercontent.com/496503/33269179-ad01235e-d377-11e7-87e6-656b36ae4d66.png">

[2017-11-27 14:06] tiborsimko commented on #1855
@katilp The above MC datasets were moved.

Here are the ones that remained in the upload area:

[code]

I'll regenerate the file indexes afterwards when everything is transferred.

[2017-11-27 14:06] #1855 closed

[2017-11-27 14:22] #1896 closed

[2017-11-27 14:41] pamfilos commented on #1427
IMHO we should either remove description of a "markdown" record, or just add a short description (which we want to show on search briefs) in the ```short_description``` field that is already created, else I am afraid there will be ugly UI problems

[2017-11-27 14:46] RaoOfPhysics commented on #1427
@pamfilos: Agree. No reason to have hyperlinks etc. appear in the short description.

Also makes sense to have a tailored description than a generic cropping of existing text. A bit of work, but worth it, IMHO.

[2017-11-27 14:52] #1534 closed

[2017-11-27 15:26] #1234 closed

[2017-11-27 15:26] #1884 closed

[2017-11-27 16:06] tiborsimko commented on #1470
@katilp Yes, I get it from DAS.  For example, for `/VBF1Parked/Run2012C-22Jan2013-v1/AOD`, I see:

- "size": 68900769145577,
- "num_lumi": 91685,
- "num_file": 18817,
- "nlumis": 91685,
- "nfiles": 18817,
- "nevents": 241571212,
- "nblocks": 65,

[2017-11-27 16:48] sefeg commented on #1685
At the end of last week, concerns were raised if hiding 0's for OR-related facet elements is the best solution. I tested both approaches (showing 0's and hiding 0's) and came to the following conclusion: Both are not perfectly intuitive, but there are differences. Since we now reliably update all other facet elements (= numeric value indicates the number of results that selection will lead to), sh

[2017-11-27 18:31] katilp commented on #1734
More on scaling, the girls get squeezed or flattened with the scale, is that expected?

170%:
![scale170](https://user-images.githubusercontent.com/5859918/33282586-5ca259d2-d3a9-11e7-9e05-1e28d5ccb54d.PNG)
100%:
![scale100](https://user-images.githubusercontent.com/5859918/33282607-6a95986a-d3a9-11e7-826f-dd32ed63daab.PNG)

67%
![scale170](https://user-images.githubusercontent.com/5859918/3328261

[2017-11-27 18:31] tiborsimko commented on #1470
@ArtemisLav Would you have 52 pre-reserved DOIs that I could use for the generated records?

[2017-11-27 18:47] katilp commented on #1559
Close as already addressed and in place in http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2011-open-data

[2017-11-27 18:47] #1559 closed

[2017-11-27 19:07] katilp commented on #1886
This refers to differences between
http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2010-open-data
http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2011-open-data

[2017-11-27 19:12] katilp commented on #1886
NB, the glossary terms behave in differently in http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2011-open-data than some other paged: here they are links whereas on other pages the explanation opens when hovering over

[2017-11-27 19:31] ArtemisLav commented on #1470
@tiborsimko sure; however, as far as I know, the solution @annatrz implemented should allow us to generate unique, random DOIs automatically.

[2017-11-27 20:54] katilp commented on #1830
[code]

[2017-11-27 22:15] katilp commented on #1830
The file to be attached is download zip from https://github.com/cms-opendata-validation/2011-jet-inclusivecrosssection-ntupleproduction-optimized/tree/1.0.0

[2017-11-27 23:26] tiborsimko commented on #1470
@katilp There is a problem with one dataset `/DoublePhoton/Run2012C-22Jan2013-v1/AOD` where DAS returns nblocks 5 but otherwise everything else (size, nfiles, nevents) is 0.  Can you please have a look?

[2017-11-27 23:33] tiborsimko commented on #1470
@ArtemisLav OK but then we should leave DOI minting for the very end, since we are still amending data programmatically... We'd need to have DOIs in the fixtures to ensure they always go to the same record.

[2017-11-28 06:27] katilp commented on #1470
@tiborsimko I'm checking that, it is indeed marked "invalid" in DAS and it has no other reprocessing available. It does have a parent RAW, but it is not impossible that it is overlapping with another dataset. I'm investigating further.

[2017-11-28 06:47] katilp commented on #1470
Looks OK, Photon dataset has all the triggers as DoublePhoton apart from
HLT_Photon26_R9Id85_OR_CaloId10_Iso50_Photon18_R9Id85_OR_CaloId10_Iso50_Mass70
HLT_Photon36_R9Id85_OR_CaloId10_Iso50_Photon10_R9Id85_OR_CaloId10_Iso50_Mass80

For these triggers (from http://fwyzard.web.cern.ch/fwyzard/hlt/2012/summary)

Path HLT_Photon36_R9Id85_OR_CaloId10_Iso50_Photon10_R9Id85_OR_CaloId10_Iso50_Mass80:(Doub

[2017-11-28 07:32] tiborsimko commented on #1827
@ArtemisLav I have added the files on EOS. Here is the (uri, size, sha1sum) file information:

[code]

[2017-11-28 07:46] katilp commented on #1470
Checking further: there's no Photon dataset in RunC, just SinglePhoton and DoublePhoton (see also RAW: dataset=/*Photon/Run2012C*/RAW)

[2017-11-28 07:52] katilp commented on #1470
@tiborsimko OK, now it is clear: DoublePhoton it is V2 on DAS, so please check:
dataset=/DoublePhoton/Run2012C-22Jan2013-v2/AOD
https://cmsweb.cern.ch/das/request?input=dataset%3D%2FDoublePhoton%2FRun2012C-22Jan2013-v2%2FAOD&instance=prod%2Fglobal

Dataset size: 10.7TB, Number of blocks: 18, Number of events: 41564679, Number of files: 2719

[2017-11-28 08:24] tiborsimko commented on #1470
@katilp Oh, indeed, thanks! I'll fix the given record.

[2017-11-28 09:21] RaoOfPhysics commented on #1886
1. The glossary-terms-as-links also causes an additional problem in that clicking on them merely takes you to the top of the current page, as the anchor tag goes nowhere.
1. The glossary terms break the header tags on some (and only some) pages:
    - Same size as rest of header on e.g. http://opendata-dev.web.cern.ch/articles/cms-pile-up-simulation <img width="957" alt="firefox - - screen shot 28

[2017-11-28 09:34] tiborsimko opened #1910 "UI: using cloudflare.com ?"
Sometimes the site seems slow to operate due to the slow cloudflare.io connections. This is because we are using:

[code]

I see that we also have:

[code]

P.S. Note that this issue is similar to #1837.

[2017-11-28 09:40] #1851 closed

[2017-11-28 11:54] annatrz commented on #1833
So for now we'll show all facets values, and just change the way how they're displayed (reducing space between them)

[2017-11-28 12:18] RaoOfPhysics opened #1911 "Make "Expand" / "Collapse" buttons look like buttons?"
The `+`/`-` symbols next to categories with sub-categories are not clear enough for end users (and the `-` in particular is too small). Can these be replaced by something like `>`/`v`?

[2017-11-28 12:18] RaoOfPhysics opened #1912 ""Visualise CERN data" vs "Visualise our data""
Are experiments happy to call them "CERN data"? @katilp?

[2017-11-28 12:20] RaoOfPhysics opened #1913 "RFC: HTTPS for launch of upgraded portal"
@tiborsimko, I recall discussing migrating `opendata.cern.ch` to HTTPS at some stage. Are there plans for doing this for the forthcoming launch of the upgraded portal?

Related: #826

[2017-11-28 12:20] RaoOfPhysics commented on #1787
- [ ] All links to primary, derived etc. are broken and need fixing.

[2017-11-28 12:22] RaoOfPhysics opened #1914 "search: Broken links from old portal to new –– will we have redirects?"
Pages like the following are broken:

- [x] http://opendata-dev.web.cern.ch/about/CMS-Physics-Objects/2011
- [x] http://opendata-dev.web.cern.ch/collection/CMS-Primary-Datasets

Will these be redirected to the new relevant URLs?

[2017-11-28 12:22] katilp commented on #1912
@RaoOfPhysics According to the feedback I've got earlier for a similar wording, CMS prefers CMS data

[2017-11-28 12:23] RaoOfPhysics opened #1915 "templates: Suppress duplicate pages"
Both these pages exist:

- http://opendata-dev.web.cern.ch/about/cms-pileup-simulation
- http://opendata-dev.web.cern.ch/articles/cms-pile-up-simulation

[2017-11-28 12:24] RaoOfPhysics opened #1916 "templates: Search "terms" not linking from articles"
See, e.g., http://opendata-dev.web.cern.ch/articles/cms-pile-up-simulation

<img width="415" alt="firefox - - screen shot 28 nov 2017 at 13 23 48" src="https://user-images.githubusercontent.com/7623019/33319533-63c6b474-d43f-11e7-9313-2adaf011285f.png">

The keywords don't link anywhere, whereas they serve as links elsewhere on the portal (e.g. under search or on the landing page).

[2017-11-28 12:25] RaoOfPhysics opened #1917 "templates: Inconsistencies in types of articles/pages"
- http://opendata-dev.web.cern.ch/about/cms-simulated-dataset-names
- http://opendata-dev.web.cern.ch/articles/cms-physics-objects-2011

But I guess this is being resolved. Feel free to close…

[2017-11-28 12:26] RaoOfPhysics commented on #1912
So, for a generic title, we should probably go for "Visualise our data", above data from CMS, OPERA etc.

[2017-11-28 12:32] RaoOfPhysics opened #1918 "templates: "Intro" text above search entries for "pre-defined" collections"
e.g.: if you have http://opendata-dev.web.cern.ch/search?page=1&size=20&q=&type=Dataset&subtype=Collision&experiment=CMS containing:

- CMS
- Collision ("primary"?)
- Datasets

You might want the text from the About CMS page appearing above the search:

[2017-11-28 12:37] RaoOfPhysics opened #1920 "Rename "events" to "collisions""
Why:

- The target audience is non-physicists.
- "Events" mean something different to a non-physicist audience.
- "Collisions" are clearer. People know that they shouldn't be looking for a calendar of happenings (events).

- [ ] Text will need to be changed.
- [ ] URLs will need to be changed and redirected.

Pinging @katilp, @tpmccauley, @tiborsimko.

[2017-11-28 12:44] RaoOfPhysics commented on #1131
Reopening because this still needs addressing on some pages and needs reworking of the breadcrumbs text.

- The [`/visualise` page](http://opendata-dev.web.cern.ch/visualise) should show options for "Events" and "Histograms". Right now it shows nothing. <img width="1072" alt="firefox - - screen shot 28 nov 2017 at 13 34 36" src="https://user-images.githubusercontent.com/7623019/33320113-6b8f1104-d

[2017-11-28 12:52] RaoOfPhysics opened #1921 "Changes to documentation/guide pages."
- [x] Manually link "related" content on pages like "Physics Objects"
    - On the old portal, a page like "CMS Physics Objects" has tabs for 2010 and 2011: http://opendata.cern.ch/about/CMS-Physics-Objects/
    - This is useful since they're both "related" to one another with a lot of similar padding/explanation/intro on the top.
    - On the new portal, these are separate pages entirely:

[2017-11-28 12:54] katilp commented on #1920
@RaoOfPhysics I agree, "Collisions" is clear, "Events" can be confusing

[2017-11-28 12:58] katilp commented on #1912
Or plain "Visualise data" or "Visualise open data", leaving out "our"?

[2017-11-28 14:54] #1833 closed

[2017-11-28 15:14] sefeg commented on #1900
An initial draft of the survey can be found [here](https://docs.google.com/forms/d/e/1FAIpQLSdzBg5sZvPdiPHyAjjDN9pNecP84yQi7mTkNLV2BDn-AG8sUA/viewform?usp=sf_link).

[2017-11-28 15:20] #1910 closed

[2017-11-28 16:51] katilp commented on #1850
@tiborsimko NB: the new Higgs to four leptons example combines data from 2011 and 2012 (it must otherwise not enough events for anything visible), so it will need to be 2011-2012. Can this be added? This would then apply for the current 2011 VM as well.

[2017-11-28 18:32] katilp opened #1927 "Show date for news"
Current news items (http://opendata-dev.web.cern.ch/search?page=1&size=20&type=News) do not show date anywhere.

It should be added, also for the old items  and in particular to the old CMS release note (http://opendata-dev.web.cern.ch/articles/cms-releases-new-batch-of-research-data-from-lhc) in order to avoid confusion with the new one

[2017-11-28 18:47] katilp opened #1928 "Remove double text under Related items in record 233 and 200"
http://opendata-dev.web.cern.ch/record/233
http://opendata-dev.web.cern.ch/record/200
have under "Related items" two entries. This is correct. However, the text "The files created are:" should be there only once, now it is for both related records

[2017-11-28 19:05] katilp commented on #1928
And while there, please update the github link to
https://github.com/cms-opendata-analyses/pattuples2011
(it redirects automatically but much better with the updated link)

[2017-11-28 19:08] katilp opened #1929 "Fix links and remove unnecessary glossary links in getting started 2011"
Fix links in http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2011-open-data

- [x] clean the command line (automated links????)
`$ root root://eospublic.cern.ch//eos/opendata/cms/[Run2011A](#)/ElectronHad/[AOD](#)/12Oct2013-v1/20001/001F9231-F141-E311-8F76-003048F00942.root`

- [x] Remove 2 of the 3 glossary link (to tag) for "condition data", "condition database" and "condition

[2017-11-28 19:53] katilp opened #1931 "Update featured article from the MIT group"
Jesse has written the text, which can be featured on the portal: http://www.jthaler.net/doku.php?id=playground:cmstest

In his message he says that "Please let me know if you have any suggestions for improving the text, adding links, etc.  I decided to write a longish entry in order to capture as many aspects of the project as I could."

I'm very happy with it, it is true that it is long but I bel

[2017-11-28 20:04] RaoOfPhysics commented on #1931
Yes, it's a great text! I have some minor comments for him anyway. :)

Maybe we shouldn't link to it publicly just yet, though? Thoughts?

[2017-11-28 21:02] katilp opened #1932 "HTML does not render in SW record 463 validation description"
HTML does not render in http://opendata-dev.web.cern.ch/record/463 only under validation ("validation": in JSON), the other descriptions are fine

[2017-11-28 21:04] katilp opened #1933 "Add 2012 to CMSSW record 221"
Change "Use this with 2011 CMS open data" to "Use this with 2011 and 2012 CMS open data"

[2017-11-28 21:11] katilp opened #1934 "Correct Use with in SW record 464"
In http://opendata-dev.web.cern.ch/record/464
Change "Use this with the following datasets" to
"Use this to compare an AOD file produced with /record/463 to:"

[2017-11-28 21:25] katilp opened #1935 "Remove "above" in SW record 460 461 462 + add github link"
In:
http://opendata-dev.web.cern.ch/record/460
http://opendata-dev.web.cern.ch/record/461
http://opendata-dev.web.cern.ch/record/462

remove "above" in "To run the NNN sample validation, follow the instructions in the file readme.txt above" (the readme.txt appears below...)

and add
- in 460: "or follow the instructions in the github repository https://github.com/cms-opendata-validation/2010-mu-mu

[2017-11-29 08:32] #1846 closed

[2017-11-29 08:37] tiborsimko commented on #1911
BTW, now that we are displaying more facet values in a compact manner (neat!), see:

- http://opendata-dev.web.cern.ch/search

We can perhaps have the type sub-categories expanded by default?  It would help to advertise the content more prominently... giving something like:

![search](https://user-images.githubusercontent.com/517546/33365538-d03e264c-d4e8-11e7-8745-e9d44b93c63b.png)

[2017-11-29 08:49] tiborsimko commented on #1911
... or, to take into account the new types introduced in #1925, we have this:

![search2](https://user-images.githubusercontent.com/517546/33365901-026f48f2-d4ea-11e7-8071-5bf0788b89e1.png)

We can update the structure some more, e.g. what about moving "News" and "Glossary" under "Documentation"?  I think it would make sense from the data organisation point of view, and it would even help to impro

[2017-11-29 08:55] RaoOfPhysics commented on #1911
I like the idea of expanding sub-categories by default. I wouldn't put News under Documentation, but putting Glossary there makes sense.

[2017-11-29 08:58] tiborsimko commented on #1911
... another thing, taking into consideration that "supplementaries" is plural and words like "software" or "documentation" are already semi-plural, would be to consider standardising on using the plurals in the top-level primary categories everywhere? This would give:
- Datasets
- Documentation
- Environments
- Software
- Supplementaries

[2017-11-29 09:58] katilp opened #1937 "Fix and update links in about CMS page"
Links to search rather than to collection, mention RAW in http://opendata-dev.web.cern.ch/articles/about-cms

[2017-11-29 10:17] katilp opened #1939 "New CMS 2012 records, fix for "Notes""
At least some records have
"This dataset contains all runs from 2012 RunB/RunC" under Notes, should be:
- "This dataset contains all runs from 2012 RunB" for RunB and
- "This dataset contains all runs from 2012 RunC" for RunC

I could not check many because they come and go (i.e. sometimes appear and sometimes do not appear) in search in dev (???)

[2017-11-29 10:23] ioannistsanaktsidis commented on #1876
Closing as we have already decided the new implementation. @pamfilos  is preparing a sketch .

[2017-11-29 10:23] #1876 closed

[2017-11-29 10:36] daslerr opened #1940 "New homepage implementation (changes to design and organization)"
This summarizes what we discussed yesterday about changing the organization of the homepage and includes the specific articles to link to in the various sections.

TOP
(Conceptually, the "records" section.)
- [x] Large, prominent search bar.
- [x] Links to the record categories and experimental groups underneath search bar to prompt users for the kinds of things they can search for. Links direct t

[2017-11-29 10:50] katilp commented on #1940
Very nice!
Can the CMS release update be featured the "learn" box of the middle section?
We would also give priority there to the article form the MIT group over the summer student report.

Just a note: the other experiments do not yet release research quality data, so some care for misunderstandings under "Analyse". @RaoOfPhysics what do you think?

[2017-11-29 10:55] suenjedt commented on #1940
Great - sounds convincing and I note the improved terminology

[2017-11-29 10:57] RaoOfPhysics commented on #1940
FWIW, I echo @katilp's concerns.

Otherwise, good stuff, @daslerr. Looking forward to seeing the mockup. :)

[2017-11-29 11:30] pamfilos commented on #1940
![opendata_desktop3](https://user-images.githubusercontent.com/6625469/33373190-0a6cd4a4-d501-11e7-959b-5fdae4a2cf3d.jpg)

![opendata_desktop1](https://user-images.githubusercontent.com/6625469/33373206-1d9f8904-d501-11e7-815a-7940d9f094a7.jpg)

[2017-11-29 12:14] annatrz commented on #1940
looks really nice!

[2017-11-29 12:20] ioannistsanaktsidis commented on #1940
I think it covers exactly what we discussed altogether :)

[2017-11-29 12:50] katilp commented on #1940
Looks great! Two small remarks on details :
- "supplementary material" should not be exposed under "Explore", it contains material which has very little meaning if not linked in context (they are linked through datasets and that where they will be accessed)
- I guess that the items exposed are preliminary, but take note that we do not necessarily want to highlight Analysis framework for HEP tutori

[2017-11-29 13:49] tiborsimko commented on #1935
This raises a more general question about the box ordering on the detailed record pages... currently it does not follow COD2 order. Do we want to change the order how the information is preserved? Or go back to COD2 order?  E.g. I had mentioned "File indexes" before "Files" to @pamfilos @ioannistsanaktsidis... Let's muse about the box display order before amending record metadata information.  (Th

[2017-11-29 14:02] tiborsimko commented on #1911
@annatrz @ioannistsanaktsidis I see this is closed already, but what about the above musings regarding the type facet to be expanded-by-default? @RaoOfPhysics seemed to like it, and I did not notice any other contrary opinions...

[2017-11-29 14:12] tiborsimko commented on #1734
This will be addressed by a new home page UI design we discussed yesterday. The home page won't have story pictures and will be rather search-centric... so I think we can close this.

[2017-11-29 14:12] #1734 closed

[2017-11-29 14:13] ArtemisLav commented on #1850
@katilp which option should be implemented? New record pointing to the 2011 record or just a fix for the current record to be 2011-2012? If it's a new record, I would just need a brief description text.

[2017-11-29 14:20] ArtemisLav commented on #1940
It looks fantastic! Just a very minor comment: perhaps we could have something else instead of "focus on".

[2017-11-29 14:34] #1827 closed

[2017-11-29 14:44] #1939 closed

[2017-11-29 15:30] tiborsimko commented on #1940
Nicely captures the concept we drafted on paper :smile: Some remarks:

- "Explore more than **"1 petabyte** ..." spelled like this, will PB in full, will have better visual impact here.

- The search example "getting started" is better left alone, i.e. separated from "experiment:cms", since getting started is something that is searched by novices, who wouldn't use fielded search.  And, for power u

[2017-11-29 15:38] tiborsimko commented on #1189
Hmm, this works, but it's not very pretty... If we have a need for having more than one value, perhaps we should reconsider making `run_period` to be a list?

[2017-11-29 15:47] ArtemisLav commented on #1189
I guess that is the same question I had about the year facet, because if you only click on `2010` you only get that, but perhaps one should also be able to see the results for `2010-2012`.

[2017-11-29 15:50] tiborsimko commented on #1189
Indeed, I wanted to open a new issue about `year` facet... just a minute 😄

[2017-11-29 15:53] katilp commented on #1189
For this, and the other SW records in general we could give year of the data to be used and not run period. They do not depend on particular RunA/B/C/D but work on full range.
And in this case the natural choices would be 2010, 2011, 2012, 2011-2012, see also #1891

[2017-11-29 15:58] tiborsimko opened #1944 "facets: data-taking year vs record-upload year"
Currently, the year facet looks like:

![facet-year](https://user-images.githubusercontent.com/517546/33384168-8bab7402-d525-11e7-89c4-204aa767dbaf.png)

Some UX issues here to consider:

- It looks like we only have 3 records added in 2017... as if we were inactive.. this is not good.

  This is obviously because the "year" facet prefers to use "data taking year", so all new records are uploaded

[2017-11-29 16:04] RaoOfPhysics commented on #1944
I think it's important to note the year the data were collected from the collisions as this is the number of interest from a scientific perspective. This also implicitly provides us (i.e., those in the know) with information on running conditions (e.g.: 2010 was at 7 TeV, 2011 and 2011 was at 8 TeV, etc.) When we actually upload open data is of relatively less consequence or interest.

Can it simp

[2017-11-29 16:08] pamfilos commented on #1940
FYI
 - for wordings and various texts, I just used what was scribbled on paper yesterday. We just need to have a list of them and I will adapt it ( please add on the first comment )

- same for search example, I just added it for a more advanced example of search, which i think it is nice to have ( please also add search examples on first comment - for now I will add ```energy:7TeV```)

- Regardin

[2017-11-29 16:17] katilp commented on #1944
@tiborsimko correct... for data records, the data taking time is now determined by "run_period": "Run201aA" (or other) and  "date_created": "2011", it would be best to have "data taking year" as well.
But here we would need it for two purposes
- the direct indication of year of data taking for datasets (which is now given by run_period and data-created)
- but also, and importantly, for SW records,

[2017-11-29 16:52] #1856 closed

[2017-11-29 16:59] tiborsimko commented on #1911
... reopening so that we won't forget. 😄

[2017-11-29 17:52] tiborsimko commented on #1940
@suenjedt I meant the various logo-like graphic illustrations that Eamonn had in his design document deck, such as the "unversity hat" or the "interconnected network blob"; @ioannistsanaktsidis briefly showed them on his laptop yesterday. I think we should be able to find there three similar ones that we could use for the L-V-A illustration purposes, and that would be also more look-alike in the s

[2017-11-29 18:35] katilp commented on #1937
Closed by #1941

[2017-11-29 18:35] #1937 closed

[2017-11-29 18:36] katilp commented on #1787
Closed by #1941

[2017-11-29 18:36] #1787 closed

[2017-11-29 18:45] tiborsimko commented on #1286
@katilp Taking care of this now...

[2017-11-29 18:52] #1286 closed

[2017-11-30 06:48] tiborsimko commented on #1427
Let's create a new issues then; this one is from the past sprint that fixed the HTML preview, which was a more visible problem.

[2017-11-30 06:48] #1427 closed

[2017-11-30 06:49] tiborsimko opened #1947 "templates: nice brief display for Markdown articles"
Prettify display of Markdown articles on the HTML pages.

(stemmed from #1427)

[2017-11-30 07:29] tiborsimko commented on #1826
@pamfilos I'm not sure your commit closes the issue, since the primary problem is with the *record loading* at the fixture time, not with the "record displaying" once it is successfully loaded... It still takes ~10 minutes to load this one record on my laptop:

[code]
Taking into accont that we shall have bigger records in 2012 MC datasets, this may be easily back...

[2017-11-30 07:58] katilp commented on #1931
Create a template file so that we can copy the news article there @tiborsimko?

[2017-11-30 10:04] ioannistsanaktsidis commented on #1899
Closing as it is working now after the latest updates.

[2017-11-30 10:04] #1899 closed

[2017-11-30 10:28] ArtemisLav opened #1948 "records: distribution formats for tarballs"
Currently, when a tarball is attached to a record, we only include `gz` as the format in `distribution`.

It could be helpful to also include the formats of the files that are inside the tarball, e.g. `py`, `cc` and so on for discovery purposes.

[2017-11-30 10:43] RaoOfPhysics commented on #1911
Update: Looks super nice! One Q, @annatrz and @tiborsimko: Do we need bullets for sub-categories when there are no bullets for categories themselves (besides the checkboxes)?

[2017-11-30 10:58] #1296 closed

[2017-11-30 11:10] tiborsimko commented on #1263
@katilp I see the `*.db` files in `/cvmfs/cms-opendata-conddb.cern.ch`, but not the `*.tgz` files... Where to get them from?

[2017-11-30 11:13] tiborsimko commented on #1263
I'll just make a tarball of all the files in given `FT53_V21A_AN6` directories...

[2017-11-30 11:21] RaoOfPhysics commented on #1931
@katilp: Is it OK to wait until I have the final draft from Jesse? I have some feedback to give him and would like us to take his final text and upload that directly, rather than iterate on two platforms for now (e-mail and the portal). I hope that's OK?

[2017-11-30 12:01] katilp commented on #1263
@tiborsimko OK, that's fine. We may need an update for this, to be confirmed in few days.

[2017-11-30 12:09] katilp opened #1951 "Fix a wrong link in About CMS"
In http://opendata-dev.web.cern.ch/articles/about-cms
Correct the second
http://opendata-dev.web.cern.ch/articles/cms-guide-to-education-use-of-cms-open-data
to
http://opendata-dev.web.cern.ch/articles/cms-guide-to-research-use-of-cms-open-data

[2017-11-30 12:24] katilp opened #1953 "CMS: Quick start instructions in research guide"
We should have two quick start links right at the start of Research guide:

- Install VM: http://opendata-dev.web.cern.ch/articles/cms-2011-virtual-machines-how-to-install
- Get started with data: http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2011-data

The guide looks quite complicated now, and it would help to say at the beginning that this is alll you need to get started, re

[2017-11-30 12:29] RaoOfPhysics commented on #1953
Something like:

?

[2017-11-30 12:29] RaoOfPhysics opened #1954 "templates: Broken link on CMS Research Guide page"
- "Getting started with CMS 2010 open data"(/articles/getting-started-with-cms-2010-open-data)

[2017-11-30 12:41] atrisovic commented on #1954
It works for me http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2010-open-data

[2017-11-30 12:43] katilp commented on #1953
OK, sounds good, that could come right after:
"If you are interested in conducting a research-oriented analysis using CMS Open Data, you should find hints, tips and guidance on this page. Please note that possible solutions to frequently encountered issues can be found on our page of known errors."

Any suggestion for wording for what follows, i.e we may need then some explanatory words before "Qu

[2017-11-30 12:43] atrisovic commented on #1954
ah I see what you are saying, I can add this to an existing PR

[2017-11-30 12:47] atrisovic commented on #1954
fixed ✅ thank you!

[2017-11-30 12:50] katilp commented on #1954
@atrisovic Is it easy to add also #1953 now? We can also do it later if better?

[2017-11-30 13:08] RaoOfPhysics commented on #1953
How about restructuring the text like this:

[2017-11-30 13:08] atrisovic commented on #1954
Yes, it should be easy to do, I will add it to the PR

[2017-11-30 13:15] katilp commented on #1953
The links are:
1. http://opendata-dev.web.cern.ch/articles/cms-2011-virtual-machines-how-to-install
2. http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2011-open-data

but if I understand correctly now: articles -> docs

[2017-11-30 13:18] ioannistsanaktsidis commented on #1953
@katilp  yes after we merge my PR this becomes /docs

[2017-11-30 13:37] katilp commented on #1877
Timing: start 14:33 with

[code]

[2017-11-30 14:56] katilp commented on #1877
Summary of testing:

Download new VM from http://opendata.cern.ch/record/252
[code]
Change in PAT_data_repo.py
[code]
and run:

`cmsRun PAT_data_repo.py

`

[2017-11-30 15:10] katilp commented on #1877
Second job on the same VM indeed needs to download to cache again -> need a 40G virtual hard disk (double) and 20G cvmfs cache as suggested by Jakob.

[2017-11-30 15:21] #1248 closed

[2017-11-30 15:21] #1953 closed

[2017-11-30 15:21] #1954 closed

[2017-11-30 15:36] daslerr commented on #1940
I agree with the 1 PB vs. 1 petabyte suggestion, so I've updated the first comment with that.

I agree with @pamfilos that adding subtitles seems like too much for the boxes, so I didn't add anything about those. I also agree about not needing a leading illustration for news.

For the "focus on" suggestion by @ArtemisLav, I'm not sure what to change it to. If we want to stick with a verb, "generat

[2017-11-30 15:48] katilp opened #1956 "Missing subcategories for SW and Documentation"
Software:

- 555 Tool
- 463 464 Validation

Documentation

- 54 Activities
- 56 Report (only one in this category, for the time being)
- 57 58 Help

To my view, Help pages are different from Guides (to some wider topic) or About (information on a concept) in the sense that they are directly tied to a well-defined activity.

In addition:

- 70 almost empty record corresponding to the real page http

[2017-11-30 16:01] RaoOfPhysics commented on #1940
I agree that a verb is ideal, given the rest of the "do words" on the page. If we were to change:

- "Explore" &rarr; "Find"
- "Focus on" &rarr; "Explore"

that might work. I've spent a while considering options and going through a thesaurus, and this makes the most sense to me. "Find" does have thematic overlap with "Search", though.

What do others think?

[2017-11-30 16:11] katilp opened #1957 "CMS: add links to the trigger SW records in Trigger guide"
In http://opendata-dev.web.cern.ch/articles/guide-to-the-cms-trigger-system
add links to the trigger records 5003 and 5004

[2017-11-30 16:30] #1300 closed

[2017-11-30 16:39] #1760 closed

[2017-11-30 16:39] #1761 closed

[2017-11-30 16:39] #1762 closed

[2017-11-30 16:39] #1789 closed

[2017-11-30 16:43] katilp opened #1959 "Update to 2011/2012 VM"
We can update the 2011 VM with a newer version with an increased cache volume for #1877
The VM is available from https://cernbox.cern.ch/index.php/s/SkLCf42lo6DqdAE
with the following changes with respect to the old one (from Jakob)

Testing

[2017-11-30 16:50] katilp commented on #1959
Test as in #1877

Start 17:49:
[code]

[2017-11-30 16:51] tpmccauley commented on #1441
I have added aframe on a branch so it ready to use. Where shall we add CMS panorama to start? It looks like the about CMS page is md so am wondering how to add js and html if we want to include aframe on this page.

[2017-11-30 16:55] RaoOfPhysics commented on #1441
@tpmccauley: I think .md pages can generally include HTML code, but not sure what translator we're using here. Can you try on a local instance?

[2017-11-30 17:16] tiborsimko opened #1961 "records: generate CMS 2012 HLT configuration files"
Stemmed from #1189

[2017-11-30 17:37] katilp opened #1962 "Add collaboration keyword to author lists"
The collaboration lists
http://opendata-dev.web.cern.ch/search?page=1&size=20&q=&subtype=Authors
do not show collaboration keyword, and do not show in search CMS and Authors:
http://opendata-dev.web.cern.ch/search?page=1&size=20&q=&subtype=Authors&experiment=CMS

[2017-11-30 17:40] tiborsimko commented on #1961
@katilp Besides the above, I noticed also that trailing "_ONLINE" was dropped, for example there is:

- https://github.com/cms-sw/cmssw-cvs/tree/CMSSW_5_2_4_onlpatch1

while we used to have:

- https://github.com/cms-sw/cmssw/tree/CMSSW_4_2_7_onlpatch3_ONLINE

Is that OK?

[2017-11-30 17:42] katilp opened #1963 "CMS author list for the 2012 data release"
The author list for the 2012 data release is the same as for the 2011 release.
Options:

- modify record http://opendata.cern.ch/record/451 (Title, description, file name) or
- add new record with identical file but with new title, description and file name

[2017-11-30 17:45] katilp commented on #1961
Yes, that's OK. "_ONLINE" was dropped, it was added by mistake for the previous tags when the data-taking releases were tagged  (but the mistake as such does not matter because it was only a slight deviation of CMS internal practices  ).

[2017-11-30 18:16] tiborsimko opened #1965 "records: CMS 2012 HTL trigger paths"
Create CMS 2012 HLT trigger path records.

(stemmed from  #1189)

[2017-11-30 18:22] katilp commented on #1951
Closed in #1952

[2017-11-30 18:22] #1951 closed

[2017-11-30 19:40] katilp opened #1966 "New record for the Higgs to 4 leptons analysis example"
Prepare new record for the Higgs to 4 leptons analysis example.

Instructions text from Achim (not final) is in

[instructions.txt](https://github.com/cernopendata/opendata.cern.ch/files/1519226/instructions.txt)

It will hopefully get to a github directory for easier reading and access.

[2017-11-30 20:13] tiborsimko opened #1968 "CMS: enrich 2012 collision dataset descriptions"
Enrich CMS 2012 collision dataset descriptions through CSV files sent by Kati and Edgar

[code]

CC @katilp

[2017-11-30 20:14] tiborsimko commented on #1966
Great! I was wondering whether we shall be able to have this analysis ready...

[2017-11-30 20:18] tiborsimko commented on #1968
P.S. This should go to the beginning of "How were these data selected?".

[2017-11-30 20:20] katilp commented on #1968
Yes, exact, in the same way as for the current collision data records

[2017-11-30 20:21] katilp commented on #1966
{
    "files": [
        {
            "checksum": "FIXME",
            "uri": "FIXME",
            "size": FIXME
        }
    ],
    "accelerator": "CERN-LHC",
    "abstract": {
        "description": " <p>This research level example is a strongly simplified reimplementation of
parts of the original CMS Higgs to four lepton analysis published in
<a href=\https://inspirehep.net/record/1124338?ln=

[2017-11-30 20:28] tiborsimko commented on #1963
The second option is maybe better, because it'll work when people select "2012" in the year facet.

(esee also musings in #1944)

[2017-11-30 20:29] katilp commented on #1966
I've extracted the parts of the instructions, which can be shown directly in the record. The full instrcutions text can be attached as text file, or a link to github.

In total, this record will (likely) have:

- the final plot (available Monday)
- the intermediate histogram file(s) (in root format) (available Monday)
- the code in zipped github directory (updated next week)
- instructions text fi

[2017-11-30 20:40] katilp opened #1969 "Guide to the CMS condition database"
In order not to overload Getting started and to get a proper place to describe the details and usage of condition data and global tags, it would be best to have a new guide page.

@tiborsimko Could you create a page where I could start adding content?

After the page is ready:

- [x] Update http://opendata-dev.web.cern.ch/articles/getting-started-with-cms-2011-open-data so that all details are in

[2017-12-01 04:42] tiborsimko commented on #1263
So far I have copied the following only:

[code]

@ArtemisLav You can perhaps update your PR with these files only, and we can merge it, while waiting for the confirmation for final files.

@katilp For MC, we could also store the `db` under `/eos/opendata/cms/MonteCarlo2012/...`, which would make more sense... however this would alter the 2011 practice indeed.

@katilp Do we want to store also the

[2017-12-01 04:46] tiborsimko commented on #1969
@atrisovic Can you please introduce a new `docs` page with empty Markdown for this?  Beware of slugs...

[2017-12-01 04:51] tiborsimko commented on #1962
Actually, they have the collaboration keyword already:

[code]

but they don't have `experiment` keyword... I'll add it.

[2017-12-01 05:10] tiborsimko commented on #1957
I think this is fully closed now:

- http://opendata-qa.web.cern.ch/docs/guide-to-the-cms-trigger-system

[2017-12-01 05:10] #1957 closed

[2017-12-01 05:17] tiborsimko commented on #1940
Indeed, that's what I feel as well... Besides, we are not "exploring CMS" as it were, only narrowing down our own content... I like more "explore" on the left and "focus" on the right.

I like consistency, so if the other three bxes have leading illustrative graphics, why not the fourth? Better have them all, or remove them all... Anyway, regrding this and regaring the possible catch phrases, we s

[2017-12-01 05:35] tiborsimko commented on #1931
@atrisovic Can you please introduce a new `docs` page for this? Beware of slugs...

[2017-12-01 05:45] tiborsimko commented on #1927
We should display it at least on the detailed record page...

P.S. See also the issue I had opened in the past about dispaying dates for news (#1452). We should do it everywhere for "articles" style of "posts"...

[2017-12-01 05:46] tiborsimko commented on #1920
@RaoOfPhysics Rename where? Which pages did you have in mind?

[2017-12-01 05:52] tiborsimko commented on #1918
@RaoOfPhysics While it would be very nice to have various search hints in place -- e.g. we mused about "collection texts" appearing there quite like yo u mentioned --  this search improvement is definitely not for the current sprint iteration... I'm changing the milestone.

[2017-12-01 05:56] tiborsimko commented on #1917
Yes, we had discussed that all "simple pages" (such as about) should be turned to "docs" (the old name "articles") and ideally even ported to Markdown... The `/about` could be kept for future reference.

Not sure whether this was ticketised properly?  Need nice slugs... #1753

@dassler @atrisovic Have you started looking into this?

[2017-12-01 06:01] tiborsimko commented on #1830
@ArtemisLav The file is ready on EOS, here are the usual URI, size, and checksum:

[code]

[2017-12-01 06:07] tiborsimko commented on #1914
The first URL is problematic indeed, the redirection is missing.

The second URL is OK, since it is already redirect to a search page.  (May take a second...)

[2017-12-01 06:16] tiborsimko commented on #1914
Reminder of all `/about/*` pages to check:

- [ ] /about
- [ ] /about/ALICE
- [ ] /about/ATLAS
- [ ] /about/CMS
- [ ] /about/CMS-Physics-Objects
- [ ] /about/CMS-Physics-Objects/<string:year>
- [ ] /about/CMS-Pileup-Simulation
- [ ] /about/CMS-Simulated-Dataset-Names
- [ ] /about/LHCb
- [ ] /about/alice
- [ ] /about/atlas
- [ ] /about/cms
- [ ] /about/lhcb

I thought they were all done in the autu

[2017-12-01 06:22] tiborsimko commented on #1912
Yes, I  fully agree that it should be changed... We did not use such an expression on COD2 either...

We had called the menu simply "Visualise" in our new home page musings. (#1940)

[2017-12-01 06:28] tiborsimko commented on #1890
@ioannistsanaktsidis Can you please look at this?

[2017-12-01 06:30] tiborsimko commented on #1934
@ArtemisLav This is a new COD3 record only, so we can directly edit the given JSON.

[2017-12-01 06:53] katilp commented on #1263
FULL is new and it is important, as it covers full 2012 data-taking (and not only specific run ranges). It needs an update for VM (#1959) which I think can be done before the release (but not for beta).
For the storage, again the logical problem where to put it...

RUNA is a 2011 db (for RunA ran range).

For MC it would indeed make sense to store it under MonteCarlo2012

[2017-12-01 08:12] #1933 closed

[2017-12-01 08:14] #1962 closed

[2017-12-01 09:17] atrisovic commented on #1969
yes

[2017-12-01 09:19] atrisovic commented on #1931
yes

[2017-12-01 09:28] tiborsimko commented on #1404
@tpmccauley @katilp Regarding the following two files:

[code]

We only have DoubleMuParked AOD in the release, for both Run2012B and Run2012C.

What about `DoubleMu_Run2012B_0.ig`? Is it meant for DoubleMuParked Run2010B? If so, should it be renamed? Or are we missing an IG file for this dataset?

[2017-12-01 09:30] #1912 closed

[2017-12-01 09:31] #1932 closed

[2017-12-01 09:35] #1961 closed

[2017-12-01 09:36] #1965 closed

[2017-12-01 09:41] atrisovic commented on #1917
yes

[2017-12-01 09:53] #1916 closed

[2017-12-01 10:10] katilp commented on #1404
Normally, DoubleMuParked contains the original DoubleMu in RAW that is why it is not rerecoed and we do not have AOD for DoubleMu. @tpmccauley Maybe check the names?

[2017-12-01 10:11] atrisovic commented on #1969
The files are created in my new PR! :)

[2017-12-01 10:45] #1968 closed

[2017-12-01 11:13] tpmccauley commented on #1404
Yes, it looks like there is an error in the name.

DoubleMu_Run2012B_0.ig -> DoubleMuParked_Run2012B_0.ig

On Fri, Dec 1, 2017 at 10:10 AM, Kati Lassila-Perini <
notifications@github.com> wrote:

[2017-12-01 12:56] atrisovic commented on #1914
some of the views are there, but they are case sensitive

[2017-12-01 13:32] RaoOfPhysics commented on #1920
@tiborsimko: Across the portal, whenever we're speaking to a non-physics audience. So, even things like `/visualise/collisions` in the URLs instead of `/visualise/events` and saying "collision visualiser" instead of "event visualiser".

[2017-12-01 13:34] RaoOfPhysics commented on #1931
It would've been good to wait until the final version of the text was ready before uploading this, per my request above… :(

[2017-12-01 13:38] tiborsimko commented on #1911
@RaoOfPhysics Probably not, although it may be good to retain this possibility in case we'd like to offer people a chance to close some facets they are not interested at...Kind of like ADS is doing https://github.com/cernopendata/opendata.cern.ch/issues/1917 but lighter...

[2017-12-01 13:43] atrisovic commented on #1931
sure you can make adjustments or replace the text. I just created the files for it and also for the guide for the condition databse (which doesn't have anything in it)

[2017-12-01 16:18] daslerr commented on #1940
Thanks for the word investigation, everyone. For the sake of simplicity and efficiency, let's just stick with "explore" and "focus on". If it seems to cause users problems, we can change.

[2017-12-01 17:25] katilp commented on #1969
Thanks! Will this be available under https://github.com/cernopendata/opendata.cern.ch/tree/master/cernopendata/modules/fixtures/data/docs so that I can add content?

[2017-12-01 17:38] katilp commented on #1959
Testing the RAW reco with this VM, see http://opendata-dev.web.cern.ch/record/463 or direct in
https://github.com/cms-opendata-validation/2011-minimumbias-raw-recotest/blob/master/README.md
Interested to see whether this solves the problems of killed jos for rereco

[2017-12-01 18:16] atrisovic commented on #1969
yes!

[2017-12-01 22:01] katilp opened #1983 "Year facet for dataset search does not work as expected"
http://opendata-dev.web.cern.ch/search?page=1&size=100&q=&subtype=Collision&experiment=CMS&year=2012&type=Dataset
does not give the datasets with data-taking year of 2012 but many others

In this case we really expect the year to mean the data taking year, any other behaviour is a bug and not a feature

[2017-12-01 22:15] katilp commented on #1470
For reco configs, explicitly checked on 6 first datasets on this list that "RECO" config file of AOD is identical to one of the config files of RAW.
As provenance, take "RECO" config file of AOD (the file name chosen based on the commented 1st line = the file name as in the script with which the config file was generated)

- [ ] /BJetPlusX/Run2012B-22Jan2013-v1/AOD /tmp/x509up_u5073 https://cmsweb

[2017-12-01 22:55] katilp commented on #1470
- /MET/Run2012C-22Jan2013-v1/AOD https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/2f7942d681da6a0f0f7cbc8eb23731f6/configFile > reco_2012C_MET.py
- /MuEG/Run2012C-22Jan2013-v1/AOD https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/2f7942d681da6a0f0f7cbc8eb293c54c/configFile > reco_2012C_MuEG.py
- /MuHad/Run2012C-22Jan2013-v1/AOD  https://cmsweb.cern.ch/couchdb/reqmgr_config_cache/2f7942d681da6a0

[2017-12-02 21:00] tiborsimko commented on #1883
Note that these records use absolute URLs (`opendata.cern.ch/foo`) while they should rather be using relative ones (`/foo`) so that the links would work on DEV, QA, PROD... whatever the base URL. This is true for many other records, not only the above ones; I'll fix it globally.

[2017-12-02 21:14] #1934 closed

[2017-12-02 21:31] #1911 closed

[2017-12-02 22:11] katilp opened #1984 "CMS: SW records 5003 5004 - link to VM instead of VM contextualisation"
There's a (copy-paste?) error which keeps on propagating to new SW records (I think it has been fixed in some places already):

In http://opendata-dev.web.cern.ch/record/5003 the record to link to under System details is
http://opendata-dev.web.cern.ch/record/250 (not 249)

In http://opendata-dev.web.cern.ch/record/5004 the record to link to under System details is
http://opendata-dev.web.cern.ch/

[2017-12-02 22:19] katilp opened #1985 "In condensed view all record links point to docs -> Page not found"
http://opendata-dev.web.cern.ch/search?page=1&size=20&type=Software&experiment=CMS
show records correctly in  under /records

If "Condensed view" is chosen, the links are changed to ..../docs/... and and the links give page not found

[2017-12-02 22:28] katilp commented on #1985
This is true for all records (not only SW)

[2017-12-02 22:46] #1836 closed

[2017-12-02 23:46] tiborsimko commented on #1985
@annatrz Can you please have a look?

[2017-12-02 23:54] tiborsimko commented on #1983
I see 52 results only; the issue seems to be fixed.

P.S. @annatrz It takes a while to see the search results page; it would be nice to have some spinning wheel show while waiting... We can see about it during the production sprint.

[2017-12-02 23:54] #1983 closed

[2017-12-02 23:58] tiborsimko commented on #1913
Yes; see https://github.com/cernopendata/opendata.cern.ch/issues/1333.

[2017-12-03 01:18] tiborsimko opened #1988 "records: generate CMS 2012 RECO configuration file records"
Stemmed from #1470

[2017-12-03 02:05] #1984 closed

[2017-12-03 02:53] #1189 closed

[2017-12-03 07:51] katilp commented on #1983
I confirm, now I see the correct result, maybe I checked the outcome too quickly (it indeed takes a while to complete the search results and it does not show that it is searching as mentioned by @tiborsimko )

[2017-12-03 07:59] katilp opened #1991 "remove Publication year showing just after the record title"
Each record now shows the publication year just after the title. As it is usually not relevant (and can be very confusing), it should be removed from such a prominent place.

[2017-12-03 08:54] RaoOfPhysics commented on #1913
@tiborsimko: Nice! So I guess I can close this issue. Sorry about the duplicate.

[2017-12-03 08:54] #1913 closed

[2017-12-03 10:46] #1988 closed

[2017-12-03 12:09] #1470 closed

[2017-12-03 14:47] katilp opened #1992 "Wrong link to getting started from Install VM (2011)"
In http://opendata-dev.web.cern.ch/docs/cms-2011-virtual-machines-how-to-install
the link to getting started is wrong:
It is: http://opendata.cern.ch/getting-started/CMS
Should be: /docs/getting-started-with-cms-2011-open-data

This is important as it is the key element of the instructions chain.

[2017-12-03 16:38] tiborsimko commented on #1404
@tpmccauley Here is the record ID <-> IG file on EOS file correspondence:

[code]

[2017-12-03 16:44] tiborsimko commented on #1404
@tpmccauley @katilp BTW please note that there is no IG file for `MuOniaParked`, only for `MuOnia`... I guess that's OK, similarly to `DoubleMu` and `DoubleMuParked`...

[2017-12-03 19:50] katilp commented on #1888
@ioannistsanaktsidis @tiborsimko Any news on this, where should I link for this file? Will it stay in /about/ or become /docs/ ? As it is now, it does not appear in search.

[2017-12-03 19:56] katilp opened #1994 "CMS: Updates to the CMS research guide"
In http://opendata-dev.web.cern.ch/docs/cms-guide-to-research-use-of-cms-open-data

- [x] add (internal) after the "Rules of use... " link

- [x] "I want to produce some first physics  distributions" should read "I want to produce some example physics distributions" under "I want to find out which 2010 ...."

- [x] after Dedicated examples for 2011 beyond those available in add search link /search

[2017-12-03 20:18] katilp opened #1996 "Glossary term behaviour (clicking brings to top)"
In http://opendata-dev.web.cern.ch/docs/cms-guide-to-research-use-of-cms-open-data (and else) clicking on glossary terms brings back to top of the page.
It already gives the explanation box so the term should not be clickable.

@tiborsimko  Please close if taken care of elsewhere.

[2017-12-03 21:17] katilp opened #1998 "Fix links in CMS education guide"
Fix FIXMEs i.e links to educational material now on portal

[2017-12-03 22:35] katilp opened #2000 "CMS: Wrong internal links for the luminosity record 1052"
The 2012 luminosity record has wrong internal links in the description.
The record is 1052 but the links in description are to record 5003
e.g.: http://opendata-qa.web.cern.ch/record/5003/files/2012RunClumi.txt

[2017-12-03 22:37] katilp commented on #2000
And that was number 2000 🍾 😄

[2017-12-03 23:55] #1404 closed

[2017-12-04 07:04] katilp commented on #1956
In addition:

- 5001 should be Analysis, not Validation

[2017-12-04 08:34] hjhsalo opened #2001 "docker: add elasticsearch 5 support"
Currently Elasticsearch version used in Docker / Docker-Compose based installation is Elasticsearch 5.

-  [ ] Make changes to Docker / Docker-Compose files to enable use of Elasticsearch 5.

Note that _mapper-attachments_ -plugin has been deprecated (but still installable) in Elasticsearch 5 and replaced by  _ingest-attachment_ -plugin. (https://www.elastic.co/guide/en/elasticsearch/plugins/2.4/m

[2017-12-04 08:36] katilp commented on #1929
Closed via #1930

[2017-12-04 08:36] #1929 closed

[2017-12-04 08:44] katilp commented on #1518
Closed via #1924

[2017-12-04 08:44] #1518 closed

[2017-12-04 08:50] katilp commented on #1994
Can be closed as the remaining items in the list are separate issues of their own

[2017-12-04 08:50] #1994 closed

[2017-12-04 08:54] katilp commented on #1883
Corrected the links above articles -> docs

[2017-12-04 09:06] #2000 closed

[2017-12-04 09:48] hjhsalo opened #2005 "docker: elasticsearch dockerhub registry has been deprecated"
Elasticsearch Dockerhub registry has received a deprecation notice:
https://hub.docker.com/_/elasticsearch/

In the future Elasticsearch Docker images will be hosted from `docker.elastic.co` and images in Dockerhub registry won't receive new updates.

However, Elasticsearch V2 is not available from `docker.elastic.co` so before it is released in there as well (which might not never happen, since E

[2017-12-04 11:44] katilp commented on #1891
Add
2010: 5003
2011: 463 464 5004

[2017-12-04 11:51] ArtemisLav commented on #1891
5100
72
560
551
464
5103
461
451
450
5101
70
460
71
234
262
463
233

[2017-12-04 11:58] ioannistsanaktsidis commented on #1985
Closing as already solved.

[2017-12-04 12:02] ArtemisLav commented on #1891
The following records show up for years 2014, 2016 & 2017:
70
71
72
233
234
450
451
460
461
262
463
464
551
560
5100
5101
5103

@katilp there is no issue in the JSON for some of the recids you mention: 101, 200, 220, 5000, 5001, 5003, 5004. And for 221, it is currently under 2011; should it go to 2012? You placed it in both in your first comment.

[2017-12-04 12:23] katilp commented on #1891
Some of the records you listed listed are connected to documents not to software, those are not necessarily on my list which hopefully covers SW

A search use-case is "what are the software records which can be used with the data from data-taking NNN"
221 is CMSSW which can be used both for 2011 and 2012.
Therefore, we need 2011-2012 in addition. It will also be needed for the new Higgs example (w

[2017-12-04 12:49] ArtemisLav commented on #1891
OK, what about record 72?

[2017-12-04 12:59] hjhsalo commented on #1914
Here is the updated list of URL, their redirect and status (working or not)

(Not CS == not case-sensitive)
- [x] /about
- [x] /about/ALICE --> /about/ALICE (Not CS)
- [x] /about/ATLAS  --> /about/ATLAS (Not CS)
- [x] /about/CMS --> /docs/about-cms (Not CS)
- [ ] /about/CMS-Physics-Objects --> **PAGE NOT FOUND** (Should redirect to /docs/cms-physics-objects-2011)
- [ ] /about/CMS-Physics-Objects/<

[2017-12-04 13:01] RaoOfPhysics commented on #1931
Repurposing the same issue to update the text. I hope that's OK.

[2017-12-04 13:02] katilp commented on #1891
72 is not a software record but under documentation.
If a specific data-taking year is given, it should be 2010-2012 (as all other education "stuff", i.e. event display, notebooks and spreadsheet )

[2017-12-04 13:08] #1985 closed

[2017-12-04 13:08] #1992 closed

[2017-12-04 13:42] tiborsimko opened #2013 "files: cannot download files?"
As observed in https://github.com/cernopendata/opendata.cern.ch/pull/2006#pullrequestreview-80836592 the file download is having issues.

How to reproduce:

[code]

I think DEV, QA and PROD have the same problem. This used to work well last week.. @ioannistsanaktsidis do you recall whether the file upload was working well for your insert-or-replace mode branch?  (IIRC I tested metadata updates mos

[2017-12-04 13:52] ioannistsanaktsidis commented on #2013
@tiborsimko I didn't test the file download functionality when I implemented. Could be that this is the cause of the problem. We have to check it out.

[2017-12-04 13:53] tiborsimko commented on #2013
FWIW now it works fine for me as well, without changing anything...  Also it works again on DEV, QA, PROD without touching the instances..  It seems this it might have been an EOSPUBLIC issue.... Huh.

[2017-12-04 13:53] #2013 closed

[2017-12-04 14:15] atrisovic commented on #1914
Ugh I am working on this x)

but not on enabling CS, just redirection

[2017-12-04 14:17] hjhsalo commented on #1914
OK. Thanks.

Correct. Nginx should handle CS.

[2017-12-04 14:29] #1830 closed

[2017-12-04 14:33] #1996 closed

[2017-12-04 14:37] #1935 closed

[2017-12-04 14:47] tiborsimko opened #2015 "templates: nicer display where there are no files"
**Example**

http://0.0.0.0/record/618

**Problem**

When you upload records with `--skip-files`, there are no files attached, and the previewer wants to show some.  This leads to a crash like:

![crash](https://user-images.githubusercontent.com/517546/33558517-59aa73ca-d90a-11e7-9002-62afe6e74b09.png)
:

Ideally we should fail more gracefully in these kinds of situations...

[2017-12-04 14:50] ioannistsanaktsidis commented on #2015
I have seen that error. I didn't fix it as I supposed that if a record has files in prod it will never fail as the files will be there. We can add a fallback so as to avoid it.

[2017-12-04 15:03] tiborsimko commented on #1940
New homepage organisation is fully implemented; closing.  Let's deal with remaining issues (final selection of links, final style prettification) in subsequent issues.

[2017-12-04 15:03] #1940 closed

[2017-12-04 15:10] #1891 closed

[2017-12-04 15:14] #1883 closed

[2017-12-04 15:28] tiborsimko commented on #1888
On the first level, this is not about redirections, because this record was already published. We just need to update the record template update to missing abstract link information.  Compare:

- COD2 http://opendata.cern.ch/record/71
- COD3 http://opendata-dev.web.cern.ch/record/71

(later on we can muse on revamping "record" pages and related "docs" pages...)

[2017-12-04 15:33] tiborsimko commented on #1888
Ditto for the CMS Pileup Simulation record; please compare:

- COD2 http://opendata.cern.ch/record/70
- COD3 http://opendata-dev.web.cern.ch/record/70

Anybody having time to look at amending record templates?  @hjhsalo? @diegodelemos?

The source record recid 70 or 71:

[code]

The template to edit:

`./cernopendata/templates/cernopendata_records_ui/records/record_detail.html`

Other random recor

[2017-12-04 15:36] tiborsimko commented on #1998
It seems that all FIXME placeholders in `cms-guide-for-education.md` have now been addressed; closing.

[2017-12-04 15:36] #1998 closed

[2017-12-04 16:22] diegodelemos commented on #1888
It has to be rendered exactly as it was in COD2?

I have noticed that we have several ways of rendering `links`:
[code]
if I have to add yet another if, what should I assume that `links` will have when it appears under `abstract`? cc @tiborsimko

[2017-12-04 16:37] ioannistsanaktsidis commented on #1585
Closing as not relevant anymore.

[2017-12-04 16:37] #1585 closed

[2017-12-04 16:38] ioannistsanaktsidis commented on #722
Closing as not relevant anymore.

[2017-12-04 16:41] tiborsimko commented on #1888
@diegodelemos The `links` field and its properties should be prety much the same across all the fields, so we should be able to simplify this and introduce a macro. Hopefully there is no need to display them differently... @ioannistsanaktsidis was trying out all the various collections and so can estimate whether there were some important differences... I hope we shall be able to go for a common s

[2017-12-04 16:44] RaoOfPhysics commented on #722
@ioannistsanaktsidis, @pamfilos: Looks like some of the textboxes appear broken when one resizes the window. Also, part of what appears "below the fold" in full landscape orientation appears "above the fold" when the screen size is changed (independent of hard refreshes).

![screen shot 2017-12-04 at 16 41 22-fullpage](https://user-images.githubusercontent.com/7623019/33564265-0662b7f6-d912-11e7-8

[2017-12-04 16:57] suenjedt opened #2020 "Fixes to new homepage"
The about drop down is partially outside the screen

<img width="138" alt="screen shot 2017-12-04 at 4 37 09 pm" src="https://user-images.githubusercontent.com/7300319/33564997-32bc7152-d91c-11e7-8c6b-225a90f2b155.png">

The boxes are not aligned. Font should be bigger. Reduce white space around boxes (probably comes with alignment).
<img width="1251" alt="screen shot 2017-12-04 at 4 36 53 pm" src

[2017-12-04 17:41] RaoOfPhysics commented on #2020
See also #722.

[2017-12-05 06:53] katilp commented on #1959
@tibrrsimko Can we add another version of 2011/2012 VM to the 2011 record? I would prefer to have it there for the sake of simplicity for users (instructions why to choose the new VM can reside in the VM record and not be spread all over in different instructions).
It will have its own contextualization file record, though,

[2017-12-05 09:59] tiborsimko opened #2022 "sprint: COD3-Production kick-off"
# COD3-Production sprint kick-off

### Dates

2017-12-04 kick-off
2017-12-15 closure

### People

@annatrz @ArtemisLav @atrisovic @diegodelemos @hjhsalo @katilp @pamfilos @tiborsimko @xchen101

### Goals

Deliver production-quality CERN Open Data 3 portal with hardened infrastructure for the release. Include CMS MC 2012 records, improve remaining UI and search issues, finalise URLs and check past

[2017-12-05 10:23] tiborsimko commented on #1826
@pamfilos Reopening this issue. You can create `cod3-record-1395.json` for a good example, taking recid=1395 from `cms-simulated-datasets-Run2011A.json`, and load it via:

[code]

It should take ~10 minutes on your laptop, so this is the reference time.

The goal is to speed this up, possibly via option No.1 in PR #1759, possibly via CDS-like technique:

-  https://github.com/inveniosoftware/inven

[2017-12-05 10:34] tiborsimko opened #2023 "system: complete file load on OpenShift"
The loading of files currently fails on OpenShift due to excesive number of files in a record.

We have an issue about speeding this up, see #1826.

However, we should also investigate in parallel how the populating job could safer pass on the OpenShift deployment.  Currently, we see two issues there: (1) more frequently, Elasticsearch times out (while it does not on local laptop); (2) less freque

[2017-12-05 12:04] RaoOfPhysics commented on #2020
- [ ] Can we change the text to "Explore more than **1 petabyte** of open data from particle physics!" &larr; note the lack of space between the last word and the exclamation mark.
- [ ] The word "Search" is repeated both _in_ the text-entry field and on the button. Can one of these be changed? Maybe the second can say "Go"?
- [ ] Add "scroll-down chevron" to http://opendata-dev.web.cern.ch/#lva t

[2017-12-05 14:51] tpmccauley opened #2025 "Software record for event display file code"
As pointed out in #1993 we should have a record for the event display file production code a la http://opendata.cern.ch/record/550

The new urls are

https://github.com/cms-outreach/ispy-analyzers/tree/Run2012
https://github.com/cms-outreach/ispy-services

Is a pointer to a branch fine as before or is a tag preferred?

[2017-12-05 15:23] ioannistsanaktsidis commented on #1327
See https://github.com/cernopendata/opendata.cern.ch/blob/master/cernopendata/static/js/visualise/visualise_histograms.js#L4

[2017-12-05 15:23] tiborsimko opened #2026 "system: profile web pages"
Profile how several interesting web pages perform under user storm:

- home page
- search
- event display
- docs
- REST API
- small file download

Both with and without nginx front-end cache. (#1728)

Compare COD3 with COD2 performance.

See some past musings with tips on stress testing Invenio application web sites:

- https://twiki.cern.ch/twiki/bin/view/CDS/InvenioTuning#4_1_Stress_testing_the_

[2017-12-05 16:01] tiborsimko opened #2027 "system: do not drop DB when cleaning"
The clean-instance.sh helper script currently destroys the DB, which is not good in DBoD usage scenarios. It should only empty the DB, not destroy it.

Let's rather have a clean-distinction strategy going like:

- **provision X** - install whatever is necessary for a service X to run on the given platform;
- **create X** - create instance or any necessary runtime services (COD3 instance, DB databa

[2017-12-06 08:13] tiborsimko commented on #1320
It works now, here is an example:

- http://opendata-qa.web.cern.ch/record/631

Closing the issue.

[2017-12-06 08:13] #1320 closed

[2017-12-06 08:13] katilp opened #2030 "CMS: no csv files attached to some records which show in csv search"
Not all CMS records that appear under search:

http://opendata-qa.web.cern.ch/search?page=1&size=20&q=csv&experiment=CMS&subtype=Derived

have csv fils attached. They should be there, but do not show. This is the case for records

- 307: http://opendata-qa.web.cern.ch/record/307 (http://opendata.cern.ch/record/307)
- 305: http://opendata-qa.web.cern.ch/record/305 (http://opendata.cern.ch/record/30

[2017-12-06 08:20] tiborsimko opened #2031 "templates: hide file preview"
In the file box on the detailed record pages, we offer "Preview" functionality:

![preview](https://user-images.githubusercontent.com/517546/33651466-3121a04c-da66-11e7-96de-34db06832a8a.png)

It does not make sense to offer a preview for ROOT files, and ditto for the large majority of hosted files either.

Let us remove the "Preview", keeping only "Filename", "Size", and "Download" columns.

[2017-12-06 08:55] tiborsimko commented on #2030
@pamfilos This may be a file box pagination display problem. Let me take the record 307 and the file `Zmumu.csv` as an example.

I see the file is well listed in record JSON:

- http://opendata-qa.web.cern.ch/record/307/export/json

and it is well located on EOS:

- `root://eospublic.cern.ch//eos/opendata/cms/masterclass-2014/Zmumu.csv`

and it is well accessible via:

- http://opendata-qa.web.cer

[2017-12-06 09:01] katilp opened #2032 "CMS: update usage with for csv records"
If there can be direct links in the "description" field of "usage",
in CMS records with csv files (see also #2030) , update "usage" with the list of possible applications available on portal.

There are 3 cases

1. records without ig file (700, 545)
2. records with ig file and csv (300, 301, 302, 303, 304, 305, 306, 307, 308, 309)
3. records which have been used in masterclass (310)

One. The reco

[2017-12-06 11:52] ArtemisLav commented on #1963
I guess then the name of the author list file should be updated as well, because right now it is `cms-author-list-2011.pdf`

[2017-12-06 12:38] ArtemisLav commented on #1956
@katilp @tiborsimko WRT records 70 and 71, is the discussion for those moved to #1888? If so, this issue can be closed with this PR

[2017-12-06 12:43] tiborsimko opened #2039 "fixtures: files and insert-or-replace mode"
It seems we have a problem with files when using fixtures with `--mode insert-or-replace`.  To be tested locally and fixed.

Here's one scenario to test:

1. Upload some record with `--skip-files --mode-insert`.  (so no files)
2. Upload the same record with `--mode insert-or-replace`. (so with files)

Might be good to test other combinations of (1) initial record state (with or without files); and

[2017-12-06 12:49] pamfilos commented on #2039
yes when replacing or updating a file with ```update_record``` the ```record['files']``` is replaced with files from fixtures.

Easy fix: is to just update metadata for this records..and skip files leaving them in their `before_update` state. Else, all files need to be removed and reloaded , if we have no clue which file is the one updated (if there is any )

[2017-12-06 13:02] katilp commented on #1963
A copy will do, i.e. the same file but different name.

[2017-12-06 13:08] ArtemisLav commented on #1963
OK, I have named the file in the PR `cms-author-list-2012.pdf`, so we just need the copy on EOS.

[2017-12-06 13:18] tiborsimko commented on #2025
@tpmccauley A tagged release is preferred. Thanks!

[2017-12-06 13:26] ArtemisLav commented on #2025
@tpmccauley Could you please provide a title and the information for sections `System Details`, `Data selection`, `Validation` and `Related Items`, so that I can prepare the record?

[2017-12-06 13:31] tpmccauley commented on #2025
@ArtemisLav sure. Do you have a template I can just fill in?

[2017-12-06 13:34] tiborsimko opened #2040 "system: XSS checks"
Study XSS and other potential web security issues on the COD3 site.

Harden any important findings.

Example:

[code]

![skipfish](https://user-images.githubusercontent.com/517546/33663967-40f53ce6-da92-11e7-879b-bf0b32de5a44.png)

[2017-12-06 13:37] ArtemisLav commented on #2025
Perhaps you could take the JSON [export from record 550](http://opendata-dev.web.cern.ch/record/550/export/json) as a template and just update where necessary, if that's easier. Then you can simply paste it here.

[2017-12-06 14:48] tpmccauley commented on #2025
Thanks @ArtemisLav .

Here it is. I filled in record numbers where appropriate; 550 and 250 needed to be changed.

{
    "links": [
        {
            "url": "http://cms-outreach.github.io/ispy/#what-is-an-ig-file",
            "description": "More information on the format can be found at"
        },
        {
            "url": "https://github.com/cms-outreach/ispy-analyzers/tree/Run2012"

[2017-12-06 14:49] tpmccauley commented on #2025
@tiborsimko here are the tags:

https://github.com/cms-outreach/ispy-analyzers/tree/Run2012.v2
https://github.com/cms-outreach/ispy-services/tree/Run2012.v1

[2017-12-06 15:16] ArtemisLav commented on #2025
@tpmccauley that's great, thank you.

[2017-12-06 15:24] tiborsimko opened #2041 "system: use local emptyDir storage for pods"
Ensure we are profiting from `emptyDir` storage for pods for everything that is non-persistent: temporary file space, log files, and especially local nginx cache (#1728). This will provide optimal web server speed.

Could be profiled, but we know what will be found 😄

[2017-12-06 16:29] diegodelemos commented on #2023
Regarding write operations we have for now:

| Command                                                        | Locally        | OpenShift DB writing to NFS volume | OpenShift DB writing to emptyDir | OpenShift+DBoD |
| -------------------------------------------------------------- |:--------------:| :------------: | :------------: | :------------: |
| `fixtures records -f cms-primary-datasets.jso

[2017-12-06 18:00] suenjedt commented on #2020
Thanks for the suggestion @RaoOfPhysics

[2017-12-06 18:35] #1931 closed

[2017-12-07 07:51] katilp commented on #1537
Close as implemented

[2017-12-07 07:51] #1537 closed

[2017-12-07 08:09] katilp opened #2044 "Subtitles in the 2010 and 2011 VM records (252 250) and updates to 2011 VM record"
- [ ] Change subtitles in VM records 252 and 250:

- How were these data selected? -> How was this built?
- How were these data validated? -> How to validate?
- How can you use these data? -> How to use?

Then for 2011 (252):

- [x] in description: "to be used with the 2011 CMS open data" -> "to be used with the 2011 and 2012 CMS open data"

- [x] add section subtitle "Notes" with "CMS-Open-Data-1

[2017-12-07 08:17] katilp opened #2045 "Add a record for the contextualization script of the new VM version"
File
[cms-user-data.txt](https://github.com/cernopendata/opendata.cern.ch/files/1538273/cms-user-data.txt)
and
[cernvm-script.txt](https://github.com/cernopendata/opendata.cern.ch/files/1542054/cernvm-script.txt)

Checked with @jblomer: opendata-desktop-setting script is the the same as before

[code]

In addition, please correct and update the following in all contextualization script records (24

[2017-12-07 09:08] katilp commented on #1959
Tested by @zenaiev, no problem with the new VM

[2017-12-07 09:35] #1956 closed

[2017-12-07 10:00] ioannistsanaktsidis commented on #2027
@hjhsalo do you want to take care of this one ?

[2017-12-07 10:33] katilp commented on #2045
@jblomer please have a look

[2017-12-07 10:35] daslerr commented on #1367
I'm removing this issue from the current COD3-Production milestone, since the OPERA release is scheduled for later.

[2017-12-07 10:50] atrisovic commented on #1367
The docs for the opera first release and about opera exist:

[code]

[2017-12-07 10:52] ioannistsanaktsidis commented on #1677
Closing as already implemented.

[2017-12-07 10:52] #1677 closed

[2017-12-07 10:55] daslerr commented on #1790
@tiborsimko @katilp Can this be closed now after #1834? Or do the "education" and "teaching" keywords still need to be added to certain records?

[2017-12-07 11:11] tiborsimko commented on #1826
@pamfilos Here's another option how to handle dataset records that contain ~15,000 files:

- nomenclature: there are about ~15 "index files" (=text files with URIs to ROOT files) and about ~15,000 "asset files" (=ROOT files themselves)

- we can load only the "index files" together with the record, and send these to DB and ES

- the file pagination box could use index file content, which is basica

[2017-12-07 11:17] daslerr commented on #1850
@katilp Did you and @ArtemisLav decide on this? Would this be solved by the wording changes proposed in #2044?

[2017-12-07 11:19] atrisovic commented on #1459
I think that this is fixed now. All articles use relative location for images. Should we close this?
@hjhsalo

[2017-12-07 11:28] katilp commented on #1850
Finally we should go as in #2044 The fact is that the new VM version there is not specific to 2012, nor the old to 2011 so I do not want to have them in separate records.
So update as in #2044 and the title and the metadata fields updated to 2011-2012

[2017-12-07 11:30] katilp commented on #1790
I thinks it is OK ad can be closed

[2017-12-07 11:33] daslerr commented on #1850
Great, thanks! I'll close this issue, since the fix will be solved by the tasks in #2044.

[2017-12-07 11:33] #1850 closed

[2017-12-07 11:33] #1790 closed

[2017-12-07 11:48] daslerr commented on #1732
I updated the cheklist at the top to reflect the priorities discussed in the comments and to include the MIT article. @RaoOfPhysics are you in charge of the CMS 2012 data release announcement?

[2017-12-07 11:51] annatrz commented on #1685
Ok, so we can close this one, as with #1977 we implement a different way of faceting. Once it's deployed, we can create another issues/rfc about missing features.

So just to sum up, after #1977:
* faceting is gonna work like logical OR within one aggregation type, and AND for others
* we don't show facet value, if has 0 hits
* when parent aggregation checked, all subaggregations will get checked

[2017-12-07 11:51] #1685 closed

[2017-12-07 12:16] ioannistsanaktsidis commented on #1915
Closing as already implemented in previous PRs.

[2017-12-07 12:16] #1915 closed

[2017-12-07 12:22] katilp commented on #1888
Is the fact that http://opendata-dev.web.cern.ch/about/cms-simulated-dataset-names does not show directly in search http://opendata-dev.web.cern.ch/search?page=2&size=20&q=&type=Documentation&experiment=CMS# being taken care of?
Is there any reason why it should be under ../about/.. and not in .../docs/... as everything else?

[2017-12-07 12:26] ioannistsanaktsidis commented on #1888
@katilp it should be under /docs as you indicated.

[2017-12-07 12:31] katilp commented on #1888
@ioannistsanaktsidis OK, very good! Will someone move it there 😃 ? NB, updates to all simulated data records needed (or redirecting), see e.g. http://opendata-dev.web.cern.ch/record/1333

[2017-12-07 12:38] ioannistsanaktsidis commented on #1732
As I see on the checkbox list we already have 6 records to display in the homepage. Is this one considered as done ? cc @daslerr @sefeg

[2017-12-07 12:43] ioannistsanaktsidis commented on #1888
cc @atrisovic  Could you please take care of that ?

[2017-12-07 12:53] katilp opened #2048 "Dataset records showing parent dataset"
Sim records now show parent datasets record (wrong as it shows the record itself):

e.g. http://opendata-dev.web.cern.ch/record/1333
"Dataset Simulated Collision Energy: 7TeV Experiment: CMS Accelerator: CERN-LHC Parent Dataset: /JJHiggs0PToGG_M-125p6_7TeV-JHUGenV4-pythia6-tauola/Summer11LegDR-PU_S13_START53_LV6-v1/AODSIM"

Collision records show the correct parent but as we are not hosting it on

[2017-12-07 13:09] atrisovic commented on #1888
@ioannistsanaktsidis @katilp there is a new entry in docs cmd-simulated-dataset-names in my new PR #2011

[2017-12-07 13:09] atrisovic commented on #1888
maybe we can merge the PR?

[2017-12-07 13:11] ioannistsanaktsidis commented on #1888
Fine by me, just need to be approved from @tiborsimko  or @daslerr :)

[2017-12-07 13:16] #2032 closed

[2017-12-07 13:25] suenjedt commented on #1732
We would like to wait for the lhcb contribution which shall arrive beginning of next week.

[2017-12-07 13:36] #1753 closed

[2017-12-07 13:36] daslerr commented on #1732
I've updated the checklists to be more specific. :) Yes, we're waiting on the LHCb contribution and the final CMS 2012 announcement.

[2017-12-07 13:48] ioannistsanaktsidis commented on #1888
@atrisovic your PR redirects the record to http://127.0.0.1:5000/docs/cms-dataset-names ? Is this intended ? Shouldn't it be /docs/cms-simulated-dataset-names ?

[2017-12-07 13:50] daslerr commented on #1914
Closing, as all the redirects in the lists above are now implemented. There's no redirect for /about/CMS-Physics-Objects/2012 because 2012 CMS physics objects weren't released on COD2.

[2017-12-07 13:50] #1914 closed

[2017-12-07 14:04] #1888 closed

[2017-12-07 14:14] atrisovic commented on #1888
yes, that is how the article is called. I put it like that because it's shorter.

I can change it in the next PR if there are any problems with it?

[2017-12-07 14:19] ioannistsanaktsidis commented on #1888
I guess it is wanted like in COD2 for compatibility reasons. cc @katilp  ?

[2017-12-07 15:48] tiborsimko commented on #2027
@ioannistsanaktsidis Yes, we'll take care of this on our end... I'll add a few more system tickets of this kind.

[2017-12-07 15:53] #2020 closed

[2017-12-07 15:53] #2030 closed

[2017-12-07 15:53] #2031 closed

[2017-12-07 16:22] #1991 closed

[2017-12-07 16:22] #2015 closed

[2017-12-07 16:34] #1927 closed

[2017-12-07 17:26] RaoOfPhysics commented on #1732
@daslerr: Yes, I'm drafting the CMS 2012 release announcement.

[2017-12-07 17:41] katilp commented on #1888
@ioannistsanaktsidis I'm not sure if I understand correctly but in summary we would like to

- have this page appear in the documentation search
- update the links to it in the records for simulated data
- and in addition, eventually, not show the double page  http://opendata-dev.web.cern.ch/record/71 in documentation search (because the other one is enough and brings the reader directly to the in

[2017-12-07 21:36] katilp opened #2052 "CMS: update instructions for record 5001"
In this record (sorry to have it in separate parts....)

- [ ] add files: In addition to the already attached github zip, we would also like to add the separate files for this particular example. The files demoanalyzer_cfg.py, DemoAnalyzer.cc and readme.txt can be uploaded from
/afs/desy.de/user/g/geiser/public/CMS/opendata/MUO-10-004demo_2011
and an updated BuildFile.xml ( (avoids an warning mess